/*{# 1452优惠促销 #}*/
/*购入车*/
.shop tbody tr.promotion-prod {
  height: unset;
}

.shop tbody tr.promotion-prod .my-flex {
  display: flex;
  align-items: center;
}

.shop tbody tr.promotion-prod .my-flex img {
  height: 20px;
  padding: 4px;
}

.shop tbody tr.promotion-prod .pro-content {
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: calc(100% - 170px);
}

.shop tbody tr.promotion-prod td {
  padding: 8px 3% !important;
}

.shop tbody tr.no-bottom-tr {
  border-bottom: none;
}

.shop .promotion-prod .link-price,
.cart-product-wrapper .link-price,
.pre-order-page .link-price {
  color: #fa6400;
}
.coupon-selected .link-price {
  color: #fff !important;
}

.shop .promotion-prod .shop-more {
  /*font-size: 16px;*/
  padding-left: 10px;
}

.shop .promotion-prod .shop-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shop table tbody td.left-boder {
  border-right: 1px solid #ddd;
}

.cart-product-wrapper .priceList .green-color,
.pre-order-page .priceList .green-color {
  color: #65b017;
}

.cart-product-wrapper .priceList .promotion-hover:hover .promotion-content,
.pre-order-page .priceList .promotion-hover:hover .promotion-content {
  display: block;
}

.cart-product-wrapper .priceList .promotion-dis,
.pre-order-page .priceList .promotion-dis,
.pre-order-page .priceList .coupon-input {
  position: relative;
}

.cart-product-wrapper .priceList .promotion-dis .promotion-content,
.pre-order-page .priceList .promotion-dis .promotion-content,
.pre-order-page .priceList .coupons-choose {
  position: absolute;
  top: 30px;
  right: -80px;
  width: 500px;
  padding: 8px 4px;
  font-weight: normal;
  border-radius: 2px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 99;
  display: none;
}

.cart-product-wrapper .priceList .promotion-content .line-table,
.pre-order-page .priceList .promotion-content .line-table {
  display: flex;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #efefef;
}

.cart-product-wrapper .priceList .promotion-content .line-table:last-child,
.pre-order-page .priceList .promotion-content .line-table:last-child {
  border-bottom: none;
}

.cart-product-wrapper .priceList .promotion-content .line-table div:first-child,
.pre-order-page .priceList .promotion-content .line-table div:first-child {
  display: inline-block;
  flex: 1;
  margin-right: 10px;
}

.cart-product-wrapper .priceList .promotion-content .line-table div:last-child,
.pre-order-page .priceList .promotion-content .line-table div:last-child {
  display: inline-block;
  width: 140px;
  padding-left: 16px;
}
.priceList .promotion-content>.line-table:first-child {
  font-weight: bold;
}
.priceList .promotion-content div .line-table {
  font-size: 14px;
}
.cart-product-wrapper .priceList i,
.pre-order-page .priceList i {
  font-size: 12px;
  font-weight: bold;
}

.cart-product-wrapper .font-bold,
.pre-order-page .font-bold {
  font-weight: bold;
}

/*My Purchase List*/
.pre-order-page .priceList tr td {
  border-top: 0px;
  border-bottom: none;
}

.pre-order-page .priceList .coupon-input {
  width: 340px;
}

.pre-order-page .priceList .coupon-input input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  line-height: 34px;
  padding: 0 20px 0 5px;
  background: #f3f5f7;
}

.pre-order-page .priceList .coupon-input .caret {
  position: absolute;
  right: 14px;
  top: 20px;
}

.pre-order-page .priceList .coupons-choose {
  width: 676px;
  padding: 10px 0 10px 16px;
  right: 0;
  top: 40px;
}

.pre-order-page .priceList .coupons-choose.coupons1 {
  width: 500px;
}
.pre-order-page .priceList .coupons-choose.coupons2 {
  width: 540px;
}

.pre-order-page .priceList .coupons-choose .coupon-title {
  color: #666;
  text-align: left;
  padding-bottom: 10px;
  padding-right: 20px;
}

.pre-order-page .priceList .coupons-choose .coupon-title span {
  color: #999;
  font-size: 12px;
}

.pre-order-page .priceList .coupons-choose .coupon-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pre-order-page .priceList .coupons-choose .mycoupon {
  flex: 1;
  font-size: 14px;
  text-align: left;
  padding: 4px;
  margin-bottom: 8px;
  margin-right: 16px;
  width: 204px;
  max-width: 204px;
  min-width: 204px;
  min-height: 52px;
  border: 1px solid #fA6400;
  cursor: pointer;
  background: #fff0e6;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pre-order-page .priceList .coupons-choose .coupon-selected {
  background: #fA6400;
  color: #fff;
}

.pre-order-page .priceList .coupons-choose .coupon-btn button {
  font-size: 14px;
  width: 70px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fA6400;
  background: #fff;
  cursor: pointer;
  margin-top: 4px;
}

.pre-order-page .priceList .coupons-choose .coupon-btn button:focus {
  outline: none;
}

.pre-order-page .priceList .coupons-choose .coupon-btn .btn-confirm {
  background-color: #fA6400;
  color: #fff;
  border: none;
  margin-right: 5%;
}

.pre-order-page .priceList .coupons-choose .coupon-btn .btn-cancel {
  margin-left: 5%;
}
 .priceList .gift-line {
  height: 22px;
}
.priceList .dis-input{
  opacity: 0.8;
  cursor: not-allowed;
}

.text-small{
  font-size: 12px;
}
.text-size-normal{
  font-size: 14px;
}
.relative{
  position: relative;
}
.absolute{
position: absolute;
}
.promotion-hover .relative .icon-sidebar-unfold{
  right: -10px;
}
/* #29414 限时限量活动*/
.time-limit-pop-down{
  display: none;
  position: absolute;
  min-width: 200px;
  bottom: 48px;
  left: calc(50% - 150px);
  z-index: 999;
  margin-top: 16px;
  background: #fff;
  padding: 6px 4px;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
  border: 1px solid #cccccc;
  font-size: 12px;
  cursor: default;
  max-width: 300px;
  word-break: break-word;
  font-size: 14px;
  color: #333333;
  padding: 10px;
  text-align: left;
  font-size: 13px;
}
.time-limit-pop-down:before{
  /* border-bottom: 14px solid #cccccc; */
  bottom:-14px;
  border-bottom: 14px solid #ccc;
  content: '';
  position: absolute;
  right: 15%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  transform: rotate(180deg);
}
.time-limit-pop-down:after{
  bottom:-12px;
  border-bottom: 14px solid white;
  content: '';
  position: absolute;
  right: 15%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  transform: rotate(180deg);
}

.limit-time-limit-qty-dicount{
  font-style: italic;
  font-size: 12px;
}
.limit-time-limit-qty-dicount .color-fa64{
  color: #FA6400;
}
.limit-display-none{
  display: none;
}
/*end*/