#page-chat .msg-detail__header a {
    color: #333;
}

/* 按钮操作部分 */
#page-chat .btn-item {
    height: 36px;
    margin: 0px 5px;
}

#page-chat .btn-group {
    justify-content: flex-end;
}

#page-chat .upload-btn {
    padding: 0px 12px;
    min-width: 120px;
    height: 40px;
}

#page-chat .upload-btn .upload-icon {
    padding-right: 8px;
}

#page-chat .btn-container {
    margin: 0px -5px;
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-chat .common-words-container {
    margin-top: 10px;
    margin-bottom: 8px;
}

#page-chat .common-words-label {
    color: #999;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 10px;
    font-weight: 400 !important;
}

#page-chat .reply-input {
    margin-top: 10px;
}

/* 投诉按钮 */
#page-chat .complain-text {
  margin-left: 12px;
  color: #004BD8;
}

#page-chat .complain-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

#page-chat .has-complain:hover {
  cursor: not-allowed !important;
}

#page-chat .error-tip {
  font-size: 14px !important;
  margin-top: 0px !important;
}

#page-chat .letter-count {
  font-size: 14px !important;
  bottom: 8px !important;
}

#content-textarea-container .panel {
  margin-bottom: 6px
}

#content-textarea-container p {
  margin-bottom: 0px;
}