/* 头部信息部分 */
::-webkit-scrollbar {
    width: 0;
}

.receipt-view-container-fluid {
    margin-left: 235px;
    margin-right: 20px;
    margin-top: 60px;
}

.receipt-view-outter-container {
    padding-left: 20px;
    padding-right: 20px;
}

.receipt-view-outter-container #main-content {
    padding-bottom: 56px;
}

.receipt-view-container-fluid .pull-right a {
    color: #eee;
    background-color: #478BFF;
}

.receipt-view-container {
    font-size: 13px;
    border-radius: 3px;
    background-color: #fff;
    padding: 36px 20px 56px 20px;
    box-shadow: #aaa 0 0 6px;
}

.receipt-view-container .red {
    color: #f00;
}

.receipt-view-container .header-info-container {
    padding-bottom: 12px;
}

.receipt-view-container .header-info-row {
    display: flex;
}

.receipt-view-container .header-info-item {
    flex: 1;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.receipt-view-container .header-info-label {
    font-weight: bold;
    /* min-width: 90px; */
    text-align: right;
    margin-right: 12px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-break: break-word;
    flex-shrink: 0;
}

.receipt-view-container .remark-content {
    border: 1px solid lightgrey;
    background-color: #eee;
    border-radius: 4px;
    /* margin-left: 24px; */
    padding: 12px;
    min-height: 56px;
    width: 100%;
    word-break: break-all;
    box-sizing: border-box;
    padding: 18px 102px 18px 12px;
    resize:vertical;
}

.receipt-view-container .col2 {
    flex: 2 !important;
}

.receipt-view-container .table-split-line {
    border-top-color: #193465;
}

.receipt-view-container .table-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.receipt-view-container .table-red-icon::before {
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
}


/* 编辑样式 */

.edit-input {
    width: 198px;
    height: 40px;
}

.button-container {
    text-align: right;
}

#order-detail-table {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0px;
}

#order-detail-table .icon-container {
    display: flex;
    justify-content: center;
}

#order-detail-table .icon-container .remove-icon {
    margin: 0 4px;
}

#order-detail-table .icon-container .add-icon {
    margin: 0 4px;
}

.receipt-view-container .inline-input {
    width: 142px;
}

.receipt-view-container .input-invalid {
    border-color: #d0321e;
}

.receipt-view-container .input-invalid:focus {
    border-color: #d0321e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0a197;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0a197;
}

.input-error-msg {
    position: absolute;
    color: #d0321e;
    /* padding-top: 4px; */
    font-size: 12px;
    display: none;
}

#c-expect-shipping-date {
    display: none;
}

#c-expect-arrive-date {
    display: none;
}

.receipt-view-container .filter-tip-icon {
    position: relative;
    top: -11px;
    left: -11px;
}

.receipt-view-container .table-tip-icon {
    position: relative;
    top: -9px;
    left: -6px;
}

.receipt-view-container .files-container {
    padding-left: 24px;
}

.receipt-view-container .input-error-msg {
    position: absolute;
    color: #d0321e;
    /* padding-top: 4px; */
    font-size: 12px;
    display: none;
}

.receipt-view-container .oper-col {
    text-align: center;
}

.receipt-view-container .records-container {
    margin-top: 36px;
    margin-bottom: 24px;
}

.receipt-view-container .no-records {
    width: 100%;
    text-align: center;
}

.receipt-view-container .productname-cell {
    width: 120px;
    word-break: break-word;
    white-space: normal;
}


/* 修改记录部分 */

.receipt-view-container .records-date {
    width: 140px;
}

.receipt-view-container .records-type {
    width: 328px;
    display: inline-block;
    flex-shrink: 0;
}

.receipt-view-container .records-container .arrow-container {
    margin-left: 24px;
}

.receipt-view-container .records-container .arrow-container i {
    font-size: 12px !important;
    color: #888;
}

.receipt-view-container .records-container .hasRecords:hover {
    cursor: pointer;
}

.receipt-view-container .records-row {
    display: flex;
}

.receipt-view-container .remark-content-tips {
    position: absolute;
    right: 8px;
    bottom: 4px;
    font-weight: bold;
    color: #666;
}

.receipt-view-container .table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 18px;
}

.them-color {
    color: #3A75DC;
}

#order-detail-table thead tr th {
    line-height: 14px !important;
}

.yzc_layer {
    width: 480px !important;
}

.yzc_layer .layui-layer-content {
    word-break: break-word !important;
    padding: 12px 28px !important;
}

.receipt-view-oris-clear {
    right: 42px !important;
}

/* 日期选择控件样式调整 */
.form-control#etd,
.form-control#eta {
    background-color: #fff;
}

