.order-book-modal .modal-dialog {
  width: 1080px;
}

.order-book-modal .error-prompt {
  line-height: 14px;
  margin-top: 4px;
}

.absolute-tip .error-prompt {
  position: absolute;
}

.create-title .Y-axis {
  display: inline-block;
  width: 5px;
  height: 18px;
  background: #375ACD;
  margin-right: 6px;
}

.info-module {
  border-top: 1px dashed #7070704c;
  padding: 24px 0;
}

.info-module:first-child {
  padding-top: 12px;
  border: none;
}

.overflow-auto {
  overflow: auto;
}

.bond-info,
.trailer-info {
  border: 1px solid #DCDCDC;
  background-color: #F2F2F2;
  padding: 15px 8px;
  position: relative;
  margin-left: 10px;
}

.bond-info .oris-input,
.trailer-info .oris-input {
  height: 36px;
  padding-top: 4px;
}

.text-label {
  position: absolute;
  background-color: #fff;
  left: 24px;
  top: -8px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  border-radius: 4px;
  padding: 0 5px;
}

.bond-info [class*=col-sm-] {
  padding: 0 8px;
}

.trailer-info [class*=col-sm-] {
  padding: 0 6px;
}

.bond-info .col-sm-3:first-child .text-label:after {
  width: 156px;
}

.bond-info .col-sm-6 .text-label:after {
  width: 75px;
}

.trailer-info .text-label:after {
  width: 160px;
}

.btn-text {
  background-color: transparent;
  border: none;
}

.modal-footer {
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.info-module .limit-textarea {
  padding: 13px 16px 25px 16px;
  height: 72px;
  resize: none;
  line-height: 16px;
  overflow: auto;
}

.info-module .letter-count {
  position: absolute;
  bottom: 6px;
  right: 16px;
  width: calc(100% - 34px);
  background: #fff;
  text-align: right;
  padding: 0px 0 5px;
}

.mr-4 {
  margin-right: 40px;
}

.required-input.error-border {
  border-color: #e64545;
}

.btn-text[disabled] i.giga,
.btn-text[disabled]:hover,
.btn-text[disabled]:focus {
  color: #333;
  cursor: not-allowed;
}

.shipping-list td {
  vertical-align: top;
}

.shipping-list.oris-table > tbody tr:last-child td {
  border-bottom: none;
}

.shipping-list.oris-table,
.shipping-list.oris-table tfoot td {
  border-bottom: none;
}

.shipping-list.oris-table th {
  padding: 5px 6px;
}

.shipping-list .oris-input {
  height: 32px;
  line-height: 32px;
}

.shipping-list .oris-button-light {
  width: 88px;
  height: 32px;
  line-height: 32px;
}

.shipping-list .oris-button-light:hover,
.shipping-list .oris-button-light:focus {
  background-color: #EFF3FF;
  color: #004BD8;
}

.shipping-list .oris-button-light[disabled],
.shipping-list .oris-button-light[disabled]:hover {
  border-color: #dcdcdc;
  background-color: #DCDCDC;
  color: #BBBBBB;
}

textarea.oris-input[disabled] + .letter-count {
  background-color: transparent;
}

.order-book-modal.oris-modal .modal-footer {
  padding: 14px 0 !important;
}

.m08-b {
  margin-bottom: 8px;
}

.order-book-modal .oris-label {
  margin-bottom: 3px;
}

.m18-t {
  margin-top: 18px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m12-b {
  margin-bottom: 12px;
}

input[type="radio"][disabled].oris-radio::before,
input[type="checkbox"][disabled]:checked.oris-checkbox::before,
input[type="checkbox"][disabled].oris-checkbox::before {
  cursor: initial;
  background-color: #EDEFF3;
  border: 2px solid #c3c3c3;
}

input[type="radio"][disabled]:checked.oris-radio::before {
  cursor: initial;
  background-color: #c3c3c3;
  border: 2px solid #c3c3c3;
}

input[type="checkbox"][disabled].oris-checkbox::after {
  background-color: #C3C3C3;
}

.order-book-modal-view .oris-table.shipping-list td,
.order-book-modal-view .oris-table.shipping-list th {
  padding: 5px 6px;
  vertical-align: inherit;
}

.order-book-modal-view .oris-table.shipping-list {
  border: 1px solid #dcdcdc;
}

.order-book-modal-view .oris-table.shipping-list td:not(:last-child) {
  border-right: 1px solid #dcdcdc;
}

.view-content {
  background-color: #edeff3;
  border: 1px solid #c1c1c1;
  word-break: break-word;
  padding: 9px 15px;
  border-radius: 2px;
  overflow: auto;
  max-height: 75px;
}

.oris-table.shipping-list td,
.oris-table.shipping-list th {
  text-align: left;
}

.order-book-modal-view .oris-table.shipping-list td:first-child,
.order-book-modal-view .oris-table.shipping-list th:first-child {
  padding-left: 15px;
}

.oris-table.shipping-list .view-content {
  border: none;
  background-color: transparent;
  padding: 2px 0;
  max-height: 65px;
}

.textarea-content {
  min-height: 72px;
}

.order-book-modal-view .bond-info,
.order-book-modal-view .trailer-info {
  background-color: initial;
  border: none;
}

.order-book-modal-view .bond-info .view-content,
.order-book-modal-view .trailer-info .view-content {
  padding: 12px 15px 6px 15px;
}

.order-book-modal-view .info-module .oris-row{
  display: flex;
}

.order-book-modal-view .info-module .oris-row > div:not(.col-sm-12){
  display: flex;
  flex-direction: column;
}

.order-book-modal-view .info-module .oris-row > div .view-content{
  flex: 1;
}