#buyer-page-language .radio-item {
  line-height: 16px;
  margin-bottom: 23px;
  margin-left: 16px;
}

#buyer-page-language .radio-group-container {
  margin-top: 26px;
}

#buyer-page-language .msgb.msg-card__bottom {
  border-top: 0px;
}