#myMessageTicket .send-guide {
  color: #333;
}

#myMessageTicket .send-guide:hover {
  color: #004BD8;
}

#myMessageTicket .send-guide:hover span {
  color: #004BD8;
}

#myMessageTicket .send-page-row {
  /* margin-bottom: 20px; */
}

#myMessageTicket .request-type-error {
  padding: 8px 0px 0px 0px !important;
  color: #DA0000;
  margin-bottom: 0px !important;
}

#myMessageTicket .oris-input {
  box-shadow: none;
}

#myMessageTicket .upload-icon {
  padding-right: 8px;
}

#myMessageTicket .upload-button:hover .upload-icon{
  color: #333;
}

#myMessageTicket .files-tip {
  font-size: 12px;
  color: #999;
}

#myMessageTicketFooter {
  text-align: left;
  padding-bottom: 0px !important;
}

#myMessageTicketFooter .footer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-upload-file__container {
  margin-bottom: 16px;
}

.ticket-upload-file__message {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  align-items: center;
}

.ticket-upload-file__message li {
  margin-bottom: 8px;
  width: 400px;
  padding: 0px 8px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-upload-file__message li:hover {
  background-color: #EDEFF3;
}

.ticket-upload-file__message .file-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-upload-file__message li a{
  display: inline-block;
  vertical-align: middle;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#ticket-button-upload__message {
  margin-left: 0px;
}

#ticket-button-upload__message .upload-icon {
  font-weight: 600;
}

#ticket-button-upload__message:hover .upload-icon {
  color: #004BD8 !important;
}

#ticket-button-upload__message:focus .upload-icon {
  color: #666;
}

#myMessageTicketFooter {
  margin-top: 0px !important;
}

#myMessageTicket .flex {
  display: flex;
  justify-content: left;
}

#tipInterceptSalesOrder__message {
  margin-bottom: 0px;
}

/* 附件样式调整 */
#myMessageTicket .ticket-upload-file__container{
  padding: 8px 0px;
}

#myMessageTicket li .attach-success {
  display: block;
}

#myMessageTicket li .attach-delete {
  display: none;
}

#myMessageTicket li .attach-delete:hover {
  cursor: pointer;
}

#myMessageTicket li:hover .attach-success {
  display: none;
}

#myMessageTicket li:hover .attach-delete {
  display: block;
}

#myMessageTicket li .attach-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myMessageTicket li .attach-success {
  color: rgba(10, 173, 79, 1);
  font-size: 16px;
}

#myMessageTicket .mt-20 {
  margin-top: 20px;
}


#myMessageTicket .ticket_description {
  height: 200px !important;
}


/* 根据common.css定制全局的Submit a Request 弹框样式 */
.global-request-modal {
  min-width: 480px !important;
  min-height: 256px !important;
  border-radius: 2px !important;
}

.global-request-modal .modal-header {
  font-weight: bold;
  padding: 12px 24px;
  color: #333;
  background: none;
  border-color: #E6E6E6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.global-request-modal .modal-body {
  max-height: calc(80vh - 48px);
}

.global-request-modal .modal-content {
  border-radius: 2px;
}

.global-request-modal .modal-title {
  font-weight: bold;
}

.global-request-modal .modal-header,
.global-request-modal .modal-body,
.global-request-modal .modal-footer {
  padding: 12px 24px !important;
}

.global-request-modal .modal-footer {
  border: none;
  padding-top: 0 !important;
  padding-bottom: 24px !important;
  margin-top: 8px;
}

.global-request-modal .modal-footer .oris-button {
  min-width: 88px;
  margin-left: 6px;
}

.global-request-modal .close {
  font-size: 25px !important;
  border-radius: unset !important;
  background: inherit !important;
  color: #999 !important;
  width: 30px !important;
  text-align: right !important;
  font-weight: normal !important;
  line-height: 25px !important;
  opacity: 1 !important;
}

.global-request-modal .close i{
  color: #999;
}

.global-request-modal .close i:hover {
  color: #333;
}

/*Fixed: modal弹框底部按钮高度不一致*/
.global-request-modal .modal-footer .oris-button {
  padding: 10px 20px;
}

.global-request-modal .oris-row {
  position: relative;
  box-sizing: border-box;
  clear: both;
}

.global-request-modal .oris-row:after,
.global-request-modal .oris-row:before {
  display: table;
  content: "";
}

.global-request-modal [class*=oris-col] {
  float: left;
  box-sizing: border-box;
}

.global-request-modal .oris-row:after {
  clear: both;
}

.global-request-modal .oris-col-3 {
  width: 25%;
}

.global-request-modal .oris-col-4{
  width: 33.33%;
}

.global-request-modal .oris-col-6{
  width: 50%;
}

.global-request-modal .oris-row [class*=oris-col-]:not(:last-child) {
  padding-right: 40px;
}

/* 查询条件区域 */

.global-request-modal .oris-row .search-btn {
  display: table-cell;
}

.global-request-modal .oris-row .search-btn button:not(:last-child) {
  margin-right: 10px;
}

/*解决buyer端已有冲突*/
.global-request-modal .oris-select .btn-default {
  border-color: #CCC;
}

.global-request-modal .oris-select .bootstrap-select {
  width: 100% !important;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu.open {
  padding: 4px 0;
}

/*多选下拉框样式*/
.global-request-modal .oris-select .bootstrap-select .dropdown-menu .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu .btn:last-child:not(:first-child) {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu li.selected .glyphicon-ok:before {
  font-family: 'giga';
  content: "\e6ec";
}

.global-request-modal .oris-select .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  top: 10px;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-toggle {
  height: 40px;
  border-radius: 2px;
  padding: 0;
  position: relative;
  /*现有样式颜色冲突*/
  color: #333 !important;
  font-weight: initial;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-toggle .filter-option-inner {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  height: 38px;
  line-height: 38px;
  outline: none;
  padding: 0 40px 0 15px;
  width: 100%;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-toggle:hover {
  background-color: transparent;
  border: 1px solid #999;
  color: #333;
}

.global-request-modal .oris-select .open>.dropdown-toggle,
.global-request-modal .oris-select .bootstrap-select .dropdown-toggle:focus,
.global-request-modal .oris-select .bootstrap-select .dropdown-toggle:active {
  border: 1px solid #333;
  outline: none !important;
  background-color: transparent;
  box-shadow: none;
}

.global-request-modal .oris-select .bootstrap-select .caret {
  border: none;
}

.global-request-modal .oris-select .bootstrap-select .bs-caret {
  position: absolute;
  right: 0;
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 40px;
}

.global-request-modal .oris-select .bootstrap-select .bs-caret:after {
  font-family: 'giga';
  content: '\101d6';
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item {
  height: 36px;
  line-height: 26px;
  outline: none;
  padding: 5px 20px;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item.active,
.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item.active:hover {
  background: #E7E8EA;
  color: #333;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item:focus,
.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item:active {
  background: #ECECEC;
  opacity: 1;
}

.global-request-modal .oris-select .bootstrap-select .dropdown-menu .dropdown-item:hover {
  background: #F5F6F7;
}

.global-request-modal .oris-select .bs-actionsbox .actions-btn {
  color: #2861CE;
}

.global-request-modal .oris-select .bs-actionsbox .actions-btn:hover {
  color: #fff;
  background: #2861CE;
}
.global-request-modal .oris-input {
  font-size: 14px;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 2px;
  border: 1px solid #C1C1C1;
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 1;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
}

.global-request-modal .oris-input[disabled] {
  background-color: #EDEFF3;
  cursor: not-allowed;
}

.global-request-modal .oris-input:hover {
  border-color: #666666;
}

.global-request-modal .oris-input[disabled]:hover {
  border-color: #CCCCCC;
  cursor: not-allowed;
}

.global-request-modal .oris-input:focus {
  border-color: #333;
}

/*buyer端样式冲突*/
.global-request-modal .oris-select .bootstrap-select .dropdown-toggle:focus {
  border-color: #333;
}

/*input框placeholder*/
.global-request-modal .oris-input::-moz-placeholder {
  color: #999999 !important;
  opacity: 1;
}

.global-request-modal .oris-input:-ms-input-placeholder {
  color: #999999 !important;
}

.global-request-modal .oris-input::-webkit-input-placeholder {
  color: #999999 !important;
}
.global-request-modal .oris-comments {
  position: relative;
}

.global-request-modal .oris-comments textarea {
  width: 100%;
  overflow-y: auto;
  resize: none;
  padding: 12px 16px 30px 16px;
  line-height: 20px;
}

.global-request-modal .oris-comments .letter-count {
  position: absolute;
  right: 16px;
  bottom: 6px;
  color: #666;
  background: #fff;
  width: calc(100% - 32px);
  text-align: right;
  padding-bottom: 6px;
}

.global-request-modal .oris-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #2861CE;
  border: 1px solid #2861CE;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 2px;
}

.global-request-modal .oris-button:not([disabled]):focus,
.global-request-modal .oris-button:not([disabled]):hover {
  background: #1D54BB;
  border-color: #1D54BB;
  color: #fff;
  opacity: 1;
}

.global-request-modal .oris-button[disabled] {
  background-color: #2861CE;
  border-color: #2861CE;
  color: #fff;
  opacity: 0.3;
}

.global-request-modal .oris-button[disabled]:hover {
  cursor: not-allowed;
}

.global-request-modal .oris-button-default{
  padding: 11px;
  color: #333333;
  border-color: #C1C1C1;
  background: #fff;
}

.global-request-modal .oris-button-default i {
  color: #666666;
}

.global-request-modal .oris-button-default:not([disabled]):focus,
.global-request-modal .oris-button-default:not([disabled]):hover {
  background: #EDEFF3;
  border: 1px solid #C1C1C1;
  color: #666;
  cursor: pointer;
}

.global-request-modal .oris-button-default:not([disabled]):focus i,
.global-request-modal .oris-button-default:not([disabled]):hover i {
  color: #375ACD;
}

.global-request-modal .oris-button-default[disabled] {
  border: 1px solid #C1C1C1;
  color: #CCCCCC;
  background: #fff;
}