<div class="will-box">
  {# 多个就有多个循环 section-time-box #}
</div>
<script type="text/javascript">
  var intervalSession = JSON.parse('{{ sessionWillSaleInterval|default([])|json_encode }}');
  var interval = JSON.parse('{{ listWillSaleInterval|default([])|json_encode }}');
  var postInterSession;
  var postInterTime;
  var indexNum = 0;
  $(function () {
   initData();
    windowWillSaleScroll.windowScrollFn();
  });
  function initData(){
    var ajaxArry = [...intervalSession];
    ajaxArry = ajaxArry.map(function(item,index){
      return  $.ajax({
        url: '{{ url("account/marketing_time_limit/listWillSale") }}',
        data: {'page': 1, 'intervalSession': item, 'interval': interval[index]},
        type: 'GET',
        dataType: 'json',
      })
    })
    waitBlock.blockUI();
    $.when.apply(this, ajaxArry).done(function(...res) {
      if(ajaxArry.length===1){res=[res]}
      res.forEach(item=>{
        let data = item[0]; 
        let htmls = data['html'];
        let session = data['session'];
        //$('.will-box').attr('data-loadsuccess','1');
        let selSelectTimeBox = '.section-time-box[session="' + session + '"]';
        let htmlSectionTimeBox =  `
            <div class="section-time-box"       session="${session}" data-end="0" page='1' data-loadsuccess='1'>
              <div class="section-time-title flex-layout">
                <i class="giga icon-shijian1 time-icon"></i>
                <span class="time-title">${session}</span>
                <span class="time-title font-weight-normal">Round</span>
              </div>
              <div class="section-time-flex">
              </div>
            </div>`
        $(selSelectTimeBox).length == 0 && $('.will-box').append(htmlSectionTimeBox);
        $(selSelectTimeBox + ' .section-time-flex').append(htmls);
        $(selSelectTimeBox).attr('data-end', data.isEnd);
        $(selSelectTimeBox).attr("page", ++data.page); 
        if(data.isEnd){
          $(selSelectTimeBox).attr("page", 1);
          ++indexNum;
        }
      })
      block.unBlockUI();
    }).fail(function (e) {
        block.unBlockUI();
        console.error(e);
    })
  }
  var windowWillSaleScroll = {
    windowScrollFn: function () {
      $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        var footerHeight = $("footer").height() + ($(".section-time-box .will-box-item").height() + 300);
        if (scrollHeight - scrollTop - windowHeight < footerHeight) {
          var section_time_boxLen=$('.section-time-box');  
          $(".section-time-box").each(function (i) {
            if($(this).attr('data-end') == 0){
              initWillSaleClassFn.scrollLoad(this,intervalSession[i],interval[i]);
              return false;
            }
          })
        }
      })
    }
  };
  var initWillSaleClassFn = {
    scrollLoad: function (loadHtml,currentSession,currentTime) {
      if ($(loadHtml).attr("data-loadsuccess") == '1') {
        let page = $(loadHtml).attr("page");
        if (indexNum >= interval.length) { //无时间区间
          return;
        }
        initWillSaleClassFn.getWillSaleList(page, currentSession, currentTime, loadHtml);
      }
    },
    getWillSaleList: function (page, intervalSession, interval, htmlcon) {
      $(htmlcon).attr('data-loadsuccess', '0');
      if (page === 1) {
        $(htmlcon).empty();
      }
      waitBlock.blockUI();
      $.ajax({
        url: '{{ url("account/marketing_time_limit/listWillSale") }}',
        data: {'page': page, 'intervalSession': intervalSession, 'interval': interval},
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          let htmls = data['html'];
          let session = data['session'];
          let htmlSectionTimeBox = '';
          let selSelectTimeBox = '.section-time-box[session="' + session + '"]';
          
          if (page === 1) {
            htmlSectionTimeBox = `
              <div class="section-time-box"       session="${session}" data-end="0">
                <div class="section-time-title flex-layout">
                  <i class="giga icon-shijian1 time-icon"></i>
                  <span class="time-title">${session}</span>
                  <span class="time-title font-weight-normal">Round</span>
                </div>
                <div class="section-time-flex">
                </div>
              </div>`;
          } else {
            htmlSectionTimeBox = `
              <div class="section-time-box" session="${session}" data-end="0">
                <div class="section-time-title flex-layout">
                  <i class="giga icon-shijian1 time-icon"></i>
                  <span class="time-title">${session}</span>
                  <span class="time-title font-weight-normal">Round</span>
                </div>
                <div class="section-time-flex">
                </div>
              </div>`;
          }
          $(selSelectTimeBox).length == 0 && $(htmlcon).append(htmlSectionTimeBox);
          $(selSelectTimeBox + ' .section-time-flex').append(htmls);
          $(selSelectTimeBox).attr('data-end', data.isEnd);
          
          $(htmlcon).attr("page", ++page);
          $(htmlcon).attr('data-loadsuccess', '1');
          
          if(data.isEnd){
            $(htmlcon).attr("page", 1);
            ++indexNum;
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.alert(thrownError + "<br>" + xhr.statusText + "<br>" + xhr.responseText, {
            title: 'Message',
            btn: 'OK',
            skin: 'yzc_layer' //样式类名
            , closeBtn: 0
          });
        },
        complete: function (xhr, textStatus) {
          waitBlock.unBlockUI();
        }
      })
    },
  }
</script>