/* breadcrumb */
.breadcrumb {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  display: inline-block;
  background: none;
  border-radius: 0;
}

.breadcrumb > li{
  font-size: 14px;
  text-shadow: none;
  margin: 0;
}

.breadcrumb li + li:before {
  content: "/";
  color: #BBBBBB;
  padding: 0 6px 0 3px;
  font-size: 10px;
}

.breadcrumb > li > a {
  color: #999999;
  font-style: normal;
}

.breadcrumb > li > a:hover{
  color: #333;
}

.breadcrumb > li:last-child > a {
  color: #333;
}


#column-left.active #navigation {
  display: inline-flex;
}


