@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-31 15:00:08
// @modified         2019-10-31 15:02:08
//

.breadcrumb-simple {
  padding: 30px 0;

  a {
    font-weight: bold;
    color: $brand-primary;

    &.active {
      font-weight: normal;
      color: #96a3b8;
    }
  }
}
