.container{
  width: 1200px;
  margin: auto ;
}
.mb-3-i{
  margin-bottom: 30px ;
}
p {
  margin: 0;
}

.help-tooltip{
  font-size: 16px !important;
}
.top-title {
  font-weight: bolder;
  color: #183464;
  font-size: 16px;
  margin-bottom: 15px;
}

.main-con {
  padding: 15px;
  background: #fff;
}

.order-list{
  min-height: 200px;
  margin-bottom: 10px;
}

.order-top-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 20px;
  background: #D7DDEA;
  color: #333;
  line-height: 24px;
}
.sales-order-ID{
  width: 335px;
  font-weight: bold;
}
.order-top-right{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-address{
  margin-right: 2px;
}

.order-main-con{
  border: 1px solid #eee;
  border-bottom: none;
  margin-bottom: 20px;
}
.order-one:last-child .order-main-con{
  margin-bottom: 0;
}

.order-main-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EEE;
}
.order-main-title .row-left , .order-main-title .row-right, .order-main-title .row-act{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-main-row{

}
.order-main-row-outer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.order-main-row-outer.no-border-bottom{
  border-bottom: none;
}

.order-main-row-outer .row-left , .order-main-row-outer .row-right .row-right-item, .order-main-row-outer .row-act{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-main-title div{
  padding: 10px 0;
}
.row-left{
  width: 20%;
}
.row-right{
  width: 70%;
}
.row-right-item{
  width: 100%;
  padding-bottom: 10px;
}
.row-right-item:last-child{
  border-bottom: none;
  padding-bottom: 0;
}
.row-act{
  width: 10%;
}
.tab-code{
  width: 100%;
  display: flex;
  align-items: center;
}
.tab-house{
  width: 20%;
}
.tab-qty{
  width: 8%;
}
.tab-item-cost{
  width: 17%;
}
.tab-freight-cost{
  width: 19%;
}
.tab-storage-fee{
  width: 16%;
}
.tab-total{
  width: 15%;
}
.tab-action{
  width: 100%;
}

.help-tooltip{
  font-size: 13px;
}
.tab-image-currect{
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.tab-code-txt{
  display: inline-block;
  width: 138px;
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab-code-txt:hover{
  cursor: pointer;
  color: #3A75DC;
}
.tag-has-house{
  font-size: 13px;
  display: inline-block;
  color: #333;
  background:#e1ecff;
  border-radius: 2px;
  border: 1px solid #e1ecff;
  padding: 4px 10px;
}
.tag-to-paid{
  font-size: 13px;
  display: inline-block;
  color: #333;
  background:#FFEFE4;
  border-radius: 2px;
  border: 1px solid #FFEFE4;
  padding: 4px 10px;
}

.list-down{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  text-align: center;
}
.list-down:hover{
  cursor: pointer;
  /*box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);*/
}
.list-down i{
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
.list-down i.giga.icon-V10_shouyeyouxiadown{
  position: relative;
  bottom: 2px;
  left: 0.5px;
}
.list-down i.giga.icon-V10_shouyeyouxiaTOP{
  position: relative;
  bottom: 3px;
  left: 0.5px;
}
.order-main-row-inner{
  padding: 0 ;
  margin: 0;
}
.order-main-row-inner-con{
  margin: 10px 16px 16px 16px;
  padding: 16px 24px;
  background: #EDEFF3;
  position: relative;
}
.order-main-row-inner.border-bottom{
  border-bottom: 1px solid #eee;
}
.order-main-row-inner .grid-con{
  /*height: 10px;*/
  /*border-bottom: 1px solid #eee;*/
  /*margin-bottom: 10px;*/
}
.inner-detail-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.inner-detail-title-icon{
  margin-right: 6px;
  font-size: 22px;
  color: #3A75DC;
}
.inner-detail-title-txt{
  font-weight: bold;
  color: #000;
}
.detail-tip{
  font-size: 13px;
  color: #3A75DC;
}
.detail-tip:hover{
  cursor: pointer;
  text-decoration: underline;
}
.no-weight{
  font-weight: normal;
}
.inner-detail-table{
  margin-bottom: 16px;
}
.inner-detail-table:last-child{
  margin-bottom: 0;
}
.inner-detail-table .table > thead > tr > th,.inner-detail-table .table > tbody > tr > td{
  text-align: center;
}
.inner-detail-table .table-bordered > thead > tr > th{
  background: #fff;
  color: #405266;
  border: none;
  padding: 8px;
  border-bottom: 1px solid #eee;
}
.inner-detail-table .table-bordered > thead > tr > th:first-child{
  padding-left: 20px;
}
.inner-detail-table .table-bordered > thead > tr > th:last-child{
  padding-right: 20px;
}
.inner-detail-table .table-bordered > tbody > tr,.inner-detail-table .table-bordered > tbody > tr > td{
  background: #fff;
  color: #000;
  border: none;
  border-bottom: 1px solid #eee;
}
.inner-detail-table .table-bordered > tbody > tr > td:first-child{
  padding-left: 20px;
}
.inner-detail-table .table-bordered > tbody > tr > td:last-child{
  padding-right: 20px;
}
.download-cart{
  font-size: 12px;
  vertical-align: revert;
  margin-left: 4px;
}
.giga.icon-V10_shouyeyouxiadown,.giga.icon-V10_shouyeyouxiaTOP{
  font-weight: bold;
}
.warehouse-day>div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
.warehouse-day>div:last-child{
  margin-bottom: 0;
}
.link-color{
  color: #3A75DC;
}
.link-color:hover{
  text-decoration: underline;
}
.warehouse-day .text{
  margin-right: 8px;
}
/*.inner-detail-table .popover.bottom{*/
/*  margin-top: 6px;*/
/*}*/
/*.inner-detail-table .popover{*/
/*  border-radius: 6px;*/
/*  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.3);*/
/*  border: none;*/
/*}*/


.pay-tip{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 6px;
}
.pay-tip .text{
  color: #666;
}
.pay-tip .value{
  color: #333;
  font-weight: bold;
}
.pay-tip:last-child{
  margin-bottom: 0;
}
.inner-detail-table .table{
  margin-bottom: 0;
}
.inner-detail-table .table.feel-tip-table{
  margin-bottom: 6px;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th,.inner-detail-table .table.feel-tip-table > tbody > tr > td{
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.inner-detail-table .table.feel-tip-table > tbody > tr > td{
  font-size: 14px;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th{
  background: #D8DDE8;
  padding: 4px 8px;
}
.icon-icn--n{
  color: #fA6400;
  margin-right: 4px;
}
.top-tip{
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 10px;
  background: rgba(250,100,0,0.04);
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;
}
.top-tip .clear-top{
  position: absolute;
  right: 8px;
  top: 4px;
  color: #fA6400;
}
.top-tip .clear-top:hover{
  cursor: pointer;
}
.order-list-color{
  color: #fA6400;
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;
}
.order-list-color:hover{
  cursor: pointer;
}
/*从这边结束是新写的*/

/*吸底*/
.list-check-con {
  padding: 0 15px;
  background: #fff;
}

.list-check-con p {
  text-align: right;
  height: 30px;
  line-height: 30px;
}

.list-check-con p .check-money {
  display: inline-block;
  width: 100px;
  font-weight: bolder;
}
.check-title{
  font-size: 16px;
  font-weight: bold;
}
.check-money{
  font-size: 16px;
}
.check-title-total, .check-total {
  font-weight: bolder;
  font-size: 18px;
}

.check-total {
  font-size: 20px;
  color: #FA6400;
}

.check-btn {
  text-align: right;
  padding-bottom: 24px;
}

.btn-check, .btn-check:hover, .btn-check:active, .btn-check:focus {
  background: #FA6400;
  border-color: #FA6400;
  color: rgba(255,255,255,0.9);
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-check:hover{
  color:#fff
}

.check-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 0 4px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 99;
}

.check-footer .btn-check{
  margin: 0;
  font-size: 16px;
  height: 40px;
  padding: 0 13px;
  border-radius: 4px;
}

.check-footer p {
  text-align: right;
}

.money-all {
  font-size: 20px;
  color: #FA6400;
}

.money-detail {
  font-size: 14px;
}
.price-right-con{
  display: inline-block;
  width: 100%;
}
.price-right-con table tbody tr td{
  padding: 4px;
}
.price-right-con table{
  float: right;
}
.right-grid{
  padding-right: 10px;
}
/*吸底*/

/*layer 按钮弹窗的样式*/
.layui-layer-btn .layui-layer-btn0{
  border-color: #3a75dc;
  background-color: #3a75dc;
  color: #fff;
}
.layui-layer-btn a.layui-layer-btn0:hover{
  border-color: #2d57a9;
  background-color: #2d57a9;
  text-decoration: none;
}
.layui-layer-btn a.layui-layer-btn1:hover{
  border-color: #3a75dc;
  background-color: #3a75dc;
  color: #fff;
  text-decoration: none;
}
.content-con-sub-title{
  color: #aaa;
  font-size: 12px;
}

.yzc_layer .layui-layer-ico{
  background: none;
}
.yzc_layer .layui-layer-close.layui-layer-close1:after{
  content: "\e6b4";
  font-family: 'giga';
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.yzc_layer .layui-layer-content{
  text-align: left;
}
/*layer 按钮弹窗的样式*/

/*vat 图标*/
.giga.icon-vat{
  font-size: 12px;
  margin-right: 4px;
}
.price-right-con table tbody tr td{
  padding: 4px;
}
.position-top-2{
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.width-200{
  width: 200px;
}

.width-220{
  width: 220px;
}
.width-80{
  width: 80px;
}
.width-160{
  width: 160px;
}
.width-128{
  width: 128px;
}
.width-240{
  width: 240px;
}
.vertical-middle{
  vertical-align: middle !important;
}

.break-word{
  word-break: break-word;
}

/*保障服务*/
.guarantee-con{
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guarantee-con.border-top{
  border-top: 1px solid #eee;
}
.guarantee-info{
  width: 800px;
}
.guarantee-tip{
  font-size: 14px;
  font-style: italic;
  padding-left: 6px;
}
.guarantee-sub-tip{
  color:#171717 ;
}
.guarantee-sub-tip:hover{
  cursor: pointer;
  text-decoration: underline;
}
.font-style-normal{
  font-style: normal;
}
.guarantee-money{
  margin-left: 0;
}
.guarantee-item,.guarantee-total-item{
  margin-right: 40px;
  display: inline-block;
  margin-bottom: 10px;
}
.amount-info{
  padding-right: 6px;
}
.top-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  right: 32px;
  background: #ebeef5;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.pop-table-title{
  color: #333;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}
.pop-table-title-sub{
  font-size: 13px;
  color: #405266;
}
input[type=checkbox].oris-checkbox.oris-checkbox-disabled::before
{
  background-color: #80808059;
  cursor: not-allowed;
}
.inline-block{
  display: inline-block;
}
.no-fee-tip{
  text-align: right;
}
.black-color{
  color: #000;
}
.text-tip{
  font-size: 13px;
  color: #586993;
  font-style: italic
}
.no-style{
  font-style: normal;
}
.icon-address i.giga{
  color: #5B6B8C;
  font-size: 18px;
}
.table > thead > tr > th.line-height-14{
  line-height: 14px;
}
.sales-order-purchase-management .popover.bottom , .fee-order-detail .popover.bottom{
  margin-top: 14px;
}
.checkbox-all-wrapper{
  margin-bottom: 14px;
  padding: 10px 20px 0 15px;
  background: #E1ECFF;
  border: 1px solid #496DE5;
}
.font-16{
  font-size: 16px;
}
.sales-order-des{
  word-break: break-word;
}
