.valid-index{
  width: 5%;
}
.valid-purchase-order-id{
  width: 15%;
}
.valid-in-time{
  width: 20%;
}
.valid-qty{
  width: 15%;
}
.valid-days{
  width: 17%;
}
.valid-wait-pay{
  width: 20%;
}
.valid-action{
  width: 8%;
}
.red-circle{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  right: 4px;
  background: #FF414D;
}
.action-rma{
  font-size: 12px;
  font-weight: bold;
}
.table-bottom-tip{
  margin-top: 30px;
}

.gray-color{
  color: #333;
}
.gray-color:hover{
  color: #333;
  text-decoration: none;
}


/*在库天数的浮动框*/
.giga.icon-sidebar-unfold.download-cart{
  font-size: 12px;
}
.popover {
  max-width: 400px;
}

.inner-detail-table .popover.bottom{
  margin-top: 6px;
}
.inner-detail-table .popover{
  border-radius: 6px;
  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.3);
  border: none;
}
.pay-tip:first-child{
  margin-top: 6px;
}
.pay-tip{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
.pay-tip .text{
  width: 120px;
}
.pay-tip:last-child{
  margin-bottom: 0;
}
.inner-detail-table .table{
  margin-bottom: 6px;
}
.inner-detail-table .table.feel-tip-table{
  margin-bottom: 6px;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th,.inner-detail-table .table.feel-tip-table > tbody > tr > td{
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th{
  border-bottom-width: 1px;
  background: #fff;
}
/*在库天数的浮动框*/
