/*搜索*/
.form-wrapper .form-group > label {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.bill-btn-con {
  padding-top: 25px;
}

.datetimepicker-range .datetimepicker:first-child {
  padding-right: 2px;
}

.datetimepicker-range .datetimepicker:last-child {
  padding-left: 2px;
}
.row .form-group input:not([type=checkbox]):not([type=radio]), .row .form-group select{
  font-size: 14px;
}
.pl-8{
  padding-left: 8px;
}
.form-wrapper .datetimepicker-range.pd-top-0 .datetimepicker input{
  padding: 0 13px 0 13px;
}
.form-wrapper .datetimepicker-range.pd-top-0 .datetimepicker span.icon{
  bottom: 10px;
}
/*搜索*/

.bills-image{
  width: 5%;
}
.bills-itemcode{
  width: 14%;
  word-break: break-word;
}
.bills-seller{
  width: 13%;
  word-break: break-word;
}
.bills-out-type{
  width: 12%;
  word-break: break-word;
}
.bills-create-time{
  width: 15%;
  word-break: break-word;
}
.bills-quantity{
  width: 8%;
  word-break: break-word;
}
.bills-reason{
  width: 10%;
  word-break: break-word;
}
.bills-type{
  width: 10%;
  word-break: break-word;
}
.bills-id{
  width: 13%;
  word-break: break-word;
}
.tip-cricle{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  right: 4px;
}
.tip-cricle.green-color{
  background: #65B017;
}
.tip-cricle.org-color{
  background: #fA6400;
}
.tip-cricle.brown-color{
  background: #aaa;
}
/*日期选择器*/
.datetimepicker  .table-condensed{
  width: 240px !important;
}
.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
  background-color: #428bca !important;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-image: none !important
}
.glyphicon.glyphicon-arrow-left,
.glyphicon.glyphicon-arrow-right{
  font-weight: bolder;
}
.glyphicon-arrow-left:before{
  content: '<';
}
.glyphicon-arrow-right:before{
  content: '>';
}
.my-sort-down.my-sort-down-bct{
  left: 0;
}
.datetimepicker.datetimepicker-month{
   padding: 0;
   margin-top: 0;
}

.pad-lf-12{
  padding-left: 14px !important;
}
.pad-lf-10{
  padding-left: 10px !important;
}
