.page-seller-portal .tab-content.main{
    background: #fff;
  padding: 30px 20px;
}
.flex-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mr4{
  margin-right: 4px;
}
.hover-a-link:hover{
  color: #3A75DC;
}
/*按钮*/
.giga-btn-primary {
  height: 40px;
  width: 70px;
  padding: 0;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #3A75DC;
  font-weight: initial;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
}

.giga-btn-primary:hover, .giga-btn-primary:focus, .giga-btn-primary:active {
  color: #fff;
  background-color: #2d57a9;
  border-color: #2d57a9;
  outline: none;
}

.giga-btn-default {
  background: #fff;
  text-align: center;
  height: 40px;
  line-height: 38px;
  color: #3A75DC;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
}

.giga-btn-reset {
  padding: 0 9.7px;
}

.giga-btn-download {
  padding: 0 11px;
}

.giga-btn-default:hover, .giga-btn-default:focus, .giga-btn-default:active {
  color: #fff;
  background-color: #3A75DC;
  border-color: #3A75DC;
  outline: none;
}

.giga-btn-default.disabled {
  border: 1px solid #ddd !important;
}

/*按钮*/
.mrb0{
  margin-bottom: 0;
}
.border-top-none{
  border-top: none !important;
}
.giga.icon-jinggao{
  color: #f0ad4e;
}

.giga.icon-help-inactive{
  font-size: 12px;
  cursor: pointer;
}

/*排序*/
.my-sort {
  font-size: 12px;
  color: #aaa;
}

.my-sort:hover {
  cursor: pointer;
  color: #000;
}

.my-sort.active {
  color: #000;
}

.my-sort-up {
  position: relative;
  top: -4px;

}

.my-sort-down {
  position: absolute;
  top: 4px;
}

/*排序*/
input[type=checkbox]{
  cursor: pointer;
}

/*颜色*/
.org-color{
  color: #fA6400;
}
.red-color{
  color: #FF414D;
}
.green-color{
  color: #65B017;
}
.dark-blue-color{
  color: #183464;
}
.them-color{
  color: #3A75DC;
}
.brown-color{
  color: #aaa;
}
.link-color{
  color: #3A75DC;
  cursor: pointer;
}
.link-color:hover {
  color: #3A75DC;
  text-decoration: underline;
}
/*颜色*/

/*没有padding的弹框*/
.yzc_layer.no_padding .layui-layer-content{
  padding: 0 !important;
}
/*没有padding的弹框*/

/*问号的样式*/
.house-ques-icon{
  vertical-align: middle;
}
.giga.icon-V10-wenhaotishi{
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}
.link-color .giga.icon-V10-wenhaotishi{
  color: #3A75DC;
}
.pos-relative{
  position: relative;
}
.my-sort-down.aq{
  left: 0;
}
.my-sort-down.agq{
  left: 0;
}
.my-sort-down.bq{
  left: 0;
}
.my-sort-down.sf{
  left: 0;
}
/*问号的样式*/

/*表头的阴影*/
.table-header-shadow{
  box-shadow: 0 4px 8px rgba(204,204,204,.3);
}
/*表头的阴影*/

.td-copy-padding{
  padding: 10px 8px;
}

.table-fixed-title {
  padding-right: 16px;
}

