.inHouseQuery .query-btn{
  width: 400px;
  margin-right: 20px;
}
.input-group-addon{
  border-color: #ccc !important;
}
.input-group-addon:last-child{
  border-radius: 0 4px 4px 0;
}
.query-input{
  border-radius: 4px 0 0 4px !important;
}
.query-btn .form-group{
  margin-bottom: 0;
}
.check-btn{
  background: #f3f5f7;
  height: 40px;
}
.check-btn-item{
  margin-right: 10px;
  margin-left: 10px;
}
.check-btn-item:last-child{
  margin-right: 20px;
}
.check-btn-item:first-child{
  margin-left: 20px;
}
.inHouse-quick-view-tab{
  width: 80%;
  margin: 20px auto ;
  height: 100px;
}
.quick-view-tab{
  text-align: center;
}
.quick-view-tab-title{
  font-size: 16px;
  margin-bottom: 10px;
  color: #183464;
}
.quick-view-txt{
  font-size: 16px;
}
.inHouse-quick-view-tab .guid{
  width: 1px;
  height: 75px;
  background: #e3e3e3;
}
.inHouse-index{
  width: 5%;
}
.inHouse-image{
  width: 6%;
}
.inHouse-itemcode{
  width: 14%;
}
.inHouse-seller{
  width: 15%;
  word-break: break-word;
}
.inHouse-vaild{
  width: 15%;
}
.inHouse-promise{
  width: 15%;
}
.inHouse-lock{
  width: 15%;
}
.inHouse-topay{
  width: 25%;
}
.inHouse-warning{
  width: 5%;
}
.giga.icon-jinggao{
  cursor: pointer;
}
.item-img{
  width: 40px;
  height: 40px;
}
.inHouse-table-con{
  max-height: 480px;
  overflow: auto;
}