.vat-icon-container {
  position: relative;
  top: 2px;
  height: 16px;
  
}

.vat-icon-container .vat-icon {
  background-color: #375ACD;
  color: #fff;
  padding: 0 2px;
}

.vat-icon-container .vat-icon:hover {
  cursor: pointer;
}

.vat-icon-container .popover,
.vat-icon-container .popover-container {
  width: 316px;
  text-align: left !important;
}

.vat-icon-container .popover .popover-content {
  padding: 0 !important;
}

.vat-icon__container {
  padding: 14px;
}

/* popover 弹窗内容部分样式 */
/* 绑定在body上，所以已内容container作为外层样式 */
.vat-icon__container .vat-tip {
  color: #333;
  font-size: 14px;
}

.vat-icon__container .vat-number {
  padding-top: 12px;
  font-size: 14px;
  width: 100%;
}

.vat-icon__container .vat-number .vat-number__label {
  color: #004BD8 !important;
}

.vat-icon__container .vat-number .vat-number__label:hover {
  cursor: pointer;
}

.vat-icon__container .vat-number .vat-number__label:hover .vat-number__label-text {
  text-decoration: underline;
}

.vat-icon__container .vat-number .vat-number__text {
  color: #333;
  padding-top: 4px;
  visibility: hidden;
  animation-duration: .5s;
  word-break: break-all;
}

.vat-icon__container .vat-number .vat-number__label .icon-up {
  display: none;
  font-size: 16px !important;
}


.vat-icon-container .popover {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/* 组织样式覆盖 */
.vat-icon-container .row div{
  border: initial !important;
  text-align: initial !important;
}