#page-account-balance {
  .account-balance {
    display: flex;

    & > div {
      flex:1;
      text-align: center;

      p {
        margin-bottom: 8px;
        font-weight: 600;
        text-transform: uppercase;
        color: #9a9a9a;
      }

      span {
        font-size: 22px;

        &.green {
          color: #6dd400;
        }

        &.orange {
          color: #fa6400;
        }

        &.blue {
          color: #183464;
        }
      }
    }
  }

  label.radio-inline {
    input[type="radio"] {
       width:0px;
       height:0px;
       text-align: center;
       line-height: 20px;

     }

    input[type="radio"]::before {
      content: "\a0";
      display: inline-block;
      background-color: #eee;
      vertical-align: middle;
      font-size: 18px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #aaa;
    }
    
    input[type="radio"]:checked::before {
      content: "\2022";
      background-color: #3a75dc;
      color: #fff;
      border-radius: 50%;
      font-size: 44px;
      text-align: center;
    }
    
  }
}
