@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-11-07 11:37:37
// @modified         2019-11-07 11:40:49
//

#page-brand-center-form {
  .screenshot {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #f3f5f7;
    border: 1px solid #bfbfbf;
    border-radius: 4px;

    i {
      font-size: 40px;
    }
  }
}
