#page-contact {
  background-color: #fff;

  h3{
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .location {
    font-weight: normal;

    i {
      color: grey;
      font-size: 20px;
    }

  }

  .form-group {
    span {
      color: red;
    }
  }

  button {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 14px 60px !important;
  }
}