#help-center {
  background-color: #fff;

  .panel {
    margin-bottom: 30px;
    border: none;

    a {
      color: #000;

      &:hover {
        color: $color_orange;
      }
    }

    .panel-heading{
      padding: 18px 16px;
      border-top: 1px solid grey;
      border-bottom: 1px solid #eee;

      span {
        font-weight: bold;
      }

      .fa-down {
        float: right;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .panel-body {
      font-size: 14px;

    }
  }

  .right1 {
    h3 {
      display: inline;
      font-weight: 600;
      margin-right: 30px;
    }

    button {
      margin-top: 16px;
      margin-bottom: 30px;
    }

  }
}