@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-24 14:47:07
// @modified         2019-10-31 14:12:05
//

#product-product {
  .product-swiper-wrapper {
    position: relative;
    padding: 0 30px;

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }
  }

  .thumbnail-wrapper {
    position: relative;

    a.btn-download {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 30px * 0.5;
      text-align: center;
      background-color: $color_orange;

      i {
        color: #fff;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }

  ul.additional-thumbnail-wrapper {
    list-style: none;

    li.image-additional {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        img {
          width: 100px
        }
      }
    }
  }

  .btn-wistlist {
    color: $color_orange;
  }

  .product-info-header-wrapper {
    h2 {
      margin: 10px 0;
      color: $color_orange;
    }
  }

  .product-info-data-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    div {
      flex: 1;
      border-right: 1px solid #ddd;
      text-align: center;

      &:last-of-type {
        border-right: none;
      }

      i {
        color: #5ab2ff;
      }
    }
  }

  .product-info-wrapper {
    padding: 20px;
    background: #f7f7f7;

    .text-highlight {
      font-weight: 700;
      color: $color_orange;
    }

    .text-red {
      color: red;
    }

    span.price-exclusive {
      font-size: 26px;
      font-weight: 700;
    }

    .rebate-group, .margin-group {
      i {
        color: #5ab2ff;
      }

      .rebate-item, .margin-item {
        border-right: 1px solid #ddd;

        span {
          display: block;
          text-align: center;

          &.price {
            font-weight: bold;
          }
        }
      }
    }

    .quantity-group {
      display: flex;
      align-items: center;

      #input-quantity {
        margin-right: 10px;
        width: 70px;
      }
    }

    .total-group {
      margin-top: 20px;

      span.total {
        font-size: 26px;
        color: red;
      }
    }
  }

  .product-tabs-wrapper {
    .nav-tabs {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      li {
        margin-bottom: 0;
        border-right: 1px solid #eee;

        a {
          padding: 20px 40px;
          border: none;
          color: #000;

          &:hover {
            border: none;
          }
        }

        &.active {
          a {
            border: none;
            font-weight: bold;
            color: $color_orange;
          }
        }
      }
    }

    .tab-content {
      margin-top: 30px;
    }
  }

  .seller-info-wrapper {
    padding: 20px;
    text-align: center;
    background: #f7f7f7;

    img.avatar {
      width: 60px;
      height: 60px;
      border-radius: 60px * 0.5;
    }

    p {
      margin-bottom: 10px;
    }

    a.btn-seller {
      text-transform: none;
      font-weight: 500;
    }
  }
}
