<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<title>European Country Code Chart</title>
<style>
  .main{
    width: 90%;
    margin: 30px auto;
    /*border: 5px solid #478BFF;*/
    box-shadow: #aaa 0 0 10px;
    padding: 10px 5%;
  }
  .coulmn3,.coulmn2,.coulmn1{
    margin: 40px auto;
  }
  h1{
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
  }
  h4{
    font-size: 20px;
    margin: 20px 0;
  }
  h4 span{
    font-weight: bold;
    padding-right: 10px;
  }
  .coulmn3 .table{
    /*border: 1px solid #eee;*/
  }
  .coulmn3 .table>thead>tr>th,
  .coulmn3 .table>tbody>tr>td{
    padding: 10px;
    border-top: none;
    text-align: center;
    vertical-align: middle;
  }
  .aa td,.aa th{
    padding: 5px 8px;
  }
  .aa tr>td:first-child{
    width: 400px;
  }
</style>
<div class="main">
  <h1>
    European Country Code Chart
  </h1>
  <div class="coulmn3">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th width="20%">Country</th>
        <th width="20%">Country Code</th>
        <th width="20%"></th>
        <th width="20%">Country</th>
        <th width="20%">Country Code</th>
      </tr>
      </thead>
      <tbody>
      {% if list %}
        {% for rowed in list|batch(2) %}
        <tr>
          {% for key, item in rowed %}
            <td>{{ item.Country }}</td>
            <td>{{ item.Code }}</td>
            {% if key%2 == 0 %}
            <td></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      {% else %}
        <td colspan="5">No Record.</td>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>