{# #6653 上门取货 - 修改取货信息弹窗 #}
<div class="modal fade" tabindex="-1" role="dialog" id="editPickingInfoModal" data-backdrop="static">
  <div class="modal-dialog oris-modal" style="width: 1080px;">
    <div class="modal-content" id="editPickingInfoModalContent" style="border-radius:0px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
        <div class="modal-title">Requested Pick-up Information</div>
      </div>
      <input type="hidden" name="sales_order_id" id="sales_order_id">
      <div class="modal-body">
        <div class="sales-order-info flex">
          <div class="detail-info flex">
            <div class="id-info">Sales Order ID : <span class="bold" id="salesOrderId"></span></div>
            <div class="platform-info">Platform : <span class="bold">Buyer Pick-up</span></div>
          </div>
          <div class="info-tip">
            At least <span class="bold">5 business</span> days are required for the warehouse to prepare the order.
          </div>
        </div>
        <div>
          <table class="oris-table table-border no-hover">
            <thead>
            <tr>
              <th class="edit-col">Requested Pick-up Warehouse</th>
              <th class="edit-col">Requested Pick-up Date</th>
              <th class="edit-col">Pick-up Person's Name</th>
              <th class="edit-col text-left">Pick-up Person's Contact<br>Number</th>
              <th class="edit-col">Require Palletized Service</th>
              <th class="edit-col">Accept Warehouse<br>Location Adjustment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="edit-col"><input class="oris-input" id="warehouse_code"></input></td>
              <td class="edit-col">
                <div class="oris-ingroup action-clear">
                  <input type="text" name="apply_date" value=""
                         placeholder="" id="apply_date" class="oris-input" autocomplete="off" readonly/>
                  <i class="giga icon-v10quxiao-01 oris-clear"></i>
                  {# <span class="oris-ingroup-date"><i class="giga icon-riliriqi"></i></span> #}
                </div>
              </td>
              <td class="edit-col"><input class="oris-input" id="user_name"></input></td>
              <td class="edit-col"><input class="oris-input" id="user_phone"></input></td>
              <td class="edit-col">
                <div class="oris-select pickup-select">
                  <select name="need_tray" id="need_tray" class="selectpicker">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </td>
              <td class="edit-col">
                <div class="oris-select pickup-select">
                  <select name="can_adjust" id="can_adjust" class="selectpicker">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="detail-container">
          <div class="detail-title">Requested Pick-up List</div>
          <table class="oris-table table-border">
            <thead>
            <tr>
              <th class="detail-col text-left" style="padding-left: 50px">Item Code</th>
              <th class="text-center detail-col">Qty</th>
            </tr>
            </thead>
            <tbody id="detail-content">

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="oris-button" id="modalSubmit" onclick="savePickingInfoHandle()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #editPickingInfoModal .flex {
    display: flex;
    align-items: center;
  }

  #editPickingInfoModal .bold {
    font-weight: bold;
  }

  #editPickingInfoModal .modal-header {
    border-bottom: 1px solid #e5e5e5;
  }

  #editPickingInfoModal .sales-order-info {
    justify-content: space-between;
    margin-bottom: 16px;
  }

  #editPickingInfoModal .platform-info {
    margin-left: 52px;
  }

  #editPickingInfoModal .info-tip {
    padding: 8px 34px;
    background-color: #FFEFE4;
    border-radius: 19px 0px 0px 19px;
    margin-right: -24px;
  }

  #editPickingInfoModal .detail-container {
    margin-top: 22px;
  }

  #editPickingInfoModal .detail-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  #editPickingInfoModal .detail-col {
    width: 50%;
  }

  #editPickingInfoModal .edit-col {
    width: 16.7%;
    padding: 10px 12px;
  }

  #editPickingInfoModal .table-border td {
    border-right: 1px solid #dcdcdc;
  }

  #editPickingInfoModal .table-border td:first-child {
    border-left: 1px solid #dcdcdc;
  }

  #editPickingInfoModal .table-border {
    border-bottom: 1px solid #dcdcdc;
  }

  #editPickingInfoModal .oris-table, .oris-table td, .oris-intable .oris-intable-td {
    border-bottom: 1px solid #dcdcdc;
  }

  #editPickingInfoModal .oris-table>tbody tr:last-child td {
    border-bottom: none;
  }

  #editPickingInfoModal .pickup-select .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #c1c1c1;
  }

  #editPickingInfoModal .detail-container {
    max-height: calc(80vh - 260px);
    overflow-y: auto;
  }

  #editPickingInfoModal .itemcode-col img {
    margin-left: 4px;
  }

  #editPickingInfoModal .itemcode-col img:first-child {
    margin-left: 6px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
    // 初始化编辑收货信息弹窗下拉列表
    $("#editPickingInfoModal #need_tray").selectpicker();
    $("#editPickingInfoModal #can_adjust").selectpicker();
    //$('.dropdown-toggle').dropdown();
  });

  function setDefaultValue(data) {
    // 设置订单编号
    $('#salesOrderId').html(data.order_id);
    let content = "";
    // 设置编辑默认内容
    $('#sales_order_id').val(data.id);
    $('#warehouse_code').val(data.pick_up.warehouse.WarehouseCode);
    $('#apply_date').val(data.pick_up.apply_date);
    $('#user_name').val(data.pick_up.user_name);
    $('#user_phone').val(data.pick_up.user_phone);
    let pickupDate = data.pick_up.apply_date;

    //节假日与周末不可选
    let forbiddenDates = data.date_control.unavailableDates;
    $('#apply_date').datetimepicker({
      pickDate: true,
      pickTime: false,
      defaultDate: new Date(pickupDate),
      minDate: moment(forbiddenDates[0]),
      maxDate: moment().add(30, "days"),
      format: 'YYYY-MM-DD',
      disabledDates: forbiddenDates,
    });

    // 下拉框默认值
    $('#editPickingInfoModal #need_tray').val(data.pick_up.need_tray);
    $('#editPickingInfoModal #can_adjust').val(data.pick_up.can_adjust);

    $("#editPickingInfoModal #need_tray").selectpicker('refresh');
    $("#editPickingInfoModal #can_adjust").selectpicker('refresh');

    // 设置表格内容
    for (let info of data.lines) {
      let itemCode = info.item_code;
      for (var i = 0; i < info.tags.length; i++) {
        itemCode += info.tags[i];
      }
      content += `
              <tr>
                <td class="detail-col itemcode-col text-left" style="padding-left: 50px">` + itemCode + `</td>
                <td class="text-center detail-col">${info.qty}</td>
              </tr>
            `
    }
    $("#editPickingInfoModal #detail-content").html(content);
  }

  //保存
  function savePickingInfoHandle() {
    // 获取上门取货编辑信息
    block.blockUI();
    $.ajax({
      type: 'POST',
      url: '{{ url('account/customer_order/editPickingInfoHandle') }}',
      data: {
        sales_order_id:$('#sales_order_id').val(),
        warehouse_code: $('#warehouse_code').val(),
        apply_date: $('#apply_date').val(),
        user_name: $('#user_name').val(),
        user_phone: $('#user_phone').val(),
        need_tray: $('#editPickingInfoModal #need_tray').val(),
        can_adjust: $("#editPickingInfoModal #can_adjust").val(),
      },
      success: function (json) {
        if (json.code == 200) {
          layer.msg(json.msg);
          $("#editPickingInfoModal").modal('hide');
        } else {
          layer.msg(json.msg, {icon: 5});
        }
        block.unBlockUI();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.msg(xhr.responseText, {icon: 5});
        block.unBlockUI();
      }
    })
  }
</script>