<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<title> How to Upload Giga Pickup Order Lists from Walmart</title>
<style>
  .main{
    width: 90%;
    margin: 30px auto;
    /*border: 5px solid #478BFF;*/
    box-shadow: #aaa 0 0 10px;
    padding: 10px 5%;
  }
  .coulmn3,.coulmn2,.coulmn1{
    margin: 40px auto;
  }
  h1{
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
  }
  h4{
    font-size: 20px;
    margin: 20px 0;
  }
  h4 span{
    font-weight: bold;
    padding-right: 10px;
  }
  .coulmn3 .table{
    border: 1px solid #eee;
  }
  .coulmn3 .table>thead>tr>th,
  .coulmn3 .table>tbody>tr>td{
    padding: 10px;
    border-top: none;
    text-align: center;
    vertical-align: middle;
  }

  .coulmn3 .table>tbody>tr>td:last-child{
    text-align: left;
  }
  .aa td,.aa th{
    padding: 5px 8px;
  }
  .aa tr>td:first-child{
    width: 400px;
  }
</style>
<div class="main">
  <h1>
    Sales Order Import Instructions for Buyer Pick-up
  </h1>
  <div class="coulmn1">
    <h4>
      <span>Step 1: </span> Download the template for Buyer Pick-up request on the Marketplace
    </h4>
  </div>
  <div class="coulmn2">
    <h4>
      <span>Step 2: </span> Fill in the information required for the Pick-up and save
    </h4>
  </div>
  <div class="coulmn3">
    <h4>Instructions are on the Field of the Buyer Pick-up template:</h4>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th width="20%">Field Name</th>
        <th width="18%">Required? </th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>*Sales Order ID</td>
        <td>Yes</td>
        <td>Sales Order ID is limited to 20 characters and must be unique. It is suggested to use Buyer ID as prefix, upload date plus serial number as a distinction.</td>
      </tr>
      <tr>
        <td>*B2B Item Code</td>
        <td>Yes</td>
        <td>Item Code on the B2B Marketplace</td>
      </tr>
      <tr>
        <td>*Quantity</td>
        <td>Yes</td>
        <td>The quantity of items to be picked up</td>
      </tr>
      <tr>
        <td>*B2B Warehouse Code</td>
        <td>Yes</td>
        <td>
          Fill in the warehouse code① that corresponds to the pick-up warehouse. Please specify the pick-up warehouse according to the inventory distribution② in different warehouses
          <br/>① Warehouse codes and addresses can be checked in External Platform Mapping --> Warehouse Mapping --> Create
          <br/>② The inventory distribution can be viewed on each Product’s page
        </td>
      </tr>
      <tr>
        <td>*Requested Pick-up Date</td>
        <td>Yes</td>
        <td>
          The date that you wish to pick up the goods should be in the MM/DD/YYYY format. At least 5 business days should be left for the warehouse to prepare the goods
        </td>
      </tr>
      <tr>
        <td>*Pick-up Person's Name</td>
        <td>Yes</td>
        <td>The name of the pickup person designated by the buyer</td>
      </tr>
      <tr>
        <td>*Pick-up Person's Contact Number</td>
        <td>Yes</td>
        <td>The contact number of the pickup customer designated by the buyer</td>
      </tr>
      <tr>
        <td>*Require Palletized Service?</td>
        <td>Yes</td>
        <td>
          Two options: Yes/No
          <br/>Yes - the palletized service is required
          <br/>No - the palletized service is not required</td>
      </tr>
      <tr>
        <td>*Accept Warehouse Location Adjustment?</td>
        <td>Yes</td>
        <td>
          Do you accept picking up from other warehouses when the inventory of the requested pick-up warehouse is insufficient?
          <br/>Two options: Yes/No
          <br/>Yes - accept picking from other warehouses
          <br/>No - do not accept picking from other warehouses</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="coulmn2">
    <h4>
      <span>Step 3: </span>Upload the completed template
    </h4>
  </div>
</div>
