
<link href="catalog/view/theme/yzcTheme/stylesheet/seller/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/css/common/common.css">
<style>
  .upload-confirm-container {
    /* padding: 24px; */
    max-height: calc(80vh - 72px);
    overflow-y: auto;
  }

  .upload-confirm-container .table-title {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .upload-confirm-container .modal-header {
    border-bottom: 1px solid #e5e5e5;
  }

  .upload-confirm-container .table-border td:last-child {
    border-right: 1px solid #dcdcdc;
  }

  .upload-confirm-container .table-border td:first-child {
    border-left: 1px solid #dcdcdc;
  }

  .upload-confirm-container .table-border {
    border-bottom: 1px solid #dcdcdc;
  }

  .upload-confirm-container .oris-table, .oris-table td, .oris-intable .oris-intable-td {
    border-bottom: 1px solid #dcdcdc;
  }

  .upload-confirm-container .oris-table>tbody tr:last-child td {
    border-bottom: none;
  }

  .upload-confirm-container .itemcode-col {
    width: 150px;
  }

  .upload-confirm-container .itemcode-col img:first-child {
    margin-left: 6px;
  }

  .upload-confirm-container .itemcode-col img{
    margin-left: 4px;
  }
</style>

<div class="upload-confirm-container" id="upload-confirm-modal">
  <div class="table-title">
    These <span id="upload-confirm-ordernumber"></span> order(s) were successfully uploaded.
  </div>
  <div>
    <table class="oris-table table-border">
      <thead>
      <tr>
        <th class="oris-w42">NO.</th>
        <th class="text-left" style="width:150px">Sales Order ID</th>
        <th class="text-left itemcode-col">Item Code</th>
        <th class="oris-w80">Qty</th>
        <th style="width:150px">B2B Warehouse Code</th>
        <th class="oris-w120">Requested Pickup Date</th>
      </tr>
      </thead>
      <tbody id="upload-confirm-content">
      </tbody>
    </table>
  </div>
</div>

