<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<title> How to Upload Giga Pickup Order Lists from Walmart</title>
<style>
  .main{
    width: 90%;
    margin: 30px auto;
    /*border: 5px solid #478BFF;*/
    box-shadow: #aaa 0 0 10px;
    padding: 10px 5%;
  }
  .coulmn3,.coulmn2,.coulmn1{
    margin: 40px auto;
  }
  h1{
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
  }
  h4{
    font-size: 20px;
    margin: 20px 0;
  }
  h4 span{
    font-weight: bold;
    padding-right: 10px;
  }
  .coulmn3 .table{
    border: 1px solid #eee;
  }
  .coulmn3 .table>thead>tr>th,
  .coulmn3 .table>tbody>tr>td{
    padding: 10px;
    border-top: none;
    text-align: center;
    vertical-align: middle;
  }

  .coulmn3 .table>tbody>tr>td:last-child{
    text-align: left;
  }
  .aa td,.aa th{
    padding: 5px 8px;
  }
  .aa tr>td:first-child{
    width: 400px;
  }
</style>
<div class="main">
  <h1>
    How to Upload Giga Pickup Order Lists from Walmart
  </h1>
  <div class="coulmn1">
    <h4>
     <span> Step 1 </span> Download the DSV file from Walmart site backend page:
    </h4>
  </div>
  <div class="coulmn2">
    <h4>
     <span> Step 2 </span> Upload the downloaded DSV file to Giga Cloud marketplace, as shown below:
    </h4>
    <img src="./image/catalog/walmart/walmart3.png" width="100%">
  </div>
  <div class="coulmn3">
    <h4>Explanation to field names:</h4>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th width="20%">Field Names</th>
        <th width="18%">Required field? </th>
        <th>Explanation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>PO#</td>
        <td>Yes</td>
        <td>This is the only sales order ID on the Marketplace for verification purposes, it cannot be repeated. </td>
      </tr>
      <tr>
        <td>Order#</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Order Date</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Ship By</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Customer Name</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Customer Shipping Address</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Customer Phone Number</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Store Id</td>
        <td>No</td>
        <td> Store Id of S2S can not be left blank.</td>
      </tr>
      <tr>
        <td>Ship to Address 1</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Ship to Address 2</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>City</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>State</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Zip</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>FLIDS</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Ship Node</td>
        <td>Yes</td>
        <td>Create a connection between the Ship Node and the corresponding field name in the B2B warehouse.<br>
          In the External Platform Mapping, select the ' Warehouse Mapping ' tab.<br>
          Please note " PLATFORM WAREHOUSE NAME " is referencing the Walmart Ship Node. " B2B Warehouse Code " is referencing the code of the warehouse.
        </td>
      </tr>
      <tr>
        <td>Line#</td>
        <td>Yes</td>
        <td> Line# cannot be the same for the same order</td>
      </tr>
      <tr>
        <td>UPC</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>SKU</td>
        <td>Yes</td>
        <td>Build a mapping for SKU with corresponding field names. Under External Platform Mapping, click ' Item Code Mapping ': " PLATFORM SKU " refers to the general SKU. " B2B Item Code " refers to the item code of the product on the Marketplace.</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Item Description</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Qty</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Ship To</td>
        <td>Yes</td>
        <td>If the field states " Ship to Store ", upload Store Label of all related SKUs (can be repeated).  </td>
      </tr>
      <tr>
        <td>Shipping Method</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Requested Carrier Method</td>
        <td>Yes</td>
        <td></td>
      </tr>
      <tr>
        <td>Carrier</td>
        <td>Yes</td>
        <td>
          <table class="aa">
            <tr>
            <th>Acceptable carrier：</th>
            </tr>
            <tr>
            <td>FedEx Ground</td>
            <td>FedEx 2Day</td>

            </tr>
            <tr>
              <td>FedEx Home Delivery</td>
              <td>FedEx Home Delivery no SDR</td>
            </tr>
            <tr>

            <td>FedEx 2Day - S2S</td>
            <td>FedEx Ground - S2S</td>
            </tr>
            <tr>
            <td>FHD3.0 S2H XML67</td>
            <td>UPS Ground</td>

            </tr>
            <tr>
              <td>UPS Second day Air</td>
              <td>UPS Ground - S2S</td>
            </tr>
            <tr>

            <td>UPS Ground - DSV</td>
            <td>UPS Second Day Air - S2S</td>
            </tr>
            <tr>
              <td>UPS Next Day Air - S2S</td>
              <td>UPS Next Day Air</td>

            </tr>
            <tr>
              <td>Pilot Freight Basic Delivery</td>
              <td>Yellow Freight System - S2S</td>

            </tr>
            <tr>
              <td>Yellow Freight System</td>
              <td>Seko Worldwide</td>
            </tr>
            <tr>
              <td>Estes Forwarding Worldwide Basic Delivery</td>

            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Update Status</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Update Qty</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Tracking Number</td>
        <td>No</td>
        <td></td>
      </tr>
      <tr>
        <td>Package ASN</td>
        <td>No</td>
        <td>If the field states " Ship to Store ", the field " Package ASN " will be required field.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>