<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="catalog/view/javascript/corderTemp/reset.css">
    <link rel="stylesheet" href="catalog/view/javascript/corderTemp/head.css">
    <link rel="stylesheet" href="catalog/view/javascript/corderTemp/content_reset.css">
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">{#B2B页面改版 图标字体#}
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>

        @media (max-width:1200px) {
            .main{
                width: 95%;
            }
        }
        @media (min-width: 1200px) {
            .main{
                width: 85%;
            }
        }
        @media (min-width: 1440px) {
            .main{
                width: 75%;
            }
        }
        .main{
            margin: 50px auto;
            box-shadow: #aaa 0 0 10px;
            padding: 10px 5%;
        }
        .coulmn4,.coulmn3,.coulmn2,.coulmn1{
            margin: 40px auto;
        }
        h1{
            text-align: center;
            font-weight: bold;
            margin: 50px auto;
        }
        h4{
            font-size: 20px;
            margin: 20px 0;
        }
        h4 span{
            font-weight: bold;
            padding-right: 10px;
        }
        .coulmn3 .table{
            border: 1px solid #eee;
        }
        .coulmn3 .table>thead>tr>th,
        .coulmn3 .table>tbody>tr>td{
            padding: 10px;
            border-top: none;
            text-align: center;
            vertical-align: middle;
        }

        .coulmn3 .table>tbody>tr>td:last-child{
            text-align: left;
        }
    </style>
</head>
<body>
<div class="main">
    <h1>
        External sales platform will call order import instructions
    </h1>
    <div class="coulmn1">
        <h4>
            <span> Step 1 </span> Get order information from external sales platform
        </h4>
    </div>
    <div class="coulmn2">
        <h4>
            <span> Step 2 </span>Download Giga Cloud platform order import template
        </h4>
        <img src="image/catalog/otherPlatform/corderOther1.png" width="100%">
    </div>
    <div class="coulmn3">
        <h4>
            <span> Step 3 </span>enter the order information into the order template and save it
        </h4>
        <h4>Instructions on how to fill out the order template:</h4>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th width="20%">Field Names</th>
                <th width="18%">Required? </th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>*Platform</td>
                <td>Yes</td>
                <td>
                  Please note that only the labels of general selling platforms that include Home Depot, Overstock and Lowe's, are accepted by the GigaCloud B2B Marketplace Will Call service.
                </td>
            </tr>
            <tr>
                <td>*Sales Order ID</td>
                <td>Yes</td>
                <td>Order ID, usually from sales platform.  This ID cannot be duplicated within your account.</td>
            </tr>
            <tr>
                <td>*B2B Item Code</td>
                <td>Yes</td>
                <td>The Item Code you are purchasing on Giga Cloud</td>
            </tr>
            <tr>
                <td>*Quantity</td>
                <td>Yes</td>
                <td>The amount of the item you are purchasing</td>
            </tr>
            <tr>
                <td>*Ship Method</td>
                <td>Yes</td>
                <td>Selections：<br>
                    Small Parcel (For smaller packages, <150lbs)<br>
                    LTL（Delivery through trucking company）<br>
                    This is related to the Carrier field, please select the corresponding Ship Method the carrier supports</td>
            </tr>
            <tr>
                <td>*Carrier</td>
                <td>Yes</td>
                <td>
                    This is a list of current supported will call carrier<br>
                    For Small Parcel:<br>
                    FedEx Ground/Home Delivery &nbsp;  FedEx Express (2<sup>nd</sup> Day, Next Day) &nbsp;  UPS Ground &nbsp;  UPS 2nd /Next Day <br>
                    For LTL:<br>
                    ESTES&nbsp;&nbsp; CEVA&nbsp;&nbsp;  RESI&nbsp;&nbsp;  EFW&nbsp;&nbsp;  DM Transportation&nbsp;&nbsp;  ABF&nbsp;&nbsp;  AMXL<br>
                    For other other carriers, please select Other, and enter in the Remark field the name of the carrier and their contact information.
                    This will help us expand this function to other carriers.
                </td>
            </tr>
            <tr>
                <td>B2B Warehouse Code</td>
                <td>No</td>
                <td>The Giga Cloud B2B Warehouse Code (Can be found in "External Platform Mapping" page under "Create").
                    This field is required if Ship Method is LTL.
                    This field is optional if Ship Method is Small Parcel.
                    If this field is blank, system will select the warehouse based on ship to information and current inventory.
                    You can find the assigned warehouse in Order Detail after the order upload is complete
                </td>
            </tr>
            <tr>
                <td>*Customer Name</td>
                <td>Yes</td>
                <td>Recipient Name</td>
            </tr>
            <tr>
                <td>Customer Email </td>
                <td>No</td>
                <td>Recipient Email</td>
            </tr>
            <tr>
                <td>*Customer Phone Number</td>
                <td>Yes</td>
                <td>Recipient Phone Number</td>
            </tr>
            <tr>
                <td>*Ship to Address 1 </td>
                <td>Yes</td>
                <td>Ship to Address line 1</td>
            </tr>
            <tr>
                <td>*Ship to Address 2 </td>
                <td>No</td>
                <td>Ship to Address line 2</td>
            </tr>
            <tr>
                <td>*Ship To City</td>
                <td>Yes</td>
                <td>Ship To City</td>
            </tr>
            <tr>
                <td>*Ship To State</td>
                <td>Yes</td>
                <td>Ship To State</td>
            </tr>
            <tr>
                <td>*Ship To ZIP Code</td>
                <td>Yes</td>
                <td>Ship To Zip Code</td>
            </tr>
            <tr>
                <td>*Ship To Country</td>
                <td>Yes</td>
                <td>Ship To Country, for lower 48 states within the US enter "US"</td>
            </tr>
            <tr>
                <td>Tracking Number</td>
                <td>No</td>
                <td>If Sales Platform provided tracking number for the shipment, please enter it here</td>
            </tr>
            <tr>
                <td>Remark</td>
                <td>No</td>
                <td>Any notes you may have regarding the order</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="coulmn4">
        <h4>
            <span> Step 4 </span>Upload the filled template
        </h4>
        <img src="image/catalog/otherPlatform/corderOther2.png" width="100%">
    </div>
</div>
</body>
</html>