<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sku Print</title>
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/theme/yzcTheme/stylesheet/fonts.googleapis.com_open+sans.css" rel="stylesheet" type="text/css"/>
  <style>
    body {
      margin: 0 auto;
      color: #000;
    }

    .container {
      text-align: center;
    }

    .print_m {
      page-break-before: auto;
      page-break-after: always;
    }

    @media print {
      @page {
        /*size: 210mm 297mm; !* or size: 794px 1123px; *!*/
        /*size: 297mm 420mm; !* or size: 1123px 1588px; *!*/
        size: 10cm 10cm;
      }
    }

    .middle {
      display: table-cell;
      vertical-align: middle;
      #position: absolute;
      #top: 50%;
    }

    .h2, h2 {
      font-size: 50px;
    }
  </style>
</head>
<body>
{% for printData in productData %}
  {% set font_size = "50px" %}
  {% if printData.mpn|length >= 12 %}
    {% set font_size = "40px" %}
  {% endif %}
  <div class="container print_m" style="width: 10cm;">
    <h2 style="margin-top: 25px;margin-bottom: 5px">{{ printData.sku }}</h2>
    <img style="width: 8.8cm; height: 4.5cm" src="{{ printData.src }}"/>
    <h2 style="margin-top: 5px;margin-bottom: 5px;font-size: {{ font_size }}">{{ printData.mpn }}</h2>
  </div>
{% endfor %}
</body>
<script>
    window.onload = function () {
        document.body.style.padding = "0";
        document.body.style.margin = "0";
        window.print();
        return false;
    }
</script>
</html>
