{#仓库#}
<style>
    #warehouse-attr {
        margin-top: 12px;
        margin-bottom: 17px;
    }
    .clear-both{
        clear: both;
    }
    .warehouse-tip{
        color: #999;
        display: flex;
    }
    .warehouse-icon{
        margin-right: 5px;
    }
    .warehouse-icon i.giga{
        font-size: 13px;
	    position: relative;
        top: -2px;
    }
    .warehouse-text{
        word-break: break-word;
        line-height: 16px;
        font-size: 12px;
    }
</style>
{% if isCollectionFromDomicile %}
    {% if warehouse_list %}
        <div style="border-bottom: 0px solid #e5e5e5;">
            <div id="warehouse-attr">
                <div class="dt text-muted" >
                    <span>Inventory
                        <br/>Distribution
                    </span>
                </div>
                <div class="dd">
                    <div>
                        {% for key,value in warehouse_list %}
                            <div class="warehouse_store">
                                {{ value.warehouse_code }}
                                <br/>
                                {% if value.stock_qty is not null %}
                                    {{ value.stock_qty }}
                                {% elseif value.stock_qty < 0 %}
                                    0
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="clear-both"></div>
                    </div>
                    <div class="warehouse-tip">
                        <div class="warehouse-icon"><i class="giga icon-xinxi1"></i></div>
                        <div class="warehouse-text">
                            Inventory Distribution is displayed for your reference only. The actual inventory quantity that can be purchased shall be subject to the available quantity displayed below.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endif %}
