{# 7724 不可抗力弹框通用 Sumbmit Force Majuere Claim #}
<style type="text/css">
.force-claim-layer .layer-label {
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.force-claim-layer .mt-10 {
  margin-top: 10px;
}

.force-claim-layer .red {
  color: red;
}

.force-claim-layer .pos-rela {
  position: relative;
}

.force-claim-layer textarea {
  width: 100%;
  resize: none;
  height: 120px;
  padding-bottom: 24px;
}

.force-claim-layer .pos-rela .num-count {
  position: relative;
  right: -484px;
  display: inline-block;
  width: 80px;
  text-align: right;
  bottom: 20px;
  color: #bbb;
}

.force-claim-layer .wrong-tips {
  display: none;
}

.force-claim-layer .uploaderInput {
  display: none;
}

.force-claim-layer .fileBtn {
  box-shadow: none;
  float: right;
  margin-left: 5px;
  padding: 0;
  background-color: #fff;
  border: none;
}

.force-claim-layer .check-btn {
  color: green;
}

.force-claim-layer .del-btn {
  color: #333;
  display: none;
}

.force-claim-layer p:hover {
  background-color: #f3f5f7;
}

.force-claim-layer p:hover .del-btn {
  display: block;
  background-color: #f3f5f7;
}

.force-claim-layer p:hover .check-btn {
  display: none;
}

.force-claim-layer .add p {
  line-height: 22px;
  height: 22px;
}
.force-claim-layer .text-content {
  height: 120px;
  overflow: hidden;
}

.tooltip {
  z-index: 99999999999 !important;
}
.layui-layer-btn, .layui-layer-page .layui-layer-btn {
  padding-bottom: 10px;
}
.layui-layer-btn a{
  line-height: 26px;
}
.force-claim-layer a.btn {
  margin-bottom: 10px;
}
</style>
<div class="force-claim-layer" id="force-claim-layer" style="display: none;">
  <div class="claim-des">
    By submitting this claim, you are agreeing to processing an Agreement Termination Request for the Future Goods Agreement (ID:<span class="agreeID"></span>) with delivery date of <span class="agreeDate"></span>, due to inability to deliver on account of force majuere.</div>
  <div class="layer-label mt-10">
    <span class="red">*</span>&nbsp;Please provide a reason for submitting you claim.
  </div>
  <div class="pos-rela text-content">
    <textarea onkeyup="changeText(this)" class="form-control" minlength="1" maxlength="2000" class="form-control" placeholder=""></textarea>
    <span class="num-count">0/2000</span>
  </div>
  <span class="red wrong-tips">You must provide a reason for submitting your claim.</span>
  <div class="layer-label" style="padding: 6px 0;">
    Please upload supportive files if necessary.&nbsp;<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="Upload limited to 5 files in .JPG or .JPEG or .PNG or .PDF format only."></i>
  </div>
  <a onclick="claimUpload(this);" class="btn btn-primary">Upload Files</a>
  <input id='uploaderInput' class="uploaderInput" type='file' name='file' value="Upload Files" accept='image/jpg,image/jpeg,application/pdf,image/png' title="" multiple />
  <div id="inputFiles">
  </div>
</div>
<script type="text/javascript">
var files = document.getElementById("uploaderInput").files;
var fileList = [];
var delArr = [];
$().ready(function() {
  initAppealLayer();
})

function initAppealLayer() {
  $("#uploaderInput").change(function() {
    var fileArr = $(this)[0].files;
    for (var i = 0; i < fileArr.length; i++) {
      // 过滤文件类型 并且只能最多上传5个
      if (fileList.length < 5 && (fileArr[i]['type'] === 'application/pdf' || fileArr[i]['type'] === 'image/jpg' || fileArr[i]['type'] === 'image/jpeg' || fileArr[i]['type'] === 'image/png')) {
        fileList.push(fileArr[i]);
        $("#inputFiles").append(
          `<div class="add"><p for="message-text" class="box"  style="width: 100%;height: auto;word-wrap:break-word;word-break:break-all;overflow: hidden" ><a>` +
          fileArr[i].name +
          ' </a><button type="button" class="fileBtn del-btn"><i class="giga icon-sidebar-clear" aria-hidden="true"></i></button>' +
          '<button type="button" class="fileBtn check-btn"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></p ><div>');
      }
    }
    console.log(fileList)
  });
  $("#inputFiles").on('click', '.del-btn', function(e) {
    e.stopPropagation();
    var index = $(this).parent().parent().index();
    $(this).parent().parent().remove();
    fileList.splice(index, 1);
    // 每次删除之后清空input内容
     $("#uploaderInput").val('');
    console.log(fileList)
  });
}

function changeText(obj) {
  //获取输入内容
  var userDesc = $(obj).val();
  var calcReturn = calcStringLength(userDesc.replace(/^\s*/g,''));
  //判断字数
  var len = calcReturn.len;
  if (len > 2000) {
    len = 2000
  }
  if (len > 0) {
    $('#force-claim-layer').find('span.wrong-tips').hide();
  }
  $(obj).val(calcReturn.fullStr)
  //显示字数
  $(obj).next().html(len + '/2000');
}
// 校验字符长度，中文和日本算两个字符，开始不允许输入空格，并且前后空格不加入计算
function calcStringLength(str) {
  var len = 0;
  var charCode = -1;
  var fullStr = '';
  var lrNoEmpty = str.trim(); // 前后去空格
  if (!str || !str.length) {
    return { 'len': len, 'fullStr': fullStr };;
  }
  for (var i = 0; i < str.length; i++) {
    charCode = lrNoEmpty.charCodeAt(i);
    if (charCode >= 2048 && charCode <= 40869) {
      len += 2;
    } else if (!isNaN(charCode)) {
      len++;
    }
    if (len <= 2000) {
      fullStr += str[i];
    }
  }
  return { 'len': len, 'fullStr': fullStr };
}

function claimUpload() {
  $('#uploaderInput').trigger('click')
}

function checkFilesSize(file) {
  var isOverflow = false;
  for (var i = 0; i < file.length; i++) {
    if (file[i]['size'] / 1024 / 1024 > 20) {
      isOverflow = true;
    }
  }
  return isOverflow;
}
</script>