*
!.gitignore
!/cart/
/category/
!/GuidePic/
!/HomePageSlideshow/
!/Logo/
!/PayMethod/
!/product/
!/user/
!/cart.png
!/category-down.png
!/eye-orange.png
!/index.html
!/not-chrome-notice.png
!/opencart.ico
!/opencart-logo.png
!/placeholder-228x228.png
!/profile-pic.png
!/search.png
/walmart/
/wayfair/
/otherPlatform/
