<div class="row " style="padding-left: 10px;">
  <div class="request" style="text-align: right">
    <span style="color: #1e91cf">REQUIRED</span>
  </div>
  <div style="position: relative">
    <textarea id="enterMessage" minlength="1" maxlength="2000" style="resize: none;height: 120px" class="form-control" placeholder="Enter message to buyer..."></textarea>
    <span class="count-str" id="countStr">0/2000</span>
    <span id="enterMessageError" class="red"></span>
  </div>
</div>