.content-box {
    border : 2px solid #229ac8;
    margin-top: 20px;
    padding: 34px 30px;
}

.content-title {
    padding: 0 10px 44px 10px;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    border-bottom: 4px solid #229ac8;
    margin-bottom: 20px;
}

.content-title div {
    float: left;
    border-right: 2px solid #229ac8;
}

.content {
    padding: 0 10px 44px 10px;
    font-size: 16px;
    clear: both;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.content:last-child {
    border-bottom: none;
}

.content1 {
    height: 190px;
}

.content2, .content3, .content6,  .content8,  .content10,.content12, .content16 , .content19{
    height: 55px;
}

.content4 {
  height:130px;
}
.content5 {
  height:450px;
}
.content7 {
  height:230px;
}
.content9 {
  height:80px;
}

.content11 {
  height:55px;
}
.content12 {
    height:210px;
}
.content13 {
  height:80px;
}
.content14 {
  height:380px;
}
.content15 {
  height:55px;
}
.content17 {
  height:55px;
}
.content18 {
   height:55px;
}
.content20 {
  height:55px;
}
.content21 {
   height:55px;
 }
.content22 {
    height:195px;
}
.content23 {
    height:115px;
}
.content24 {
    height:45px;
}
.content div {
    float: left;
}

.content-title div:last-child {
    border-right: none;
}

.title1 {
    width: 58px;
    text-align: center;
}

.title2 {
    width: 150px;
    text-align: center;


}

.title3 {
    width: 298px;
    text-align: center;
}

.title4 {
    width: 440px;
    text-align: center;
}

.title5 {
    width:250px;
    text-align: center;
}

.entry {
    width: 290px;
    text-align: left;
    margin-left: 44px;
    line-height: 24px;
}

.exp {
    text-align: left;
    width: 390px;
    margin-left: 16px;
    line-height: 24px;
}

.func-ti {
    font-weight: bold;
}

.fieldName {
    width: 150px;
    margin-left: 16px;
    text-align: left;
    line-height: 24px;
}



.number {
    color: white;
    font-size: 12px;
}

.remark {
    width: 200px;
    margin-left: 22px;
    text-align: left;
    line-height: 24px;
}

.number .circle {
    width: 20px;
    margin-left: 12px;
    margin-top: -6px;
    line-height: 18px;
}
