/dropshipPdf/
/information/
/mappingSku/
/new_product_csv/
/notice/
/orderCSV/
/priceCSV/
/productCSV/
/product_package/
/quoteFileUpload/
/reviewFiles/
/rmaFile/
/shipmentFile/
/specialFeeUpload/
/temp
/vendor
