{# 页面中定义 id为"file-list-container"的dom #}
<div id="file-upload-container">
  <label name="upload_files[]" class="oris-button btn-item oris-button-default upload-btn msg-upload-btn oris-button-bigger"><i class="giga icon-shangchuan upload-icon" style="font-weight:600"></i>Upload Files
    <input type="file" name='files[]' id="files" style="display:none" multiple="multiple">
  </label>
</div>

<script>
function addFile() {
  $("#files").trigger('click');
}

var extensions = {{ extension | default([]) | json_encode}};
var maxFiles = {{ max | default(5) }};
var size = {{ size | default(2) }};
var uploadFiles = [];

// 文件内容校验
function validateFile(files) {
  if (uploadFiles.length > maxFiles) {
    $.toast({
      heading: false,
      text: 'Maximum number of files is ' + maxFiles,
      position: 'top-center',
      showHideTransition: 'fade',
      icon: 'error',
      hideAfter: 5000,
      allowToastClose: false,
      loader: false,
    });
    return false
  }

  for(let file of files) {
    let msg = '';
    if(!extensions.includes(file.name.split('.')[file.name.split('.').length - 1].toLowerCase())){
      msg = "Only the following file types are supported: " + extensions.join(',');
    } else if (file.size > size * 1024) {
      msg = "Maximum file size is " + (size / 1024) + "M";
    } 
    if(msg) {
      $.toast({
        heading: false,
        text: msg,
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 5000,
        allowToastClose: false,
        loader: false,
      });
      return false
    }
  }
  return true;
}

//更新文件上传列表
function updateFileListDom(fromDom=true) {
  let files = $("#files").prop('files');

  if(!validateFile(files)) {
    return;
  }

  if(fromDom)
    Array.prototype.push.apply(uploadFiles,Array.from(files));

  if(uploadFiles.length > 0) {
    $("#file-list-container").show();

    var fileHtml = '';
    for (let i = 0; i < uploadFiles.length; i++) {
      fileHtml += `
        <div class="attach-list template file-list-item" data-file="${uploadFiles[i]}">
          <div class="attach-list-filename" title="${uploadFiles[i].name}">
          <i class="giga icon-attachment"></i>
          ${uploadFiles[i].name}
          </div>
          <div class="attach-list-btn">
            <i class="giga icon-V10_shangchuanwenjianyanzhengtongguo-01 pull-right attach-success"></i>
            <i class="giga icon-lajitong1 pull-right attach-delete" data-fileindex="${i}" onclick="removeFile(this)"></i>
          </div>
        </div>
      `
    }
    $("#file-list-container").html(fileHtml);
  } else {
    $("#file-list-container").hide();
  }
}

$("#files").on('change', function(evt){
  updateFileListDom();
})

// 删除按钮
function removeFile(el) {
  $(el).parents('.file-list-item').remove();
  var index = $(el).data('fileindex');
  uploadFiles.splice(index, 1);
  updateFileListDom(false);
}

// 获取文件列表
function getUploadFiles() {
  return uploadFiles;
}
</script>

<style>
#file-upload-container .upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-list-container {
  width: 400px;
  padding: 10px 0px;
}

#file-list-container .file-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 8px;
  font-size: 14px;
}

#file-list-container .file-list-item:hover {
  background-color: #f3f5f7;
}

#file-list-container .file-list-item:hover .attach-success {
  display: none;
}

#file-list-container .file-list-item .attach-delete {
  display: none;
}

#file-list-container .file-list-item .attach-delete:hover {
  cursor: pointer;
}

#file-list-container .file-list-item:hover .attach-delete {
  display: block;
}

#file-list-container .file-list-item .attach-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-list-container .file-list-item .attach-success {
  color: rgba(10, 173, 79, 1);
  font-size: 16px;
}

#file-list-container .attach-list-filename {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
</style>