/* 表单编辑部分 */
.introduction-container .form-container  {
  max-width: 800px;
}

/* 表单按钮部分 */
.introduction-container .btn-group-container {
  margin-top: 70px; 
}

.introduction-container .btn-group-container .el-form-item__content {
  display: flex;
  justify-content: center;
}

.introduction-container .btn-group-container .bottom-btn {
  margin: 0px 5px;
}

/* 部分输入框一半长度 */
.introduction-container .form-container .half-input {
  max-width: 400px;
}

.introduction-container .intro-input .el-textarea__inner{
  height: 240px;
}

.introduction-container .el-upload__input {
  display: none;
}


/* 状态栏 */
.introduction-container .status-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.introduction-container .status-container .status-text {
  color: #333;
  font-size: 16px;
}

.introduction-container .status-container .status-state {
  color: #FF6600;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
}
.introduction-container .status-container .success-icon {
  color: #0AAD4F;
}
.introduction-container .status-container .error-icon {
  color: #E64545;
}

.introduction-container .status-container .status-refuse-reason {
  color: #333;
  font-size: 14px;
  margin-left: 8px;
}

.introduction-container .status-container .status-cancel-audit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.introduction-container .status-container .status-cancel-audit .cancel-audit-btn{
  min-width: 96px;
  height: 22px;
  padding: 0px 12px;
  background: #EDEFF3;
  font-size: 14px;
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.introduction-container .status-container .status-cancel-audit .cancel-audit-btn:hover {
  color: #004BD8;
  cursor: pointer;
}

/* 微信文件上传控件 */
.introduction-container #wechat-image .el-upload--picture-card,
.introduction-container #wechat-image .el-upload-list--picture-card .el-upload-list__item {
  width: 120px;
  height: 120px;
  /* line-height: 120px; */
  border-radius: initial;
} 

/* 不显示上传之后的文件名 */
.introduction-container .el-upload-list--picture-card .el-upload-list__item .wrap_content_top {
  display: none;
}

.introduction-container #wechat-image .el-upload--picture-card {
  line-height: 120px;
}


.introduction-container #wechat-image .el-upload--picture-card i{
  line-height: 120px !important;
  font-size: 18px;
  font-weight: bold;
  color: #333;
} 

/* 图片介绍上传控件 */
.introduction-container #intro-images {
  margin-bottom: 10px !important;
}

.introduction-container #intro-images .el-upload--picture-card,
.introduction-container #intro-images .el-upload-list--picture-card .el-upload-list__item {
  width: 124px;
  height: 70px;
  border-radius: initial;
  margin-bottom: initial;
}

.introduction-container #intro-images .el-form-item__content {
  display: flex;
  align-items: center;
}

.introduction-container #intro-images .el-upload-list--picture-card .el-upload-list__item > div {
  width: 100%;
  height: 100%;
}

.introduction-container #intro-images .el-upload-list--picture-card {
  display: flex;
}

.introduction-container #intro-images .el-upload.el-upload--picture-card {
  display: none;
}

.introduction-container #intro-images .upload-btn.el-upload--picture-card {
  line-height: 70px;
}

/* 存在错误时的图片上传样式 */
.introduction-container #intro-images.is-error .upload-btn.el-upload--picture-card {
  border-color: #E64545;
}

.introduction-container #intro-images .upload-btn.el-upload--picture-card i{
  width: 100%;
  height: 100%;
  line-height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
} 

.introduction-container .upload-btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.introduction-container .upload-btn-group .upload-btn{
  margin-right: 10px;
}

/* 上传图片填充 */
.el-upload-list--picture-card .el-upload-list__item-thumbnail {
  object-fit: cover;
}

/* 分类选择框错误样式调整 */
.introduction-container .el-form-item.is-error .category-input {
  border-color: #E64545;
}

/* 删除图片上传动画效果 */
.el-upload-list__item {
  transition: none !important;
}

/* 图片介绍label部分 */
.introduction-container .introimage-label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.introduction-container .introimage-tip {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 24px;
}

.introduction-container .introimage-label-container .introimage-title {
  width: 140px;
}

.el-form-item__error {
  font-size: 13px !important;
  padding-top: 2px !important;
}