.module-modal .complex-form {
  padding: 0px 24px;
  margin-top: 0px;
}

.complex-form .strong-text {
  color: #ff6600;
  font-weight: bold;
}

.complex-form .complex-title-row {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

/* 标题标识 */
.complex-form .complex-title-row .tag-icon {
  width: 5px;
  height: 16px;
  background: #375ACD;
  margin-right: 8px;
}

.complex-form .complex-title-row .complex-title-text {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-right: 12px;
  width: 66px;
}

.complex-form .complex-title-row .oper-icon {
  width: 40px
}

.complex-form .complex-title-row .oper-icon:hover {
  cursor: pointer;
}

.complex-form .complex-title-row .add-button {
  height: 32px;
  margin: 10px;
}

.complex-form .complex-title-row .add-button-item {
  height: 32px;
  font-size: 12px;
}

.complex-form .complex-title-row .add-tip {
  font-size: 14px;
  color: #666;
}

/* 产品列表 */
/* 产品列表部分样式 */
.complex-item-container {
  border-bottom: 1px solid #eee;
}

.complex-item-container .products-container {
  margin-bottom: 0px !important;
  padding-bottom: 8px;
  /* border-bottom: 1px solid #eee; */
  margin-top: -12px;
}

.complex-item-container .products-container .product-item-container {
  margin-bottom: 10px;
}

.complex-item-container .products-container .product-item-container > .content {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 8px;
  padding-right: 24px;
  background: #F7F8FA;
}

.complex-item-container .products-container .product-item-container > .content:hover {
  background: #EDEFF3;
}

.complex-item-container .products-container .split-line {
  border-bottom: 1px solid #eee;
  margin: 0px;
}

.complex-item-container .products-container .product-item-container:hover {
  background-color: #EDEFF3;
}

.complex-item-container .products-container .product-item-container 
.product-img-container {
  background: #F8F8F8;
  border: 1px solid #D4D4D4;
  margin-right: 13px;
}

.complex-item-container .products-container .product-item-container .product-img{
  width: 60px;
  height: 60px;
}

/* 产品右侧信息样式 */
.complex-item-container .product-info {
  flex: 1;
}

.complex-item-container .product-info .product-info__title {
  color: #666;
  font-size: 12px;
  width: 528px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

.complex-item-container .product-info .product-info__code {
  color: #333;
  font-size: 12px;
  padding-bottom: 4px;
}

.complex-item-container .product-info .product-info__footer {
  display: flex;
  align-items: center;
}

.complex-item-container .product-info .product-info__footer-price {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-right: 39px;
}

.complex-item-container .product-info .product-info__footer-price small {
  font-size: 14px;
}

.complex-item-container .product-info .product-info__footer-qty {
  font-size: 14px;
  color: #333;
}

.hidden-icon {
  visibility: hidden;
}


