.category-edit-body {
  padding: 24px;
  margin-top: 0px !important;
  height: 100%;
}

.category-modal .el-dialog__body {
  padding-top: 10px !important;
}

.category-manual-container .category-table-header {
  background: #DDE1EA;
  height: 32px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
  padding: 0px 16px;
}

.category-manual-container .category-col {
  width: 220px;
}

.category-manual-container .button-col {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.category-manual-container .button-col .add-products-tip {
  font-size: 14px; 
  color: #666;
  margin-left: 10px;
}

.category-manual-container .category-table-header .action-col {
  padding-left: 44px;
}

.category-manual-container .action-col {
  width: 120px;
}

.category-manual-container .add-button{
  height: 32px !important;
  margin-left: 12px;
}

.category-manual-container .action-btn-col {
  margin-right: 2px;
}

.category-manual-container .category-table-body .category-table-item {
  border-bottom: 1px solid #F0F0F0;
}

.category-manual-container .category-table-body .category-table-row {
  height: 64px;
  display: flex;
  align-items: center;
}

/* 产品列表 */
/* 产品列表部分样式 */
.category-table-item .products-container .product-item-container {
  margin-bottom: 10px;
}

.category-table-item .products-container {
  margin-bottom: 20px;
}

.category-table-item .products-container .product-item-container > .content {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 8px;
  padding-right: 6px;
  background: #F7F8FA;
}

.category-table-item .products-container .product-item-container > .content:hover {
  background: #EDEFF3;
}

.category-table-item .products-container .product-item-container > .content .product-oper {
  margin-right: 8px;
}

.category-table-item .products-container .split-line {
  border-bottom: 1px solid #eee;
  margin: 0px;
}

.category-table-item .products-container .product-item-container:hover {
  background-color: #EDEFF3;
}

.category-table-item .products-container .product-item-container 
.product-img-container {
  background: #F8F8F8;
  border: 1px solid #D4D4D4;
  margin-right: 13px;
}

.category-table-item .products-container .product-item-container .product-img{
  width: 60px;
  height: 60px;
}

/* 产品右侧信息样式 */
.category-table-item .product-info {
  flex: 1;
}

.category-table-item .product-info .product-info__title {
  color: #666;
  font-size: 12px;
  width: 528px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

.category-table-item .product-info .product-info__code {
  color: #333;
  font-size: 12px;
  padding-bottom: 4px;
}

.category-table-item .product-info .product-info__footer {
  display: flex;
  align-items: center;
}

.category-table-item .product-info .product-info__footer-price {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-right: 39px;
}

.category-table-item .product-info .product-info__footer-price small {
  font-size: 14px;
}

.category-table-item .product-info .product-info__footer-qty {
  font-size: 14px;
  color: #333;
}

/* 分类添加按钮 */
.category-manual-container .category-table-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category-manual-container .category-table-footer .btn-icon {
  padding-right: 6px;
  font-size: 14px;
}

.category-manual-container .category-table-footer .category-add-tip {
  color: #333;
  font-size: 14px;
  margin-right: 15px;
}

.category-manual-container .category-table-footer .add-product-btn {
  height: 32px !important;
}

.category-auto-container .auto-category-form .el-form-item__content{
  display: flex;
}

.category-auto-container .auto-category-form .el-form-item__content .category-select-input-container {
  flex: 1;
}

.category-auto-container .auto-category-form .el-form-item__content i {
  margin-left: 10px;
}

.recommend-method-form {
  margin-bottom: 10px !important;
}

.recommend-method-form .el-form-item__label {
  line-height: initial !important;
}


.category-auto-container .auto-sort-form .el-form-item__content{
  display: flex;
}

.category-auto-container .auto-sort-form .el-form-item__content .category-select-input-container {
  flex: 1;
}

.category-auto-container .auto-sort-form .auto-sort-select {
  width: 240px;
  flex-shrink: 0;
}

.category-auto-container .auto-sort-form .sort-tip {
  margin-left: 10px;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: initial;
  word-break: break-word;
}