.ranking-form {
  padding: 0px 24px;
  height: 100%;
}

.ranking-module-modal.module-modal .module-form-body {
  height: calc(100% - 64px);
}

.module-modal .disabled-input .el-input__inner {
  background: #EDEFF3 !important;
  border: 1px solid #CCCCCC !important;
  border-radius: 2px !important;
  color: #333 !important;
}

.module-modal .disabled-input .el-input__inner:hover {
  border: 1px solid #CCCCCC !important;
}

/* 预览部分样式微调 */
.ranking-preview-container {
  padding-top: 50px;
}

.ranking-preview-container .bests-module {
  margin-top: 0px;
}