.store-profile-form {
  padding: 0px 24px;
  height: calc(100% - 64px) !important;
}

.store-profile-form .title-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

/* 标题标识 */
.store-profile-form .title-row .tag-icon {
  width: 5px;
  height: 16px;
  background: #375ACD;
  margin-right: 8px;
}

.store-profile-form .title-row .title-text {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-right: 18px;
}

.store-profile-form .title-row .oper-icon {
  color: #666;
}

.store-profile-form .title-row .oper-icon:hover {
  cursor: pointer;
}

.store-profile-form .split-line {
  height: 1px;
  width: 100%;
  margin: 20px 0px 23px 0px;
  border-bottom: 1px solid #EEEEEE;
}

/* 供应商介绍部分 */
.intro-container .intro-content-container {
  background: #EDEFF3;
  padding: 20px 24px 24px 16px;
}

.intro-container .intro-content-title-row {
  display: flex;
  align-items: center;
  color: #333;
  margin-bottom: 12px;
}

.intro-container .intro-content-title-row li span{
  color: #333;
  font-weight: bold;
  position: relative;
  left: -10px;
}

.intro-container .title-tip {
  margin-top: 6px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
}

.intro-container .intro-desc-part {
  margin-top: 18px;
}

.intro-container .intro-desc-input .el-textarea__inner{
  height: 240px;
}

/* 图片上传部分 image upload start ---- */
/* 图片介绍上传控件 */
.intro-content-container #intro-images {
  display: flex;
}

.intro-content-container #intro-images .el-upload--picture-card,
.intro-content-container #intro-images .el-upload-list--picture-card .el-upload-list__item {
  width: 124px;
  height: 70px;
  border-radius: initial;
  margin-bottom: initial;
}

.intro-content-container #intro-images .el-form-item__content {
  display: flex;
  align-items: center;
}

.intro-content-container .el-upload-list--picture-card .el-upload-list__item .wrap_content_top {
  display: none;
}


.intro-content-container #intro-images .el-upload-list--picture-card .el-upload-list__item > div {
  width: 100%;
  height: 100%;
}

.intro-content-container #intro-images .el-upload-list--picture-card {
  display: flex;
}

.intro-content-container #intro-images .el-upload.el-upload--picture-card {
  display: none;
}

.intro-content-container #intro-images .upload-btn.el-upload--picture-card {
  line-height: 70px;
}

.intro-content-container #intro-images .upload-btn.el-upload--picture-card i{
  width: 100%;
  height: 100%;
  line-height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
} 

.intro-content-container .upload-btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-content-container .upload-btn-group .upload-btn{
  margin-right: 10px;
}

/* 文件上传弹窗样式 */
.store-profile-modal #intro-images .el-dialog__body {
  padding-top: initial;
  padding: 30px 20px !important;
}

.store-profile-modal #intro-images .el-dialog {
  max-height: initial;
  height: initial;
}

.store-profile-modal .el-tabs__header {
  padding: 0px 24px;
}

.store-profile-modal ~ .v-modal {
  z-index: 2000 !important;
}
.verify-phone-modal {
  z-index: 19999999 !important;
}

.el-upload-list__item {
  transition: none !important;
}

.store-profile-modal .el-upload__input {
  display: none;
}

/* 上传图片填充 */
.el-upload-list--picture-card .el-upload-list__item-thumbnail {
  object-fit: cover;
}

/* 图片上传部分 image upload end ---- */

/* 特色标签部分 */
.tags-container .tag-item-container {
  background: #EDEFF3;
  margin-bottom: 16px;
}

.tags-container .tag-item-container .tag-item__header {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0px 18px;
  background: #DDE1EA;
  justify-content: space-between;
}

.tags-container .tag-item-container .tag-item__header:hover {
  cursor: pointer;
}

.tags-container .tag-item-container .tag-item__header-title {
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.tags-container .tag-item-container .tag-item__header-title .tag-item__header-errortip {
  color: #E64545;
  font-size: 13px;
  margin-left: 33px;
}

.tags-container .tag-item-container .tag-item__header-icongroup {
  display: flex;
  align-items: center;
}

.tags-container .tag-item-container .tag-item__header-icongroup .oper-icon:hover {
  cursor: pointer;
}

/* 特色标签内容部分 */
.tags-container .tag-item-container .tag-item__content {
  padding: 14px 14px 21px 8px;
}

.tags-container .tag-item-container .tag-item__content .content-form {
  margin-bottom: 0px;
}

.tags-container .tag-item-container .tag-item__content .content-form .el-textarea__inner {
  height: 80px;
}

.tags-container .tag-item-container .tag-item__content .title-form .el-input {
  width: 480px;
}

.tags-container .tag-item-container .tag-item__content .icon-group-container {
  display: flex;
}

.tags-container .tag-item-container .tag-item__content .icon-group-container .icon-item {
  margin-right: 10px;
  position: relative;
}

.tags-container .tag-item-container .tag-item__content .icon-group-container .icon-item:hover {
  cursor: pointer;
}

.tags-container .tag-item-container .tag-item__content .icon-group-container .tag-checked {
  color: #FF6600;
  position: absolute;
  top: -12px;
  right: -6px;
  font-size: 24px;
}

.tags-container .tag-item-container .tag-item__content .icon-group-container .tag-checked i {
  background-color: #fff;
  border-radius: 30px;
}

.intro-content-title-row__label {
  display: flex;
  flex-shrink: 0;
}

.intro-content-title-row__label > div{
  color: #333;
  font-weight: bold;
  position: relative;
  left: -10px;
}