/*
 * 全局统一样式 *5085
 * Author：panyaping
 * Date: 2020-10-09
 */

/*全局字体*/
html,
body {
  font-family: Arial, "Roboto", Helvetica, serif !important;
  font-size: 14px;
}

/* 下面相当于Chrome的独有样式overflow-y: overlay，解决滚动条导致的页面抖动问题 */
body {
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

/*屏幕自适应*/

/* xl屏幕（屏幕大于等于1440） */
@media (min-width:1480px) {
  .center-module {
    width: 1440px;
    margin: 0 auto;
  }

  /*页面右侧底部置顶按钮位置*/
  /*.side-toolbar{
    right: calc(calc(calc(100vw - 1440px) / 2) - 16px);
  }*/

  .featured-stores .store-img {
    height: calc(1280px / 7);
  }
}

/* 1440px屏幕特殊处理 整体缩小 */
@media (max-width: 1480px) {
  .center-module {
    width: 1400px;
    margin: 0 auto;
  }

  .featured-stores .store-img {
    height: calc(1240px / 7);
  }

  .slideshow .banner-container {
    width: 920px
  }

  .slideshow .slide-left,
  .slideshow .banner-right,
  .slideshow .menu-list,
  .slideshow .left-inner,
  .slideshow .left-list,
  .navbar .dropdown-first {
    width: 230px;
  }
}

/* s屏幕（统一显示1200） */
@media (max-width: 1440px) {
  .center-module {
    width: 1200px;
    margin: 0 auto;
  }

  .featured-stores .store-img {
    height: calc(1040px / 6);
  }

  .media1200 {
    display: none;
  }

  .price1200 {
    font-size: 16px !important;
  }

  .unit1200 {
    font-size: 10px;
    -webkit-transform: scale(0.8);
    transform-origin: left;
  }

  .block1200 {
    display: block;
  }

  .block1200 .pop-down {
    top: 30px !important;
    left: calc(50% - 135px) !important;
  }

  /*最小屏幕小tag大小*/
  .product-simple-template-new .tag-type {
    width: unset;
    padding: 0 !important;

  }

  .product-simple-template-new .tag-group.tag1200 {
    display: -webkit-inline-box;
    font-size: 10px;
    -webkit-transform: scale(0.86);
    transform-origin: left;
    min-height: 16px;
  }

  .product-simple-template-new .m6-t {
    margin-top: 2px;
  }

  .slideshow .slide-left,
  .slideshow .menu-list,
  .slideshow .left-inner,
  .slideshow .left-list,
  .navbar .dropdown-first {
    width: 240px;
  }

  .slideshow .banner-container,
  .slideshow .banner-img-container {
    width: 950px;
    height: 360px;
  }

  .slideshow .banner-right {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 950px;
    height: 90px;
    padding: 0px;
    top: 370px;
    left: 240px;
    background: none;
  }

  .banner-right .operations {
    width: 230px !important;
    margin-top: 0 !important;
    background: #fff;
    padding: 10px;
  }

  .banner-right .operations:not(:last-child){
    margin-right: 10px;
  }

  /*slideshow三级类目显示*/
  /*.dropmenu .third-level {
    width: 600px;
  }*/

  .new-high-card .qty-group {
    height: 34px;
  }

  /*频道title*/
  .seller-title .title {
    font-size: 24px !important;
  }

  .foot-des {
    width: 240px;
  }

  .store-pop>div {
    margin-right: 0 !important;
  }

  /*店铺页分类缩略图1200下退返品率等*/
  #search-result .grid-layout .product-information .store-pop {
    display: flex;
    justify-content: space-between;
  }

  #product_all_list .grid-layout {
    padding: 20px 10px !important;
  }
}


@media (max-width: 1240px) {
  body {
    width: 1240px;
    overflow-x: scroll;
  }

  .center-module {
    width: 1200px;
    margin: 0 20px;
  }
}

.mp-card {
  padding: 32px 0 0 20px !important;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-bordsolid {
  border: 1px solid #dcdcdc;
}

.bordsolid-tb {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.bordersolid-lr {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.just-flex {
  display: flex;
}

.default-flex {
  display: flex;
  justify-content: space-between;
}

.flex-baseline {
  align-items: baseline;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-end{
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.m0 {
  margin: 0;
}
.m0-l{
  margin-left: 0 !important;
}

.m08-t{
  margin-top: 8px;
}

.m40-l {
  margin-left: 40px;
}

.m0-b {
  margin-bottom: 0px;
}

.m16-t {
  margin-top: 16px;
}

.m16-b {
  margin-bottom: 16px;
}

.m20-t {
  margin-top: 20px;
}

.m20-r {
  margin-right: 20px !important;
}

.m24-b {
  margin-bottom: 24px !important;
}

.m24-t {
  margin-top: 24px;
}

.m30-t {
  margin-top: 30px;
}

.m30-b {
  margin-bottom: 30px;
}

.m30-l {
  margin-left: 30px;
}

.m6-t {
  margin-top: 6px;
}

.m4-t {
  margin-top: 4px;
}

.m4-r {
  margin-right: 4px;
}

.m6-r {
  margin-right: 6px;
}

.m8-t {
  margin-top: 8px;
}

.m10-l {
  margin-left: 10px;
}

.m10-t{
  margin-top: 10px;
}

.m10-b {
  margin-bottom: 10px;
}

.m40-t{
  margin-top: 40px;
}
.m40-b{
  margin-bottom: 40px;
}

.p4-t {
  padding-top: 4px;
}
.p2-b {
  padding-bottom: 2px;
}
.p8-lr {
  padding: 0 8px !important;
}

.p8-l {
  padding-left: 8px !important;
}
.p6-tb {
  padding: 6px 0;
}
.p12-l {
  padding-left: 12px;
}
.p10 {
  padding: 10px;
}

.p6-t {
  padding-top: 6px;
}
.p6-b {
  padding-bottom: 6px;
}

.p10-b {
  padding-bottom: 10px;
}

.p10-tb {
  padding: 10px 0 !important;
}

.p14-t {
  padding-top: 14px;
}

.p14-tb {
  padding: 14px 0;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-32{
  padding-right: 32px;
}
.pr-40{
  padding-right: 40px;
}


.p60-r-i {
  padding-right: 60px !important;
}

.p16-l-i {
  padding-left: 16px !important;
}
.p20-r-i{
  padding-right: 20px !important;
}
.p24-r-i{
  padding-right: 24px !important;
}
.p20-l-i {
  padding-left: 20px !important;
}
.p24-l {
  padding-left: 24px;
}
.view-more:not(.no-under):hover {
  text-decoration: underline;
}

.no-padding {
  padding: 0;
}

.no-padding-i {
  padding: 0 !important;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.flex-layout {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: end;
}

.flex-fend {
  display: flex;
  align-items: flex-end;
}.flex1 {
  flex: 1;
}

.overflow {
  overflow: hidden;
}

/*字体大小*/
.text-small {
  font-size: 12px !important;
}

.text-size13{
  font-size: 13px;
}
.text-less {
  font-size: 13px;
}

.text-size-normal {
  font-size: 14px;
}

.text-larger {
  font-size: 16px;
}

.text-bigger {
  font-size: 18px;
}

.text-most {
  font-size: 20px;
}

.text-bold {
  font-weight: bold;
}

.text-weight-normal {
  font-weight: initial;
}

/*字体颜色*/
.text-light {
  color: #666666;
}

.text-color-normal {
  color: #333333;
}

.text-warn {
  color: #ff6600;
  opacity: 0.6;
}

.text-warning {
  color: #ff6600;
}

.text-warning-i{
  color: #ff6600 !important;
}

.text-blueG{
  color: #586993;
}

/*重新定义类名，解决stylesheet.css中text-warning的hover样式冲突*/
.text-warning-a {
  color: #ff6600;
}

.text-danger {
  color: #e64545;
}

.text-link {
  color: #1a4596;
}

.text-success {
  color: #49B45D;
}

.link-color,
.link-color:hover {
  color: #004BD8;
}

.text-tips {
  color: #999999;
}
.text-score {
  color: #FF6A00;
}
.text-line-th {
  text-decoration: line-through;
}
/*主背景色*/
.main-bg {
  background: #f2f2f2 !important;
}

/*卡片背景色*/
.box-bg {
  background: #ffffff;
}

.deep-bg {
  background-color: #f4f4f4;
}

/*复选框样式*/
/* 基础样式 */

input[type=checkbox].checkbox-style1,
input[type=checkbox].checkbox-style2 {
  position: relative;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  outline: none;
}

input[type=checkbox].checkbox-style1::before,
input[type=checkbox].checkbox-style2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 2px solid #999;
}

input[type=checkbox].checkbox-style1:checked::before,
input[type=checkbox].checkbox-style2:checked::before {
  border: none;
  content: '\e62d';
  font-family: "giga";
}

/* 黑底样式 */
input[type=checkbox].checkbox-style1 {
  width: 18px;
  height: 18px;
}

input[type=checkbox].checkbox-style1::before {
  width: 18px;
  height: 18px;
  line-height: 20px;
  font-size: 13px;
}

input[type=checkbox].checkbox-style1:checked::before {
  background-color: #2f3337;
}

/* 蓝底样式 */
input[type=checkbox].checkbox-style2 {
  width: 24px;
  height: 24px;
}

input[type=checkbox].checkbox-style2::before {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}

input[type=checkbox].checkbox-style2:checked::before {
  background-color: #1a4596;
}

/*小型*/
input.small-checkbox {
  width: 18px !important;
  height: 18px !important;
}

input.small-checkbox:before {
  width: 18px !important;
  height: 18px !important;
  line-height: 20px !important;
  font-size: 13px !important;
}

/*复选框样式end*/

/*无圆角*/
.right-radius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.left-radius {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.border-r2 {
  border-radius: 2px !important;
}

/*间距*/
.mr-0 {
  margin-right: 0 !important;
}

.mr-octal1 {
  margin-right: 8px;
}

.ml-octal1 {
  margin-left: 8px;
}

.mr-octal2 {
  margin-right: 16px;
}

.mr-octal3 {
  margin-right: 24px;
}

.mr-octal4 {
  margin-right: 32px;
}

.mt-octal1 {
  margin-top: 8px;
}

.mb-octal1 {
  margin-bottom: 8px;
}


.mt-octal2 {
  margin-top: 16px;
}

.mb-octal2 {
  margin-bottom: 16px;
}

.mt-octal3 {
  margin-top: 24px;
}

.mb-octal3 {
  margin-bottom: 24px;
}

.mt-octal4 {
  margin-top: 32px;
}

.mb-octal4 {
  margin-bottom: 32px;
}

.m0-t-i {
  margin-top: 0 !important;
}

.m0-b-i {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pl-0{
  padding-left: 0 !important;
}
.pr-0{
  padding-right: 0 !important;
}
.p8-t {
  padding-top: 8px;
}

.p10-t {
  padding-top: 10px;
}

.p10-l {
  padding-left: 10px;
}
.p18-l {
  padding-left: 18px;
}
.p20-t {
  padding-top: 20px;
}
.p20-tb {
  padding: 20px 0;
}

.p20-lr {
  padding: 0 20px;
}

.p24-t {
  padding-top: 24px;
}

.p32-t {
  padding-top: 32px;
}

.p30-tb {
  padding: 30px 0;
}

.p30-l {
  padding-left: 30px;
}

.ml-06 {
  margin-left: 6px;
}

.ml-04 {
  margin-left: 4px;
}
.mt-04 {
  margin-top: 4px;
}

.mtb-04 {
  margin: 4px 0;
}

.m10-t {
  margin-top: 10px;
}

/*边框*/
.border-normal {
  border: 1px solid #333;
}

.border-lr {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.border-tb {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.bc-light {
  border-color: #dcdcdc;
}

.border-danger{
  border-color: #E64545;
}
/*按钮*/
.btn-deep {
  color: #fff;
  background-color: #1a4596;
  border-radius: 2px;
}

.btn-deep:hover {
  background-color: #0b3584;
  color: #fff;
}

.btn-contrast {
  color: #1a4596;
  border: solid 1px #1a4596;
  background-color: #fff;
  border-radius: 2px;
}

.btn-contrast:hover {
  cursor: pointer;
  background-color: #1a4596;
  color: #fff;
}

.btn-link {
  color: #004bd8;
  background-color: #fff;
  border: none;
}

.btn-link:hover {
  text-decoration: underline;
  color: #004bd8;
}

.btn-icon {
  background-color: #fff;
  border: none;
  color: #666;
}

.btn-icon:hover,
.btn-icon.active {
  color: #1a4596;
}

.light-btn {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #ff6600;
  color: #ff6600 !important;
}

.light-btn:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #ff6600 !important;
  ;
}

/*按钮end*/

/*鼠标指针形状*/
.pointer {
  cursor: pointer;
}
.cursor-not {
  cursor: not-allowed;
}
.cursor-d {
  cursor: default;
}

/*超链接hover统一样式*/
a.link,
.link-hover:hover {
  color: #004bd8 !important;
}

a.link:hover,
.underline:hover {
  text-decoration: underline;
}

/*全局combo、part、LTL图片样式;tags-image图片间隙*/
.cp-img {
  width: 14px;
  height: 14px;
  padding: 0 !important;
}

.ltl-img {
  width: 20px;
  height: 14px;
  padding: 0 !important;
}

.tags-image {
  display: flex;
  align-items: center;
}

.tags-image img {
  margin-left: 4px;
}
/* table中显示图片和说明 */
.image-td {
  display: flex;
  align-items: center;
  height: 60px;
}

.image-td .pro-image {
  padding: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #E5E5E5;
  margin-right: 8px;
}

.pos-rela {
  position: relative;
}

/*input框focus样式*/
.input-focus:focus {
  border-color: #666 !important;
  outline: none !important;
  box-shadow: none !important;
}

/*清除btn的outline*/
.btn-outline-clear:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.btn-baxshadow-clear:focus {
  box-shadow: none !important;
}

.no-margin {
  margin: 0;
}

.bot-img {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 20px 10px 0 20px;
}

.none {
  display: none;
}

.none-i {
  display: none !important;
}

/*新分页*/
.new-page {
  clear: both;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.new-page>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new-page .pagination {
  margin: 0;
}

.new-page .page-list .btn-secondary {
  border: 1px solid #dcdcdc;
  padding: 0;
  height: 32px;
  width: 48px;
}

.new-page .page-list b {
  font-weight: initial;
}

.new-page .pagination>.active>a,
.new-page .pagination>.active>a:hover,
.new-page .pagination>.active>a:focus,
.new-page .pagination>.active>span,
.new-page .pagination>.active>span:hover,
.new-page .pagination>.active>span:focus {
  background-color: #333;
  border-color: #ccc;
}

.new-page .pagination>li>a {
  color: #333;
}

.new-page .page-list,
.new-page .page-info {
  top: 0;
}

.header-right .icon-sum {
  z-index: 2;
}

.new-page .dropdown-menu {
  min-width: 80px;
}

/*input框placeholder*/
.side-list input::-moz-placeholder {
  color: #999999 !important;
  opacity: 1;
}

.side-list input:-ms-input-placeholder {
  color: #999999 !important;
}

.side-list input::-webkit-input-placeholder {
  color: #999999 !important;
}

.fixed-ceiling .batch-operations .ceiling-search input::-moz-placeholder {
  color: #999999 !important;
  opacity: 1;
}

.fixed-ceiling .batch-operations .ceiling-search input:-ms-input-placeholder {
  color: #999999 !important;
}

.fixed-ceiling .batch-operations .ceiling-search input::-webkit-input-placeholder {
  color: #999999 !important;
}

.navbar .navbar-line {
  height: 48px;
  overflow: hidden;
}

/*加购成功提醒*/
.new-alert-title {
  width: 50% !important;
  left: 25% !important;
  top: 60px !important;
  position: fixed;
  z-index: 999;
}

/*保留多个空格*/
.white-spre {
  white-space: pre
}

/*扩大点击范围6px*/
.expand-range:after {
  content: "";
  display: inline-block;
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  transform: translate(-6px, -6px);
}

/*折行*/
.break-all {
  word-break: break-all;
}

.break-word {
  word-break: break-word;
}

/*
 * tab切换页面统一样式
 * 2020-11-11
 * author: pyp
 */
.nav-oris .tab-content {
  background: #fff;
  padding: 20px;
  border: 1px solid #dcdcdc;
  min-height: 200px;
}

.nav-oris .nav-tabs li.active {
  background: #fff;
  border-radius: unset;
  border-bottom: none;
  border-top: 3px solid #004bd8;
}

.nav-oris .nav-tabs>li.active>a,
.nav-oris .nav-tabs>li.active>a:hover,
.nav-oris .nav-tabs>li.active>a:focus {
  border: none;
  border-radius: unset;
  cursor: pointer;
}

.nav-oris .nav-tabs {
  border-bottom: none;
}

.nav-oris .nav-tabs>li {
  border: 1px solid #dcdcdc;
  margin-bottom: -2px;
  background: #F7F8FA;
  height: 46px;
  margin-bottom: -1px;
}

.nav-oris .nav-tabs>li:not(:first-child) {
  margin-left: -1px;
}

.nav-oris .nav-tabs>li>a {
  margin: 0;
  border: none !important;
}

.nav-oris .nav-tabs>li:not(.active):hover {
  border: 1px solid #c4c6cf;
}

.nav-oris .nav-tabs>li>a:hover {
  color: inherit;
  background-color: #f2f3f7;
}

.nav-oris .nav-tabs>li.active>a:hover {
  background-color: inherit;
}

.nav-oris .nav>li>a {
  padding: 12px 32px;
}

.nav-oris .tab-number {
  color: #ff6600;
  margin-left: 2px;
  font-weight: bold;
  display: inline-block;
  transform: scale(1.2);
}

/*#18273 现货保证金统一查询页面样式*/
.center-module .title-line {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 14px;
}

/*buyer后台title*/
.center-module  .title-line .page-title {
  font-size: 22px;
  color: #183464;
  font-weight: bold;
}

.center-module  .title-line .oris-button{
  padding: 12px 20px;
}

.text-weight-normal {
  font-weight: normal;
}
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.btn-text {
  color: #333;
}

.btn-text i:hover,
.btn-text i:focus {
  color: #004BD8;
}

.btn-text i.giga {
  font-size: 28px;
  cursor: pointer;
}

/*不允许换行*/
.nowrap {
  white-space: nowrap;
}

.white-normal{
  white-space: normal;
}
/*toast 中的 黑色a标签*/
a.default-black-color{
  color: #333;
  font-weight: bolder;
  border-bottom: none;
  font-size: 14px;
}
a.default-black-color:hover{
  text-decoration: underline;
  color: #333;
}


.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}

.outline-none:focus,
.outline-none:active{
  outline: none !important;
}

.line-through{
  text-decoration: line-through;
}
/*-----------action-files-show 是上传文件统一样式----Start-----------------*/
/*例子：#4297 理赔申请;   Date: 2021-04-30*/
.action-files-show {
  padding: 10px 0px;
}
.action-files-show .fileBtn {
  box-shadow: none;
  float: right;
  margin-left: 5px;
  padding: 0;
  background-color: #fff;
  border: none;
  display: none;
}

.action-files-show .check-btn {
  color: #0aad4f;
}

.action-files-show .del-btn {
  color: #333;
}
.action-files-show .action-file:not(.upload-loading) p:hover,
.action-files-show .upload-error p:hover {
  background-color: #f3f5f7;
}
.action-files-show p:hover .del-btn {
  display: block;
  background-color: #f3f5f7;
}

.action-files-show p:hover .check-btn {
  display: none !important;
}

.action-files-show p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px;
  width: 100%;
  height: auto;
  word-wrap:break-word;
  word-break:break-all;
  overflow: hidden;
  padding: 0 8px;
}
.action-files-show p a {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: calc(100% - 40px);
}
.action-files-show .upload-error a,
.action-files-show .upload-error .del-btn {
  color: #e64545 !important;
}
.action-files-show .upload-error .fileBtn:not(.del-btn),
.action-files-show .upload-loading .fileBtn:not(.loading-btn) {
  display: none;
}
.action-files-show .upload-error .del-btn,
.action-files-show .upload-loading .loading-btn {
  display: block;
}
.action-files-show .upload-loading .loading-btn img {
  width: 18px;
}
/*-----------action-files-show 是上传文件统一样式----End-----------------*/

/*--------以下是多行文本超出省略统一样式----Start--------*/
.max-line1 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.max-line2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*--------以下上是多行文本超出省略统一样式----Start--------*/

/*--------以下是必填项标志样式----Start--------*/
.required-before:before,
.required-after:after {
  content: '*';
  color: #E64545;
  margin-right: 4px;
  position: relative;
  top: 5px;
  font-size: 18px;
  line-height: 14px;
}

/*--------以上是必填项标志样式----End--------*/

.buyer-page {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
}

/*垂直居中*/
.h-v-center{
  transform: translate(-50%,-50%) !important;
  left: 50%;
  top: 50%;
  margin: 0;
}

.scroll-y {
  overflow-y: auto;
}

/*table表格右侧action 按钮禁用*/
.btn-action-disabled {
  cursor: not-allowed !important;
  color: #fff !important;
  background-color: #E3E3E3 !important;
  border-color: #E3E3E3 !important;
}

/* 倒计时组件样式 - countdown.js */
/* @author li.jun 2021-06-10 */
.countdown {
  display: flex;
  align-items: center;
}

/*textarea禁止拖拽*/
.textarea-drag-none{
  resize:none
}

