.container {
  width: 1200px !important;
}

.modalMonthEvent .modal-dialog {
  position: absolute;
  top: calc(50% - 321px);
  left: calc(50% - 500px);
}

.modal-header {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.modalMonthEvent .modal-content {
  box-shadow: unset !important;
  border-radius: 2px !important;
}

.guide,
.Pending,
.salesRanking,
.promotion,
.unread,
.calendar-reminder,
.back-box,
.message-box {
  background-color: #fff;
  border: 1px solid #DCDCDC;
  overflow: hidden;
  padding: 16px;
}

.guide {
  padding: 0 15px;
  height: 1038px;
}

.guide-title {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-family: Arial;
  line-height: 20px;
  color: #333333;
}

.central_content {
  padding-left: 16px;
  padding-right: 0px !important;
}

.pl16 {
  padding-left: 16px;
}

.mt16 {
  margin-top: 16px;
}

hr {
  margin-bottom: 10px;
  margin-top: 15px;
  border-top: 1px solid #E5E5E5;
}

.font-bold {
  font-weight: bold;
}

.guide ul {
  padding: 0;
}

.guide li {
  list-style: none;
  height: 32px;
  line-height: 32px;
}

.font16 {
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: #333333;
}

.guide li a:hover {
  color: #004bd8;
}

.information>div {
  height: 100px;
  border-right: 1px solid #eee;
}

.unread {
  height: 585px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
  margin: 5px 0;
}

.font-18 {
  font-size: 18px;
}

.font-none {
  font-weight: unset !important;
}

.personal-information .person-img {
  height: 64px;
  line-height: 64px;
}

.personal-information .person-img i {
  color: #A8BFEB;
  font-size: 64px
}

.manager {
  width: 65px;
  height: 91px;
  border: 1px solid #d5d5d5;
  box-sizing: content-box;
  line-height: 48px;
  float: right;
}

.manager img {
  width: 100%;
  height: 100%;
}

.personal-information .flex:first-child {
  margin-bottom: 17px;
}

.calendar-reminder {
  padding-bottom: 9px;
  height: 290px;
}

.message-box {
  height: 437px;
}

.calendar-reminder .left-date {
  margin-top: 16px;
  height: 26px;
}

.salesRanking,
.guide {
  height: 585px !important;
}

.salesRanking .nav-tabs {
  border-bottom: none;
  float: right;
  background: #F7F7F7;
  border-radius: 17px;
  height: 34px;
  padding: 4px 0;
  margin-top: 25px;
}

.salesRanking .nav-tabs>li {
  width: auto;
  height: 26px;
  margin-left: 5px;
  padding: 0 12px;
  border-radius: 13px;
}

.salesRanking .nav>li>a {
  line-height: 26px;
  border-radius: 30%;
}

.salesRanking .nav-tabs>li.active,
.salesRanking .nav-tabs>li.active a {
  color: #fff;
  background: #2861CE;
  height: 26px;
  line-height: 26px;
}

.salesRanking .nav-tabs>li:hover,
.salesRanking .nav-tabs>li:hover a {
  color: #004BD8;
  background: #F7F7F7;
}

.salesRanking .nav-tabs .active:hover,
.salesRanking .nav-tabs .active:hover a {
  color: #fff !important;
  background: #2861CE !important;
  cursor: pointer;
}

.salesRanking .nav-tabs>li a {
  padding: 0;
  border: none !important;
}

.salesRanking table tbody tr {
  height: 55px;
}

.salesRanking button {
  width: 75px;
  height: 20px;
  background-color: #eee;
  border: none;
  font-size: 12px;
}

.salesRanking button.active,
.salesRanking button:hover {
  background-color: #fff0e6;
  color: #fa6400;
}

.promotion ul,
.unread ul,
.new-message ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.new-message ul {
  position: relative;
  left: -2px;
}

.message-box i {
  color: #E34444;
}

.score-panel {
  height: 290px;
}

p {
  margin-bottom: 5px;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex2 {
  display: flex;
}

.colorfa,
.hover:hover,
.message-box .hover:hover .font14 {
  color: #004bd8;
}

.color6 {
  color: #666 !important;
}

.color9 {
  color: #999;
  font-weight: bold;
}

.p0 {
  padding: 0;
}

.over {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
}

.align-inherit {
  vertical-align: inherit;
}

.toggle-mark {
  margin-left: 4px;
}

.toggle-mark .giga.icon-V10-wenhaotishi {
  font-size: 14px;
}

.Pending {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Pending .num {
  height: 54px;
  display: inline-block;
  border-radius: 8px;
  margin-top: 10px;
}

.Pending .num:hover a,
.Pending .num:hover div {
  color: #004bd8 !important;
  cursor: pointer;
}

.Pending-content {
  font-weight: 400;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 6px;
}

.Pending i,
.personal-information i {
  color: #2861CE;
}

.pending-border {
  width: 1px;
  height: 21px;
  background: #E5E5E5;
  margin-top: 22px;
}

.bd-manager {
  width: calc(100% - 48px);
}

.pd16 {
  padding-left: 16px;
}

.tab-content {
  margin-top: 10px !important;
}

.tab-body {
  height: 430px !important;
}

.tab-body::-webkit-scrollbar {
  width: 5px;
}

.tab-body::-webkit-scrollbar-thumb {
  background: #e0e0df;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.table>thead>tr>th {
  border-bottom: unset !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.no-records-box {
  height: 380px;
  text-align: center;
  padding: 100px 200px 0 200px;
}

.no-records-box img {
  vertical-align: middle;
}

a.link {
  color: #3A75DC;
  cursor: pointer;
}

a.link:hover {
  text-decoration: underline;
}

.left-title {
  height: 17px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  line-height: 16px;
  color: #333333;
}

.left-title2 {
  height: 16px;
  line-height: 14px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #333333;
}

.message-box .left-title2 {
  font-size: 16px;
}

.line-height16 {
  line-height: 16px;
  height: 16px;
}

.line-height17 {
  line-height: 17px;
  height: 17px;
}

.margin-l-4 {
  margin-left: 4px !important;
}

.mb6 {
  margin-bottom: 6px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb30 {
  margin-bottom: 30px;
}

.mr22 {
  margin-right: 22px;
}

.mlr4 {
  margin: 0 4px;
}

.ml8 {
  margin-left: 8px;
}

.pl20 {
  padding-left: 20px !important;
}

.pl16 {
  padding-left: 16px;
}

.pl18 {
  padding-left: 18px;
}

.no-cursor {
  cursor: unset !important;
}

.height16 {
  height: 16px;
  line-height: 16px;
}

.height22 {
  height: 22px;
  line-height: 22px;
}

.bold {
  font-weight: bold;
}

.font-400 {
  font-weight: 400;
}

.circle-gray {
  color: #999999 !important;
}

.pending-count {
  height: 25px;
  text-align: center;
  font-size: 22px;
  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  margin-bottom: 4px;
}

.dividing-line {
  margin-top: 16px;
  padding-top: 15px;
  border-top: 1px solid #E5E5E5;
}

.dividing-line-bottom {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.manager-person-info {
  height: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}

.manager-email {
  width: 100%;
  height: 37px;
  word-break: break-all;
  line-height: 18px;

}

.my-score {
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  line-height: 14px;
  color: #EA6405;
  padding: 2px 6px;
  display: inline-block;
  background: #FFF0E6;
  border-radius: 2px;
}

.more-detail,
.more-detail2 {
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  line-height: 12px;
  color: #004BD8;
  cursor: pointer;
  float: right;
}

.more-detail {
  margin-top: 3px;
}

.more-detail:hover {
  text-decoration: underline;
}

.more-detail2 {
  padding: 6px 12px;
  border: 1px solid #004BD8;
  border-radius: 13px;
  cursor: pointer;
}

.more-detail2:hover {
  background: rgba(40, 97, 206, 0.1);
  border: 1px solid #2861CE;
}

.font14 {
  font-size: 14px;
  font-family: Arial;
  color: #333;
}

.font14-blue {
  font-size: 14px;
  font-family: Arial;
  color: #004BD8;
}

.font12-gray {
  height: 14px;
  line-height: 12px;
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  color: #999999;
}

.font20 {
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  color: #333333;
}

.score-green {
  color: #0AAD4F;
  font-size: 14px;
  margin: 0;
}

.score-orange {
  color: #FD6900;
  margin-right: 3px;
  font-size: 14px;
}

.score-red {
  color: #E34444;
  margin: 0;
  font-size: 14px;
}

.new-calendar {
  margin-top: 20px;
}

.new-calendar table thead tr th {
  padding-bottom: 16px;
}

/*.new-calendar table tbody tr:first-child td{*/
/*  padding-bottom: 8px;*/
/*}*/


#newCalendar {
  height: 160px;
}

#newCalendar td,
#newCalendar2 td {
  height: 68px;
}

#newCalendar thead th,
#newCalendar2 thead th {
  padding-bottom: 16px;
}

#newCalendar .event-box {
  height: 16px;
  line-height: 12px;
}

#newCalendar2 {
  margin-top: 24px;
  height: 460px;
}

#newCalendar td,
#newCalendar2 td {
  padding-left: 14px;
  padding-right: 14px;

}

#newCalendar .badge-box-td,
#newCalendar .badge-alive-td,
#newCalendar2 .badge-box-td,
#newCalendar2 .badge-alive-td {
  height: 68px;
  padding-top: 8px;
}

.badge-box-td:hover .badge-box,
.badge-alive-td:hover .badge-box {
  cursor: pointer;
  color: #333333;
  background: rgba(40, 97, 206, 0.1);
}

.badge-box-td:hover .badge-active {
  color: #333333;
  background: rgba(40, 97, 206, 0.1);
}

.badge-box-td:hover .badge-c-active {
  color: #fff;
  background: #2057C0;
}

.event-box {
  height: 16px;
  line-height: 16px;
}

.badge-box {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #F7F7F7;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  color: #333333;
  box-sizing: border-box;
}

.badge-active {
  color: #333333;
  /*background: rgba(40, 97, 206, 0.1);*/
  line-height: 32px;
  cursor: pointer;
  border: 2px solid #2861CE;
}

.badge-c-active {
  color: #fff;
  background: #2861CE;
}

.badge-disabled {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  color: #999999;
  background: #F7F7F7;
  opacity: 1;
}

.badge-tag {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.calendar-btn {
  color: #333333;
  cursor: pointer;
}

.calendar-disabled {
  color: #999999;
}

.calendar-panel {
  border-right: 1px solid #E5E5E5;
  padding: 24px 24px 4px 0;
}

.calendar-detail {
  padding: 24px 0 24px 24px;
}

.calendar-detail #listEvent-none {
  margin-top: 136px;
}

.modalMonthEvent.my-modal .modal-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modalMonthEvent.my-modal .modal-dialog {
  width: 1000px !important;
}

#listEvent {
  margin-top: 24px;
  overflow-y: auto;
  height: 440px;
  padding-right: 10px;
}

.event-panel {
  width: 100%;
  min-height: 66px;
  background: #FFF5F5;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px;
}

.event-img {
  margin-top: 4px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
}

.event-list {
  padding-left: 8px;
  width: calc(100% - 34px);
}

.event-list-top {
  width: 100%;
  height: 16px;
  line-height: 16px;
  margin-bottom: 6px;
}

.event-list-bottom {
  line-height: 20px;
}

.event-link {
  color: #004bd8;
  cursor: pointer;
}

.event-link:hover {
  text-decoration: underline;
}

#listEvent::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  background-color: #E5E5E5;
  /*滚动条的背景颜色*/
}

.rank-orange {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #FFF0E6;
  color: #EA6405;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}

.rank-gray {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #F2F2F2;
  color: #333;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}

/*头像评分部分*/
/*分数弹窗*/
.score-detail-dailog {
  padding: 24px;
  font-family: Arial !important;
}

.score-detail-colse {
  color: #999;
  cursor: pointer;
}

.score-detail-title {
  font-size: 24px;
  font-weight: bolder;
  margin: 20px 0;
}

.score-detail-tabs {
  margin-top: 32px;
}

.score-detail-total {
  font-size: 18px;
  font-weight: bolder;
  color: #fA6400;
  margin: 0 20px 0 4px;
}

.score-equ-total {
  font-size: 20px;
  font-weight: bolder;
  color: #fA6400;
}

.score-detail-date {
  font-size: 14px;
}

.score-detail-tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.how-to {
  margin-top: 96px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.score-detail-total-title {
  font-size: 12px;
  color: #333;
  font-weight: bolder;
}

.score-detail-item {
  color: #fA6400;
  margin-right: 2px;
}

.score-detail-rule {
  color: #999;
  font-size: 12px;
}

.score-item-flag {
  font-size: 12px;
  color: #333;
}

.hot-to-txt {
  margin-right: 8px;
}

.go-how-to {
  color: #004bd8;
}

.how-to:hover .go-how-to {
  color: #333;
}

.new-message .over {
  word-break: break-all;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}

.unread-message > a,
.new-funs > a {
  display: block;
  line-height: 16px;
  margin-bottom: 12px;
}

.new-funs > a {
  line-height: 18px;
}