@import url('./fonts.googleapis.com_roboto.css');

.fa-shopping-cart:before{
  font-family: "giga" !important;
  content: "\e608" !important;
}

.fa-heart:before{
  font-family: "giga" !important;
  content: "\e615" !important;
}

.fa-heart-o:before{
  font-family: "giga" !important;
  content: "\e61d" !important;
}

.fa-pencil:before{
  font-family: "giga" !important;
  content: "\e62a" !important;
}


body{
  /*background-color:#292929;*/
}

.bg-grey{
  background-color: #edeff3;
}
.bg-white{
  background-color: #fff;
}

#top {
  color: #999999;
}

#top .container #top-links ul li {
  font-size: 12px;
}

#top-links .help-center {
  font-weight: 500;
}

#top-links .vertical-bar {
  border-right: 1px solid #525252;
  height: 20px;
  top: 9px;
  position: relative;
}

#top-links .country-market-right .btn-link {
  font-size: 12px;
  padding: 0;
}

.counry-header-ul{
  top: 31px;
}

#top-links .country-market-right:hover .counry-header-ul{
  display: block;
}
#top-links .country-market-right .country-title {
  padding-top: 6px;
  padding-bottom: 2px;
}
header .header-pop-up .header-pop-up-list ul a:hover{
  color: #004bd8;
  text-decoration: underline;
  background-color: #fff;
}

.top-register-login{
  font-weight: 500;
}

header .header-pop-up .bottom-link ul a{
  color: #677999;
  line-height: 24px;
}

header .header-pop-up .bottom-link ul a:hover {
  color: #fa6400;
}
/*头部购物车*/
header #cart .cart-text{
  cursor: pointer;
}

.icon-sum{
  width: auto;
  height: auto;
  min-width: 20px;
  min-height: 14px;
}


.home-search:before{
  width: 24px;
  height: 24px;
  content: "";
  background-image: url(../image/search.png);
  background-repeat: no-repeat;
  background-size: 18px;
  position: absolute;
  top: 10px;
  left: 35px;
}


/*Item Code*/
.product-simple-grid .caption h4{
  font-size: 16px;
  font-weight: 500;
}

.product-simple-grid .caption h4 a{
  /*text-transform:none;*/
}



.img-responsive{
  margin-left: auto;
  margin-right: auto;
}

/*商品列表*/
.product-simple-grid .image .button-group button{
  margin-right: 6px;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.product-simple-grid .image .button-group button i{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fa6400;
  border: 1px solid #fde8db;
  border-radius: 15px;
  text-align: center;
}

.product-simple-grid .caption .rate-group{
  display: inline-block;
}

.product-simple-grid .caption .store-group a.chat i, .product-simple-grid .caption .store-group a.email i{
  line-height: 28px;
  cursor: pointer;
}

.product-simple-grid .caption .store-group a.chat:hover i, .product-simple-grid .caption .store-group a.email:hover i{
  color: #ffffff;
  background-color: #ff7519;
}

.product-simple-grid .caption .store-group a.email i.status_no{
  color: #666666;
  border-color: #666666;
  background-color: transparent;
}

.product-simple-grid .caption .store-group a.email:hover i.status_no{
  color: #666666;
  border-color: #666666;
  background-color: transparent;
}

.product-simple-grid .caption .store-group div.store:hover .store-pop{
  z-index: 99;
}



/*商品详情页*/
#product-product .thumbnail-wrapper button.btn-download{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: #fa6400;
  border-width: 0;
  color: #ffffff;
}

#product-product .product-info-wrapper .btn{
  white-space: normal;
}
#product-product .product-info-wrapper .btn i{
  margin-right: 4px;
}
#product-product .do-action .btn i{
  margin-right: 4px;
}

/*商品详情页 评论*/
#product-product .review-write-start{
  cursor: pointer;
}
#product-product .review-write-start input[type="radio"]{
  cursor: pointer;
  display: none;
}


/*忘记密码，进度条*/
#account-forgotten #progressbar{
  display: flex;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}
#account-forgotten #progressbar li{
  flex: 1;
  margin-right: 10px;
  height: 4px;
  background-color: #e9e9e9;
}
#account-forgotten #progressbar li:last-of-type{
  margin-right: 0;
}
#account-forgotten #progressbar li.active{
  background-color: #fa6400;
}

/*guide*/
.module-notice ul li a:hover{
  color: #0293db;
}
.module-notice a.btn-all:hover{
  color: #0293db;
}

/*button btn*/
/*提交按钮*/
.btn-submit{
  color: #fff;
  background: #3A75DC;
  border: 1px solid #3A75DC;
}
.btn-submit:hover{
  color: #fff;
  background: #225CC1;
  border: 1px solid #225CC1;
}

/*表格中的按钮*/
.table .btn-action{
  width: 30px;
  height: 30px;
  max-height: 34px;
  max-width: 30px;
  padding: 3px;
  color: #000000;
  background-color: #f3f5f7;
  box-shadow: 0px 2px 2px 0 #eee;
}
.table .btn-action i{
  font-weight: normal;
}
.table .btn-action:hover{
  color: #FFF;
  background-color: #FA6400;
}

.page-seller-portal .table.main .action-group a i{
  font-size: 16px;
}


/*表格中，操作按钮*/
.page-seller-portal table.table.main .action-group button{
  border-radius: 4px;
  background-color: #f3f5f7;
  color: #242424;
  border-width: 0;
  display: inline-block;
  text-align: center;
  min-width: 28px;
  min-height: 28px;
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
}
.page-seller-portal table.table.main .action-group button{
  outline: none;
}
.page-seller-portal table.table.main .action-group button:hover,.page-seller-portal table.table.main .action-group button:focus,.page-seller-portal table.table.main .action-group button.focus,.page-seller-portal table.table.main .action-group button:active{
  background: #fa6400;
  color: #fff;
}
.page-seller-portal table.table.main .action-group a{
  border-radius: 4px;
  background-color: #f3f5f7;
  color: #242424;
  border-width: 0px;
  display: inline-block;
  text-align: center;
  min-width: 28px;
  min-height: 28px;
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
}
.page-seller-portal table.table.main .action-group a i{
  line-height: 26px;
  font-size: 16px;
}
/*我的收藏*/
#page-saved-items .action-group a:hover{
  background: #333;
  color: #fff;
}
/*表格中，下拉按钮*/
.page-seller-portal table.table.main .action-group .dropdown-menu{
  position: absolute;
  top: 100%;
}
.page-seller-portal table.table.main .action-group .dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  width: auto;
  height: auto;
  text-align: left;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}
.page-seller-portal table.table.main .action-group .dropdown-menu li > a:hover{
  text-decoration: none;
  color: #333;
  background-color: #eee;
}

/*文字蓝灰*/
.color-blank-gray{
  color:#4F658B;
}


/*模态框*/
.modal-header{
  background-color: #193465;
  color: #ffffff;
}
.close{
  opacity: 0.8;
}
.modal-header .close{
  margin-top: -2px;
  background-color: #ffffff;
  border-radius: 100px;
  width: 25px;
  height: 25px;
}

/*tab 列表*/
.page-seller-portal .nav-tabs.main > li{
  /*margin-bottom: 0px;*/
}


/*表格标题排序*/
/*.table a.asc:after {*/
/*content: " \f106";*/
/*font-family: FontAwesome;*/
/*}*/
/*.table a.desc:after {*/
/*content: " \f107";*/
/*font-family: FontAwesome;*/
/*}*/

.table a.asc:before{
  font-family: "giga";
  content: "\e649";
}
.table a.desc:before{
  font-family: "giga";
  content: "\e648";
}

.flag-margin-order{
  color: #FA6400;
  margin-left: 5px;
}

/*RMA Detail*/
.thumbnails{
  list-style: none;
  padding: 0;
  overflow: inherit;
  clear: inherit;
}
.thumbnails > li{
  margin-left: 20px;
}
.thumbnails .image-additional{
  max-width: 78px;
  float: left;
  margin-left: 20px;
}




/*内容页 菜单导航*/
.breadcrumb a{
  color: #183464;
}
.breadcrumb > li + li:before{
  font-family: "giga";
  content: "\e627";
  font-weight: normal;
  color: #183464;
}

/*查询 单选框*/
.form-wrapper label.radio-inline input[type="radio"]:checked::before{
  padding-left: 0;
  padding-right: 0;
}

/*分页*/
.see{
  display: block;
}
.page-list{
  display: inline-block;
}
.page-list .btn-group{
  position: relative;
  display: inline-block !important;
  vertical-align: middle;
}
.page-list .btn-group button{
  position: relative;
  flex: 1 1 auto;
  background-color: transparent;
  box-shadow: 0 0 0;
}
.page-list .btn-group button.btn-secondary{
  background-color: transparent;
  color: #000000;
  border-radius: 2px;
}
.page-list .btn-group:hover button.btn-secondary{
  background-color: #f3f5f7;
}
.page-list .btn-group:hover .dropdown-menu{
  display: block;
}
.page-list .btn-group .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.page-list .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #eeeeee;
}
.page-list .btn-group .dropdown-menu .dropdown-item.active{
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.page-list .btn-group .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top]{
  right: auto;
  bottom: auto;
}
.pagination{
  margin-top: 0;
  margin-bottom: 0;
}
.pagination>li>a, .pagination>li>span{
  color: #000000;
  cursor: pointer;
}
.page-direction{
  font-size: 12px !important;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus{
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}
.page-list, .page-info{
  line-height: 37px;
  height: 37px;
  position: relative;
  top: -14px;
}
.page-list{
  margin-left: 5px;
  margin-right: 5px;
}
/*每页数按钮*/
.btn.btn-secondary.dropdown-toggle{
  padding: 2px;
}
/*每页按钮*/
#search-sort-title a{
  color: #000;
}

/*分类产品下载按钮*/
.product-category .filter-tool-wrapper .left-btn .btn-primary{
  color: #fff;
  background-color: #193465;
  border-color: #193465;
  border-radius: 4px;
  font-size: 12px;
}
.product-category .filter-tool-wrapper .left-btn .btn-primary i.giga{
  font-size: 12px;
}
.product-category .batch-operations .vertical-bar,
.fixed-ceiling .vertical-bar {
    width: 1px;
    height: 13px;
    background-color: #999;
    margin: 0 15px;
}
/*时间输入框圆角*/
.form-wrapper .datetimepicker-range .datetimepicker input,
.form-wrapper .datetimepicker-range .datetimepicker:last-child input,
.form-wrapper .datetimepicker-range .datetimepicker:first-child input{
  border-radius: 4px 4px 4px 4px;
}

#myTab > li.active > a,
#myTab > li.active > a:hover,
#myTab > li.active > a:focus {
  color: #fff;
  background-color: #FA6400;
}

.giga.icon-V10-wenhaotishi{
  color: #333333;
  font-weight: normal;
  margin-left: 2px;
}

/**首页改版2期**/
.dropdown-first {
  width: 240px;
  background-color: #f4f4f4;
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
}

.dropdown-first .dropdown img {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: left;
  margin: 9px 5px auto auto;
}

.dropmenu .dropdown img {
  height: 28px;
  width: 28px;
  margin-right: 16px;
}
/*end*/


/*5085*/
#menu-wrapper .category-list {
  margin-right: 20px;
}
#menu-wrapper .category-list .dropdown-menu{
  width: 230px;
  left: 0;
}
#menu-wrapper .menu-top > li > a {
  margin-left: 0 !important;
}
#menu-wrapper .category-list > a{
  font-weight: bold;
}
#menu-wrapper .category-list > a > i.giga{
  font-size: 16px;
}
#menu-wrapper #menu .menu-top li.dropdown:hover > a{
  color: #004bd8;
}
#menu-wrapper #menu .menu-top>li.dropdown:hover > a{
  border-bottom: 3px solid #004bd8;
}
.menu-wrapper .menu-top>li:not(.categories) {
  padding: 14px 20px 12px 20px !important;
}
.menu-wrapper #menu .dropdown-inner ul a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.menu-wrapper #menu .dropdown-inner ul a.has-children {
    width: 184px;
}
.menu-wrapper #menu .dropdown-inner .third-level1 ul {
  padding-top: 4px;
}
.menu-wrapper .menu-other li i{
  color: #999999;
  font-size: 14px;
}
.dropdown-first a{
  padding: 15px 0 14px 16px !important;
}
.ptb-border {
  padding: 14px 0 12px 0 !important;
}

.center-list .select-filters div{
  /*padding-bottom: 10px;*/
  margin: 0;
  overflow: hidden;
}
.center-list .select-filters .clear-all {
    color: #004bd8;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    display:inline-block;
}
.center-list .select-filters > div > button{
  background-color: #dcdcdc;
  border-radius: 2px;
  padding: 4px 6px 4px 10px;
  margin-right: 10px;
  border: none;
  margin-bottom: 10px;
}
.center-list .select-filters > div > button:hover {
  background-color: #cecece;
}
.center-list .select-filters > div > button:focus{
  outline-style: none;
}
/*吸顶*/
.fixed-ceiling{
  display: none;
  position: fixed;
  right: 0;
  top:0;
  background-color: #f5f5f5;
  z-index: 99;
  border: 1px solid #e6e6e6;
  border-top: none;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
.fixed-ceiling .btn-link{
    background-color: #f5f5f5;
}
.fixed-ceiling .batch-operations{
  padding: 0  0 0 40px;
  height: 56px;
  justify-content: space-between;
  border: none;
}
.fixed-ceiling .ceiling-search{
  width: 520px;
}
.fixed-ceiling .batch-operations .ceiling-search input{
  height: 32px;
  border-radius: 2px;
  border: solid 1px #0b3584;
  font-size: 14px;
}
.fixed-ceiling .batch-operations .ceiling-search .btn{
  width: 64px;
  height: 32px;
  background-color: #1a4596;
  color: #fff;
  padding: 0;
  line-height: 32px;
}
.fixed-ceiling .batch-operations .ceiling-search .btn:hover{
  background-color: #0b3584;
}
.fixed-ceiling .batch-operations .ceiling-search input::-webkit-input-placeholder {
  font-size: 14px;
}
/*吸顶end*/

/*菜单*/

.category-list.categories > .dropdown-menu ul li{
    cursor: pointer;
}
#menu-wrapper #menu .third-level .third-level1 ul li {
    display: inline-block;
    font-weight: initial;
    padding: 0px 30px 0 0;
}
#menu-wrapper #menu .third-level .third-level1 ul li a{
  min-width: auto;
  width: auto;
  color: #666666;
}
.categories{
  width: 230px;
  height: 48px !important;
  background-color:#f4f4f4;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;

}

#content_product .side-list {
    width: 230px;
}
#content_product .side-list > div{
  padding: 20px 15px;
}
.section-wrapper .edit input {
    border: 1px solid #cfcfcf;
    box-shadow: none;
}
.section-wrapper .edit {
    padding: 0 0 0 10px;
}
.section-wrapper .edit.icon {
    padding: 0 10px 0 0;
}
.side-tool .tool-item .section-wrapper > div.edit .currency-icon {
    top: 0;
    line-height: 32px;
}
.side-tool .tool-item .section-wrapper > div.edit.icon .currency-icon {
    left: 4px;
    top: 0;
    line-height: 32px;
}
.side-tool .tool-item .section-wrapper > div.btn {
    width: 40px;
    height: 32px;
    background-color: #ccc;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
}
.side-tool .tool-item .section-wrapper > div.btn:hover,
.side-tool .tool-item .section-wrapper > div.btn.active{
    background-color: #1a4596;
}
.side-tool .tool-item .section-wrapper > div.btn.active:hover{
  background-color: #0b3584;
}
.side-tool .btn_go {
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 32px;
}
#content_product .center-list {
  flex: 1;
  max-width:-webkit-calc(100% - 250px);
  max-width:-moz-calc(100% - 250px);
  max-width:calc(100% - 250px);
}
.batch-operations {
    padding: 14px 20px;
    border-bottom: 1px solid #e6e6e6;
}
.list-sequence {
    justify-content: space-between;
    padding: 8px 20px;
}

.my-sort .sort-item.active, .my-sort .sort-item:hover {
    cursor: pointer;
    background-color: #e8e8e8;
    border-radius: 2px;
    color: #004bd8;
}
.my-sort .sort-item {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    /* width: 85px; */
    padding: 0 14px;
    text-align: center;
    color: #333;
  position: relative;
}
.my-sort .sort-item:not(.first){
    padding-right: 24px;
}
.menu-wrapper .img-bot{
  display: inline-block;
  width: 18px;
  height: 20px;
  background: url('../../../../../image/foot/mulu.png');
}
.main-bg .breadcrumb{
  padding: 0;
  margin: 0;
}
.main-bg .breadcrumb > li + li:before{
  padding: 0 3px;
}
.main-bg .breadcrumb > li a{
  color: #333;
}
.main-bg .breadcrumb > li a:hover{
  color: #004bd8;
}
.main-bg .breadcrumb > li:last-child a{
  color: #999;
}
.menu-wrapper .menu-other li.dropdown {
  height: 40px !important;
}
.no-products {
  margin-top: 200px;
}
.center-list .grid-list button {
  padding-right: 0;
}
.my-sort .sequence-icon .icon-iup,.my-sort .sequence-icon .icon-down-solid{
    color: #999;
}
.my-sort .sequence-icon{
    /*position: relative;*/
}

.my-sort .sequence-icon .icon-down-solid{
    position: absolute;
    top: -3px;
    right: 10px;
}
.my-sort .sequence-icon .icon-iup{
    position: absolute;
    top: 3.5px;
    right: 10px;
}
.my-sort .sequence-icon > .giga{
    font-size: 12px;
    transform: scale(0.8);
}
.my-sort .sequence-icon .giga.active {
  color: #004bd8;
}
#menu-wrapper #menu .menu-third {
  left: calc(100% - 1px) !important;
}
.min-h500{
  min-height: 500px;
}
/*#29414 限时限量活动*/
.limit-hot-icon{
  margin-top: 0;
  float: right;
  position: relative;
  bottom: 2px;
  left: 6px;
}
/*end*/