/*
* 'catalog/view/theme/yzcTheme/template/customerpartner/marketing_campaign/discount/index.twig'
* 用户折扣设置css
*/
.glyphicon.icon-arrow-right:before {
  content: "\e092";
}

.glyphicon.icon-arrow-left:before {
  content: "\e091";
}

form .oris-button-outline {
  display: flex;
  align-items: center;
}

.oris-modal .oris-row .oris-col-6 {
  width: 360px;
}

.oris-modal .oris-row [class*=oris-col-]:not(:last-child) {
  width: 387px;
  padding-right: 24px;
}

.oris-modal .text-danger {
  height: 20px;
  padding-bottom: 20px;
  font-size: 13px;
}
.oris-modal .modal-body {
  display: inline-block;
}
.off-right {
  position: absolute;
  right: 34px;
  top: 34px;
}

.oris-circle {
  position: relative;
  top: -2px;
}

.oris-table th:not(.text-center),
.oris-table tr:not(.no-records) td:not(.text-center) {
  text-align: left !important;
}

.low-qty {
  display: inline-block;
  color: #E64545;
  background: rgba(230, 69, 69, 0.06);
  border-radius: 100px;
  padding: 4px 8px;
  margin-top: 8px;
  font-size: 12px;
}
.min-width-action {
  min-width: 80px !important;
}