/* seller端通用样式 * Date: 2021-03-02 */

/*全局字体*/
html,
body {
  font-family: Arial, "Roboto", Helvetica, serif !important;
  font-size: 14px;
}

@media (max-width:1400px) {
  body {
    width: 1366px;
    margin: 0 auto;
    overflow-x: auto;
  }

}

.page-content {
  margin-left: 235px;
  padding: 0 24px;
}

.title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

/*seller后台title*/
.title-line .page-title {
  font-size: 22px;
  color: #193465;
  font-weight: bold;
}

.title-line>div:not(.page-title) a {
  display: flex;
  align-items: center;
}

.title-line .oris-button {
  padding: 10px;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.none {
  display: none;
}

.just-flex {
  display: flex;
}

.flex-default {
  display: flex;
  align-items: baseline;
}

.flex-layout{
  display: flex;
  align-items: center;
}

.flex-fend {
  display: flex;
  align-items: flex-end;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex1{
  flex: 1;
}

.full-width {
  width: 100%;
}

.width120 {
  width: 120px;
}

.width80 {
  width: 80px;
}

.tips-color {
  color: #999999;
}

.icon-color {
  color: #666666;
}

.name-color {
  color: #586993;
}

.link-color,
.link-color:hover,
a.link,
a.link:hover {
  color: #004BD8;
}

a.link:hover,
.underline-hover:hover {
  text-decoration: underline;
}

.btn-text {
  color: #333;
}

.btn-text:hover,
.btn-text:focus {
  color: #004BD8;
}

.btn-text i.giga {
  font-size: 28px;
  cursor: pointer;
}
.text-warning {
  color: #FF6600;
}

.text-danger {
  color: #E64545;
}

.pos-rela {
  position: relative;
}

/*------------------------------------------------------------------------------------------------------------*/

/*--------以下是padding,margin统一样式----Start--------*/
.p0 {
  padding: 0;
}

.p0-l {
  padding-left: 0;
}

.p0-r {
  padding-right: 0;
}

.p8-tb {
  padding: 8px 0;
}
.p10-t {
  padding-top: 10px;
}

.p12-l {
  padding-left: 12px !important;
}

.p16-lr {
  padding: 0 16px;
}

.p24 {
  padding: 24px;
}

.p10-tb {
  padding: 10px 0;
}

.p10-r{
  padding-right: 10px;
}

.p14-b {
  padding-bottom: 14px;
}

.p14-tb {
  padding: 14px 0;
}

.p20-t {
  padding-top: 20px;
}
.p24-t {
  padding-top: 24px;
}
.p24-r {
  padding-right: 24px;
}

.p30-t {
  padding-top: 30px;
}

.p40-r-i {
  padding-right: 40px !important;
}

.m0 {
  margin: 0;
}

.m4-r {
  margin-right: 4px;
}

.m6-l {
  margin-left: 6px;
}

.m08-l {
  margin-left: 6px;
}

.m10-l {
  margin-left: 10px;
}

.m16-l {
  margin-left: 16px;
}

.m24-l {
  margin-left: 24px;
}

.m30-l {
  margin-left: 30px;
}

.m04-r {
  margin-right: 4px;
}

.m08-r {
  margin-right: 8px;
}

.m16-tb{
  margin: 16px 0 ;
}

.m04-t {
  margin-top: 4px;
}

.m06-t {
  margin-top: 6px;
}

.m10-t {
  margin-top: 10px;
}
.m5-t {
  margin-top: 5px;
}

.m16-t {
  margin-top: 16px;
}

.m15-t {
  margin-top: 15px;
}

.m20-t {
  margin-top: 20px;
}


.m24-t {
  margin-top: 24px;
}

.m30-t {
  margin-top: 30px;
}

.m40-t {
  margin-top: 40px;
}

.m16-b {
  margin-bottom: 16px;
}

.m30-b {
  margin-bottom: 30px;
}

.hr-40 {
  margin: 40px 0;
}

/*--------以上是padding,margin统一样式----End--------*/

/*------------------------------------------------------------------------------------------------------------*/

/*--------以下是为了去除stylesheet中错误样式----Start--------*/
#box-shadow,
.main-content {
  margin-right: 0 !important;
  border-radius: 0 !important;
  background: #ffffff !important;
  box-shadow: unset !important;
  padding: 24px !important;
  margin-top: 1px !important;
}

.oris-table a:not(.link-color):not(.btn-text):not(.link):not(.oris-mark-futures) {
  color: #333;
}

#bid-margin table tbody>tr :nth-child(5),
#bid-margin table tbody>tr :nth-child(6),
#bid-margin table tbody>tr :nth-child(7),
#bid-margin table tbody>tr :nth-child(8) {
  color: inherit;
}
.page-content i.icon-V10-wenhaotishi {
  cursor: pointer;
  font-weight: bold;
}
/*--------以下是为了去除stylesheet中错误样式----End--------*/

/*------------------------------------------------------------------------------------------------------------*/

/*--------以下是字体样式----Start--------*/
.text-small {
  font-size: 12px;
}

.text-less {
  font-size: 13px;
}

.text-size-normal {
  font-size: 14px;
}

.text-larger {
  font-size: 16px;
}

.text-bigger {
  font-size: 18px;
}

.text-bold {
  font-weight: bold;
}

.text-weight-normal {
  font-weight: normal;
}
.pointer {
  cursor: pointer;
}
/*全局combo、part、LTL图片样式;tags-image图片间隙*/
.cp-img {
  width: 14px !important;
  height: 14px !important;
  padding: 0 !important;
}

.ltl-img {
  width: 20px !important;
  height: 14px !important;
  padding: 0 !important;
}

.tags-image {
  display: flex;
  align-items: center;
}

.tags-image img {
  margin-left: 4px;
}

/* table中显示图片和说明 */
.image-td {
  display: flex;
  align-items: center;
  height: 60px;
}

.image-td .pro-image {
  padding: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #E5E5E5;
  margin-right: 8px;
}

/*--------以下是字体样式----End--------*/

/*------------------------------------------------------------------------------------------------------------*/

/*--------以下是Seller端nav-oris导航样式----Start--------*/

.nav-oris .tab-content {
  background: #fff;
  padding: 24px;
  border: 1px solid #dcdcdc;
  min-height: 200px;
}

.nav-oris .nav-tabs li.active {
  background: #fff;
  border-radius: unset;
  border-bottom: none;
  border-top: 3px solid #004bd8;
}

.nav-oris .nav-tabs>li.active>a,
.nav-oris .nav-tabs>li.active>a:hover,
.nav-oris .nav-tabs>li.active>a:focus {
  border: none;
  border-radius: unset;
  cursor: pointer;
  background: #fff !important;
  color: #333 !important;
}

.nav-oris .nav-tabs {
  border-bottom: none;
}

.nav-oris .nav-tabs>li {
  border: 1px solid #dcdcdc;
  margin-bottom: -2px;
  box-shadow: unset !important;
  height: 46px;
  margin-bottom: -1px;
}

.nav-oris .nav-tabs>li:not(:first-child) {
  margin-left: -1px;
}

.nav-oris .nav-tabs>li>a {
  font-size: 14px !important;
  color: #333;
  margin: 0;
  border: none !important;
  border-radius: 0 !important;
}

.nav-oris .nav-tabs>li:not(.active):hover {
  border: 1px solid #c4c6cf;
}

.nav-oris .nav-tabs>li>a:hover {
  color: inherit !important;
  background-color: #EDEFF3 !important;
  border: 1px solid #DCDCDC;
  font-size: 14px !important;
}

.nav-oris .nav-tabs>li.active>a:hover {
  background-color: inherit;
  font-size: 14px !important;
}

.nav-oris .nav>li>a {
  padding: 12px 32px;
  height: unset;
  background: #F7F8FA;
}

.nav-oris .tab-number {
  font-size: 16px;
  color: #ff6600;
  margin-left: 2px;
  font-weight: bold;
}

/*--------以上是Seller端nav-oris导航样式----End--------*/

/*------------------------------------------------------------------------------------------------------------*/

/*--------以下是特殊边框样式----Start--------*/
.error-border {
  border-color: #E64545;
}

/*--------以下是基于bootstrap popover的统一样式修改样式----Start--------*/
.popover {
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: unset;
  max-width: unset !important;
  font-family: Arial, "Roboto", Helvetica, serif !important;
}

.popover .popover-content {
  padding: 14px;
}

.popover.left .arrow {
  border-left-color: #ccc !important;
}

.popover.top .arrow {
  border-top-color: #ccc !important;
}

.popover.right .arrow {
  border-right-color: #ccc !important;
}

.popover.bottom .arrow {
  border-bottom-color: #ccc !important;
}

/*input number 去掉上下箭头*/
input.no-spin::-webkit-outer-spin-button,
input.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"].no-spin{
  -moz-appearance: textfield;
}
.break-word{
  word-break: break-word;
}


/*--------以下是多行文本超出省略统一样式----Start--------*/
.max-line1 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.max-line2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*--------以下上是多行文本超出省略统一样式----Start--------*/

/*--------以下是必填项标志样式----Start--------*/
.required-before:before,
.required-after:after {
  content: '*';
  color: #E64545;
  margin-right: 4px;
  position: relative;
  top: 5px;
  font-size: 18px;
  line-height: 14px;
}

/*--------以上是必填项标志样式----End--------*/

/*垂直居中*/
.h-v-center{
  transform: translate(-50%,-50%) !important;
  left: 50%;
  top: 50%;
  margin: 0;
}

/*textarea禁止拖拽*/
.textarea-drag-none{
  resize:none
}


/* 行块 */
.d-inline {
  display: inline;
}

.overflow-visible {
  overflow: visible;
}