/*
* buyer端店铺页面头部样式
*
*/
.bg-grey {
  background: #f2f2f2 !important;
}

.buyer-seller-store {
  border-top: 1px solid #E5E5E5;
}

.buyer-seller-store .store-line,
.buyer-seller-store .store-menu {
  height: 40px;
  display: flex;
  align-items: center;
}

.buyer-seller-store .store-line {
  position: relative;
  padding: 12px 0;
}

.buyer-seller-store .store-line i.icon-V10_dianpu {
  position: relative;
  top: -1px;
}

.buyer-seller-store .store-line .store-score {
  padding-left: 8px;
  padding-right: 20px;
  line-height: 19px;
}
.m2-t{
  margin-top: 2px;
}
.t-20{
  top:20px !important;
}
.buyer-seller-store .store-line .store-score .score {
  color: #fff;
  padding: 0 5px;
  background: #FF6600;
  text-align: center;
}

.buyer-seller-store .store-line .my-store {
  position: relative;
  cursor: pointer;
  /* padding: 12px 0; */
}

.buyer-seller-store .store-line .my-store:hover i.giga.icon-V10_shouyeyouxiadown {
  display: none;
}

.buyer-seller-store .store-line .my-store:hover i.giga.icon-V10_shouyeyouxiaTOP {
  display: inline-block;
}

.buyer-seller-store .store-line .my-store:hover .pop-down {
  display: block;
  top: 38px;
  left: 8px;
  padding: 20px;
}

.buyer-seller-store .store-line .my-store .pop-down:before,
.buyer-seller-store .store-line .my-store .pop-down:after {
  left: 40px;
}

.buyer-seller-store .store-name {
  background: #fff;
  height: 90px;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyer-seller-store .store-name .store-image {
  width: 64px;
  margin-right: 10px;
}

.buyer-seller-store .store-name .store-image img {
  width: 64px;
}

.buyer-seller-store .store-menu {
  background: #333;
}

.buyer-seller-store .store-menu .center-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buyer-seller-store .store-menu .store-menus {
  display: inherit;
}

.buyer-seller-store .store-menu .store-tab a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  cursor: pointer;
}

.buyer-seller-store .store-menu .store-tab a:hover,
.buyer-seller-store .store-menu .store-tab a:focus,
.buyer-seller-store .store-menu .store-tab a:active,
.buyer-seller-store .store-menu .store-tab.active a {
  background: #1f1f1f;
  outline: none;
}

.buyer-seller-store .store-menu input {
  width: 260px;
  color: #333;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 5px 40px 5px 20px;
  border: none;
  margin: auto 0;
  border: 2px solid #333;
}

.buyer-seller-store .store-menu input:focus {
  border: 2px solid #004BD8;
}

.buyer-seller-store .store-menu .menu-search {
  position: absolute;
  right: 20px;
  top: 4px;
  background-color: unset;
  border: none;
  color: #999999;
}

.buyer-seller-store .store-menu .menu-search i {
  font-size: 17px;
  cursor: pointer;
}

.buyer-seller-store .fixed-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.buyer-seller-store .interactions {
  padding-right: 30px;
  min-width: 180px;
}

.buyer-seller-store .interactions>div {
  white-space: nowrap;
}

.buyer-seller-store .right-pop {
  width: 280px;
  padding-left: 30px;
  border-left: 1px solid #E1E1E1;
}

.buyer-seller-store .mark-h40 {
  height: 40px;
}

/*bootstrap 气泡*/
.tooltip {
  font-family: Arial, "Roboto", Helvetica, serif !important;
  font-size: 13px !important;
  opacity: 1 !important;
}

.tooltip-inner {
  background-color: #464C59;
  border-color: #464C59;
  border-radius: 2px;
  padding: 6px 16px;
  text-align: left;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #464C59;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #464C59;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #464C59;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #464C59;
}
.right-discount .tooltip-inner {
  max-width: unset !important;
  width: 260px;
}
.breadcrumb {
  padding: 20px 0 0 0;
}

.breadcrumb>li a {
  color: #333;
}

.breadcrumb>li:last-child a {
  color: #999;
}

.image-des img {
  position: relative;
  top: -2px;
}

.big-client-modal .modal-dialog {
  margin: 0;
  position: absolute;
  top: calc(50% - 220px);
  right: calc(50% - 220px);
  width: 440px;
  height: 440px;
  background: url('/public/image/buyer_seller_store/discount_modal_bg.png');
  color: #fff;
  text-align: center;
}
.big-client-modal .dialog-close-btn {
  position: absolute;
  top: 11px;
  right: 11px;
  display: inline-block;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.big-client-modal .client-title {
  font-size: 22px;
  padding-top: 55px;
  opacity: .86;
}

.big-client-modal .client-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  opacity: .98;
}

.big-client-modal .font-num {
  font-size: 149px;
  font-family: Helvetica;
  font-weight: bold;
  padding-right: 8px;
}

.big-client-modal .num-per {
  display: flex;
  flex-direction: column;
}

.big-client-modal .num-per span:first-child {
  font-size: 60px;
  position: relative;
  top: 8px;
}

.big-client-modal .num-per span:last-child {
  font-size: 25px
}

.big-client-modal .client-subtitle {
  font-size: 14px;
  line-height: 18px;
  padding: 0 34px 20px 34px;
  opacity: .8;
}

.buyer-seller-store .right-discount {
  width: 160px;
  height: 67px;
  background: url('/public/image/buyer_seller_store/discount_coupon_bg.png');
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #fff;
  padding: 6px 16px;
  opacity: .98;
}

.buyer-seller-store .right-discount .my-count {
  height: 38px;
}

.buyer-seller-store .right-discount .discount-content {
  font-size: 30px;
  padding-right: 4px;
}

.buyer-seller-store .right-discount i.giga {
  position: absolute;
  top: 4px;
  right: 10px;
  font-weight: 200;
}
.buyer-seller-store .right-discount {
  z-index: 2;
}

@keyframes modalhide {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.15);
  }
}

@-webkit-keyframes modalhide {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.15);
  }
}

.big-client-modal .animat-modal {
  -webkit-animation: .5s modalhide forwards;
  animation: .5s modalhide forwards;
}
/*#33508 店铺头部加store-code*/
.store-code{
  color: #666666;
  font-size: 12px;
}
.flex-group-cloum{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-group-cloum-top{
  display: flex;
  height: 20px;
  margin-bottom: 4px;
  /* line-height: 30px; */
}
.flex-group-cloum-buttom{
  width: 100%;
}
.store-name-display-inherit{
  display: inherit;
  height: 100%;
}

/*onsite-tag*/
.onsite-flag.store-onsite-top{
  margin-left: 8px;
  width: 46px;
}
.onsite-flag.pop-down-new .pop-down.top-25{
  top: 25px;
}
/*#29414 店铺活动*/
.limit-store-png{
  margin-bottom: 2px;
}
/*end*/
