@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-21 16:30:28
// @modified         2019-10-23 14:22:26
//

#module-featured-stores {
  position: relative;

  .swiper-slide {
      width: 450px;
      border: 1px solid #eee;

    .store-item {
      display: flex;
      height: 200px;

      .left {
        flex: 1;
        padding: 30px 0 0 40px;
        background-color: #f7f7f7;

        span {
          display: block;
        }

        .title {
          font-size: 16px;
          font-weight: bold;
        }

        .btn {
          margin-top: 50px;
        }
      }
      .right {
        background-color: #fff;
        width: 200px;
      }
    }
  }
}
