@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-31 15:10:12
// @modified         2019-10-31 15:16:57
//

.module-notice {
  padding: 20px;

  h3 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #bfbfbf;
  }

  h4 {
    color: $brand-primary;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        font-size: 12px;
        color: #222;
      }
    }
  }

  a.btn-all {
    color: #677999;
  }
}
