@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-22 10:45:49
// @modified         2019-10-23 14:36:32
//

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;

  box-shadow: none !important;
  background: #a3aec1 !important;
}

.swiper-pagination-bullet-active {
  background: $brand-primary !important;
}

.swiper-pagination-inside-bottom {
  bottom: 14px !important;
}

.swiper-pagination-outside-bottom {
  position: inherit !important;
  bottom: auto !important;
  top: auto !important;
}

.swiper-button-group {
  position: absolute;
  top: -0;
  right: 0;

  span {
    cursor: pointer;
    font-size: 24px;
    padding: 0 6px;
  }
}
