
.contact-information-content{
  padding: 36px;
  height: 477px;
}
.contact-information-content .finished-message{
  width: 1128px;
  height: 48px;
  background: #FAFAFA;
  opacity: 1;
  border-radius: 4px;
}
.contact-information-content .finished-message-content{
  line-height: 18px;
  color: #666666;
  padding: 16px 19px 16px 24px;
}
.contact-information-content .update-btn{
  display: flex;
  justify-content: center;
  margin-right: 84px;
  margin-top: 8px;
}
.contact-information-content .edit .oris-input {
  width: 300px;
}
.contact-information-content .edit > div:not(:last-child) {
  margin-top: 24px;
}
.contact-information-content .privacy-setting{
  margin-top: -10px;
}
.contact-information-content .radio-content{
  width: 270px;
  display: inline-flex;
  line-height: 18px;
}
.contact-information-content select {
  width: 96px;
  height: 40px;
  border: 1px solid #C1C1C1;
}
.contact-information-content select:hover {
  border-color: #666666;
}
.contact-information-content .edit .mobile-input {
  width: 196px;
  height: 40px;
}
.contact-information-content .buyer-info{
  width: 446px;
  margin: 0 auto;
}
.contact-information-content  .info-label {
  width: 104px;
  margin-right:16px;
  line-height: 40px;
  text-align: right;
  margin-bottom: 0;
}
.contact-information-content .radio, .checkbox {
   margin-top: 0;
  margin-bottom: 16px;
}
.contact-information-content  .phone-left{
  margin-left: 8px;
  width: 196px;
}
.contact-information-content .select-width{
  width: 96px;
}
.contact-information-content .oris-select .bootstrap-select .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
}
.contact-information label.mobile-lable:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}
.contact-information .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  display: flex;
  color: #999999 !important;
  opacity: 1;
}
.contact-information .counrty-code-color{
  color: #333333;
}
.contact-information .just-flex-privacy{
  margin-top: 16px !important;
}
.contact-information label.mobile-lable {
  margin-top: -8px;
}
.contact-information .flex-layout-mobile{
  display: flex;
  align-items: baseline;
}
.contact-information .border-danger {
  border-color: #E64545 !important;
}
.contact-information .msg-card{
  border: 1px solid #DCDCDC;
}