
.buyer-information-content{
  padding: 36px;
}
.buyer-information-content .finished-message{
  width: 1128px;
  height: 66px;
  background: #FAFAFA;
  opacity: 1;
  border-radius: 4px;
  margin-bottom: 24px;
}
.buyer-information-content .finished-message-content{
  line-height: 18px;
  color: #666666;
  padding: 16px 19px 16px 24px;
}
.buyer-information-content .update-btn{
  display: flex;
  justify-content: center;
  margin-right: 54px;
  margin-top: 8px;
}
.buyer-information-content .edit .oris-input {
  width: 300px;
}
.buyer-information-content .edit > div:not(:last-child) {
  margin-top: 16px;
}
.buyer-information-content .privacy-setting{
  margin-top: 0;
}
.buyer-information-content .radio-content{
  width: 270px;
  display: inline-flex;
  line-height: 18px;
}
.buyer-information-content select {
  width: 96px;
  height: 40px;
  border: 1px solid #C1C1C1;
}
.buyer-information-content select:hover {
  border-color: #666666;
}
.buyer-information-content .edit .mobile-input {
  width: 196px;
  height: 40px;
}
.buyer-information-content .buyer-info{
  width: 466px;
  margin: 0 auto;
}
.buyer-information-content .info-label {
  width: 126px;
  margin-right:16px;
  line-height: 40px;
  text-align: right;
  margin-bottom: 0;
}
.buyer-information-content .phone-left{
  margin-left: 8px;
  width: 196px;
}
.buyer-information-content .select-width{
  width: 96px;
}
.buyer-information-content .oris-select .bootstrap-select .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
}
.buyer-information-content label.mobile-lable{
  margin-top: -8px;
}
.buyer-information-content label.mobile-lable:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}
.buyer-information-content .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  display: flex;
  color: #999999 !important;
  opacity: 1;
}
.buyer-information-content .counrty-code-color{
  color: #333333;
}
.buyer-information-content .radio, .checkbox {
   margin-top: 0;
  margin-bottom: 16px;
}
.buyer-information-content label.info-label.privacy-setting {
  margin-top: -10px;
}
.buyer-information-content .flex-layout-qq{
  margin-top: 16px !important;
}
.buyer-information-content .flex-layout-mobile{
  display: flex;
  align-items: baseline;
}
.buyer-information-content .border-danger {
  border-color: #E64545 !important;
}
.buyer-information-content .num-wechat {
  display: flex;
  flex-direction: column;
}
.buyer-information .msg-card{
  border: 1px solid #DCDCDC;
}
