
.account-setting-content{
  padding: 36px 48px
}
.account-setting-content .basic-information{
  font-weight: bold;
  line-height: 14px;
  color: #333333;
}
.account-setting-content .basic-information-name{
  color: #999999;
  padding: 4px 0 12px 0;
}
.account-setting-content .user-id-num-val{
  color: #333333;
  padding-left:83px;
}
.account-setting-content .user-name-val{
  color: #333333;
  padding-left:113px;
}
.account-setting-content .email-val{
  color: #333333;
  padding-left:149px;
}
.account-setting-content .phone-val{
  color: #333333;
  padding-left: 144px ;
}
.account-setting-content .link-click{
  cursor: pointer;
  color: #004BD8;
}
.account-setting-content .change-phone{
  padding: 0 96px;
}
.account-setting-content a.link-click:hover{
  text-decoration: underline;
}
.account-setting-content .divider{
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #EEEEEE;
}
.account-setting-content .account-information{
  font-weight: bold;
  color: #333333;
  padding-top:10px
}
.account-setting-content .buyer-information{
  padding-left: 49px;
}
.account-setting-content .contact-information{
  padding-left: 48px;
}
.account-setting-content .account-information-link{
  padding-bottom: 10px;
  margin-top: -6px;
}
.account-setting .msg-card{
  border: 1px solid #DCDCDC;
}
