*{
  padding: 0;
  margin: 0;
}
.display-no{
  display: none;
}
.section{
  height:200px ;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.marketing-time-limit-content .section{
  background-image: url("/public/image/marketing_time_limit/home_page_discount_banner.jpg");   
}
.section-title{
  margin-top: 18px;
  font-size: 56px;
  font-weight: normal;
  line-height: 67px;
  color: #FFFFFF;
  text-shadow: 0px 3px 20px #2E0976;
}
.section-tip{
  display: flex;
  align-items: end;
  width: 1200px;
  margin: 26px auto 20px;
}
.display-center{
  align-items: flex-start;
  justify-content: center;
}
.section-text{
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 9px;
  text-align: left;
}
.color-c1{
  color: #c1c1c1;
}
/*规则按钮*/
.event-rules{
  height: 40px;  
  border-radius: 8px;
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 30px;
  display: inline-block;
}
.border-color-fb{
  border: 2px solid #FBCB03;
}
.mr-28{
  margin-right: 28px;
}
/*end*/
.word-break{
  word-break: break-word;
}
/*活动导航*/
.activity-navigation{
  height: 56px;
  border-bottom: 2px solid #C4113F;
}
.activity-navigation-ul{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
}
.activity-navigation-ul li{
  display: inline-block;
  height: 100%;
  width: 50%;
  line-height: 58px;
  cursor: pointer;
}
.activity-navigation-ul .full-li-width{
  width: 100%;
}
.navigation-default{
  background: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.navigation-active{
  background: #C4113F;
  color: #fff;
}
.navigation-block{
  display: block;
}
.navigation-none{
  display: none;
}
/*end*/
/*进行中活动*/
.ing-box{
  padding-top: 20px;
}
.hot-product-box-title{
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  color: #333333;
  margin-bottom: 10px;
}
.hot-product-box-content .view-more-btn.hot-btn.display-none{
  display: none;
}
/* .hot-product-box-content{ */
  /* margin: 0 0 24px 0;
} */
.more-active-to-come{
  width: 280px;
  height: 40px;
  border: 1px solid #999999;
  text-align: center;  
  margin: 30px auto 10px;
  /* padding: 8px 0; */
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}
.more-active-to-come:hover{
  background: #e1e1e1;
}
.border-radius-circle{
  display: inline-block;
  height: 18px;
  width: 18px;
  color: #333;
  /* background: #333; */
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
}
.border-radius-circle .icon-V10_youjiantougengduo,.border-radius-circle .icon-V10_shouyeyouxiadown{
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
/*end*/
/*左右缩略图*/
.left-right-thumbnails{
  width: 100%;
  display: flex;
  flex-wrap: wrap;    
}
.hot-product-box-item{
  box-sizing: border-box;
  background-color: #fff;
  width: calc(33.333333333333% - 10px);
  margin:7.5px;
  height: -webkit-fill-available;
}
.left-right-thumbnails .hot-product-box-item:nth-child(3n+1){
  margin: 7.5px 7.5px 7.5px 0;
}
.left-right-thumbnails .hot-product-box-item:nth-child(3n){
  margin: 7.5px 0 7.5px 7.5px;
}
.left-right-thumbnails .hot-product-box-item:nth-child(1){
  margin: 0 7.5px 7.5px 0px;
}
.left-right-thumbnails .hot-product-box-item:nth-child(2){
  margin: 0 7.5px 7.5px 7.5px;
}
.left-right-thumbnails .hot-product-box-item:nth-child(3){
  margin: 0 0 7.5px 7.5px;
}
.left-right-thumbnails .product-simple-template-new{
  display: flex;
  padding: 16px;
  position: relative;
}
.left-right-thumbnails .product-information,.m8-t{
  margin-top: 0;
}
.left-right-thumbnails .login-price{
  display: none;
}
.left-right-thumbnails .code-price-wrapper .media1200 {
  display: none;
}
.left-right-thumbnails .img-responsive.scale{
  transition: none !important;
}
.left-right-thumbnails .img-responsive.scale:hover{
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}
.left-right-thumbnails .img-responsive.scale{
  transition: transform 0.35s ease-in-out !important;
}
.left-right-thumbnails .qty-group{
  display: none;
}
.left-right-thumbnails .product-information .store-group{
  position: absolute;
  bottom: 30px;
}
.left-right-thumbnails .product-information .store-group.m30-b{
  margin-bottom: 0;
}
.left-right-thumbnails .swiper-no-swiping{
  display: inline-block;
  /* width: 100%; */
  font-size: 14px;
  margin-bottom: 2px;
}
.left-right-thumbnails .new-arrivals-qty{
  margin-left: -6px;
  font-size: 14px;
  margin-top: 8px;
  display: table-cell;
}
.left-right-thumbnails .store-name-marketing{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex-shrink: 3000;
  word-break:break-word;
  margin-bottom: 20px;
  margin-top: 6px;
}
.left-right-thumbnails .store-name-marketing a:hover{
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
.left-right-thumbnails .store-discount-value{
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 1;
  width: 70px;
  height: 20px;
  background: #DC1C4D;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.left-right-thumbnails .product-information{
  flex: 1;
}
.left-right-thumbnails .tag-group,.left-right-thumbnails .tag-group.tag1200 {
  display: none;
}
@media (max-width: 1440px){
  .left-right-thumbnails .product-simple-template-new .tag-group.tag1200 {
      display: none;
  }
}
.left-right-thumbnails .btn-group a:hover
{
  color: unset;
}
/*隐藏运费*/
.left-right-thumbnails .price-group .text-small{
  display: none;
}
/*产品卡片兼容1200px*/
@media (max-width: 1440px){
  .left-right-thumbnails .product-simple-template-new > .product-image{
    width: 180px;
    height: 180px;
    margin-right: 16px;
  } 
}
@media (min-width: 1441px){
  .left-right-thumbnails .product-simple-template-new > .product-image{
    width: 200px;
    height: 200px;
    margin-right: 16px;
  }
}
/*end*/
/*两个小时内的活动*/
.default-flex-end{
  display: none;  
  align-items: flex-end
}
.start-time-text{
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  line-height: 26px;
}
.time-box{
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background: #333333;
  color: #fff;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
  line-height: 26px;
}
.time-box:first-child{
  margin-left: 0px;
}
.view-more-btn{
  width: 160px;
  padding: 7px 0;
  border: 1px solid #999999;
  border-radius: 20px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  margin: 10px auto 0;
  /* cursor: pointer; */
}
.view-more-btn:hover{
  background: #e1e1e1;
}
.cursor-pointer{
  cursor: pointer; 
}
.cursor-drop{
  cursor: no-drop;
}
/* end */
/*搜索*/
.search-conntent-box{
    
}
.search-conntent-box .product-information .login-price,.search-conntent-box .product-simple-template-new .contact-seller,
.will-sale-btn{
  display: none;
}
.search-conntent-box .nav-bar{
  padding-left: 0;
  padding-right: 0;
}
.search-condition{
  justify-content: space-between;
  padding: 8px 20px;
  margin-top: 14px;
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.search-condition-left .edit{
  width: 60px;
  height: 32px;
  position: relative;
}
.search-condition-left .currency-icon{
  left: 4px;
  top: 0;
  line-height: 32px;
  position: absolute;
}
.search-condition-left .edit input{
  height: 32px;
  border: 1px solid #cfcfcf;
  box-shadow: none;
}
.search-condition-left .edit.icon:before {
  content: '';
  width: 6px;
  height: 1px;
  background: #bbb;
  position: absolute;
  right: -16px;
  top: 16px;
  z-index: 0;
}
.search-condition-left .paddding-normal{
  padding: 8px 6px;
}
.m40-l{
  margin-left: 40px;
}
.m24-l{
  margin-left: 24px;
}
.search-condition-left .btn_search{
  width: 40px;
  height: 32px;
  background-color: #ccc;
  border-radius: 2px;
  color: #fff;
  margin-left: 10px;
  text-align: center;
}
.search-condition-left .btn_go{
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 32px;
}
.search-condition-left .btn_go:hover{
  background-color: #1a4596;
  border-radius: 2px;
}
.search-condition-right .sort-item {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  text-align: center;
  color: #333;
  position: relative;
  padding-right: 24px;
}
.search-condition-right .sort-item:not(.last){
  margin-right: 6px;
}
.search-condition-right .sort-item.active,.search-condition-right .sort-item:hover {
  cursor: pointer;
  background-color: #e8e8e8;
  border-radius: 2px;
  color: #004bd8;
}
.search-condition-right .sequence-icon .icon-iup, .search-condition-right .sequence-icon .icon-down-solid {
  color: #999;
}
.search-condition-right .sequence-icon .icon-iup {
  position: absolute;
  top: 3.5px;
  right: 10px;
}
.search-condition-right .icon-down-solid {
  position: absolute;
  top: -3px;
  right: 10px;
}
.search-condition-right .sequence-icon > .giga {
  font-size: 12px;
  transform: scale(0.8);
}
.search-condition-right .giga.active {
  color: #004bd8;
}
.search-main-content{
  min-height: 720px;
}
/*end*/
/*上下缩略图*/
.up-dowm-thumbnails{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.up-dowm-thumbnails-item{
  box-sizing: border-box;
  width: calc( 20% - 16px);
  margin:10px;
  background-color: #fff;
  padding: 16px;
}
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(5n+1){
  margin: 10px 10px 10px 0;
}
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(5n){
  margin: 10px 0 10px 10px;
}
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(1){
  margin: 0 10px 10px 0px;
}
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(2),
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(3),
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(4)
{
  margin: 0 10px 10px 10px;
}
.up-dowm-thumbnails .up-dowm-thumbnails-item:nth-child(5){
  margin: 0 0 10px 10px;
}
.up-dowm-thumbnails .new-arrivals-qty{
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.up-dowm-thumbnails .store-group.mt-2 {
  margin-top: 10px;
}
.up-dowm-thumbnails .store-group.m30-b {
  margin-bottom: 0px !important;
}

.up-dowm-thumbnails .tag-group,.up-dowm-thumbnails .tag-group.tag1200 {
  display: none;
}
@media (max-width: 1440px){
  .up-dowm-thumbnails .product-simple-template-new .tag-group.tag1200 {
      display: none;
  }
}
.up-dowm-thumbnails .qty-group, .up-dowm-thumbnails .login-price{
  display: none;
}
.up-dowm-thumbnails  .min-price-height {
  min-height: auto !important;
  line-height: 18px;
}
.up-dowm-thumbnails .code-group .media1200{
  display: none;
}
.up-dowm-thumbnails .price-group .price-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.up-dowm-thumbnails .img-responsive.scale{
  transition: none !important;
}
.up-dowm-thumbnails .img-responsive.scale:hover{
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}
.up-dowm-thumbnails .img-responsive.scale{
  transition: transform 0.35s ease-in-out !important;
}
.up-dowm-thumbnails .qty-group{
  display: none;
}
.up-dowm-thumbnails .grid-layout .code-group.text-small{
  font-size: 14px !important;
}
.up-dowm-thumbnails .up-dowm-thumbnails-discount-value{
  display: inline-block;
  margin-top: 8px;
  background: #FFE8E8;
  width: 70px;
  border: 1px solid #E72528;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  color: #E72528;
  text-align: center;
  height: 20px;
  margin-bottom: 6px;
}
.up-dowm-thumbnails .btn-group a:hover
{
  color: unset;
}
/*隐藏运费*/
.up-dowm-thumbnails .price-group .text-small{
  display: none;
}
/*end*/
/*即将开始*/
.will-box{
  padding-top: 20px;
}
.section-time-title{
  line-height: 28px;
  /* margin-bottom: 5px; */
}
.time-icon{
  font-size: 28px;
  color: #666666;
}
.time-title{
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-left: 10px;
}
.section-time-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.will-box-item{
  margin:10px; 
  box-sizing: border-box;
  background-color: #fff;
  width: calc(50% - 10px);
  padding: 20px 24px;
}

/* .will-box-item:nth-child(1n-1){
  margin: 0 10px 10px 10px;
} */
.will-box-item{
  margin: 10px 10px 10px 0px;
}
.will-box-item:nth-child(2n+1){
  margin: 10px 10 10px 0px;
}
.will-box-item:nth-child(2n){
  margin: 10px 0 10px 10px;
}
/* 
.will-box-item:nth-child(1n){
  margin: 0 0 10px 10px;
}
.will-box-item:nth-child(1){
  margin: 0 10px 10px 0;
}
.will-box-item:nth-child(2){
  margin: 0 0 10px 10px;
} */
.store-msg-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-logo-msg{
  display: flex;
  align-items: center;
  flex: 1;
}
.store-logo{
  width: 60px;
  height: 60px;
  border: 1px solid #CCCCCC;
  padding: 4px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.store-msg-group{
  flex: 1;
  margin-left: 10px;
}
.store-name-big{
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex-shrink: 3000;
  word-break: break-all;
  margin-right: 18px;
}
.will-box-item .store-name-big:hover a{
  color: #333333;
}
.will-box-item .store-name-big:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #333333;
}
.store-discount{
  font-size: 14px;
  font-weight: bold;
  color: #E72528;
  margin-top: 5px;
}
.will-box-item .item-tag{
  display: inline-block;
  height: 18px;
  background-color: #FFF0E6;
  color: #FF6600;
  z-index: 2;
  padding: 0px 5px;
  margin-left: 5px;
  line-height: 18px;
  font-size: 14px;
}
.will-box-item .store-group .score .pop-down{
  font-weight: 500 !important;
}
.will-box-item .item-tag .pop-down{
  margin-top: 24px;
}
.will-box-item .pop-down{
  left: calc(50% - 115px);
}
.start-after{
  font-size: 14px;
  color: #404040;
  margin-right: 10px;
}
.time-detail{
  text-align: -webkit-right;
}
.will-view-more{
  width: 100px;
  height: 24px;
  background: #EDEFF3;
  border-radius: 12px;
  font-size: 12px;
  color: #333333;
  text-align: center;
  line-height: 24px;
  margin-top: 5px;
  cursor: pointer;
}
.will-view-more:hover{
  background: #E1E1E1;
}
.will-view-more:hover a{
  color: #333333;
}

.store-product-msg{
  margin-top: 18px;
  display: flex;
}
.store-product-msg-item{
  overflow: hidden;
  margin-right: 15.5px;
  margin-left: 15.5px;
}
/*店铺卡片 1200px */
@media (max-width: 1440px){
  .store-product-msg-item{
    width: 160px;
  } 
}
@media (min-width: 1441px){
  .store-product-msg-item{
    width: 200px;
  }
}
.store-product-msg-item .store-product-msg-item-img{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.store-product-msg-item:first-child{
  margin-left: 0;
}
.store-product-msg-item:last-child{
  margin-right: 0;
}
.price-name-group{
  display: inline-block;
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 8px;
}
.store-product-price{
  font-weight: bold;
  display: inline-block;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.store-product-name{
  display: inline-block;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-discount{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 70px;
  height: 20px;
  background: #DC1C4D;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  z-index: 1;
}
.store-product-msg-item-img img,
.store-product-msg-item-img .product-will-sale-img
{
  transition: transform 0.35s ease-in-out !important;
}
.store-product-msg-item-img:hover img,
.store-product-msg-item-img:hover .product-will-sale-img
{
  -webkit-transform: scale(1.05) !important;
  -ms-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
}
.font-weight-normal{
  font-weight: normal;
}
.will-box .section-time-box{
  margin-top: 16px;
}
.will-box .section-time-box:first-child{
  margin-top: 0;
}
/*end*/
/* nav 特殊处理 */
.item-nav:hover{
  background: #e1e1e1 !important;
}
.ops-abs {
  position: absolute;
}
/* 无活动数据显示样式 */
.no-limit-icon{
  font-size: 65px;
  color: #dcdcdc;
}
.limit-no-record{
  height: 312px;
  text-align: center;
  padding-top: 50px;
}
.no-limit-text{
  color: #333333;
  font-size: 14px;
  margin-top: -20px;
}