.seller-agreement-detail-container{
    background-color: #fff;
}
.check-box input[type="radio"]{
    margin-right: 8px;
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
}
#seller-agreement-detail-box .status-msg .oris-circle.padding2{
    padding: 2px;
    margin-bottom: 2px;
}
#seller-agreement-detail-box .status-msg .oris-circle.color-dc{
    background: #333;
}
.agreement-header{
    width: 68.3%;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agreement-container{
    width: 68.3%;
    background: #FAFAFA;
    height: 100%;
    margin: 0 24px 24px 24px;
    min-height: 816px;
    padding: 24px;
    position: relative;
}
.m6-r{
    margin-right: 6px;
}
.mr-octal1 {
    margin-right: 8px;
}
.text-bigger {
    font-size: 18px;
}
.m16-b{
    margin-bottom: 16px;
}
.m8-t {
    margin-top: 8px;
}
#seller-agreement-detail-box .fixed-btn{
    text-align: right;
    padding-right: 24px;
}
.seller-agreement-detail-container .agreement-down-btn .download-text:hover{
    color: #375ACD;
}
.text-r{
    text-align: right;
}
/* .seller-fixed-btn .oris-button:last-child{
    margin-right: 24px;
} */
.down-border:hover{
    background: #fff;
    color: #375ACD;
    border-color: #375ACD;
    cursor: pointer;
}
.down-border:hover .download-text{
    color: #375ACD;
}
.page-content i.icon-V10-wenhaotishi{
    font-weight: normal !important;
}