.underline{
  text-decoration: underline;
}

.page-verify .verify-number {
  width: 1200px;
  margin: 24px auto;
  padding: 48px 40px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  min-height: 600px;
}

.oris-buyer .page-change{
  width: 1200px;
  margin: 0 auto;
}

.page-change{
  padding: 48px 40px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  min-height: 600px;
}

.page-verify .verify-number .verify-msg {
  width: 360px;
  margin:24px auto;
}

.page-change .verify-number .verify-msg {
  width: 360px;
  margin:48px auto;
}

.verify-msg input[type=text],
.verify-msg button,
.verify-msg .oris-select .bootstrap-select .dropdown-toggle{
  height: 50px;
  line-height: 32px;
}

.verify-msg input[type=text].border-danger:hover,
.verify-msg input[type=text].border-danger:focus{
  border-color:#E64545 ;
}

.verify-msg .oris-select{
  height: 50px;
}

.verify-msg .oris-select .bootstrap-select{
  z-index: 9;
  background-color: #fff;
}

.verify-msg .oris-select .bootstrap-select .dropdown-toggle .filter-option-inner{
  height: 100%;
  line-height: 48px;
}

.verify-msg .oris-select .bootstrap-select .dropdown-toggle.disabled{
  opacity: 1;
}

.verify-msg .oris-select .bootstrap-select .dropdown-toggle.disabled:hover,
.verify-msg .oris-select .bootstrap-select .dropdown-toggle.disabled:focus{
  border-color: #c1c1c1;
}

.verify-msg .oris-button{
  background-color:#2861CE ;
}

.verify-msg .oris-button[disabled]{
  background-color: #2861CE;
  border-color: #2861CE;
  color: #fff;
  opacity: .3;
}

.page-change .verify-msg .oris-select .bootstrap-select .dropdown-toggle{
  opacity: 1;
}

.page-change .verify-msg input[type=text][disabled]{
  background-color: #fafafa;
}

.verify-msg .oris-button:not([disabled]):hover,
.verify-msg .oris-button:not([disabled]):focus,
.verify-msg .oris-button:not([disabled]):active{
  background-color:#2057C0 ;
}
.verify-msg .msg-title{
  position: absolute;
  font-size: 12px;
  background-color: #fff;
  left: 24px;
  top: -6px;
  padding: 0 4px;
}
.verify-msg .msg-title.text-danger{
  color: #e64545;
}
.verify-msg .get-code{
  position: absolute;
  right: 8px;
  top: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
.verify-msg .get-code[disabled]{
  cursor: not-allowed;
  color: #999;
}

.verify-number hr,
.page-change hr{
  border-color: #c1c1c1;
  margin:32px 0 ;
}

.verify-number .verify-tip,
.page-change .verify-tip{
  margin: 0 160px;
}

.verify-number .verify-success-tips{
  width: 880px;
  margin:24px auto;
  background: #E1FAF0;
  border-radius: 2px;
  padding: 24px;
  color:#0AAD4F ;
}

.verify-success-tips .giga{
  font-size: 24px;
  margin-right: 16px;
}

.page-change .progress-step{
  width: 880px;
  margin: 40px auto 24px;
  background: #F2F2F2;
  height: 40px;
  line-height: 40px;
}

.page-change .progress-step > ul>li{
  list-style: none;
}

.page-change .progress-step > ul>li.step{
  flex: 1;
  text-align: center;
}

.page-change .progress-step > ul>.next:after{
  content: '\e6eb';
  font-family: 'giga';
  color: #c1c1c1;
}

.page-change #verifyNumber .telNum .msg-title{
background-color: transparent;
  z-index: 9;
}

.page-change #verifyNumber .telNum .style-line{
  border-bottom: 1px solid #fff;
  width: 56px;
  position: absolute;
  top: 0;
  left: 24px;
  z-index: 8;
}

.page-change .verify-account{
  width: 880px;
  margin: 0 auto;
}

.relative{
  position: relative;
}

.oris-select input.placeholder{
  position: absolute;
  bottom: 0;
  /*width: calc(100% - 40px);*/
  left: 0;
}
.verify-phone-number{
  margin-left: 135px;
}
.change-phone-number{
  margin-left: 150px;
}
.message-authentication-code{
  width: 380px;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  opacity: 1;
  padding-bottom: 35px;
}
.oris-select .bootstrap-select .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  display: flex;
  justify-content: space-between;
  color: #999999 !important;
  opacity: 1;
}
.right-country-code{
  padding-right: 18px;
}
.country-code{
  z-index: 10
}
.counrty-code-color{
  color: #333333;
}