.files-modal .ele.ele-btn-group {
  justify-content: flex-end;
}

.files-modal .ele.ele-btn-group .el-button:first-child {
  /* margin-right: 10px; */
}

.files-modal .ele.ele-modal .el-dialog__body {
  padding: 4px 24px;
  max-height: 534px;
  overflow-y: auto;
}

.files-modal .el-tabs__item.is-active,
.files-modal .el-tabs__active-bar,
.files-modal .el-tabs__item:hover {
  color: #004bd8;
}

.files-modal .el-tabs__item {
  padding: 0 20px 4px 20px;
  height: 46px;
}

.files-modal .el-tabs__active-bar {
  background: #004bd8;
}

.files-modal .el-tabs__active-bar:after {
  content: '';
  display: inline-block;
  width: calc(100% + 12px);
  top: 0;
  position: absolute;
  height: 2px;
  left: -6px;
  background: #004bd8;
}

.files-modal .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 6px !important;
}

.files-modal .el-tabs__nav-wrap::after {
  height: 1px;
}

.files-modal .el-tab-pane {
  height: 400px;
}

.files-modal .files-search {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.files-modal .files-search input {
  height: 40px;
  width: 100%;
}

.files-modal .files-search i.giga {
  float: right;
  position: relative;
  top: 4px;
  right: -4px;
  padding-right: 10px;
  padding-left: 4px;
  color: #999;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

.files-modal .el-icon-circle-close:before {
  font-family: giga;
  content: '\e721';
  right: 16px;
  font-size: 16px;
  color: #C1C1C1;
}

.files-modal .all-types {
  height: 28px;
  line-height: 0 !important;
  margin-top: 9px;
}

.files-modal .all-types>span {
  height: 28px;
  line-height: 14px;
  display: inline-block;
  padding: 6px 14px;
  background: #EEEEEE;
  border-radius: 100px;
  margin-right: 8px;
  cursor: pointer;
}

.files-modal .all-types>span.active {
  color: #004BD8;
  background: rgba(55, 90, 205, 0.1);
}

.files-modal .files-menu {
  color: #666666;
  height: 28px;
  line-height: 28px;
}

.files-modal .files-list .my-search {
  color: #666;
}
.files-modal .files-menu .my-menus span,.my-search {
  display: inline-block;
  height: 28px;
  max-width: 120px;
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.files-modal .files-menu .my-menus span:not(:last-child) {
  color: #999;
}

.files-modal .files-menu .my-menus span:not(:last-child):hover {
  color: #333;
  cursor: pointer;
}

.files-modal .scroll-loading {
  color: #666666;
  margin: 8px 0;
  text-align: center;
}

.files-modal .scroll-loading .empty-img {
  padding-top: 100px;
}

.files-modal .scroll-content {
  height: 340px;
  overflow-y: scroll;
}

.files-modal .h300 {
  height: 300px;
}

.files-modal .select-line,
.files-modal .file-line {
  display: flex;
  align-items: center;
  min-height: 50px;
  line-height: 20px;
  white-space: pre-wrap;
}

.files-modal .select-line {
  width: 100%;
  color: #666;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.files-modal .select-line .operation-btn .upload-btn {
  float: none;
}
.files-modal .select-line .operation-btn .logo-min {
  display: inline-block;
  width: 0px;
  height: 9px;
  border: 1px solid #C1C1C1;
  opacity: 1;
  margin:0 8px;
}

.files-modal .no-border {
  border: none;
}

.files-modal .select-line input[type="checkbox"],
.files-modal .file-line input[type="checkbox"] {
  margin-right: 6px;
}

.files-modal .check-m16 {
  margin-left: 16px !important;
}

.files-modal .file-line img {
  padding-right: 14px;
}

.files-modal .image-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.files-modal .image-line .image-one {
  width: 18.5%;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.files-modal .image-line .image-one:nth-child(5n) {
  margin-right: 0;
}

.files-modal .image-line .image-one .myimage {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  transition: padding .35s;
  cursor: pointer;
}

.files-modal .image-line .image-one .myimage .show-img {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 102px;
}


.files-modal .image-line .image-one .myimage img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.files-modal .image-line .image-one .myimage .oris-checkbox-mini {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}

.files-modal .image-line .image-one .myimage:hover img {
  opacity: .8;
}

.files-modal .image-line .image-one .myimage:hover .oris-checkbox-mini,
.files-modal .checkeded-box .oris-checkbox-mini {
  display: inline-block !important;
}

.files-modal .checkeded-box.myimage {
  border: 1px solid #375ACD;
  padding: 8px;
  transition: padding .35s;
  -moz-transition: padding .35s;
  /* Firefox 4 */
  -webkit-transition: padding .35s;
  /* Safari 和 Chrome */
  -o-transition: padding .35s;
  /* Opera */
}

.files-modal .image-line .image-one .image-name {
  font-size: 12px;
  line-height: 28px;
  width: 120px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: center;
}

.files-modal .upload-btn {
  color: #004bd8;
  cursor: pointer;
  float: left;
}


.files-modal .upload-btn:hover {
  text-decoration: underline;
}

.files-modal .file-upload-loading {
  color: #fff !important;
  font-size: 30px;
}

.files-modal .files-modal-input {
  display: none;
}

.files-modal .error-container>div {
  display: flex;
  margin-bottom: 20px;
}

.files-modal .error-container>div:first-child {
  margin-bottom: 10px;
  margin-top: 8px;
  font-weight: bold;
}

.files-modal .error-container>div>img {
  width: 30px !important;
  height: 100%;
  margin-right: 8px;
  position: relative;
  top: 6px;
}

.files-modal .error-container i.giga {
  color: #E64545;
  font-size: 20px;
  margin: 0 13px 0 5px;
  font-weight: normal;
}

.files-modal .error-container .error-name {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  flex: 1;
}

.files-modal .error-container .error-name .text-danger {
  font-size: 12px;
}

.files-modal .file-line .pointer {
  cursor: pointer;
}

.files-modal .wrap_content_top {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  text-align: center;
  background: 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1999;
}

.files-modal .wrap_content_bottom {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  background: 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1999;
}

.files-modal .my-plus-icon {
  width: 100%;
  height: 100%;
  line-height: 146px;
}

.files-modal .el-input {
  width: 100%;
}

.files-modal .empty-title {
  color: #999;
}

.files-modal .empty-title .upload-btn {
  color: #004bd8;
  cursor: pointer;
  float: none;
}


.files-modal .empty-title .upload-btn:hover {
  text-decoration: underline;
}

/* my-pagination */
.page {
  width: 100%;
  margin-bottom: 10px;
  padding-right: 9px;
  height: 29px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.page .el-pagination__sizes{
  margin: 0 !important;
}

.page .page-item{
  line-height: 29px;
  padding-right: 5px;
  text-align: left;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #333333 !important;
  color: #FFF;
}

.rename-input {
  position: relative;
  z-index: 5;
  /*left: 40px;*/
  width: 120px;
  height: 28px;
  background-color: #EEEEEE;
  border-radius: 4px;
  display: flex;
  /* margin-left: -9px; */
  border: 1px solid #EEEEEE;
}

.rename-input input {
  background-color: #EEEEEE;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 4px 8px;
  color: #333333;
  font-size: 14px;
  font-family: Arial;
  font-weight: 400;
}

.rename-input input:focus-visible {
  outline: 0;
}

.rename-input .confirm-cancel-box {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatex(100%) translateY(-50%);
}

.rename-input .confirm-cancel-box i {
  cursor: pointer;
  color: #C1C1C1;
  font-size: 16px;
  margin-left: 3px;
  font-weight: 400;
  line-height: 10px;
}
/* 更改elementui分页样式 */

.el-pagination.is-background .el-pager li{
  margin:0 !important;
  border-radius: 0 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #333333 !important;
  color: #FFF;
}
.el-pagination.is-background .el-pager li{
  margin:0 !important;
  border-radius: 0 !important;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  margin: 0 !important;
}

.el-select-dropdown__item.selected {
  color: #375ACD !important;
}

.el-select .el-input.is-focus .el-input__inner{
  border-color: #375ACD !important;
}

.page .el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: #375ACD;
}

.page .el-pagination.is-background .el-pager li:not(.disabled).active {
  color: #fff;
}

.el-pagination__sizes .el-input .el-input__inner:hover{
  border-color: #375ACD !important;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  background-color: #fff !important;
  border-left:1px solid #ccc !important;
  border-top:1px solid #ccc !important;
  border-bottom:1px solid #ccc !important;
  line-height: 26px;
}

.el-pagination.is-background .btn-next{
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-right: 1px solid #ccc;
}

.el-pagination.is-background .btn-prev{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-left: 1px solid #ccc;
}