{#创建方案#}
<div class="modal fade bs-example-modal-lg auto-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="createProtection" data-backdrop="static" data-container="#automaticPurchase">
  <div class="modal-dialog modal-lg oris-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create an Auto-Purchase Plan</h4>
      </div>
      <div class="modal-body maxH-650">
        <div>
          <table class="oris-table border-table protection-table">
            <thead>
            <tr>
              <th class="text-left">Orders Covered by the Auto-Purchase Plan</th>
              <th class="oris-w280 text-left">Protection Service for Purchase</th>
              <th class="oris-w100"></th>
            </tr>
            </thead>
            <tbody id="automaticList" class="automatic-list">
            <tr>
              <td class="text-left">
                <div class="order-msg">
                  <div class="outline-none col-sm-4 order-type pl-0" tabindex="0" data-toggle="popover" data-placement="top"
                       data-content="Select a time range, and once the time when the Sales Order Status changed as 'BP' is in this time range, the system will automatically purchase the selected Protection Service for this order."
                       data-html="true"  data-trigger="hover" data-container="#createProtection">
                    <input class="oris-input" type="text" name="service" disabled value="Order Being Processed" data-planid="">
                  </div>
                  <div class="service-time col-sm-8 pl-0">
                    <div class="datetimepicker col-sm-6 outline-none action-clear p-0 p05-r">
                      <input type="text" name="startDate" value="" placeholder="Pick a date..." readonly
                             id="" class="oris-input startDate"/>
                      <i class="giga icon-v10quxiao-01 oris-clear"></i>
                    </div>
                    <div class="datetimepicker endDateMsg col-sm-6 outline-none action-clear p-0 p05-l" tabindex="0" data-toggle="popover" data-placement="top"
                         data-content="" data-html="true"  data-trigger="manual" data-container="#createProtection">
                      <input type="text" name="endDate" value="" placeholder="Pick a date..." id="" readonly
                             class="oris-input endDate"/>
                      <i class="giga icon-v10quxiao-01 oris-clear"></i>
                      <div class="none">
                        <div>
                          End Time can be left unselected to mean that the Protection Service can be purchased for orders covered by Start Time.
                        </div>
                        <div class="text-right"><a class="pointer link close-timeTip">OK</a></div>
                      </div>
                    </div>
                    <div class="service-required text-danger text-size13 none text-left">Required</div>
                    <div class="time-earlier text-danger text-size13 none text-left">End Time must be later than Start Time</div>
                  </div>
                </div>
              </td>
              <td class="text-left guarantee-service">
                <div id="serviceList" class="service-list"></div>
                <div class="service-required text-danger text-size13 none text-left m05-l">Required</div>
              </td>
              <td class="text-left">
                <a class="add-automatic pointer" onclick="addAutomatic(this)">
                  <i class="giga icon-iconfonticon02"></i>
                  <span>Add</span>
                </a>
                <a class="delete-automatic pointer none">
                  <i class="giga icon-co_lajitong"></i>
                  <span>Delete</span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="flex-layout mt-1">
          <input id="agreeAgreement" type="checkbox" class="oris-checkbox pointer m0-l pointer" checked>
          <span class="ml-06"> I have confirmed and authorized the B2B Marketplace to aumatically purchase Protection Service for the orders covered within the above time range.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="oris-button oris-button-default p10-tb" data-dismiss="modal">Cancel</button>
        <a id="submitTable" type="button" class="oris-button" data-toggle="tooltip" title="">Submit</a>
      </div>
    </div>
  </div>
</div>
<script>
  //创建保障服务方案
  function createPlan() {
    $.ajax({
      url: '{{ url('account/safeguard/auto_buy_plan/creatPlan') }}',
      dataType: 'json',
      success: function (res) {
        if (res.code == 200) {
          //初始化日期选择器
          minDate=res.data.currentDate;
          initialize();
          //获取保障服务类型
          var data = res.data.availableConfig;
          var serviceList =``;
          if (data.length>0){
            for (var i in data){
              serviceList +=`
                 <div class="flex">
                    <input type="checkbox" class="oris-checkbox pointer mr-octal1" name="automatic" value="${data[i].safeguard_config_id}">
                    <span class="break-word" style="max-width: 235px">${data[i].config.title}</span>
                  </div>
              `
            }
          }
          else{
            serviceList =` <div>There is no guarantee service available for purchase</div>`
          }
          $(".service-list").html(serviceList);

          //终止时间提示
          if(res.data.expirationNotice==false){
            endDateMsg = $(".endDateMsg").children('.none').html();
          }else {
            endDateMsg =``;
          }
          $('#createProtection').modal('show');
        }
        else {
          var tmplayer = layer.confirm(res.msg, {
            title: 'Error',
            skin: 'oris-layer',
            btn: ['OK'],
            btnAlign: 'c',
          }, function () {
            layer.close(tmplayer);
          });
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  //关闭创建弹窗
  $("body").on("hide.bs.modal","#createProtection",function(){   //当模态框关闭时执行
    $('#tab_auto_buy_plan').load('index.php?route=account/safeguard/auto_buy_plan/list');
  });

  //添加
  function addAutomatic(that){
      var $tr = $(that).closest('tr');
      $("#automaticList").append($tr.clone());
      $("#automaticList tr:last-child").find('.service-time').children('.popover').hide();
      $("#automaticList tr:last-child").find('td').find('input:not([name=service]):not([name=automatic])').val('');
      $("#automaticList tr:last-child").find('td').children('.add-automatic').addClass('none');
      $("#automaticList tr:last-child").find('td').children('.delete-automatic').removeClass('none');
      $("#automaticList tr:last-child").find('td').find('.service-required,.time-earlier').addClass('none');
      $("#automaticList tr:last-child").find('.startDate').removeClass('text-border');
      $("#automaticList tr:last-child").find('input[name=automatic]').attr('checked',false);
      $("#automaticList tr:last-child").find('.endDateMsg').children('.none').remove();
      initialize();
      $('[data-toggle="popover"]').popover();
      orisComponents.initClearInputIcon();
      orisComponents.clearInputIcon();
  }

  //提交
  $("#submitTable").on('click',function () {
    var that = this;
    if ( $(this).attr('disabled')!='disabled'){
      var tableData = getTableRow(that);
      var flag=checkService(that);
      if (flag) {
        var content='Do you confirm to save the plan? It will not affect the orders that have purchased Protection Service.';
        var lock = false;
        var sConfirm = layer.confirm(content, {
          title: 'Confirm',
          skin: 'oris-layer', //样式类名
          btn: ['Yes', 'No'],
          btnAlign:'c'
        },function () {
          if (!lock){
            lock = true;
            $.ajax({
              url: "index.php?route=account/safeguard/auto_buy_plan/saveNewPlan",
              type: "POST",
              data: {
                data:tableData
              },
              error: function () {
                $.toast({
                  heading: false,
                  text: 'Failed to submit, you may contact the customer service.',
                  position: 'top-center',
                  showHideTransition: 'fade',
                  icon: 'error',
                  hideAfter: 10000,
                  allowToastClose: true,
                  loader: false
                })
              },
              success: function (res) {
                if (res.code==200){
                  layer.close(sConfirm);
                  $("#createProtection").modal('hide');
                  $('#tab_auto_buy_plan').load('index.php?route=account/safeguard/auto_buy_plan/list');
                  if (res.data.isAboutToExpire) {
                    $('#dueSoon').removeClass('noneI');
                  } else {
                    $('#dueSoon').addClass('noneI');
                  }
                  $.toast({
                    heading: false,
                    text: res.msg,
                    position: 'top-center',
                    showHideTransition: 'fade',
                    icon: 'success',
                    hideAfter: 3000,
                    allowToastClose: true,
                    loader: false
                  });
                }else{
                  layer.close(sConfirm);
                  layer.confirm(res.msg, {
                    title: 'Error',
                    skin: 'oris-layer',
                    btn: ['OK'],
                    btnAlign: 'c',
                  }, function () {
                    layer.closeAll()
                  });
                }
              }
            });
          }
        })
      }
    }else{
      return false;
    }
  });
</script>