{#新增自动购买方案#}
<table id="APScheme" class="none">
  <tr>
    <td class="text-left">
      <div class="order-msg">
        <div class="outline-none col-sm-4 order-type pl-0" tabindex="0" data-toggle="popover" data-placement="top"
             data-content="Select a time range, and once the time when the Sales Order Status changed as 'BP' is in this time range, the system will automatically purchase the selected Protection Service for this order."
             data-html="true"  data-trigger="hover" data-container="#editProtection">
          <input class="oris-input" type="text" name="service" disabled value="Order Being Processed">
        </div>
        <div class="service-time col-sm-8 pl-0">
          <div class="datetimepicker col-sm-6 outline-none action-clear p-0  p05-r">
            <input type="text" name="startDate" value="" placeholder="Pick a date..." readonly
                   id="" class="oris-input startDate"/>
            <i class="giga icon-v10quxiao-01 oris-clear" style="right: 15px"></i>
          </div>
          <div class="datetimepicker endDateMsg col-sm-6 outline-none action-clear p-0 p05-l" tabindex="0" data-toggle="popover" data-placement="top"
               data-content="" data-html="true"  data-trigger="manual" data-container="#editProtection">
            <input type="text" name="endDate" value="" placeholder="Pick a date..." readonly
                   id="" class="oris-input endDate"/>
            <i class="giga icon-v10quxiao-01 oris-clear"></i>
            <div class="none">
              <div>
                End Time can be left unselected to mean that the Protection Service can be purchased for orders covered by Start Time.
              </div>
              <div class="text-right"><a class="pointer link close-timeTip">OK</a></div>
            </div>
          </div>
          <div class="service-required text-danger text-size13 none text-left">Required</div>
          <div class="time-earlier text-danger text-size13 none text-left">End Time must be later than Start Time</div>
        </div>
      </div>
    </td>
    <td class="text-left guarantee-service">
      <div id="serviceList" class="service-list"></div>
      <div class="service-required text-danger text-size13 none text-left m05-l">Required</div>
    </td>
    <td class="text-left">
      <button class="delete-automatic pointer">
        <i class="giga icon-co_lajitong"></i>
        <span>Delete</span>
      </button>
    </td>
  </tr>
</table>
<div class="modal fade bs-example-modal-lg auto-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="editProtection" data-backdrop="static" >
  <div class="modal-dialog modal-lg oris-buyer oris-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit the Auto-Purchase Plan</h4>
      </div>
      <div class="modal-body" style="padding-right: 0 !important;">
        <div>
          <div class="maxH-560 p24-r-i">
            <table class="oris-table border-table edit-protection protection-table">
              <thead>
              <tr>
                <th class="text-left">Orders Covered by the Auto-Purchase Plan</th>
                <th class="oris-w280 text-left">Protection Service for Purchase</th>
                <th class="oris-w100"></th>
              </tr>
              </thead>
              <tbody id="EditAutomaticList" class="automatic-list"></tbody>
              <tfoot class="none">
              <tr>
                <td colspan="3">Please click the "Add" button to add at least one row of data</td>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="oris-row m10-t pr-40">
            <div class="text-danger none float-left" id="noProtection">The plan cannot be saved without specifying the order scope and guarantee service type.</div>
            <span id="editAddScheme" class="text-bold float-right pointer" onselectstart="return false">
              <i class="giga icon-iconfonticon02"></i>
              <span class="oris-link">Add another one</span>
            </span>
          </div>
        </div>
        <div class="flex-layout mt-1 p24-r-i">
          <input id="EditAgreement" type="checkbox" class="oris-checkbox m0-l pointer" checked>
          <span class="ml-06"> I have confirmed and authorized the B2B Marketplace to aumatically purchase Protection Service for the orders covered within the above time range.</span>
        </div>
      </div>
      <div class="modal-footer p24-r-i">
        <button type="button" class="oris-button oris-button-default p10-tb" data-dismiss="modal">Cancel</button>
        <a id="EditTable" type="button" class="oris-button" data-toggle="tooltip" title="" data-id="">Submit</a>
      </div>
    </div>
  </div>
</div>

<script>
  //编辑保障服务方案
  $(".btn-edit").on('click',function () {
    var id = $(this).attr('data-id');
    $.ajax({
      url: "index.php?route=account/safeguard/auto_buy_plan/edit&plan_id="+id,
      dataType: 'json',
      success: function (res) {
        minDate=res.data.currentDate;
        $("#EditTable").attr('data-id',id);
        var data = res.data;
        var EditAutomaticList=``;
        for (var i in data.selectList){
          if (data.selectList[i].disableStartDate==true){
            var startDate =`
            <div class="datetimepicker col-sm-6 outline-none  p-0 p05-r" tabindex="0" data-toggle="popover" data-placement="top"
                       data-content="Since the Start Time is earlier than the current time, the Protection Service cannot be modified.
                       You can modify the End Time to today, and create one more plan. "
                       data-html="true"  data-trigger="hover" data-container="#editProtection">
                <input type="text" name="startDate" value="${data.selectList[i].effective}" placeholder="Pick a date..."
                       id="" class="oris-input startDate" disabled />
             </div>
            `
          }
          else{
            var startDate =`
             <div class="datetimepicker col-sm-6 outline-none action-clear p-0 p05-r">
                <input type="text" name="startDate" value="${data.selectList[i].effective}" placeholder="Pick a date..."  id="" class="oris-input startDate" readonly/>
                <i class="giga icon-v10quxiao-01 oris-clear" style="right: 15px;"></i>
             </div>
            `
          }
          if (data.selectList[i].disableEndDate==true){
            var endDate =`
              <div class="datetimepicker endDateMsg col-sm-6 outline-none p-0 p05-l" tabindex="0" data-toggle="popover" data-placement="top"
                         data-content="" data-html="true"  data-trigger="manual" data-container="#editProtection">
                <input type="text" name="endDate" value="${data.selectList[i].expiration}" placeholder="Pick a date..."
                 id="" class="oris-input endDate" disabled/>
              </div>`
          }
          else{
            if (data.selectList[i].expiration=='9999-12-31 23:59:59'){
              endDate ='';
            }else{
              endDate=data.selectList[i].expiration;
            }
            var endDate =`
               <div class="datetimepicker endDateMsg col-sm-6 outline-none action-clear p-0 p05-l" tabindex="0" data-toggle="popover" data-placement="top"
                         data-content="" data-html="true"  data-trigger="manual" data-container="#editProtection">
                  <input type="text" name="endDate" value="${endDate}" placeholder="Pick a date..."  class="oris-input endDate" readonly/>
                  <i class="giga icon-v10quxiao-01 oris-clear"></i>
                  <div class="none">
                    <div>End Time can be left unselected to mean that the Protection Service can be purchased for orders covered by Start Time.</div>
                    <div class="text-right"><a class="pointer link close-timeTip">OK</a></div>
                  </div>
               </div>
            `
          }
          var serviceList = ``;
          for (var j in data.selectList[i].info){
            if (data.selectList[i].info[j].invalid==false){
              var invalid = ``;
            }else{
              var invalid = `
              <span class="account-type atype-invalid pointer outline-none" tabindex="0" data-toggle="popover" data-placement="top"
                       data-content="You don't have the right to purchase this protection service. Please contact the customer service for details."
                       data-html="true"  data-trigger="hover" data-container="#editProtection">Invalid</span>
              `;
            }
            if(data.selectList[i].info[j].select==true){
              if (data.selectList[i].disableStartDate==true){
                var checkbox = ` <input type="checkbox" class="oris-checkbox mr-octal1" name="automatic" value="${data.selectList[i].info[j].configId}" disabled checked>`
              }else{
                var checkbox = ` <input type="checkbox" class="oris-checkbox pointer mr-octal1" name="automatic" value="${data.selectList[i].info[j].configId}" checked>`
              }
            }
            else{
              if (data.selectList[i].disableStartDate==true){
                var checkbox = ` <input type="checkbox" class="oris-checkbox" name="automatic" value="${data.selectList[i].info[j].configId}" disabled>`
              }else{
                var checkbox = ` <input type="checkbox" class="oris-checkbox pointer mr-octal1" name="automatic" value="${data.selectList[i].info[j].configId}">`
              }
            }
            serviceList +=`
            <div class="flex">
              ${checkbox}
              <span class="break-word text-left" style="max-width: 235px;">${data.selectList[i].info[j].configTitle} ${invalid}</span>

            </div>
            `
          }
          if (data.selectList[i].disableDelete==true){
            var btn =`
              <button class="delete-automatic" disabled>
                <i class="giga icon-co_lajitong"></i> Delete
              </button>`}
          else{
            var btn =`
              <button class="delete-automatic pointer" data-id="${data.selectList[i].planDetailId}">
                <i class="giga icon-co_lajitong"></i>
                <span>Delete</span>
              </button>`
          }
          var order = `<input class="oris-input" type="text" name="service" disabled value="Order Being Processed" data-planid="${data.selectList[i].planDetailId}">`
          EditAutomaticList +=`
           <tr>
             <td>
                <div class="order-msg " >
                  <div class="outline-none col-sm-4 order-type pl-0">${order}</div>
                  <div class="service-time col-sm-8 pl-0">
                   ${startDate} ${endDate}
                    <div class="service-required text-danger text-size13 none text-left">Required</div>
                    <div class="time-earlier text-danger text-size13 none text-left">End Time must be later than Start Time</div>
                  </div>
                </div>
             </td>
             <td>
              <div class="service-list">${serviceList}</div>
              <div class="service-required text-danger text-size13 none text-left m05-l">Required</div>
             </td>
             <td>${btn}</td>
           </tr>
          `
        }
        $("#EditAutomaticList").html(EditAutomaticList);
        initialize();
        $("#editProtection").modal('show');
        $('[data-toggle="popover"]').popover();

        var newServiceList =``;
        if (data.availableConfig.length>0){
          for (var i in data.availableConfig){
            newServiceList +=`
                 <div class="flex">
                    <input type="checkbox" class="oris-checkbox pointer mr-octal1" name="automatic" value="${data.availableConfig[i].safeguard_config_id}">
                    <span class="break-word text-left" style="max-width: 235px">${data.availableConfig[i].config.title}</span>
                  </div>
              `
          }
        }
        else{
          newServiceList =` <div>There is no guarantee service available for purchase</div>`
        }
        $("#APScheme .service-list").html(newServiceList);

        //终止时间提示
        if(data.expirationNotice==false){
          endDateMsg = $(".endDateMsg").children('.none').html();
        }else {
          endDateMsg =``;
        }
        orisComponents.initClearInputIcon();
        orisComponents.clearInputIcon();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  //关闭编辑弹窗
  $("body").on("hide.bs.modal","#editProtection",function(){   //当模态框关闭时执行
    $('#tab_auto_buy_plan').load('index.php?route=account/safeguard/auto_buy_plan/list');
  });

  //添加新的保障服务
  $("#editAddScheme").on('click',function () {
    $(".edit-protection").children('tfoot').addClass('none');
    $("#noProtection").addClass('none');
    var $tr = $("#APScheme").find('tbody').html();
    $("#EditAutomaticList").append($tr);
    initialize();
    $('[data-toggle="popover"]').popover();
    orisComponents.initClearInputIcon();
    orisComponents.clearInputIcon();
  });

  //提交
  $("#EditTable").on('click',function () {
    if ($("#EditAutomaticList").children('tr').length < 1){
      $("#noProtection").removeClass('none');
      return false
    }
    var that = this;
    var id=$(this).attr('data-id');
    if ($(this).attr('disabled')!='disabled'){
      var tableData = getTableRow(that);
      var data ={
        data:tableData,
        plan_id:id,
      }
      var flag=checkService(that);
      if (flag){
        var content='Do you confirm to save the plan? It will not affect the orders that have purchased Protection Service.';
        var invalidLen = $("#EditAutomaticList").find('.service-list').find(".atype-invalid").length;
        if (invalidLen > 0){
          var contentAdd = `<div class="invalid-tip">Protection Service currently unavailable for purchase is contained in what you ticked.
                            You can cancel the selection,or terminate this plan and then create a new one.</div>`
        }else{
          var contentAdd = '';
        }
        var lock = false;
        var sConfirm = layer.confirm(content+contentAdd, {
          title: 'Confirm',
          skin: 'oris-layer confirm-layer', //样式类名
          btn: ['Yes', 'No'],
          btnAlign:'c'
        },function () {
          if (!lock){
            lock = true;
            $.ajax({
              url: "index.php?route=account/safeguard/auto_buy_plan/saveEdit",
              type: "POST",
              // contentType: 'application/json;charset=UTF-8',
              // data: JSON.stringify(data),
              data: data,
              error: function () {
                $.toast({
                  heading: false,
                  text: 'Failed to submit, you may contact the customer service.',
                  position: 'top-center',
                  showHideTransition: 'fade',
                  icon: 'error',
                  hideAfter: 10000,
                  allowToastClose: true,
                  loader: false
                })
                layer.close(sConfirm);
              },
              success: function (res) {
                if (res.code==200){
                  layer.close(sConfirm);
                  $("#editProtection").modal('hide');
                  $('#tab_auto_buy_plan').load('index.php?route=account/safeguard/auto_buy_plan/list');
                  if (res.data.isAboutToExpire) {
                    $('#dueSoon').removeClass('noneI');
                  } else {
                    $('#dueSoon').addClass('noneI');
                  }
                  $.toast({
                    heading: false,
                    text: res.msg,
                    position: 'top-center',
                    showHideTransition: 'fade',
                    icon: 'success',
                    hideAfter: 3000,
                    allowToastClose: true,
                    loader: false
                  })
                }else{
                  layer.close(sConfirm);
                  layer.confirm(res.msg, {
                    title: 'Error',
                    skin: 'oris-layer',
                    btn: ['OK'],
                    btnAlign: 'c',
                  }, function () {
                    layer.closeAll()
                  });
                }
              }
            });
          }
        })
      }
    }else{
      return false;
    }
  })
</script>