<div class="page-footer">
  <div class="page-footer-line"></div>
  <table class="page-footer-table">
    <tr>
      <td>
        <span class="table-text-bold">Remark&nbsp;M:</span>
        Margin Transactions
      </td>
      <td class="paddingL-50">
        <span class="table-text-bold">F:</span>
        Future Goods Transactions
      </td>
      <td class="paddingL-50"> #20211231123456: Agreement ID</td>
      <td class="paddingL-50">
        <span class="table-text-bold">N%:</span>
        Proportion in the total agreed amount in the Agreement
      </td>
      <td class="table-text-right">Last Updated: {{ invoiceDate }} </td>
    </tr>
    <tr>
      <td colspan="5">
        If the transaction on this invoice has been modified in any way, this invoice is no longer valid.
        The customer needs to request a new invoice with the updated information of the transaction.
      </td>
    </tr>
    <tr>
      <td colspan="5" class="table-text-right invoice-footer">
        {PAGENO}&nbsp;of&nbsp;{nbpg}
      </td>
    </tr>
  </table>
</div>