* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ops-abs{
    position: absolute;  
}
.main-activity .pop-down-new .pop-down{
    margin-top: 24px;
    left: calc(50% - 115px);
}
.section{
    text-align: center;
}
.section h1{
  line-height: 65px;
  color: #183464;
  /*margin-top: 20px;*/
  width: 1140px;
  margin: 27.5px auto; /*频道页title垂直居中*/
  padding-left: 10px;
}

.section img{
    /* max-width: 100%; */
    /*background-image: url("/image/catalog/product-header-background2.jpg");*/

}
.section h3{
    font-weight: bold;
    color: #333;
    width: 1440px;
    margin:auto;
    padding-top: 30px;
    padding-left: 14px;
    font-size: 32px;
}
.title{
    padding: 0 15%;
}
.title .hot{
    color: #fff;
    float: left;
    margin-left: 8%;
    font-size: 15px;
}
.title .hot i{
    font-size: 20px;
    margin-right: 5px;
}
main{
    width: 100%;
    background-color: #F2F2F2;
    /* padding: 20px; */
}
.swiper-pagination-bullet{
    margin-right: 5px;
}
.swiper-button-group{
    width: 100%;
    z-index: 200528;
}
.button-prev,.button-next{
    position: absolute;
    top: 200px;
    color: #fff;
    background-color: #ccc;
    width: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.button-next{
    right: 0;
}
.products{
    /*width: 1140px;*/
    margin: 0 auto;
    /* background-color: #fff; */
    margin-top: 4px;
    /* border: 1px solid red; */

}
.products h3{
    color: #183464;
    font-weight: bold;
    padding: 20px 14px;
}
.tab{
    /*width:1140px;*/
    /*margin: 20px auto;*/
    margin-top: 20px;
}
.tab-content,.tabs{
    background-color: #fff;
}
.nav-tabs > li > a{
    border: 1px solid transparent;
}
.nav-tabs > li > a:hover{
    border: 1px solid #FA6400;
}
.nav-tabs{
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: none;
    border-bottom: 2px solid #FA6400;
    background-color: transparent;
    border-radius: 0;
    color: #FA6400;
}
.nav-tabs a{
    text-align: center;
}
.my-btns{
    padding-bottom: 20px;
    margin-left: 8px;
}
.tab-pane{
    overflow: hidden;
    margin-top: 10px;
}
.goods{
    border: 1px solid #ccc;
    border-radius: 5px;
}
main ul{
    /*overflow: hidden;*/
}
.color333{
    color: #333;
}
.con_img{
    position: relative;
    margin-top: 2px;
}
.my-btns{
    position: relative;
}
.image .goodscheck{
    position: absolute;
    top: 0;
}
.image .button-group{
    position: absolute;
    bottom: 10px;
    right: 8px;
    text-align: right;
}
.button-group i,
.goods .store-group .email i{
    color: #FA6400;
    border: 1px solid #fecb75;
    padding: 5px;
    border-radius:50%;
    font-weight: bold;
}
.goods .code{
    text-align: center;
    color: #707070;
}
.goods .code .value{
    font-weight: bold;
}
.goods .price span{
    font-size: 20px;
    color: #ff0000;
    padding-left: 10px;
}
.goods .wrapper{
    color: #777777;
    padding: 0 10px;
}
.goods .wrapper p{
    margin: 10px 0;
}
.goods .wrapper span{
    margin-left: 5px;
}
ul input[type=checkbox]{
    position: absolute;
    top: 0;
}
input[type=checkbox] {

    width: 18px;
    height: 19px;
    margin:0 5px;
    vertical-align: middle;

}

input[type=checkbox]::before {
    content: '';
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    line-height: 17px;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #fff;
    border-radius: 3px;

}

input[type=checkbox]:checked::before {
    content: '\2714';
    background-color: #3A75DC;
    border: 1px solid #3A75DC;
}
.goods .store-group{
    height: 38px;
    line-height: 30px;
}
.goods .store-group .dropdown{
    padding: 0;
}
main ul li{
    list-style: none;
    margin-bottom: 15px;
}
/*@media (max-width: 1300px){*/
/*  main{*/
/*    width: 85%;*/
/*  }*/
/*}*/
@media (max-width: 1200px){
    /* main{
        width:940px;
    } */
    /* .section h1{
        width: 940px;
    } */
}
body.bg-grey{
    min-width: 992px;
    /* overflow: auto; */
    background-color: #fff;
}
.flex{
    margin-bottom: 5px;
}
.product-simple-grid .image .button-group a i{
    line-height: 20px;
}
.product-simple-grid{
  height: 440px;
}


.nav-tabs > li > a{
    border-radius: 0;
}
.load{
    height: 60px;
}
.nav-tabs{
    height: 42px;
}
.nav-tabs > li{
    padding: 0;
}
.swiper-container{
    overflow: inherit !important ;
    z-index: 2 !important;
}
.activity-title{
    word-break: keep-all;
    word-wrap: break-word; /*只对英文起作用，以单词作为换行依据*/
    white-space: pre-wrap; /*只对中文起作用，强制换行*/
    text-align: justify; /*css英文语句的两端对齐*/
    text-justify: inter-ideograph;
}
/* #16460 */
.bk-img{
    /* height: 220px; */
    /* overflow: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("../../../../../../../public/image/channel/activity.jpg"); */
}
.top-title{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    padding-left: 10px;
}
.top-title-remark{
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
}
@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}
.product-content .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.product-content .swiper-slide{
    width: 33.33333333% !important;
    margin-right: 0 !important;
    box-sizing: border-box;
    padding: 10px;
}
.product-content .product-information{
    /* position: relative; */
} 
.product-content .product-information  .store-group{
    position: absolute;
    bottom: 30px;
}
.product-content .product-simple-template-new{
    display: flex;
    padding: 14px;
    position: relative;
}
.product-content .product-simple-template-new > .product-image{
    width: auto !important;
}
.main-activity .code-group .qty-group{
    display: none;
} 
.product-content .m8-t{
    /* margin-top: 0; */
}
.product-content .product-information{
    margin-left: 15px;
    /* padding-top: 6px; */
}
.product-content .email{
    display: none;
}
.product-content .store-pop{
    display: none;
}
.product-content .price-group .text-light{
    /*隐藏运费*/
    display: none;
}
.search-content .price-group .text-light{
    display: none; /*隐藏运费*/
}
.product-content .min-price-height{
    min-height: auto;
}
.search-content .min-price-height{
    min-height: auto;
}
.product-content .product-simple-template-new:hover .product-image .btn-group > div{
    display: block;
}
.product-content .product-simple-template-new .product-image .btn-group > div:hover i.icon-V10_xiazaihover,
.product-content .product-simple-template-new .product-information .add-download > .btn-download:hover  i.icon-V10_xiazaihover{
    display: block;
    color:#ff6600;
}

.product-activity-content .item-content:hover .product-image .btn-group > div{
    display: block !important;
}
.product-activity-content .product-simple-template-new .product-image .btn-download:hover  i.icon-V10_xiazaihover{
    color:#ff6600;
    display: block;
}
.product-activity-content .email{
    display: none;
}

/**search-content**/
.channel-module-details{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.channel-module-details .login-price{
    display: none;
}
/*隐藏itemcode*/
.channel-module-details  .code-price-wrapper .media1200 {
    display: none;
}
.channel-module-details .item{
    box-sizing: border-box;
    width: 20%;
    padding:10px;
}
.channel-module-details .item-content{
    background: #fff;
    padding: 14px;
    height: 100%;
}
.channel-module-details .item-content .con-img{
    /* border: 1px solid red; */
}
.channel-module-details .img-responsive.scale{
    transition: none !important;
}
.channel-module-details .m30-b{
    margin-bottom: 0px !important;
}
/* .channel-module-details .mt-2{
    margin-top: 0px !important;
} */
.channel-module-details .img-responsive.scale:hover{
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}
.img-module .img-responsive.scale{
    transition: transform 0.35s ease-in-out !important;
}
.img-module .img-responsive.scale:hover{
    -webkit-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
} 
.channel-module-details .product-information{
    /* padding: 0px 20px 0px 20px; */
}
/*图片固定尺寸*/
.product-content .com-img img{
    width: 100%;
    height: 100%;
}
.product-content .qty-celling{
    display: none;
}
.search-content .code-group{
    position: relative;
}
.search-content .qty-celling{
    display: block !important;
    position: absolute;
    right: 0px;
    top: 0px;
}
.search-content .qty-group{
    display: none;
}
.unit1200{
    display: inline-block !important;
    -webkit-transform: scale(1) !important;
}
.search-content {
    /* min-height: calc(100vh - 500px); */
    min-height:726px;
}
.product-content .product-simple-template-new .code-price-wrapper .new-top{
    margin-top: 4px;
}
.product-content .product-simple-template-new .code-price-wrapper .new-top-10{
    margin-top: 10px;
}
.m2-t{
    margin-top: 2px;
}
.m10-b{
    margin-bottom: 10px;
}
/*产品样式调整*/
.search-content .product-simple-template-new .product-information.m8-t
{
    margin-top: 6px;
}
.search-content .product-simple-template-new .code-price-wrapper .m8-t.new-top
{
    margin-top: 4px;
}

.search-content .product-simple-template-new .store-group.mt-2
{
    margin-top: 10px;
}
/*#16460 banner 图不固定 由运营配置*/
.items-dom{
    position:absolute;
    width: 288px;/*1903*/
    height: 46px;/*932*/
    /* border: 1px solid #000; */
    display: none;
    flex-wrap: wrap;
    align-items: self-start;
  }
  .items-dom .celling-width{
      padding: 0;
      margin: 0;
      display: inline-block;
      height: 98%;
      /* border: 1px solid red; */
      border-radius: 50%;
      cursor: pointer;
      margin-right: 3%;
      width: 14%
  }
  .margin0{
      margin-right: 0px !important;
  }
  .qrcode{
      width: 200px;
      height: 200px;
      position: absolute;
      bottom: 106%;
      right: -80px;
      box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
      display: none;
  }
  .qrcode img{
      width: 100%;
      height: 100%;
  }  
  #Wechat:hover #qrcode{
      display: block;
  }
  /*图片等比裁剪*/
  .cover-size{
    margin:auto;
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
  }
  .main-activity .btn-group a:hover
  {
      color: unset;
  }
/*活动页 tooltip 遮挡吸顶问题*/ 
.bg-grey .tooltip
{
    display: block;
    position: absolute;
    z-index: 0;
}
.product-content .product-information{
    overflow: hidden;
}
.main-activity .price-group .price-ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-content .product-simple-template-new .code-price-wrapper.flex1,.product-content .product-information .code-price-wrapper.flex1{
    width: 100%;
}
.main-activity .more-way{
    display: none;
}
.clear-both{
    clear: both;
}
@media (max-width: 1440px){
    .main-activity .code-group.text-small, .main-activity .qty-group.text-small{
        font-size: 12px !important;
    }
    .product-content .con-img{
        width: 180px;
        height: 180px;
    } 
    .products .product-simple-template-new .tag-group{
        -webkit-transform: scale(0.8);
        transform-origin: left;
        display: -webkit-inline-box;
    }
    .search-content .product-simple-template-new .tag-group{
        -webkit-transform: scale(1);
        transform-origin: left;
        float: left; /*缩小时去除空格*/
        display: -webkit-inline-box;
    }
}
@media (min-width: 1441px){
    .main-activity .code-group.text-small, .main-activity .qty-group.text-small{
        font-size: 14px !important;
    }
    .product-content .con-img{
        width: 200px;
        height: 200px;
    }
}