@font-face {
  font-family: "giga"; /* Project id 1474765 */
  src: url('iconfont.eot?t=1635578228938'); /* IE9 */
  src: url('iconfont.eot?t=1635578228938#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1635578228938') format('woff2'),
       url('iconfont.woff?t=1635578228938') format('woff'),
       url('iconfont.ttf?t=1635578228938') format('truetype'),
       url('iconfont.svg?t=1635578228938#giga') format('svg');
}

.giga {
  font-family: "giga" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuxiaohuodong-gexingdazhe:before {
  content: "\e7ba";
}

.icon-shoucang:before {
  content: "\e7b8";
}

.icon-dianpushoucang-wei-01:before {
  content: "\e7b9";
}

.icon-fapiao:before {
  content: "\e98d";
}

.icon-qiehuan:before {
  content: "\e7b6";
}

.icon-upsoon:before {
  content: "\e7b7";
}

.icon-gouwuchekong:before {
  content: "\e7b5";
}

.icon-service:before {
  content: "\e7b4";
}

.icon-shijian1:before {
  content: "\e7b3";
}

.icon-yushangjialiaotian-01:before {
  content: "\e7b2";
}

.icon-mulu-01:before {
  content: "\e7b1";
}

.icon-online-service:before {
  content: "\e7ae";
}

.icon-bianji_2:before {
  content: "\e7b0";
}

.icon-messages-center:before {
  content: "\e7ad";
}

.icon-icon_yincang:before {
  content: "\e7ab";
}

.icon-icon_xianshi:before {
  content: "\e7ac";
}

.icon-xiajia-01:before {
  content: "\e7aa";
}

.icon-shangjia2:before {
  content: "\e7a9";
}

.icon-xiajia1:before {
  content: "\e7a7";
}

.icon-shangjia1:before {
  content: "\e7a8";
}

.icon-shouji-:before {
  content: "\e7a3";
}

.icon-zhanneixin:before {
  content: "\e7a4";
}

.icon-xiaoxi-01:before {
  content: "\e7a6";
}

.icon-zhongzhi1:before {
  content: "\e7a2";
}

.icon-tingzhi:before {
  content: "\e7a1";
}

.icon-shangchuan:before {
  content: "\e7a0";
}

.icon-yingshe:before {
  content: "\e79f";
}

.icon-UNKNOW:before {
  content: "\e79e";
}

.icon-xianlu:before {
  content: "\e79c";
}

.icon-shangchuan2:before {
  content: "\e79b";
}

.icon-xiazaimoban-01:before {
  content: "\e79a";
}

.icon-zhengquewanchengchenggong:before {
  content: "\e798";
}

.icon-shibai:before {
  content: "\e799";
}

.icon-a-moveto-01:before {
  content: "\e797";
}

.icon-wenjianjia:before {
  content: "\f4ca";
}

.icon-shangchuan1:before {
  content: "\e78f";
}

.icon-EXCEL:before {
  content: "\e790";
}

.icon-PICTURE:before {
  content: "\e791";
}

.icon-PPT:before {
  content: "\e792";
}

.icon-TEXT:before {
  content: "\e793";
}

.icon-WORD:before {
  content: "\e794";
}

.icon-PDF:before {
  content: "\e795";
}

.icon-wenjianjia1:before {
  content: "\e796";
}

.icon-jinzhi:before {
  content: "\e78e";
}

.icon-zoomin:before {
  content: "\eb47";
}

.icon-rukudanguanli-01:before {
  content: "\e78a";
}

.icon-kucunguanli-01:before {
  content: "\e78b";
}

.icon-xiaoshoudingdanguanli-01:before {
  content: "\e78c";
}

.icon-jiesuanguanli-01:before {
  content: "\e78d";
}

.icon-BuyerManagement:before {
  content: "\e780";
}

.icon-jiaoyi:before {
  content: "\e781";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e782";
}

.icon-chanpinguanli:before {
  content: "\e783";
}

.icon-dingdanorder:before {
  content: "\e7bd";
}

.icon-shouqi1:before {
  content: "\e8b2";
}

.icon-shouquan:before {
  content: "\f7f5";
}

.icon-dianpu-01:before {
  content: "\e784";
}

.icon-jingxihua-01:before {
  content: "\e785";
}

.icon-a-ProductDetails-01:before {
  content: "\e786";
}

.icon-Promotions-01:before {
  content: "\e787";
}

.icon-a-BrandCenter-01:before {
  content: "\e788";
}

.icon-a-RMAManagement-01:before {
  content: "\e789";
}

.icon-shouqi1-copy:before {
  content: "\101dd";
}

.icon-oris-loading:before {
  content: "\e77f";
}

.icon-dengdai:before {
  content: "\e77c";
}

.icon-quchuli-01:before {
  content: "\e77d";
}

.icon-yiqianyue-01:before {
  content: "\e77e";
}

.icon-a-V10_jibuqijianhao:before {
  content: "\e77b";
}

.icon-querenquhuotubiao-01:before {
  content: "\e77a";
}

.icon-fayoujian-01:before {
  content: "\e779";
}

.icon-jubao-01:before {
  content: "\e777";
}

.icon-fasongyoujian-01:before {
  content: "\e778";
}

.icon-riliriqi:before {
  content: "\e807";
}

.icon-seller_lajitong-01:before {
  content: "\e717";
}

.icon-zhinengkefu:before {
  content: "\e776";
}

.icon-xuqian-01:before {
  content: "\e775";
}

.icon-quxiao-01:before {
  content: "\e774";
}

.icon-buyer-01:before {
  content: "\e772";
}

.icon-seller-01:before {
  content: "\e773";
}

.icon-gigihelpdesk-01:before {
  content: "\e771";
}

.icon-chuizi-01:before {
  content: "\e770";
}

.icon-youjian-01:before {
  content: "\e76d";
}

.icon-huifu-011:before {
  content: "\e76f";
}

.icon-chakan-01:before {
  content: "\e76e";
}

.icon-guide-01:before {
  content: "\e76b";
}

.icon-gantanhaoxin-01:before {
  content: "\e76a";
}

.icon-jia:before {
  content: "\e769";
}

.icon-baocunwaikuang:before {
  content: "\e768";
}

.icon-baozhangfuwutanhao-01:before {
  content: "\e766";
}

.icon-baozhangfuwuduihao-01:before {
  content: "\e767";
}

.icon-yonghu:before {
  content: "\e765";
}

.icon-youjian:before {
  content: "\e764";
}

.icon-ouyuanzhifu-01:before {
  content: "\e74c";
}

.icon-meiyuanzhifu-01:before {
  content: "\e74d";
}

.icon-riyuanzhifu-01:before {
  content: "\e74e";
}

.icon-yingbangzhifu-01:before {
  content: "\e75f";
}

.icon-riyuanzhifu:before {
  content: "\e760";
}

.icon-yingbangzhifu-011:before {
  content: "\e761";
}

.icon-ouyuanzhifu-011:before {
  content: "\e762";
}

.icon-meiyuanzhifu-011:before {
  content: "\e763";
}

.icon-jietiticheng:before {
  content: "\e75e";
}

.icon-yijiandaifa-01:before {
  content: "\e75a";
}

.icon-shangmenquhuo-01:before {
  content: "\e75d";
}

.icon-buyer_Avatar_manager_default-01:before {
  content: "\e759";
}

.icon-buyer_Avatar_buyer_default-01:before {
  content: "\e74b";
}

.icon-arrow-left-01:before {
  content: "\e75b";
}

.icon-chongzhi1:before {
  content: "\e75c";
}

.icon-zhekou:before {
  content: "\e76c";
}

.icon-currency_gbr:before {
  content: "\e74f";
}

.icon-currency_eur:before {
  content: "\e750";
}

.icon-currency_usa:before {
  content: "\e751";
}

.icon-currency_jpn:before {
  content: "\e752";
}

.icon-Tracking:before {
  content: "\e753";
}

.icon-pemdingbid:before {
  content: "\e754";
}

.icon-RMA1:before {
  content: "\e755";
}

.icon-Margin-01:before {
  content: "\e756";
}

.icon-rebates-01:before {
  content: "\e757";
}

.icon-future-01:before {
  content: "\e758";
}

.icon-qun:before {
  content: "\e74a";
}

.icon-fasongyoujian:before {
  content: "\e749";
}

.icon-wenhao:before {
  content: "\e748";
}

.icon-huifu-01:before {
  content: "\e747";
}

.icon-V10_mfb-01:before {
  content: "\e746";
}

.icon-shangchuanyunduan:before {
  content: "\e87b";
}

.icon-V10_shangchuanwenjianyanzhengtongguo-01:before {
  content: "\e745";
}

.icon-shijian:before {
  content: "\e744";
}

.icon-attachment:before {
  content: "\e743";
}

.icon-shijian2:before {
  content: "\e7d4";
}

.icon-danxiangjiantouyou-01:before {
  content: "\e742";
}

.icon-lajitong1:before {
  content: "\e741";
}

.icon-bianji2:before {
  content: "\e740";
}

.icon-ziyuanldpi:before {
  content: "\e72e";
}

.icon-jisuanqi1:before {
  content: "\e730";
}

.icon-21cancel:before {
  content: "\e731";
}

.icon-tongzhi:before {
  content: "\e732";
}

.icon-quhuo:before {
  content: "\ecb4";
}

.icon-wenjian_2:before {
  content: "\e733";
}

.icon-kong1:before {
  content: "\e735";
}

.icon-guanli:before {
  content: "\e736";
}

.icon-v10bzfwdw-01:before {
  content: "\e737";
}

.icon-v10bzfwmy:before {
  content: "\e738";
}

.icon-v10bzfwyb:before {
  content: "\e739";
}

.icon-v10bzfwdy:before {
  content: "\e73a";
}

.icon-v10bzfwry:before {
  content: "\e73d";
}

.icon-v10bzfybz:before {
  content: "\e73e";
}

.icon-v10bzfwjt:before {
  content: "\e73f";
}

.icon-xiazaixin-01:before {
  content: "\e72d";
}

.icon-icon_shishikucun:before {
  content: "\e72b";
}

.icon-rukumingxi24:before {
  content: "\e72c";
}

.icon-fabu-01:before {
  content: "\e729";
}

.icon-weifabu:before {
  content: "\e72a";
}

.icon-tishii-01:before {
  content: "\e728";
}

.icon-jinhangzhong1:before {
  content: "\e727";
}

.icon-jiantou_xia-copy-copy:before {
  content: "\101dc";
}

.icon-jiantou_xia-copy:before {
  content: "\101da";
}

.icon-xiangshangjiantou-01:before {
  content: "\e725";
}

.icon-xiangxiajiantou-01:before {
  content: "\e726";
}

.icon-ship:before {
  content: "\e724";
}

.icon-copy:before {
  content: "\e723";
}

.icon-v10quxiao-01:before {
  content: "\e721";
}

.icon-v10tongguo-01:before {
  content: "\e722";
}

.icon-V10_xianhuobaozhengjin-tianjiaheyueren-01:before {
  content: "\e71d";
}

.icon-V10_xianhuobaozhengjin-gouwuche-01:before {
  content: "\e71e";
}

.icon-V10_xianhuobaozhengjin-shanchu-011:before {
  content: "\e71f";
}

.icon-V10_xianhuobaozhengjin-quchuli-01:before {
  content: "\e720";
}

.icon-V10_chakan:before {
  content: "\101d9";
}

.icon-seller_chakanyanjing-01:before {
  content: "\e719";
}

.icon-seller_quchuli-01:before {
  content: "\e71b";
}

.icon-naozhong:before {
  content: "\e716";
}

.icon-seller_bianji-01:before {
  content: "\e718";
}

.icon-co_lajitong:before {
  content: "\e6d13";
}

.icon-seller_bianji-big:before {
  content: "\e6d16";
}

.icon-iconfonticon02-copy:before {
  content: "\e6d14";
}

.icon-iconfonticon02:before {
  content: "\e714";
}

.icon-seller_jiahaoyou:before {
  content: "\e715";
}

.icon-card:before {
  content: "\e713";
}

.icon-yanzheng:before {
  content: "\e712";
}

.icon-v10_TOP-01:before {
  content: "\e70f";
}

.icon-V10_gerenzhongxinwuliuchaxun-01:before {
  content: "\e710";
}

.icon-V10_dianpukefu-01:before {
  content: "\e711";
}

.icon-V10_shouyekefutubiao-01:before {
  content: "\e70e";
}

.icon-v10_zaixiankefu-01:before {
  content: "\e70d";
}

.icon-xiazai1:before {
  content: "\e70a";
}

.icon-qiehuanzhanghao:before {
  content: "\e70b";
}

.icon-zimuE:before {
  content: "\e70c";
}

.icon-jiage:before {
  content: "\e79d";
}

.icon-dianhua:before {
  content: "\e709";
}

.icon-qq-copy:before {
  content: "\e708";
}

.icon-V10_Sellerhoutai_shuaxin:before {
  content: "\e707";
}

.icon-wuliuzhuangtai-chuku:before {
  content: "\e6fe";
}

.icon-wuliuzhuangtai-shengchengbiaoqian:before {
  content: "\e6ff";
}

.icon-wuliuzhuangtai-songda:before {
  content: "\e700";
}

.icon-wuliuzhuangtai-yunshuzhong:before {
  content: "\e701";
}

.icon-wuliuzhuangtai-yibeihuo:before {
  content: "\e702";
}

.icon-wuliuzhuangtai-chuxianyichang:before {
  content: "\e703";
}

.icon-wuliuzhuangtai-yiquhuo:before {
  content: "\e706";
}

.icon-tracking:before {
  content: "\e6fb";
}

.icon-V10_Sellerhoutai_youjiantou:before {
  content: "\e6fd";
}

.icon-jinhangzhong:before {
  content: "\e6f9";
}

.icon-V10_danchuangchenggong:before {
  content: "\e6fa";
}

.icon-V10_danchuangguanbi:before {
  content: "\e6f3";
}

.icon-V10_weixin-01:before {
  content: "\e6f4";
}

.icon-V10_dianhua-01:before {
  content: "\e6f5";
}

.icon-V10_Sellerhoutai_tishishixin:before {
  content: "\e6f7";
}

.icon-V10_Sellerhoutai_bianji:before {
  content: "\e6f8";
}

.icon-V10_dianpujieshao-copy:before {
  content: "\101d7";
}

.icon-Group-1:before {
  content: "\e6f2";
}

.icon-jinggao:before {
  content: "\e6f1";
}

.icon-jisuanqi:before {
  content: "\e6f0";
}

.icon-V10_shouyeyouxiadown:before {
  content: "\101d6";
}

.icon-shangjia:before {
  content: "\e6d4";
}

.icon-xiajia:before {
  content: "\e6d5";
}

.icon-V10_lianxidianpu-hover1:before {
  content: "\e6dd";
}

.icon-V10_shouyeyouxialianxi:before {
  content: "\e6df";
}

.icon-V10_lianxidianpu-moren1:before {
  content: "\e6e8";
}

.icon-V10_dianpujieshao:before {
  content: "\e6ed";
}

.icon-V10_sousuotubiao:before {
  content: "\e6ee";
}

.icon-V10_zuocejiantou:before {
  content: "\e6ef";
}

.icon-V10_gouwuche:before {
  content: "\e6d7";
}

.icon-V10_gerenzhongxin:before {
  content: "\e6d9";
}

.icon-V10_qianbao:before {
  content: "\e6da";
}

.icon-V10_shoucang:before {
  content: "\e6e1";
}

.icon-V10_xiazaihover:before {
  content: "\e6ea";
}

.icon-duihao_10:before {
  content: "\e6ec";
}

.icon-V10_shoucang-fanse:before {
  content: "\e6d8";
}

.icon-V10_youjiantougengduo:before {
  content: "\e6eb";
}

.icon-V10_guanbi:before {
  content: "\e6db";
}

.icon-V10-wenhaotishi:before {
  content: "\e6dc";
}

.icon-V10_shouyeyouxiaTOP:before {
  content: "\e6de";
}

.icon-V10_huifushuai:before {
  content: "\e6e0";
}

.icon-V10_tuifanpinshuai:before {
  content: "\e6e2";
}

.icon-V10_xiazai-moren:before {
  content: "\e6e3";
}

.icon-V10_xiaotumoshi:before {
  content: "\e6e4";
}

.icon-V10_yushangjialianxi:before {
  content: "\e6e5";
}

.icon-V10-xiaoxidengpao:before {
  content: "\e6e6";
}

.icon-V10_tuifanpintongyishuai:before {
  content: "\e6e7";
}

.icon-V10_dianpu:before {
  content: "\e6e9";
}

.icon-V10_facebook:before {
  content: "\e6d10";
}

.icon-V10_linyin:before {
  content: "\e6d11";
}

.icon-V10_datumoshi:before {
  content: "\e6d6";
}

.icon-meiyuan:before {
  content: "\e6d3";
}

.icon-Internationalorder:before {
  content: "\e6d1";
}

.icon-NoPrice:before {
  content: "\e6d2";
}

.icon-iup:before {
  content: "\e73c";
}

.icon-down-solid:before {
  content: "\e7a5";
}

.icon-qiabao:before {
  content: "\e6d0";
}

.icon-tubiaozhizuomoban:before {
  content: "\e6c9";
}

.icon-visa:before {
  content: "\e6cb";
}

.icon-discover:before {
  content: "\e6cc";
}

.icon-weixin1:before {
  content: "\101d5";
}

.icon-AmericanExpress:before {
  content: "\e6cd";
}

.icon-master-card:before {
  content: "\e6ce";
}

.icon-xinyongedu:before {
  content: "\e6cf";
}

.icon-viewlabel:before {
  content: "\e6c8";
}

.icon-quxiaoshenqing:before {
  content: "\e6c7";
}

.icon-zhifu:before {
  content: "\e6c6";
}

.icon-zhangdan:before {
  content: "\e6c5";
}

.icon-bangzhuzhongxin:before {
  content: "\e692";
}

.icon-zhongyingwenqiehuan:before {
  content: "\e6c3";
}

.icon-Group-2:before {
  content: "\e6c4";
}

.icon-bianji:before {
  content: "\e6c2";
}

.icon-icon-GIS_shouqi--copy:before {
  content: "\e6d12";
}

.icon-icon-GIS_shouqi-:before {
  content: "\e6c1";
}

.icon-kache:before {
  content: "\e6bf";
}

.icon-tiji:before {
  content: "\e6bd";
}

.icon-zhongliang:before {
  content: "\e6be";
}

.icon-dingdanhao:before {
  content: "\e72f";
}

.icon-edit:before {
  content: "\e6bc";
}

.icon-complete-order:before {
  content: "\e6ba";
}

.icon-shiwu-chuizi:before {
  content: "\e734";
}

.icon-change-consulta:before {
  content: "\e6bb";
}

.icon-jiaohuo:before {
  content: "\e6c0";
}

.icon-quxiaoshoucang:before {
  content: "\e6b9";
}

.icon-daojishi:before {
  content: "\e6b8";
}

.icon-jiangxu1:before {
  content: "\e6b6";
}

.icon-shengxu1:before {
  content: "\e6b7";
}

.icon-zhuanhuan:before {
  content: "\e6b5";
}

.icon-cuowu2:before {
  content: "\e6b4";
}

.icon-pending:before {
  content: "\e6b3";
}

.icon-xieyixiangqing:before {
  content: "\e6b2";
}

.icon-shenpi-copy:before {
  content: "\e6d15";
}

.icon-refuse:before {
  content: "\e6ad";
}

.icon-zhongzhitoudi:before {
  content: "\e6ae";
}

.icon-hulve:before {
  content: "\e6af";
}

.icon-shenpi:before {
  content: "\e6b0";
}

.icon-ziliaoyuquanzhengjiaoge:before {
  content: "\e6b1";
}

.icon-zhuce:before {
  content: "\e71c";
}

.icon-guanlian:before {
  content: "\e6fc";
}

.icon-lajitong:before {
  content: "\e6ab";
}

.icon-chuku:before {
  content: "\e6ac";
}

.icon-add:before {
  content: "\e6aa";
}

.icon-xinxi1:before {
  content: "\e6f6";
}

.icon-icn--n:before {
  content: "\e6a9";
}

.icon-cuxiao:before {
  content: "\e6a8";
}

.icon-shezhi:before {
  content: "\e6a7";
}

.icon-gouwuche-fuben:before {
  content: "\e6a6";
}

.icon-ziduanyingshe:before {
  content: "\e6a4";
}

.icon-xiazai:before {
  content: "\e6a2";
}

.icon-reset3:before {
  content: "\e6a3";
}

.icon-dianpu:before {
  content: "\e6a0";
}

.icon-cangku:before {
  content: "\e6a1";
}

.icon-duihao1:before {
  content: "\e6ca";
}

.icon-BusinessIcons_BusinessTagSale-:before {
  content: "\ea8b";
}

.icon-zhiding:before {
  content: "\e69f";
}

.icon-xinfeng:before {
  content: "\e69e";
}

.icon-shifangdingdan:before {
  content: "\e7cd";
}

.icon-suoding:before {
  content: "\e69d";
}

.icon-chakan1:before {
  content: "\e69c";
}

.icon-vat:before {
  content: "\e69b";
}

.icon-gouwuche:before {
  content: "\e696";
}

.icon-fenlei:before {
  content: "\e697";
}

.icon-batch-export:before {
  content: "\e73b";
}

.icon-fuwu:before {
  content: "\e698";
}

.icon-shangchuan-01:before {
  content: "\e699";
}

.icon-yunshu:before {
  content: "\e69a";
}

.icon-up-price:before {
  content: "\e695";
}

.icon-shifang:before {
  content: "\e693";
}

.icon-RMA:before {
  content: "\e694";
}

.icon-duigou:before {
  content: "\e635";
}

.icon-dingdan:before {
  content: "\e68e";
}

.icon-download:before {
  content: "\e852";
}

.icon-zhongzhi:before {
  content: "\e68f";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-wallet-travel:before {
  content: "\e690";
}

.icon-maikefeng:before {
  content: "\e71a";
}

.icon-gantanhaojinggao:before {
  content: "\e691";
}

.icon-mimaxianshi:before {
  content: "\e704";
}

.icon-mimayincang:before {
  content: "\e705";
}

.icon-xinyongqia:before {
  content: "\e7af";
}

.icon-woshou:before {
  content: "\e6a5";
}

.icon-seal:before {
  content: "\e68d";
}

.icon-cwf:before {
  content: "\e68c";
}

.icon-futures:before {
  content: "\e625";
}

.icon-double-user:before {
  content: "\e8af";
}

.icon-seal_nagative:before {
  content: "\e68b";
}

.icon-seal_positive:before {
  content: "\e68a";
}

.icon-seal_active:before {
  content: "\e689";
}

.icon-hand_raised_slash:before {
  content: "\e688";
}

.icon-error:before {
  content: "\e687";
}

.icon-gantanhao1:before {
  content: "\e686";
}

.icon-bg-pdf:before {
  content: "\e685";
}

.icon-margin:before {
  content: "\e684";
}

.icon-save-delete:before {
  content: "\e683";
}

.icon-return-product:before {
  content: "\e682";
}

.icon-right2:before {
  content: "\e681";
}

.icon-left2:before {
  content: "\e680";
}

.icon-save:before {
  content: "\e67f";
}

.icon-star-gray:before {
  content: "\e67e";
}

.icon-star-active:before {
  content: "\e67d";
}

.icon-mail-unopen:before {
  content: "\e67c";
}

.icon-mail-open:before {
  content: "\e67b";
}

.icon-arrow-compress:before {
  content: "\e67a";
}

.icon-compress-alt-left:before {
  content: "\e679";
}

.icon-action-stretch:before {
  content: "\e678";
}

.icon-save-active:before {
  content: "\e677";
}

.icon-table-download:before {
  content: "\e676";
}

.icon-table-link:before {
  content: "\e672";
}

.icon-email-messages:before {
  content: "\e675";
}

.icon-product-down:before {
  content: "\e674";
}

.icon-broken-line:before {
  content: "\e673";
}

.icon-action-warning:before {
  content: "\e671";
}

.icon-Action-Time:before {
  content: "\e670";
}

.icon-action-recycle:before {
  content: "\e66f";
}

.icon-action-print:before {
  content: "\e66e";
}

.icon-action-view-table:before {
  content: "\e66d";
}

.icon-action-vView-conversation:before {
  content: "\e66c";
}

.icon-action-refresh-reload:before {
  content: "\e66b";
}

.icon-action-return:before {
  content: "\e66a";
}

.icon-Action-Review:before {
  content: "\e669";
}

.icon-action-more:before {
  content: "\e668";
}

.icon-email-read:before {
  content: "\e665";
}

.icon-email-contact-buyer:before {
  content: "\e667";
}

.icon-action-copy:before {
  content: "\e666";
}

.icon-cart-remove:before {
  content: "\e664";
}

.icon-cart-add:before {
  content: "\e663";
}

.icon-action-back:before {
  content: "\e662";
}

.icon-guide-so:before {
  content: "\e661";
}

.icon-guide-rma:before {
  content: "\e660";
}

.icon-guide-product-quotes:before {
  content: "\e65f";
}

.icon-guide-po:before {
  content: "\e65e";
}

.icon-guide-messages-center:before {
  content: "\e65d";
}

.icon-guide-inventory-management:before {
  content: "\e65c";
}

.icon-help-inactive:before {
  content: "\e65b";
}

.icon-guide-edit-account:before {
  content: "\e65a";
}

.icon-action-add-video:before {
  content: "\e659";
}

.icon-action-add-photo:before {
  content: "\e658";
}

.icon-action-add-manual:before {
  content: "\e657";
}

.icon-summary-sransaction-status:before {
  content: "\e656";
}

.icon-summary-store:before {
  content: "\e655";
}

.icon-summary-status:before {
  content: "\e654";
}

.icon-summary-return-rma:before {
  content: "\e653";
}

.icon-summary-quote:before {
  content: "\e652";
}

.icon-summary-po-id:before {
  content: "\e651";
}

.icon-summary-payment:before {
  content: "\e650";
}

.icon-summary-day:before {
  content: "\e64f";
}

.icon-summary-barcode:before {
  content: "\e64e";
}

.icon-summary-balance:before {
  content: "\e64d";
}

.icon-oversized:before {
  content: "\e64c";
}

.icon-timestamp:before {
  content: "\e64b";
}

.icon-DatePicker:before {
  content: "\e64a";
}

.icon-tables-header-up:before {
  content: "\e649";
}

.icon-tables-header-down:before {
  content: "\e648";
}

.icon-tables-selected-rows-action:before {
  content: "\e647";
}

.icon-tables-checkbox-inactive:before {
  content: "\e646";
}

.icon-tables-checkbox-checked:before {
  content: "\e645";
}

.icon-switch-knob:before {
  content: "\e644";
}

.icon-switch-inactive:before {
  content: "\e643";
}

.icon-switch-active:before {
  content: "\e642";
}

.icon-radio-hover:before {
  content: "\e641";
}

.icon-radio-active:before {
  content: "\e640";
}

.icon-search-field:before {
  content: "\e63f";
}

.icon-date-icon:before {
  content: "\e63e";
}

.icon-checkbox-inactive:before {
  content: "\e63d";
}

.icon-checkbox-hoverr:before {
  content: "\e63c";
}

.icon-checkbox-ctive:before {
  content: "\e63b";
}

.icon-tag-tip-right:before {
  content: "\e63a";
}

.icon-tag-tip-left:before {
  content: "\e639";
}

.icon-tag-entiere-area:before {
  content: "\e638";
}

.icon-bell:before {
  content: "\e637";
}

.icon-exclamation-mark:before {
  content: "\e636";
}

.icon-action-send-message:before {
  content: "\e634";
}

.icon-action-reject:before {
  content: "\e633";
}

.icon-action-csv-export:before {
  content: "\e632";
}

.icon-action-upload:before {
  content: "\e631";
}

.icon-action-download:before {
  content: "\e630";
}

.icon-action-preview:before {
  content: "\e62f";
}

.icon-action-remove:before {
  content: "\e62e";
}

.icon-action-confirm-and-agree:before {
  content: "\e62d";
}

.icon-action-cancel-edits:before {
  content: "\e62c";
}

.icon-action-approve:before {
  content: "\e62b";
}

.icon-action-edit:before {
  content: "\e62a";
}

.icon-action-add:before {
  content: "\e629";
}

.icon-chat-active:before {
  content: "\e628";
}

.icon-chat-inactive:before {
  content: "\e626";
}

.icon-arrow-right-copy:before {
  content: "\e627";
}

.icon-arrow-down-black:before {
  content: "\e601";
}

.icon-account-blue:before {
  content: "\e602";
}

.icon-arrow-down:before {
  content: "\e603";
}

.icon-bag:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e605";
}

.icon-checkbox-hover:before {
  content: "\e606";
}

.icon-checkbox-on:before {
  content: "\e607";
}

.icon-cart:before {
  content: "\e608";
}

.icon-action-delete-entry:before {
  content: "\e609";
}

.icon-checkbox-off:before {
  content: "\e60a";
}

.icon-arrow-down-outline-white:before {
  content: "\e60b";
}

.icon-feature-coin:before {
  content: "\e60c";
}

.icon-complete:before {
  content: "\e60d";
}

.icon-email-grey:before {
  content: "\e60e";
}

.icon-combox:before {
  content: "\e60f";
}

.icon-grid-view-grey:before {
  content: "\e610";
}

.icon-grid-view-blue:before {
  content: "\e611";
}

.icon-eye:before {
  content: "\e612";
}

.icon-income:before {
  content: "\e613";
}

.icon-inbox:before {
  content: "\e614";
}

.icon-heart:before {
  content: "\e615";
}

.icon-list-view-grey:before {
  content: "\e616";
}

.icon-list-view-blue:before {
  content: "\e617";
}

.icon-check:before {
  content: "\e618";
}

.icon-partx:before {
  content: "\e619";
}

.icon-location-grey:before {
  content: "\e61a";
}

.icon-password:before {
  content: "\e61b";
}

.icon-phone-grey:before {
  content: "\e61c";
}

.icon-save-inactive:before {
  content: "\e61d";
}

.icon-sidebar-fold:before {
  content: "\e61e";
}

.icon-sidebar-clear:before {
  content: "\e61f";
}

.icon-sort-arrow-up:before {
  content: "\e620";
}

.icon-search-whitex:before {
  content: "\e621";
}

.icon-refresh:before {
  content: "\e622";
}

.icon-sort-arrow-down:before {
  content: "\e623";
}

.icon-sidebar-unfold:before {
  content: "\e624";
}

