<style>
    .agreement-detail{
        overflow: hidden;
    }
    .agreement-list{
        width: 25%;
        float: left;
        border-right: 1px solid #eee;
        text-align: center;
        padding-bottom: 10px;
    }
    .agreement-list:last-child{
        border-right: none;
    }
    .agreement-name{
        color: #677999;
    }
    .countdown{
        position: absolute;
        color: #fff;
        background-color:#8BC7F8 ;
        right: 0;
        top: 0;
        padding: 5px 15px;
        border-radius: 4px;
        border-bottom-right-radius: 0;
    }
    .delivery a.btn{
        box-shadow: none;
        margin-left: 15px;
        font-weight: initial;
        background-color: #FA6400;
        color: #fff;
        border: 1px solid #FA6400;
    }
    .delivery a.btn:hover{
        color: #FA6400;
        background-color: #fff;
    }
    .protocol{
        padding-top: 20px;
    }
     .yzc_layer .layui-layer-content{
        text-align: left;
    }
    .yzc_layer .layui-layer-ico{
        background: none;
    }
    .yzc_layer .layui-layer-close.layui-layer-close1:after{
        content: "\e6b4";
        font-family: 'giga';
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0{
        border-color: #3A75DC;
        background-color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
        background-color: #2d57a9;
        opacity: 1;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1{
        color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
        background-color: #3A75DC;
        color: #fff;
        opacity: 1;
    }
</style>

<div class="protocol">
    <div id="agreement-stat"></div>
    <div id="agreement-list"></div>
</div>
<script>
    $(document).ready(function () {
        $('#agreement-stat').load('{{ url("account/customerpartner/future/contract/agreementStat") }}' + '&contract_id=' + '{{ contract_id }}')
        $('#agreement-list').load('{{ url("account/customerpartner/future/contract/agreements") }}' + '&contract_id=' + '{{ contract_id }}')
    })
</script>
