<style>
    .notes{
        padding: 0 10px;
        border-left: 1px solid #eee;
        margin-left: 10px;
    }
    .table > tbody > tr > th{
        border-bottom: 2px solid #eee;
    }
    .table > tbody > tr > th,
    .table > tbody > tr > td{
        border-top: none;
    }
    .load{
        height: 60px;
    }
    #contract-logs{
        padding-top: 20px;
    }
</style>
<div id="contract-logs" data-success="true" data-page="1" data-end="0">

</div>
<div class="load"></div>

<script>
    $(window).scroll(function() {
        //滚过高度
        var scrollTop = $(this).scrollTop();
        //页面高度
        var scrollHeight = $(document).height();
        //浏览器高度
        var windowHeight = $(this).height();
        //滚动条到底时
        if (scrollHeight-scrollTop - windowHeight <200) {
            loadInfo();
        }
    });
    $(document).ready(function () {
        getrows(1);
    });
    /*加载分页数据*/
    function loadInfo() {
        let log_class = $('#contract-log').attr('class');
        if (log_class.indexOf("active") === -1) {
            return ;
        }
        let dom = $('#contract-logs');
        if(dom.data('success') == true){
            let page = dom.data("page");
            /**最后一页不再添加数据*/
            if(dom.data('end') == '1'){
                return;
            }
            //触发ajax事件，加载dom
            getrows(page);
        }
    }
    function getrows(page) {
        $('#contract-logs').data('success', false);
        waitBlock.blockUI();
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/getContractLogs") }}',
            data: {contract_id: '{{ contract_id }}', page: page, page_limit: 6},
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#contract-logs').data('end', data.is_end);
                if (data.html != '') {
                    $('#contract-logs').append(data.html);
                }
                $('#contract-logs').data("page", ++page);
                $('.tips').on({
                    mouseenter: function () {
                        var that = this;
                        $(that).next().show();
                    },
                    mouseleave: function () {
                        var that = this;
                        $(that).next().hide();

                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            },
            complete: function (xhr, textStatus) {
                $('#contract-logs').data('success', true);
                waitBlock.unBlockUI();
            }
        })
    }
</script>