.control-label {
    font-weight: bold;
    color: #bfbfbf;
}

#form-order > div > table {
    font-size: 12px
}

.pagination a {
    cursor: pointer;
}

/*单选框*/
input[type="radio"] {
    display: none;
}

input[type="radio"] + i:before {
    color: #c5c5c5;
}

input[type="radio"]:checked + i:before {
    color: #3A75DC;
}

.layui-layer-title{
    font-size: 16px;
    height: auto;
    padding: 12px 15px;
    line-height: 1.428571429;
}
.action-group  .btn-operate,.dropdown-group{
    margin: 5px !important;
}

.dropdown-group{
    display: inline-table !important;
}

/*公告滚动的样式*/
#boxShow ul, #boxShow ul li {
    margin: 0;
    padding: 0
}
.notice {
    height: 44px;
    background: rgb(252, 232, 200);
    border: 1px solid #FA6400;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
}

.notice i {
    margin-right: 8px;
}

.notice-con {
    width: 1015px;
    height: 44px;
    overflow: hidden;
}

.notice-con ul li {
    list-style: none;
    line-height: 44px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.padding-none{
    padding: 0;
}
.form-wrapper .datetimepicker-range .datetimepicker.margin-left-none{
    margin-left: 0;
}

/*新写的样式*/
#tab-orders label{
    font-weight: normal;
    font-size: 14px;
}
#tab-orders .row .form-group input:not([type=checkbox]):not([type=radio]), #tab-orders .row .form-group select{
    font-size: 14px;
}
.page-seller-portal table.table.main{
    font-size: 14px;
}
.check-box-width{
    display: inline-block;
    min-width: 30px;
    text-align: center;
}
.index-num{
    display: inline-block;
    min-width: 30px;
    text-align: center;
}
.ship-address-width{
    min-width: 220px;
}
.platform-style{
    min-width: 180px;
}
.order-date-width,.order-check-time-width{
    min-width: 110px;
    margin-right: 4px;
}
.link-color{
    color: #3A75DC;
}
.link-color:hover{
    text-decoration: underline;
}
.no-margin{
    margin: 0;
}
.wait-to-paid{
    color: #fA6400;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:4px;
    border-top-right-radius:4px
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius: 4px;
}

.action-style{
    text-align: left;
    width: 120px;
}

.icon-drop-down{
    vertical-align: revert;
    margin-right: 10px;
}

.btn-zhifu {
    background: #fa6400 !important;
    color: #fff !important;
}
.form-wrapper input[type="checkbox"].filter-cancel-not-applied-rma{
    width: auto;
    height: auto;
    border-radius: 0;
    vertical-align: super;
}

.giga-btn-primary{
    height: 40px;
    width: 70px;
    padding: 0;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background: #3A75DC;
    font-weight: initial;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
}
.giga-btn-primary:hover, .giga-btn-primary:focus, .giga-btn-primary:active {
    color: #fff;
    background-color: #2d57a9;
    border-color: #2d57a9;
    outline: none;
}
.giga-btn-default{
    background: #fff;
    text-align: center;
    height: 40px;
    line-height: 38px;
    color: #3A75DC;
    border:1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}
.giga-btn-reset{
    padding: 0 9.7px;
}
.giga-btn-download{
    padding: 0 11px;
}
.giga-btn-manifest{
    padding: 0 13px;
}
.giga-btn-default:hover,.giga-btn-default:focus,.giga-btn-default:active{
    color: #fff;
    background-color: #3A75DC;
    border-color: #3A75DC;
    outline: none;
}
.giga-btn-default.disabled{
    border: 1px solid #ddd !important;
}
.page-seller-portal .table-responsive > .fixed-column-first{
    left: 0;
    top: 0;
    background: #fff;
    position: absolute;
    display: inline-block;
    width: auto;
    box-shadow: 2px 0px 2px 0px #eee;
    z-index: 99;
}
.batch-group-action{
    border-radius: 4px;
    background: #fA6400;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    height: 28px;
    width: 28px;
    padding: 1px;
    text-align: center;
    line-height: 26px;
    margin: 0 8px;
}
.batch-group-action:hover{
    background: #fff;
    color: #fA6400;
    border: 1px solid #fA6400;
    cursor: pointer;
}
.flex-col-center{
    display: flex;
    align-items: center;
}
.page-list, .page-info{
    position: static;
}
.flex-end{
    justify-content: flex-end;
}
.pay-select{
    font-size: 12px;
}
.icon-tables-selected-rows-action{
    margin-left: 3px;
}
.hide{
    display: none;
}
.select-num{
    font-style: normal;
}
.table-hover > tbody > tr:hover{
    background: none;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
input[type='checkbox']:disabled:hover{
    cursor: not-allowed;
}
.my-sort{
    font-size: 12px;
    color: #aaa;
}
.my-sort:hover{
    color: #000;
    cursor: pointer;
}
.my-sort.active{
    color: #000;
}
.my-sort-up{
    position: relative;
    top: -4px;

}
.my-sort-down{
    position: relative;
    top: 4px;
    right: 15.1px;
}
#page-sales-order-management table i.icon-action-warning.action-warning-color{
    margin-right: 0;
}
.action-warning-color{
    line-height: 26px;
}
/*新写的样式*/

.dropdown-group .reject-icon{
    position: absolute;
    right: -8px;
    top: -3px;
    background-color: #fff;
    border-radius: 50%;
}


.dialog-form-line {
    display: flex;
    padding-top: 8px
}

.dialog-form-label {
    font-weight: bold;
    width: 200px
}

.dialog-form-warning {
    font-size: 12px;
    display: none;
    color: red;
}

.dialog-form-input {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.page-seller-portal table.table.main .action-group .dropdown-menu>li.li-disable>a {
  color: #999;
  cursor: not-allowed;
}
/*layer 按钮弹窗的样式*/
.layui-layer-btn .layui-layer-btn0{
    border-color: #3a75dc;
    background-color: #3a75dc;
    color: #fff;
}
.layui-layer-btn a.layui-layer-btn0:hover{
    border-color: #2d57a9;
    background-color: #2d57a9;
    text-decoration: none;
}
.layui-layer-btn a.layui-layer-btn1:hover{
    border-color: #3a75dc;
    background-color: #3a75dc;
    color: #fff;
    text-decoration: none;
}
.content-con-sub-title{
    color: #aaa;
    font-size: 12px;
}

.yzc_layer .layui-layer-ico{
    background: none;
}
.yzc_layer .layui-layer-close.layui-layer-close1:after{
    content: "\e6b4";
    font-family: 'giga';
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.layui-layer-iframe.yzc_layer .layui-layer-content{
    padding: 0;
    text-align: left;
}
/*layer 按钮弹窗的样式*/
.yzc_layer .layui-layer-content .mag-center-padding{
    text-align: center;
    padding: 12px 30px;
}
.layui-layer-dialog.yzc_layer .layui-layer-title{
    padding: 10px 15px;
}
.yzc_layer .layui-layer-btn{
    text-align: center;
}
