/* 
* 需求#1452 优惠券中心
* 2020-11-10
*/
.coupon-page {
    font-family: Arial, "Roboto", Helvetica, serif !important;
}
@font-face {
    font-family: orisHelveticaBold;
    src: url(../../../../font/number/HelveticaCondensedBold.ttf), url(../../../../font/number/HelveticaNeueLTStd-Bd.otf);
}

.coupon-page .font-number {
    font-family: orisHelveticaBold !important;
}

@media screen and (max-width: 1480px) {
    .coupon-page .top-picture {
        background-image: url(../../../../../../image/coupon/bj-1200.png);
    }
    .coupon-page {
        width: 1200px;
    }
    .coupon-page .giga-coupon {
        left: 258px;
    }
    .coupon-page .hand-picked-coupons-for-you {
        left: 330px;
    }
    .coupon-page .one-coupon {
        display: flex;
        width: 384px;
        height: 162px;
    }
    .coupon-page .coupon {
        margin-right: 24px;
    }
    .coupon-page .all-coupon .coupon:nth-child(3n+4) {
        margin-right: 0px;
    }
    .coupon-page .coupon-left {
        width: 280px;
        height: 162px;
    }
    .coupon-page .coupon-right {
        width: 104px;
    }
    .coupon-page .coupon-information {
        position: absolute;
        left: 20px;
        width: 280px;
    }
    /* 第二个all-claimed */
    .coupon-page .claimed-right {
        width: 104px;
    }
    /* 第三个received */
    .coupon-page .received-right {
        width: 104px;
    }

}


/* 1440 */

@media screen and (min-width: 1480px) {
    .coupon-page .top-picture {
        background-image: url(../../../../../../image/coupon/bj-1440.png);
    }
    .coupon-page {
        width: 1440px;
    }
    .coupon-page .giga-coupon {
        left: 368px;
    }
    .coupon-page .hand-picked-coupons-for-you {
        left: 440px;
    }
    .coupon-page .one-coupon {
        display: flex;
        width: 345px;
        height: 162px;
    }
    .coupon-page .coupon {
        margin-right: 20px;
    }
    .coupon-page .all-coupon .coupon:nth-child(4n+5) {
        margin-right: 0px;
    }
    .coupon-page .coupon-left {
        width: 253px;
        height: 162px;
    }
    .coupon-page .coupon-right {
        width: 92px;
    }
    .coupon-page .coupon-information {
        position: absolute;
        left: 12px;
        width: 250px;
    }
    /* 第二个all-claimed */
    .coupon-page .claimed-right {
        width: 92px;
    }
    /* 第三个received */
    .coupon-page .received-right {
        width: 92px;
    }
}
.coupon-page .one-coupon {
    border-radius: 8px;
}
.coupon-page .coupon-left {
   background-color: #ffffff;
   position: relative;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}
.coupon-page .coupon-right,
.coupon-page .received-right,
.coupon-page .claimed-right {
    border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}
.coupon-page .top-picture {
    margin-top: 30px;
    height: 120px;
    border-radius: 10px;
    position: relative;
}

.coupon-page .giga-coupon {
    font-size: 56px;
    color: #fffafa;
    position: absolute;
    font-weight: bold;
    top: 35px;
}

.coupon-page {
    position: relative;
    margin-bottom: 30px;
}

.coupon-page .hand-picked-coupons-for-you {
    font-size: 20px;
    color: #fffafa;
    position: absolute;
    top: 112px;
}

.coupon-page .coupon .right {
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.coupon-page .coupon-right,
.coupon-page .received-right {
    background-image: linear-gradient(52deg, #ff8b58 0%, #ff6c61 100%), linear-gradient( #ff6e61, #ff6e61);
}

.coupon-page .claimed-right {
    background-color: #c1c1c1;
}

.coupon-page .new-buyer {
    font-size: 12px;
    color: #e64545;
    max-width: 200px;
    padding: 0px 10px;
    height: 16px;
    text-align: center;
    line-height: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 1px #e64545;
    position: absolute;
    top: 16px;
    right: 30px
}

.coupon-ticket {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.coupon-page .all-coupon {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.coupon-page .coupon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.coupon-page .one-coupon:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.coupon-page .dashed-stutas {
    width: 1px;
    height: 142px;
    position: absolute;
    right: 0;
    top: 10px;
}

.coupon-page .red-dashed {
    border-right: 1px dashed #ec2738;
}

.coupon-page .gray-dashed {
    border-right: 1px dashed #999999;
}

.coupon-page .get-now {
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #ffffff;
    border-radius: 16px;
    font-size: 16px;
    color: #e64545;
}

.coupon-page .get-now:hover {
    color: #333333;
    cursor: pointer;
}

.coupon-page .money {
    display: flex;
}

.coupon-page .dollar {
    font-size: 20px;
    color: #333333;
    position: relative;
    top: 66px;
    padding-right: 4px;
    height: 12px;
    line-height: 12px;
}

.coupon-page .number {
    font-size: 54px;
    color: #e64545;
    font-weight: bold;
    height: 43px;
    position: relative;
    top: 25px;
    display: flex;
    align-items: baseline;
}

.coupon-page .off {
    font-size: 18px;
    letter-spacing: -1px;
    color: #333333;
    margin-left: 4px;
    position: relative;
    top: 58px;
    height: 30px;
    line-height: 30px;
}

.coupon-page .Order-over {
    font-size: 14px;
    color: #666666;
    position: absolute;
    top: 90px;
}

.coupon-page .nowtime {
    font-size: 12px;
    color: #333333;
    position: absolute;
    top: 128px;
}

.coupon-page .all-claimed {
    font-size: 14px;
    color: #333333;
    text-align: center;
}

.coupon-page .left-bottom-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 2;
}

.coupon-page .left-top-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
}

.coupon-page .coupon-description {
    margin: 0 auto;
    padding-left: 10px;
    display: none;
}

.coupon-page .coupon-policy {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.coupon-page .rules-num {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 16px;
    height: 16px;
    background-color: #dcdcdc;
    border-radius: 8px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-page .coupon-rule {
    height: 34px;
    line-height: 34px;
    color: #666666;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.coupon-page .rules-content {
    margin-left: 10px;
}
.coupon-page .bot-text{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    height: 20px;
}
.coupon-page .decimal-num{
    font-size: 18px;
}
.coupon-page .no-coupon {
    width: 100%;
    text-align: center;
    line-height: 364px;
    font-size: 18px;
    display: none;
}