.text-small{
    font-size: 12px;
}
.text-normal-color{
    color:#333 ;
}
.charge-bake {
    color: red;
}

.total-price {
    color: red;
    font-weight: bold;
}
.relative{
    position: relative;
}
table a {
    color: #333;
}
.text-price{
  color:#3975db;
}

#box-shadow .row .head {
    font-size: 18px;
    color: #183464;
    padding-left: 15px;
}

#box-shadow .row div {
    border-right: 1px solid #ccc;
    text-align: center;
}

#box-shadow .row .giga {
    font-size: 20px;
    color: #183464;
}

#box-shadow .row .title {
    color: #ccc;
}

.table thead > tr > th {
    /*color: #ccc;*/
    text-align: left;
}

#box-shadow .table tbody > .text-center :nth-child(6),
#box-shadow .table tbody > .text-center :nth-child(7),
#box-shadow .table tbody > .text-center :nth-child(8) {
    color: #183464 !important;
}

.margin_class {
    color: #FA6400;
    font-size: 16px
}

.margin_class:hover {
    cursor: pointer;
}

.table td > .payment-list{
    position: absolute;
    right: 0;
    padding: 5px 8px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    min-width: 270px;
}
.hover-block:hover {
    cursor: pointer;
}
.hover-block:hover .payment-list{
    display: block;
}