/*背景色*/
.background-blue{
    background-color:#ECF1FC ;
}
.background-warn{
    background-color:#fff0e6;
}
.height40{
    height: 40px;
}
.user-notice {
    padding: 5px;
    background-color: #fff5ef;
    border-radius: 5px;
    color: #fa6400;
}

.user-notice .well {
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.user-notice .well{
    margin-bottom: 0;
}
.user-notice .well ul {
    padding: 0 15px;
    margin-bottom: 0;
}

.order-msg{
    /*padding: 10px;*/
}
.order-type{
    width: 85px;
    height: 25px;
    color: #3A75DC;
    border: 1px solid #3A75DC;
    font-style: italic;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}
.orderId{
    width: 30%;
}
.fileUploadContent{
    padding: 0;
    width: 80px;
    height: 30px;
    line-height: 28px;
    font-weight: initial;
    margin:0 8px;
}
.item-detail{
    background-color: #fff0e6;
    /*padding: 10px;*/
}
.item-detail .item-code,
.item-detail .sub-code{
    width: 25%;
}
.item-detail .notes-qty{
    width: 15%;
}
.item-detail .ship-method{
    min-width: 25%;
    margin-right: 20px;
}
.upload-list .upload-detail{
    border-bottom: 1px solid #eee;
}
.upload-detail .list-num{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fa6400;
    border: 1px solid #FA6400;
    border-radius: 4px;
    margin: 0 10px;
}
.upload-detail .tracking-num{
    height: 30px;
    width: 290px;
    border-radius: 4px;
    background-color: #f3f5f7;
    border:1px solid #ccc;
    padding: 0 8px;
    margin-left: 5px;
}
.tracking-300{
    min-width: 400px;
}
.selected-num{
    position: absolute;
    line-height: 0;
    line-height: 40px;
}

/*上传按钮样式*/
.fileUploadContent .subberProgress .progress>div{
    background-color: #3A75DC !important;
}
.fileUploadContent .uploadBts>div i{
    color: #3A75DC !important;
}
.fileUploadContent .subberProgress .progress{
    border-color: #3A75DC;
    margin: 0;
}
.fileUploadContent:hover{
    text-decoration: none;
}
.fileUploadContent,.uploadBts{
    display: flex;
    align-items: center;
}
.fileUploadContent .box{
    width: auto;
}
.fileUploadContent .uploadBts>div .selectFileBt:hover{
    color: #fff;
}
.selectFileBt.disabled{
    cursor: not-allowed !important;
}
.fileUploadContent .subberProgress{
    padding: 0;
    margin-top: 0;
}
.upload-fileName{
    float: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    display: flex;
}
.fileUploadContent .uploadBts>div{
    margin-top: 0;
}
.uploadBts .cleanFileBt{
    display: none;
}
.upload-detail .upload-file > .upload-tip{
    margin-left: -20px;
}
.upload-detail .upload-file > .fileUploadName{
    float: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin: 0 10px;
}
.upload-file  div > .fileUploadName{
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}
upload-detail .upload-file > .fileUploadName,
.order-msg .upload-fileName,
.upload-file  div > .fileUploadName,
.pendingFileName{
    margin-left: 10px;
}
.upload-detail .upload-file > .fileUploadName > a,
.order-msg .upload-fileName > a,
.upload-file  div > .fileUploadName > a,
.pendingFileName > a{
    cursor:pointer;
    color:#169BD5;
    text-decoration:underline;
    max-width: 120px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

}
.upload-detail .upload-file > .label-name{
    display: block;
    width: 90px;
}
.upload-detail .tracking-300 > input{
    width: 290px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 25px;
    background-color: #f3f5f7;
    margin-left: 10px;
    padding: 0 5px
}

.label-tip.upload-tip,
.packing-tip.upload-tip{
    display: none;
}
.upload-detail:hover .alternate-style{
    display: flex;
}
.upload-detail:hover .alternate-style.none{
    display: none ;
}
