# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
#--------公共------------



# 禁止MySQL对外部连接进行DNS解析，使用这一选项可以消除MySQL进行DNS解析的时间。但需要注意，如果开启该选项，
# 则所有远程主机连接授权都要使用IP地址方式，否则MySQL将无法正常处理连接请求
skip-name-resolve
default-storage-engine = InnoDB
server-id = 1 #表示是本机的序号为1,一般来讲就是master的意思
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
#sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

#开启binlog
log_bin=mysql-bin

#如果是autocommit模式，那么每执行一个语句就会向二进制日志写入一次，否则每个事务写入一次，值为1是最安全的选择，因为崩溃时，你最多丢掉二进制日志中的一个语句或事务。但是，这也是最慢的选择，成本昂贵。
sync_binlog=0
max_allowed_packet = 32M
thread_stack = 256K
#查询排序时所能使用的缓冲区大小。注意：该参数对应的分配内存是每连接独占！如果有100个连接，那么实际分配的总共排序缓冲区大小为100 × 4 ＝ 400MB。所以，对于内存在4GB左右的服务器推荐设置为6-8M。
sort_buffer_size = 4M
#读查询操作所能使用的缓冲区大小。和sort_buffer_size一样，该参数对应的分配内存也是每连接独享！
read_buffer_size = 4M
#联合查询操作所能使用的缓冲区大小，和sort_buffer_size一样，该参数对应的分配内存也是每连接独享！
join_buffer_size = 8M
#打开一个表的开销可能很大，如果连接数比较大那么就加大它的值
table_open_cache = 1024
#线程的创建和销毁的开销可能很大，因为每个线程的连接/断开都需要。我通常至少设置为 16
thread_cache_size = 128
#指定MySQL查询缓冲区的大小
query_cache_size = 64M
tmp_table_size = 256M
#指定MySQL允许的最大连接进程数。如果在访问论坛时经常出现Too Many Connections的错误提 示，则需要增大该参数值。
max_connections = 2048
max_connect_errors = 10000000
#指定一个请求的最大连接时间，对于4GB左右内存的服务器可以设置为5-10。fuyn修改为 3600s
wait_timeout = 3600
slow_query_log=on
long_query_time=0.1



#--------innodb------
#提升写性能,减少io次数，建议将其设置为机器物理内存大小的70%~80%
innodb_buffer_pool_size=512M
#在高写入负载尤其是大数据集的情况下很重要。这个值越大则性能相对越高，但是要注意到可能会增加恢复时间。我经常设置为64-512MB，根据服务器大小而异。
innodb_log_file_size=256M
#默认的设置在中等强度写入负载以及较短事务的情况下，服务器性能还可以，通常8-16MB就足够了。越小的系统它的值越小
innodb_log_buffer_size =16M
#操作系统崩溃或掉电只会丢失最后一秒的事务，默认值是1，日志先缓存，每秒刷新一次到文件
innodb_flush_log_at_trx_commit=2
# 为提高性能，MySQL可以以循环方式将日志文件写到多个文件。推荐设置为3
innodb_log_files_in_group = 3

#开启锁完全回滚
innodb_rollback_on_timeout=on
innodb_lock_wait_timeout=120



#--------MyISAM---------
# key_buffer_size这对MyISAM表来说非常重要。如果只是使用MyISAM表，可以把它设置为可用内存的 30-40%。
key_buffer_size = 512M
# MyISAM设置恢复表之时使用的缓冲区的尺寸，当在REPAIR TABLE或用CREATE INDEX创建索引或ALTER TABLE过程中排序 MyISAM索引分配的缓冲区
myisam_sort_buffer_size = 8M
# 如果临时文件会变得超过索引，不要使用快速排序索引方法来创建一个索引
myisam_max_sort_file_size = 10G
# 如果该值大于1，在Repair by sorting过程中并行创建MyISAM表索引(每个索引在自己的线程内) 
myisam_repair_threads = 1
# 批量插入缓存大小， 这个参数是针对MyISAM存储引擎来说的。适用于在一次性插入100-1000+条记录时， 提高效率。默认值是8M。可以针对数据量的大小，翻倍增加。
bulk_insert_buffer_size = 8M



