<footer id="footer">{#{{ text_footer }}#}<br />{#{{ text_version }}#}</footer>
</div>

{{ this.endBody() }}
</body>
<script type="text/javascript">
    $("table input[type='checkbox']").change(function () {
        var num = $("input[name^='selected']:checked").length;
        var msg = "";
        if (num > 0) {
            msg = "Selected (" + num + ")";
        }
        $(".bottom-action-detail").text(msg);
    });
</script>
</html>
