/*
 * #5085代码优化
 * ticket css
 **/
.modal-ticket-area {
  font-family: Arial, "Roboto", Helvetica, serif;
}

.des-text-trans {
  width: 0;
}

.modal-ticket-area {
  width: 778px;
  height: 600px;
}

.ticket-colose {
  width: 30px;
  height: 30px;
  color: #FFFFFF;
}

.modal-header .close {
  margin-top: -2px;
  background-color: #a2a2a2;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  color: #ffffff;
}

.redStart {
  color: #ff0000;
}

.ticket_description {
  height: 120px !important;
  resize: none;
  padding-bottom: 20px;
}

.ticket_description_tips {
  position: absolute;
  right: 10px;
  bottom: 1px;
  width: calc(100% - 20px);
  background: #fff;
  text-align: right;
}

/*#myModalTicketSubmit {*/
/*  background-color: #145e7a;*/
/*}*/

.ticket-upload-file {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.ticket-upload-file li {
  display: flex;
  padding: 2px;
  background: #fff;
  justify-content: space-between;
  align-items: center
}

.ticket-upload-file li:hover {
  background: #f3f5f7;
}

.ticket-upload-file li span {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  color: #aaa;
}

.ticket-upload-file li:hover span {
  display: inline-block;
}

.upfile-type {
  padding-left: 4px;
  padding-right: 4px;
}

.upLoad-con {
  border: 1px solid #e3e3e3;
  /*min-height: 30px;*/
  padding: 8px 13px;
}

.request-type-tip {
  padding: 8px;
  background: rgb(255, 245, 239);
  color: #FA6400;
  margin-bottom: 12px;
}

.request-type-error {
  padding: 8px;
  color: #DA0000;
  margin-bottom: 15px;
}

.input-err {
  border-color: #DA0000;
}

.modal-header {
  padding: 12px;
}

.modal-title {
  font-size: 16px;
}

.modal-ticket-area .modal-header {
  background-color: #183464;
}

.modal-header .close {
  background-color: #183464;
}

.modal-ticket-area .form-group {
  /*padding-top: 0;*/
  padding-bottom: 0;
  margin-bottom: 6px;
}

.row .form-group input:not([type=checkbox]):not([type=radio]):not([type=button]),
.row .form-group select {
  height: 40px;
  border-radius: 4px;
  background-color: #f3f5f7;
  border: 1px solid #ccc;
  font-size: 12px;
}

.form-group label {
  color: #333;
}

.form-group label {
  text-transform: none;
}

.form-group button {
  text-transform: none;
}

.form-control:focus {
  border-color: #183464;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(24, 52, 100, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(24, 52, 100, 0.6);
}

#myModalTicketSubmit {
  background-color: #3A75DC;
  border: 1px solid #3A75DC;
}

#myModalTicketSubmit:hover {
  color: #fff;
  background: #146bff;
  border: 1px solid #3881ff;
}

.btn {
  font-weight: normal;
}

#ticket-button-upload {
  background-color: #3A75DC;
  border-color: #3A75DC;
}

.modal-ticket-area .modal-body .btn-primary {
  width: auto;
  padding: 8px 13px;
}

.row-top {
  margin-top: 6px
}

#myModalTicketSubmit.btn.btn-primary {
  color: #fff;
  background-color: #3A75DC;
}

#myModalTicketSubmit.btn.btn-primary:hover {
  background-color: #2d57a9;
}

/*#39862*/
.ticket_description::-webkit-scrollbar {
  width: 4px;
}

.ticket_description::-webkit-scrollbar-thumb {
  background: #8A91A6;
}