@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-21 15:41:46
// @modified         2019-11-11 17:05:06
//

.bg-grey {
  background-color: #edeff3;
}

.bg-white {
  background-color: #fff;
}

.checkbox-plus {
  label {
    padding: 0;
  }

  input {
    display: none;

    & + span.icon {
      width: 22px;
      cursor: pointer;
      font-weight: 500;
      margin-right: 10px;

      &:before {
        color: #aaa;
        font-size: 28px;
        content: "\f096";
        font-family: fontawesome;
      }
    }

    &:checked +span:before {
      content: "\f14a";
      color: $brand-primary;
    }
  }

  span {
    float: left;
  }
}

.bg-shadow {
  border-radius: 4px;
  border: 1px solid #c4cad5;
  box-shadow: 0px 0px 12px 6px #eee;
}

.well {
  padding: 10px;
  border-radius: 6px;
  box-shadow: none;
  background-color: #fbfbfb;
  border: 1px solid #dfdfdf;
}

table {
  td {
    vertical-align: middle !important;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
