@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-11-06 11:04:43
// @modified         2019-11-06 14:09:02
//

.modal-common {

  //加大号弹窗
  &.modal-xl {
    width: 1000px;
  }

  i.icon-help {
    font-weight: 500;
    margin-left: 8px;
  }

  .modal-content {
    overflow: hidden;
    border-radius: 6px;

    .modal-header {
      background-color: $brand-primary;

      h4 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
      }

      button.close {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        opacity: 0.8;
        background: #fff;

        span {
          color: $brand-primary;
        }
      }
    }

    .modal-body {
      padding: 30px;
      font-size: 12px;

      img {
        min-width: 88px;
        min-height: 88px;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 17px;
      }

      table {
        .border-none {
          border: none;
        }
      }

      .rating {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }

      p.bold {
        font-weight: bold;
        font-size: 16px;

        &.blue {
          color: #1b3766;
        }

        &.min-title {
          font-size: 14px;
        }
      }

      p.grey {
        color: #999;
        font-size: 14px;
      }

      .photo-wrapper {
        display: inline-block;

        .photo-item {
          float: left;
          position: relative;
          margin-left: 20px;
          margin-bottom: 20px;
        }

        .action-group {
          position: absolute;
          padding: 6px;
          top: 90%;
          left: -20px;
          min-width: 130px;
          z-index: 4;
          border-radius: 6px;
          border: 1px solid #eee;
          box-shadow: 0px 0px 3px #eee;
          background-color: #fff;
          font-size: 14px;
          font-weight: 500;
          display: none;

          &.active {
            display: block;
          }

          button {
            margin-left: 10px;
            border: none;
            border-radius: 4px;
            background: #fff;
            text-align: center;
            vertical-align: middle;

            span {
              padding: 6px;
              margin-left: 8px;
              background: #f3f5f7;
              border-radius: 4px;
            }
          }
        }
      }
      .popup {
        
        input {
          width: 20px;
          height: 20px;
        }

        div {
          margin-left: 10px;
          line-height: 28px;
          font-size: 14px;
          font-weight: 500;
        }

      }

      .btn-icon {
        background-color: #fff;
        width: auto;
        height: auto;
        padding: 4px;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 5px #ddd;
      }

      .btn-icon-photo {
        // height: 80px;
        width: 80px;
        padding: 4px;
        border: 1px solid #aaa;
        border-radius: 4px;
        background: #f3f5f7;
        text-align: center;
        vertical-align: middle;
      }

      .left-img {
        float: right;
        color: #bbb;
        font-weight: bold;
      }

      .warning {
        color: red;
        font-weight: bold;
      }

      .icon-search {
        font-size: 70px;
        font-weight: bold;
        color: #3831ac;
      }

      p.loading {
        color: #1b3766;
        font-size: 22px;
      }

      i.icon-photo {
        font-size: 50px;
        font-weight: bold;
      }

      i.icon-copy {
        font-size: 22px;
        line-height: 22px;
        color: #3a75dc;
      }

      i.icon-help-alert {
        margin-left: 4px;
        color: #ba2de2;
      }

      i.icon-add {
        font-size: 26px;
        line-height: 38px;
      }

      i.icon-star {
        color: #000;
        font-size: 22px;
        font-weight: bold;
      }

      i.icon-star-blank {
        color: #000;
        font-size: 22px;
        font-weight: bold;
      }
    }

    .modal-footer {
      text-align: center;

      .btn {
        padding: 6px 10px;
        font-size: 12px;
        box-shadow: 0px 2px 2px 0 #eee;

        &.btn-primary {
          color: #fff;
          background-color: $color_blue;
          border-color: darken($color_blue, 10%);

          &:hover {
            background-color: darken($color_blue, 10%);
          }
        }

        &.btn-default {
          color: $color_blue;
          border-color: #e3e3e3;
          background-color: #fbfbfb;

          &:hover {
            color: #e3e3e3;
            background-color: $color_blue;
            border-color: $color_blue;
          }
        }

      }

      input[type="checkbox"] {
        width:16px;
        height:16px;
        text-align: center;
        line-height: 16px;
      }

      input[type="checkbox"]::before {
        content: "";
        position: absolute;
        line-height: 16px;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border: 1px solid #aaa;
      }
      
      input[type="checkbox"]:checked::before {
        content: "\2714";
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 1px solid #aaa;
        color: #183464;
        font-size: 16px;
        font-weight: bold;
      }

      .foot-check {
        line-height: 26px;
        padding-left: 8px;
      }
    }
  }
}

.modal-failure-log {
  table {
    tr {
      td.highlight {
        color: #667799;
      }
    }
  }
}
