.store-header-container {
  text-align: center;
}

@media (min-width:1480px) {
  .store-header-container .center-module {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .store-header-container .center-module {
    width: 1200px;
    margin: 0 auto;
  }
}

.store-header-container {
  border-top: 1px solid #E5E5E5;
}

.store-header-container .light-color {
  color: #004bd8;
}

.store-header-container .button-group a {
  padding: 8px 13px;
}

.store-header-container .store-line,
.store-header-container .store-menu {
  height: 48px;
  display: flex;
  align-items: center;
}

.store-header-container .store-line {
  padding: 12px 0;
}

.store-header-container .store-line i.icon-V10_dianpu {
  position: relative;
  top: -1px;
  color: #ff6600;
  opacity: 0.6;
}

.store-header-container .store-line .store-score {
  padding-left: 8px;
  padding-right: 20px;
}

.store-header-container .store-line .store-score .score {
  color: #fff;
  padding: 0 5px;
  background: #FF6600;
  text-align: center;
}

.store-header-container .store-line .my-store {
  position: relative;
  cursor: pointer;
  padding: 12px 0;
}
.store-header-container .my-store {
  font-size: 20px;
}
.store-header-container .store-name {
  background: #fff;
  height: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-header-container .store-name .button-group a {
  color: #333;
}
.store-header-container .store-name .store-image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.store-header-container .store-name .store-image img {
  width: 64px;
}

.store-header-container .store-menu {
  background: #333;
}

.store-header-container .store-menu .center-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-header-container .store-menu .store-tab a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  cursor: pointer;

}

.store-header-container .store-menu .store-tab.active a {
  background: #000000;
}

.store-header-container .my-store>span {
  font-size: 16px;
  font-weight: bold;
  padding: 0 8px;
}

.store-header-container .store-menu input {
  width: 260px;
  color: #333;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 5px 40px 5px 20px;
  border: none;
  margin: auto 0;
  border: 2px solid #333;
}

.store-header-container .store-menu .menu-search {
  position: absolute;
  right: 20px;
  top: 4px;
  background-color: unset;
  border: none;
  color: #999999;
}

.store-header-container .store-menu .menu-search i {
  font-size: 17px;
  cursor: pointer;
}

.store-header-container .fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.store-header-container .interactions {
  padding-right: 30px;
  min-width: 180px;
}

.store-header-container .interactions>div {
  white-space: nowrap;
}

.store-header-container .right-pop {
  width: 280px;
  padding-left: 30px;
  border-left: 1px solid #E1E1E1;
}