.bill-select{
  position: relative;
}
.w100{
  width: 100% !important;
}

.bill-select .bs-caret{
  display: none;
}
.bill-select i{
  position: absolute;
  line-height: 36px;
  right: 5px;
  color: #ccc;
}
.overflow{
  overflow: hidden;
}
.datetimepicker .oris-input{
  padding-right: 20px;
}
.datetimepicker .icon{
  position: absolute;
  right: 5px;
  line-height: 40px;
  top: 0;
}
.all-table{
  display: table-cell !important;
}

.datetimepicker table tbody tr td{
  word-break: inherit;
}

.datetimepicker .switch {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 20px;
  line-height: 20px;
  color: inherit;
}
.dropdown-toggle .filter-option{
  padding: 0 !important;
}
.datetimepicker{
  padding: 0 !important;
}
.bootstrap-table .fixed-table-container .fixed-table-body{
  height: auto;
}
.oris-table .loading-text{
  font-size: 20px !important;
}
.datetimepicker .table-condensed{
  font-size: inherit;
}
.oris-select{
  min-height: 66px;
}
.oris-select .bootstrap-select{
  z-index: 999;
}
.oris-select .bootstrap-select .dropdown-menu{
  z-index: 99999;
}
.oris-select input.placeholder{
  position: absolute;
  bottom: 1px;
  width: calc(100% - 40px);
  left: 0;
}
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading{
  z-index: 99;
  align-items: flex-start;
}
.glyphicon.icon-arrow-left:before{
  font-family: "giga";
  content: "\e6ef";
}
.glyphicon.icon-arrow-right:before{
  font-family: "giga";
  content: "\e6eb";
}
.layui-layer.yzc_layer .layui-layer-content{
  text-align: left;
}
.z1000{
  z-index: 1000;
}
*.modal-open{
  overflow-y: auto !important;
}
.frozen-list-modal .oris-row [class*=oris-col-]:not(:last-child){
  padding-right: 20px;
}
.frozen-list-modal .modal-body{
  height: 500px;
  overflow: auto;
}
.frozen-list-modal #orderType{
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 4px;
}