p {
  margin: 0;
}

.help-tooltip{
  font-size: 16px !important;
}
.top-title {
  font-weight: bolder;
  color: #183464;
  font-size: 16px;
  margin-bottom: 15px;
}

.main-con {
  padding: 15px;
  background: #fff;
}

.order-list{
  min-height: 200px;
  border: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.order-top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff0e6;
}

.sales-order-ID {
  padding: 6px 0 2px;
  color: #000000;
}

.sales-order-des {
  padding: 0 0 6px;
  font-size: 12px;
  color: #888;
  font-style: italic;
}

.order-top-left {
  background: #F7F7F7;
  width: 815px;
  padding-left: 10px;
}

.order-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 25px;
}

.total-amount {
  font-weight: bolder;
  font-size: 18px;
}

.total-amount-num {
  color: #FA6400;
  font-size: 18px;
  font-weight: bolder;
}
.order-main-con{
  padding: 10px;
}
.order-main-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EEE;
}
.order-main-title .row-left , .order-main-title .row-right, .order-main-title .row-act{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-main-row{
  padding: 10px 0;
  /*border-bottom: 1px solid #EEE;*/
}
.order-main-row-outer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.order-main-row-outer:last-child{
  border-bottom: none;
}
.order-main-row-outer .row-left , .order-main-row-outer .row-right .row-right-item, .order-main-row-outer .row-act{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-main-title div{
  padding: 10px 0;
}
.row-left{
  width: 25%;
}
.row-right{
  width: 70%;
}
.row-right-item{
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.row-right-item:last-child{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.row-act{
  width: 5%;
}
.tab-image{
  width: 30%;
}
.tab-code{
  width: 70%;
}

.tab-house{
  width: 20%;
}
.tab-qty{
  width: 15%;
}
.tab-item-cost{
  width: 15%;
}
.tab-freight-cost{
  width: 15%;
}
.tab-storage-fee{
  width: 15%;
}
.tab-total{
  width: 15%;
}
.tab-action{
  width: 100%;
}

.help-tooltip{
  font-size: 13px;
}
.tab-image-currect{
  width: 40px;
  height: 40px;
}
.tab-code-txt{
  display: inline-block;
  width: 138px;
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab-code-txt:hover{
  cursor: pointer;
  color: #3A75DC;
}
.tag-has-house{
  display: inline-block;
  color: #3A75DC;
  background: rgba(58,117,220,0.1);
  border-radius: 4px;
  border: 1px solid rgba(58,117,220,0.1);
  padding: 4px 5px;
}
.tag-to-paid{
  display: inline-block;
  color: #fA6400;
  background: rgba(250,100,0,0.1);
  border-radius: 4px;
  border: 1px solid rgba(250,100,0,0.1);
  padding: 4px 26px;
}
.payed{
  color: #7f7f7f;
}
.list-down{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
.list-down:hover{
  cursor: pointer;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.list-down i{
  font-size: 12px;
  color: #7f7f7f;
}
.order-main-row-inner{
  padding: 0 ;
  margin: 0;
}
.order-main-row-inner-con{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.order-main-row-inner-con:hover{
  background: rgba(236,241,252,.5);
}
.order-main-row-inner .grid-con{
  /*height: 10px;*/
  /*border-bottom: 1px solid #eee;*/
  /*margin-bottom: 10px;*/
}
.inner-detail-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.inner-detail-title-icon{
  margin-right: 6px;
  font-size: 22px;
  color: #3A75DC;
}
.inner-detail-title-txt{
  font-weight: bolder;
}
.detail-tip{
  font-size: 12px;
  color: #3A75DC;
}
.detail-tip:hover{
  cursor: pointer;
  text-decoration: underline;
}
.no-weight{
  font-weight: normal;
}
.inner-detail-table .table > thead > tr > th,.inner-detail-table .table > tbody > tr > td{
  text-align: center;
}
.inner-detail-table .table-bordered > thead > tr > th{
  border-bottom-width: 1px;
  background: #F7F7F7;
}
.download-cart{
  font-size: 12px;
  vertical-align: revert;
  margin-left: 4px;
}
.warehouse-day>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-color{
  color: #3A75DC;
}
.warehouse-day .text{
  margin-right: 8px;
}
.inner-detail-table .popover.bottom{
  margin-top: 6px;
}
.inner-detail-table .popover{
  border-radius: 6px;
  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.3);
  border: none;
}
.pay-tip:first-child{
  margin-top: 6px;
}
.pay-tip{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
.pay-tip .text{
  width: 120px;
}
.pay-tip:last-child{
  margin-bottom: 0;
}
.inner-detail-table .table{
  margin-bottom: 6px;
}
.inner-detail-table .table.feel-tip-table{
  margin-bottom: 6px;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th,.inner-detail-table .table.feel-tip-table > tbody > tr > td{
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.inner-detail-table .table.feel-tip-table > thead > tr > th{
  border-bottom-width: 1px;
  background: #fff;
}
.icon-icn--n{
  color: #fA6400;
  margin-right: 4px;
}
.top-tip{
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 10px;
  background: rgba(250,100,0,0.04);
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;
}
.top-tip .clear-top{
  position: absolute;
  right: 8px;
  top: 4px;
  color: #fA6400;
}
.top-tip .clear-top:hover{
  cursor: pointer;
}
.order-list-color{
  color: #fA6400;
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;
}
.order-list-color:hover{
  cursor: pointer;
}
/*从这边结束是新写的*/

/*吸底*/
.list-check-con {
  padding: 10px 15px 0 15px;
  background: #fff;
}

.list-check-con p {
  text-align: right;
  height: 30px;
  line-height: 30px;
}

.list-check-con p .check-money {
  display: inline-block;
  width: 100px;
  font-weight: bolder;
}

.check-title-total, .check-total {
  font-weight: bolder;
  font-size: 18px;
}

.check-total {
  font-size: 20px;
  color: #FA6400;
}

.check-btn {
  text-align: right;
}

.btn-check, .btn-check:hover, .btn-check:active, .btn-check:focus {
  background: #FA6400;
  border-color: #FA6400;
  color: rgba(255,255,255,0.9);
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-check:hover{
  color:#fff
}

.check-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 0 4px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 99;
}

.check-footer .btn-check{
  margin: 0;
  font-size: 16px;
  height: 40px;
  padding: 0 13px;
  border-radius: 4px;
}
.check-footer p {
  text-align: right;
}

.money-all {
  font-size: 20px;
  color: #FA6400;
}

.money-detail {
  font-size: 14px;
}
.price-right-con{
  overflow: hidden;
}
.price-right-con table tbody tr td{
  padding: 4px;
}
.price-right-con table{
  float: right;
}
.right-grid{
  padding-right: 10px;
}
/*吸底*/

/*layer 按钮弹窗的样式*/
.layui-layer-btn .layui-layer-btn0{
  border-color: #3a75dc;
  background-color: #3a75dc;
  color: #fff;
}
.layui-layer-btn a.layui-layer-btn0:hover{
  border-color: #2d57a9;
  background-color: #2d57a9;
  text-decoration: none;
}
.layui-layer-btn a.layui-layer-btn1:hover{
  border-color: #3a75dc;
  background-color: #3a75dc;
  color: #fff;
  text-decoration: none;
}
/*layer 按钮弹窗的样式*/

.width-200{
  width: 200px;
}
.width-80{
  width: 80px;
}
.vertical-middle{
  vertical-align: middle !important;
}
