#page-index .template-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -52px;
}

#page-index .template-modal .el-dialog__body{
  padding: 40px;
  text-align: center;
}

#page-index .template-modal .blank-btn {
  margin-bottom: 20px;
  min-width: 210px;
}

#page-index .template-modal .template-btn {
  min-width: 210px;
}

.el-loading-mask {
  height: 100vh;
}