.a-link {
  color: $color_neutral_black;

  &:after {
    font-family: giga, sans-serif;
    margin-left: 3px;
    content: "\e672";
    color: $color_deep_green;
  }

  &:hover {
    color: $color_link_hover;

    &:after {
      color: $color_link_hover;
    }
  }
}

.a-download {
  color: $color_neutral_black;

  &:after {
    font-family: giga, sans-serif;
    margin-left: 3px;
    content: "\e674";
    color: $color_deep_green;
  }

  &:hover {
    color: $color_link_hover;

    &:after {
      color: $color_link_hover;
    }
  }
}

.giga-btn {
  color: #333;

  &:hover {
    color: $color_white;
  }
}

// hover 特效
.hover-line {
  &:hover {
    text-decoration: underline !important;
  }
}

.hover-blue {
  &:hover {
    font-weight: bold;
    font-style: italic;
    color: $color_p_hover_blue !important;
  }
}

.hover-a-blue {
  &:hover {
    color: $color_link_hover !important;
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.inline {
  display: inline;
}