/*店铺主页交互样式以及知识buyer端样式
* 11432 店铺装修
*/

.btn-buy:hover,
.btn-buy:focus {
  background: #FF6600;
  color: #fff;
}

img.scale,
.store-tabs .one-tab,
.category-module .show-more,
.cart,
.btn-buy {
  cursor: pointer;
}

.store-tabs .one-tab:not(.active):hover {
  background: #EDEFF3;
}

.scale-range {
  width: 100%;
  overflow: hidden;
}

/*图片动态放大*/
img.scale:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

img.scale {
  transition: transform 0.35s ease-in-out;
}

.mainprod-bot {
  display: flex;
}

.mainprod-bot .scale-range {
  width: 144px;
  overflow: hidden;
  border: 3px solid #fff;
}

.mainprod-bot .scale-range:not(:last-child) {
  margin-right: 22px;
}

.mainprod-bot .scale-range.active, 
.mainprod-bot .scale-range:hover {
  border: 3px solid #FF6600;
}

.cart:hover,
.cart:focus {
  background: #FF7200;
}

.title-link:hover {
  text-decoration: underline;
}

a:focus,
a:active {
  outline: none;
}

.preview-top {
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100vw;
  background: #F2F5FC;
  box-shadow: 0px 3px 10px 0px rgba(51, 51, 51, 0.2);
  text-align: center;
  font-size: 16px;
  z-index: 99999;
}

.preview-top button {
  width: 88px;
  height: 32px;
  line-height: 26px;
  color: #fff;
  background: #375ACD;
  border-radius: 2px;
  padding: 3px;
  margin-left: 80px;
  cursor: pointer;
  border: none;
  outline: none;
}
.preview-top button:hover {
  background: #1E42B8;
}
.nothing-set {
  height: 600px;
  text-align: center;
  padding-top: 170px;
}
.nothing-set i.giga {
  color: #D9D9D9;
  font-size: 82px;
  position: relative;
  left: -16px;
}