{{ css(['widgets/swapperImgs.css']) }}
{{ js(['js/widgets/swapperImgs.js']) }}
<div class="modal fade swapper-img-modal" id="myModalSwapperImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalSwapperImgModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered oris-buyer oris-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="all-popover-style">
          <div class="col-md-6 col-lg-6 left-style">
              <div class="left-style-left">
                  <p class="icon-btn" id="icon-btn-left">
                    <i class="giga icon-arrow-left" style="font-size: 20px"></i>
                  </p>
              </div>
              <div class="left-img">
                <div class="content-img" id="left-content-img">
                  <div class="content-nomal-img" id="imgs"></div>
                  <div class="cover"></div>
                </div>
                <div class="left-img-message">Hover Image to Zoom</div>
                <div class="big-image" id="hover-big-image"></div>
              </div>
              <div class="left-style-right">
                  <p class="icon-btn" id="icon-btn-right">
                    <i class="giga icon-arrow-right-copy"  style="font-size: 20px"></i>
                  </p>
              </div>
          </div>
          <div class="col-md-6 col-lg-6 right-style">
              <div class="right-top-font">
                <p class="top-title">
                  Note</p>
                <p class="top-content">The certificates related to intellectual property rights such as patents,
                  trademarks are all
                  provided and uploaded to gigab2b.com by the Seller. GigaCloud does not conduct any substantive
                  review on them, and the Seller shall be liable to all the responsibilities arising therefrom.
                </p>
              </div>
                <p class="img-title">
                  Images</p>
                <div class="right-img"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% apply script %}
    <script>
        let imgArr = JSON.parse('{{ originalProductImages | json_encode() }}');
        $("#imgs").allPopover(imgArr)
    </script>
  {% endapply %}
