<span class="vat-icon-container">
  <span class="vat-icon" data-trigger='manual' tabindex="0" data-vat="{{vat}}" data-is_show_vat="{{is_show_vat}}" 
    data-html="true" data-content="">ex.VAT</span>
</span>
