.seller-center-con{
  font-family:  Arial;
  font-size: 14px;
}
.no-hover:hover{
  color: #666;
}
.super-hot-line{
  position: absolute;
  top: -46px;
  right: 24px;
}
.super-hot-line i{
  font-size: 24px;
  vertical-align: sub;
  color: #c0c7d4;
  margin-right: 2px;
}
.hotline-num{
  color: #666;
  font-weight: bolder;
}
.seller-center-icon{
  margin-right: 8px;
  vertical-align: middle;
}
.pb-title,.ts-title,.pro-title{
  vertical-align: middle;
  font-size: 16px;
  color: #333;
}
.my-title-middle{
  display: flex;
  align-items: center;
}
.mrb-24{
  margin-bottom: 24px;
}
.mrt-24{
  margin-top: 24px;
}
.sta-num{
  font-size: 24px;
  color: #333;
  font-weight: bolder;
  vertical-align: baseline;
  cursor: pointer;
}
.sta-num:hover{
  color: #fA6400;
}
.mrb-16{
  margin-bottom: 16px;
}
.sta-num-small{
  font-size: 16px;
  color: #333;
  font-weight: bolder;
  vertical-align: baseline;
  cursor: pointer;
}
.sta-num-small:hover{
  color: #fA6400;
}
.unit-price{
  font-size: 18px;
  margin-right: 4px;
}
.index-square{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #edeff3;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
}
.index-square.active{
  background: #fff0e6;
  color: #fA6400;
}

#container{
  min-width: 1440px;
  overflow: auto;
}

.information, .Pending, .salesRanking, .promotion, .unread {
  background-color: #fff;
  /*border-radius: 4px;*/
  /*border: 1px solid #c4cad5;*/
  overflow: hidden;
  margin: 15px 0;
}
.promotion{
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px !important;
}
.unread{
  margin-top: 0;
  padding-top: 16px !important;
}
.salesRanking,.unread{
  margin-bottom: 0px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

.information {
  padding: 10px 20px;
  margin: 0;
  overflow: initial;
}


.information > div {
  border-right: 1px solid #eee;
  height: 90px;
  width: 25%;
  padding: 0 15px;
}

.information img.photo {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
}
.information img.manager {
  border-radius:0;
  border: none;
}

.Pending, .salesRanking, .promotion, .unread {
  padding: 20px;
}
.Pending{
  margin-top: 0;
}
.salesRanking{
  margin-top: 0;
}
.Pending > div {
  overflow: hidden;
}

.salesRanking .nav-tabs {
  border-bottom: none;
  float: right;
}

.salesRanking .nav-tabs > li {
  width: auto;
  height: 28px;
  background-color: #eee;
  margin-left: 5px;
  box-shadow: none;
  width: 148px;
  text-align: center;
}

.salesRanking .nav-tabs > li.active,
.salesRanking .nav-tabs > li:hover {
  background-color: #fff0e6;
}

.salesRanking .nav-tabs > li.active a,
.salesRanking .nav-tabs > li:hover a ,
#content .nav-tabs > li > a:hover{
  color: #fa6400;
  background-color: #fff0e6;
  font-size: 13px;
  /*font-weight: bolder;*/
}

.salesRanking .nav-tabs > li a {
  color: #333;
  padding: 0;
  border: none !important;
  height: 28px;
  line-height: 28px;
  border-radius: 0;
  font-size: 13px;
  background-color: #eee;
}

.salesRanking button {
  width: 75px;
  height: 20px;
  background-color: #eee;
  border: none;
  font-size: 12px;
}

.salesRanking button.active,
.salesRanking button:hover {
  background-color: #fff0e6;
  color: #fa6400;
}

.promotion ul, .unread ul {
  list-style: none;
  padding: 0;
}

.unread .notice-one-left i , .giga.icon-V10_Sellerhoutai_tishishixin{
  color: #D9001B;
  position: relative;
  top: -3px;
  left: -4px;
  margin-left: 2px;
}
.unread .notice-one-left i.no-read{
  color: #666;
}
.giga.icon-V10_Sellerhoutai_tishishixin{
  vertical-align: top;
}
p {
  margin-bottom: 5px;
}


.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
  margin: 5px 0;
}

.f16 {
  font-size: 16px;
  margin: 10px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.colorfa, .hover:hover {
  color: #fa6400;
}

.ap {
  color: #004bd8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

.ap:hover {
  text-decoration: underline;
  color: #004bd8;
}

.color6 {
  color: #666;
}

.over-inline-block{
  display: inline-block;
  max-width: 84%;
}
.over {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}


p {
  margin-bottom: 5px;
}

.pending .num {
  width: 19%;
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorfa, .hover:hover {
  color: #fa6400;
}
.color-dark-blue{
  color: #004bd8;
  cursor: default;
}
.color-dark-blue ,.color-dark-blue:hover{
  color: #004bd8;
}

.ap {
  color: #004bd8;
}

.ap:hover {
  text-decoration: underline;
}

.color6 {
  color: #666;
}

.color9 {
  color: #999;
}

.p0 {
  padding: 0;
}


.fw {
  font-weight: bold;
}
.font14{
  font-size: 14px;
}
a {
  color: #333;
}

.hid {
  overflow: hidden;
}

.toggle-mark {
  margin-left: 4px;
}
.toggle-mark .giga.icon-V10-wenhaotishi{
  font-size: 14px;
}
.salesRanking table tbody tr{
  height: 60px;
  -webkit-line-clamp: 2;
}
.table thead > tr > td, .table tbody > tr > td{
  border: none;
  border-top: 1px solid #eee;
}
.tab-body::-webkit-scrollbar {
  width: 5px;
}
.tab-body::-webkit-scrollbar-thumb {
  background: #e0e0df;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}
.unread{
  height: auto;
  /*min-height: 450px;*/
}
.table > thead > tr > th{
  border-bottom: 1px solid #eee;
}
.score{
  position: relative;
  width: 50px;
}
.score-show{
  background-color: #fff0e6;
  color: #fa6400;
  text-align: center;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  padding: 0 8px;
}
.score-detail .complex{
  font-size: 13px;
}
a.link{
  color: #3A75DC;
  cursor: pointer;
}
a.link:hover{
  text-decoration: underline;
}
.pop-right-new .pop-right:before, .pop-right-new .pop-right:after{
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  margin-top: -14px;
  width: 0;
  height: 0;
  border-right: 14px solid #fff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.pop-right-new .pop-right:before {
  left: -14px;
  border-right: 14px solid #cccccc;
}

.pop-right-new .pop-right:after {
  left: -12px;
}
.pop-right-new .pop-right {
  position: absolute;
  width: 400px;
  /*min-height: 130px;*/
  top: -65px;
  left: 55px;
  z-index: 999;
  display: none;
  background: #fff;
  line-height: 22px;
  padding: 8px 12px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}
.score-detail > div.f12{
  display: flex;
  justify-content: space-between;
}
.score-detail .score-name{
  color: #333;
  width: 130px;
}
.score-detail .loading{
  position: relative;
  width: 100%;
  height: 100%;
}
.loading .mask{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0.1;
}
.sub-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bolder;
}
.mrb-10{
  margin-bottom: 10px;
}
.them-dark-blue-color{
  color: #004bd8;
  cursor: pointer;
  font-weight: normal;
}
.them-dark-blue-color:hover{
  color: #004bd8 ;
  text-decoration: underline;
}
.unread-title{
  font-size: 12px;
  color: #333;
  margin-right: 4px;
}
.unread-value{
  font-size: 18px;
  font-weight: bolder;
  vertical-align: middle;
}
.mrt-10{
  margin-top: 10px;
}
.unit-price{
  font-style: normal;
}
.font-normal{
  font-style: normal;
}
/*推荐buyer*/
.link-color:hover{
  color: #004bd8;
}
.recommend-buyer-list{
  background: #fff;
  padding:  20px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.recommend-buyers{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.recommend-buyer-tab{
  width: 24%;
  cursor: default;
  margin-right: 1.33%;
}
.recommend-buyer-tab:nth-child(4n),
.recommend-buyer-tab:last-child{
  margin-right: 0;
}
.recommend-buyer-tab:hover{
  box-shadow:  0 0 8px rgba(0, 0, 0, .15);
}
.recommend-top{
  margin-bottom: 20px;
}
.recommend-top,.recommend-buyer-match{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommend-buyer-match,.recommend-buyer-others{
  padding: 0 20px;
}
.recommend-buyer-others >p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommend-title{
  font-size: 18px;
  font-weight: bolder;
}
.recommend-buyer-name{
  font-size: 22px;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommend-buyer-id,.recommend-buyer-compatibility{
  font-size: 12px;
  color: #666;
}
.recommend-buyer-compatibility{
  position: relative;
  top: -12px;
}
.recommend-buyer-percent{
  font-size: 36px;
  color: #004bd8;
}
.recommend-buyer-percent .percent-unit{
  font-size: 20px;
}
.recommend-buyer-tab{
  border: 1px solid #e6e7eb;
  padding: 0;
}
.recommend-buyer-label{
  font-size: 12px;
  color: #666;
}
.recommend-buyer-value{
  font-size: 12px;
  color: #333;
}
.buyer-btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  background: #fff0e6;
}
.buyer-btns{
  margin-top: 20px;
}
.line-guid{
  display: inline-block;
  height: 20px;
  width: 1px;
  background: #d5d5d5;
}
.width-p-70{
  width: 70%;
}
.recommend-refresh-btn{
  display: inline-block;
  height: 28px;
  line-height: 28px;
  background-color: #375acd;
  border-radius: 2px;
  outline: none;
  color: #fff;
  width: 164px;
  text-align: center;
}
.recommend-refresh-btn:hover,.recommend-refresh-btn:active,.recommend-refresh-btn:focus{
  background: #1e42b8;
  color: #fff;
}
/*推荐buyer*/

/*头像评分部分*/
.seller-ava-con{
  height: 450px;
  background: #fff;
  margin: 0  0 15px;
  padding-bottom: 20px;
}
.top-guid{
  height: 4px;
  background: #375acd;
}
.ava-con{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px 0px;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(#e2edff , #fff , #fff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#e2edff, #fff , #fff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#e2edff, #fff , #fff); /* Firefox 3.6 - 15 */
  background: linear-gradient(#e2edff  , #fff, #fff); /* 标准的语法 */
}
.ava-logo{
  margin-right: 10px;
}
.ava-logo .photo{
  width: 60px;
  height: 60px;
  border: 1px solid #e6e7eb;
}
.seller-ava-name{
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  flex-shrink: 3000;
  margin-bottom: 0px;
}
.mr-8{
  margin-right: 8px;
}
.no-underline:hover{
  text-decoration: none;
}
.store-stats-con,.giga-index-con,.account-manager-con{
  padding: 0 20px;
}
.sub-title-14{
  font-size: 14px;
  font-weight: bolder;
}
.account-manager-inner{
  display: flex;
  justify-content: space-between;
}
.account-manager-con-img{
  margin-left: 16px;
  margin-top: -15px;
}
.account-manager-con-img .manager {
  width: 70px;
  height: 98px;
  border: 1px solid #d5d5d5;
  box-sizing: content-box;
}
.account-manager-name{
  color: #666;
  font-size: 12px;
}
.account-manager-value{
  color: #333;
  font-size: 12px;
}
.account-manager-con-info >p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  margin-bottom: 6px;
  margin-top: 6px;
}
.account-manager-con .sub-title-14{
  padding-top: 16px;
  border-top: 1px solid #e5e5e5;
}
.store-stats-icons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding:0 10px ;*/
  margin-bottom: 8px;
}
.store-stats-icons > .pop-down-new{
  width: 33%;
}
.store-stats-con >.sub-title-14{
  margin-bottom: 8px;
}
.giga-index-con >.sub-title-14{
  margin-bottom: 10px;
  margin-top: 10px;
}
.score-item-tab{
  padding: 0 10px 0 8px;
  margin-bottom: 6px;
}
.score-item-tab-title{
  color: #666;
  margin-right: 4px;
}
.score-item-tab-score{
  color: #fA6400;
  margin-right: 2px;
}
.view-score-detail{
  padding: 0 10px 0 8px;
  margin-bottom: 16px;
  margin-top: 8px;
}
.score-item-tab-score-img{
  vertical-align: baseline;
}
/*头像评分部分*/
/*分数弹窗*/
.score-detail-dailog{
  padding: 24px;
  font-family: Arial !important;
}
.score-detail-colse{
  color: #999;
  cursor: pointer;
}
.score-detail-title{
  font-size: 24px;
  font-weight: bolder;
  margin: 20px 0;
}
.score-detail-tabs{
  margin-top: 32px;
}
.score-detail-total{
  font-size: 18px;
  font-weight: bolder;
  color: #fA6400;
  margin: 0 20px 0 4px;
}
.score-equ-total{
  font-size: 20px;
  font-weight: bolder;
  color: #fA6400;
}
.score-detail-date{
  font-size: 14px;
}
.score-detail-tabs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.how-to{
  margin-top: 96px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.score-detail-total-title{
  font-size: 12px;
  color: #333;
  font-weight: bolder;
}
.score-detail-item{
  color: #fA6400;
  margin-right: 2px;
}
.score-detail-rule{
  color: #999;
  font-size: 12px;
}
.score-item-flag{
  font-size: 12px;
  color: #333;
}
.hot-to-txt{
  margin-right: 8px;
}
.go-how-to{
  color: #004bd8;
}
.how-to:hover .go-how-to{
  color: #333;
}
/*分数弹窗*/
.has-underline:hover{
  text-decoration: underline;
}
.buyer-btns a{
  display: inline-block;
  width: 49%;
  text-align: center;
}


/*评分的pop*/
.pop-down-new{
  position: relative;
  cursor: default;
}
.pop-down-new:hover .pop-down{
  display: block;
}
.pop-down-new .pop-down:before, .pop-down-new .pop-down:after{
  content: '';
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-bottom: 14px solid #fff;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
.pop-down-new .pop-down:before {
  top: -14px;
  border-bottom: 14px solid #cccccc;
}
.pop-down-new .pop-down:after {
  top: -12px;
}
.pop-down-new .pop-down {
  position: absolute;
  min-width: 200px;
  top: 80%;
  left: 72%;
  z-index: 999;
  display: none;
  margin-top: 16px;
  background: #fff;
  margin-left: -150px;
  padding: 10px 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}

/*评分的弹框*/

.account-manager-con-info .seller-email{
  min-height: 36px;
}
.no-bottom{
  margin-bottom:0;
}
.rate-img{
  margin-right: 2px;
  vertical-align: sub;
}
.Pending{
  padding: 20px;
  height: 450px;
  background: #fff;

}
.hr-mar-bottom{
  margin-bottom: 24px;
}
.sta-num-count{
  position: relative;
  top: 2px;
}
.sta-num-label{
  position: relative;
  top: -2px;
}
.mrt-20{
  margin-bottom: 20px;
}
.mrt-22{
  margin-bottom: 22px;
}
.my-title-middle-last{
  margin-top: 4px;
  margin-bottom: 26px;
}
.f13{
  font-size: 13px;
}
.flex-underline{
  display: flex;
  align-items: center;
}
.giga.icon-V10_Sellerhoutai_shuaxin{
  margin-right: 8px;
  vertical-align: middle;
}
.recommend-buyer-match{
  padding-top: 14px;
}
.notice-one{
  display: flex;
  align-items: baseline;
}
.notice-one-left{
  width: 4%;
}
.notice-one-right{
  width: 95%;
}
.cursor-pointer{
  cursor: pointer;
}
.giga.icon-V10_danchuangguanbi:hover{
  color: #666;
}
.mr-6{
  margin-right: 6px;
}
.tab-body{
  max-height: 390px;
}

.promotion-and-messages-con{
  min-height: 520px;
  background: #fff;
}

.giga-index-con{
  min-height: 159px;
}

.bulletin-board {
  background-color: #d0e6fd;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
}
.pos-rela {
  position: relative;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  padding: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bulletin-board .bulletin-content {
  line-height: 20px;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
}
.bulletin-board .bulletin-content .bulletin-title {
  /*max-width: 80%;*/
  display: flex;
  width: 92%;
}
.bulletin-board .light-icon {
  color: #007ffc;
  padding-right: 10px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 18px;
}
.bulletin-board .learn-more {
  margin-left: 80px;
}
.learn-more:hover{
  color:#004bd8;
  text-decoration: underline;
}
.bulletin-content a {
  color: #333;
  text-decoration: none;
}
.bulletin-content a {
  background-color: transparent;
}
.text-small {
  font-size: 12px !important;
}
.bulletin-board .bulletin-close {
  position: relative;
  top: -6px;
  right: 20px;
  line-height: 40px;
  background: transparent;
  border: none;
  outline: none;
}
.p{
  padding: 0;
  margin: 0;
}
/* #34872 增加seller code*/
.seller-ava-code{
  color: #666;
}
.seller-ava-name-flex{
  width: 100%;
  display: flex;
}
.seller-ava-edit-btn{
  margin-left: 12px;
  margin-bottom: 0px;
  padding-top: 2px;
}
/*end*/

