/* radio box 对common.css 补充 */
/* 避免直接修改common.css 造成无法预期的样式问题 */

/* 评审后加入common.css并全局搜索删除 common-ext.css 引用 */
/* @terry.li 20200520 */

/* radio box 样式 */
input[type="radio"].oris-radio {
  margin-top: 0;
  width: 18px;
  height: 18px;
}

input[type="radio"]:checked.oris-radio::before,
input[type="radio"]:checked.oris-radio {
  border: none;
}

input[type="radio"].oris-radio::before {
  border: 2px solid #C3C3C3;
  width: 20px;
  height: 20px;
}

input[type="radio"]:checked.oris-radio::before {
  background: #375ACD;
}

.oris-buyer input[type="radio"]:checked.oris-radio::before {
  background: #333;
}

input[type="radio"].oris-radio::after {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

input[type="radio"]:checked.oris-radio::after {
  content: '';
  position: relative;
  top: 5px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 1em;
}

.oris-buyer input[type="radio"].oris-radio {
  border-color: #999;
}

/* 表格样式 - 固定列 */
.oris-scroll-table {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

.oris-scroll-table td.fixed-right, 
.oris-scroll-table th.fixed-right {
  position: sticky;
  right: 0px;
  height: 100%;
}

.oris-scroll-table th.fixed-right {
  background-color: #D7DDEA;
  box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.1);
}

.oris-scroll-table td.fixed-right {
  background-color: #fff;
  box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.1);
}

/* 按钮类型补充 */
.oris-button-outline {
  background-color: rgba(55, 90, 205, 0.1);
  color: #375ACD;
  border: 1px solid #375ACD;
}

.oris-button-outline:not([disabled]):focus,
.oris-button-outline:not([disabled]):hover {
  background-color: #375ACD;
  color: #fff;
}

/* buyer端表格中的checkbox checked状态下存在边框颜色调整 */
.oris-buyer .oris-table input[type="checkbox"]:checked::before, 
.oris-buyer input[type="checkbox"]:checked.oris-checkbox::before {
  border: 2px solid #333;
}

.oris-buyer .oris-table input[type="checkbox"]::after,
.oris-buyer input[type="checkbox"].oris-checkbox::after {
  background: #333;
}

.oris-buyer input[type=checkbox]:checked::before {
  background-color: #333;
}

.oris-col-6 {
  width: 50%;
}



/* checkbox radiobox 第二套样式标准  UI->陆伟 */
/* --------------start------------ */
.oris-table.oris-table-minicheck input[type="checkbox"],
input[type="checkbox"].oris-checkbox-mini {
  margin-top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.oris-table.oris-table-minicheck input[type="checkbox"]::before,
input[type="checkbox"].oris-checkbox-mini::before {
  border: 2px solid #C3C3C3;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  line-height: 12px;
  font-weight: bold;
}

.oris-buyer .oris-table.oris-table-minicheck input[type="checkbox"]::before,
.oris-buyer input[type="checkbox"].oris-checkbox-mini::before {
  border: 2px solid #C3C3C3;
}

.oris-table.oris-table-minicheck input[type="checkbox"]::after,
input[type="checkbox"].oris-checkbox-mini::after {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.oris-table.oris-table-minicheck input[type="checkbox"]::after,
input[type="checkbox"].oris-checkbox-mini::after {
  background: #375ACD;
  border-radius: 2px;
}

/*解决buyer端样式冲突*/
.oris-buyer input[type="checkbox"].oris-checkbox-mini::after,
.oris-buyer input[type="checkbox"]:checked.oris-checkbox-mini::before {
  background: #333;
  border: 2px solid #333333;
}

.oris-buyer input[type="checkbox"].oris-checkbox-mini {
  border-color: #999;

}
.oris-buyer input[type="checkbox"].oris-checkbox-mini:hover{
  cursor: pointer;
}


.oris-buyer .oris-table-minicheck input[type="checkbox"]:checked::before, 
.oris-buyer input[type="checkbox"]:checked.oris-checkbox-mini::before {
  border: 2px solid #333;
}

.oris-buyer .oris-table-minicheck input[type="checkbox"]::after,
.oris-buyer input[type="checkbox"].oris-checkbox-mini::after {
  background: #333;
}

.oris-buyer input[type=checkbox]:checked::before {
  background-color: #333;
}

input[type="radio"].oris-radio-mini {
  margin-top: 0;
  width: 14px;
  height: 14px;
}

input[type="radio"]:checked.oris-radio-mini::before,
input[type="radio"]:checked.oris-radio-mini {
  border: none;
}

input[type="radio"].oris-radio-mini::before {
  border: 2px solid #C3C3C3;
  width: 16px;
  height: 16px;
}

input[type="radio"]:checked.oris-radio-mini::before {
  background: #375ACD;
}

.oris-buyer input[type="radio"]:checked.oris-radio-mini::before {
  background: #333;
}

input[type="radio"].oris-radio-mini::after {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

input[type="radio"]:checked.oris-radio-mini::after {
  content: '';
  position: relative;
  top: 4px;
  left: 4px;
  display: block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 1em;
}

.oris-buyer input[type="radio"].oris-radio-mini {
  border-color: #999;
}
/* --------------end------------ */
