.count-input-container .count-input{
  height: 34px;
}

.count-input-container .input-group-addon {
  padding: 8px 9px;
}

.count-input-container input::-webkit-outer-spin-button, 
.count-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 计步器输入框样式 */
.count-input-container .count-input[type='number'] {
  -moz-appearance: textfield;
}

.count-input-container .count-input[disabled] {
  background-color: #fff;
}

.count-input-container .count-input:focus {
  box-shadow: initial;
}

.count-input-container .count-input {
  border-radius: 0px !important;
  text-align: center
}

.count-input-container .count-btn {
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
}


/* 禁用样式 */
.count-input-container .count-btn.disabled:hover {
  cursor: not-allowed;
}

.count-input-container .count-btn.disabled {
  background-color: #f2f2f2;
}

.count-input-container .count-btn.disabled .count-icon {
  color: #c1c1c1;
}

.count-input-container .count-minus-btn {
  border-right: 0px;
}

.count-input-container .count-plus-btn {
  border-left: 0px;
}

.count-input-container .count-btn:hover {
  cursor: pointer;
}