/* 11432 店铺介绍页样式*/
.store-info.back1200 {
  width: 1200px;
  margin: 20px auto;
  background: #fff;
  padding: 24px 30px;
}

.store-info .content-title:before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 20px;
  background: #333333;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.store-info .content-title {
  font-size: 24px;
  font-weight: bold;
}

.store-info .info-swiper {
  width: 580px;
  height: 375px;
  margin-right: 12px;
  position: relative;
}

.swiper-container {
  position: relative !important;
  height: 100%;
}

.store-info a.text-warning:hover,
.store-info a.text-warning:focus {
  color: #ff6600;
}

.store-info .wechat-img img {
  width: 120px;
  height: 120px;
}

.store-info .wechat-img img:first-child {
  margin-right: 10px;
}

.store-info .describe {
  padding: 30px 18px;
  line-height: 28px;
  white-space: pre-line;
}

.store-info .info-left {
  flex: 1;
  padding-left: 18px;
}

.module-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.store-info .tag-item {
  display: flex;
  width: 580px;
  text-align: left;
  padding: 0px 32px 38px 32px;
}

.store-info .tag-item:nth-child(2n+2) {
  width: 560px;
}

.store-info .tag-item img {
  width: 60px;
  height: 60px;
}

.store-info .module-line2 {
  line-height: 24px;
}

.store-info .giga-index {
  align-items: center;
  padding: 10px 120px 20px 18px;
}

.store-info .giga-index i.calc-icon {
  font-size: 35px;
  color: #999;
}
.store-info .giga-index .p120-r img {
  margin-right: 4px;
}
.store-info .p120-r {
  padding-right: 120px;
}

.breadcrumb {
  width: 1200px !important;
  margin: auto;
}

.store-info .swiper-slide img {
  width: 100%;
  height: 100%;
}

.store-info .swiper-button-next,
.store-info .swiper-container-rtl .swiper-button-prev {
  left: auto;
}

.store-info .swiper-button-prev,
.store-info .swiper-container-rtl .swiper-button-next {
  right: auto;
}

.store-info .swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}

.store-info .swiper-pagination-bullet {
  display: inline-block;
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
  box-shadow: none !important;
  background: #fff !important;
  margin: 0 5px;
  opacity: 1;
}

.store-info .swiper-button-next,
.store-info .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.store-info .swiper-button-prev:before,
.store-info .swiper-button-next:before {
  color: #fff;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 60px;
}

.store-info .swiper-pager {
  width: 100%;
  position: absolute;
  top: 50%;
  line-height: 45px;
}

.store-info .swiper-button-prev,
.store-info .swiper-button-next {
  text-align: center;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.6;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgb(255 255 255 / 30%);
  z-index: 2 !important;
  background-image: none !important;
  width: 30px !important;
  height: 60px !important;
}

.store-info .swiper-pagination-bullet-active {
  background: #004DB8 !important;
}


.store-info .swiper-button-prev {
  left: 0 !important;
}

.store-info .swiper-button-next {
  right: 18px !important;
}

.store-info .swiper-button-next:before {
  content: "\f105";
}

.store-info .swiper-button-prev:before {
  content: "\f104";
}

.preview-top {
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100vw;
  background: #F2F5FC;
  box-shadow: 0px 3px 10px 0px rgba(51, 51, 51, 0.2);
  text-align: center;
  font-size: 16px;
  z-index: 99999;
}

.preview-top button {
  width: 88px;
  height: 32px;
  line-height: 26px;
  color: #fff;
  background: #375ACD;
  border-radius: 2px;
  padding: 3px;
  margin-left: 80px;
  cursor: pointer;
  border: none;
  outline: none;
}

.preview-top button:hover {
  background: #1E42B8;
}

.store-info .line20 {
  line-height: 20px;
}

.categories-line {
  padding: 0 20px;
  font-size: 12px;
  position: relative;
  top: -1px;
}