{% if products %}
  {% for product in products %}
    <div class="item">
      <div class="item-content"> {% include 'giga/template/_parts/product_simple_grid_home.twig' %}</div>
    </div>
  {% endfor %}
{% endif %}