<style>
  .yzc_layer .layui-layer-btn .layui-layer-btn0,
  .yzc_layer .layui-layer-btn .layui-layer-btn1{
    line-height: 26px;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0{
    border-color: #3A75DC;
    background-color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
    background-color: #2d57a9;
    opacity: 1;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1{
    color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
    background-color: #3A75DC;
    color: #fff;
    opacity: 1;
  }
  .yzc_layer .layui-layer-content{
    text-align: left;
  }
  .mr-lf-5{
    margin-left: 5px;
  }
</style>
<div id="box-shadow">
  <div class="col-sm-12" style="padding: 0;margin-left: -20px">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="tiered-price-form">
          <div class="col-sm-3">
            <div class="form-group">
{#              <label class="control-label"></label>#}
              <input
                type="text"
                name="filter_sku_mpn"
                placeholder="{{ text_tiered_price_placeholder }}"
                class="form-control"/>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group text-left">
              <button
                type="button"
                id="tiered-price-filter"
                class="btn btn-primary btn1"
                data-loading-text="Loading...">
                Filter
              </button>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <div class="form-group text-right">
              <button type="button" id="button-download" class="btn btn-default" onclick="downloadSpotPrice();" data-toggle="tooltip"
                      data-original-title="Download">
                <i class="fa fa-download"></i>
              </button>
              <a class="btn btn-primary mr-lf-5"
                 href="index.php?route=customerpartner/spot_price/tiered_price/edit"
                 target="_blank"
                 id="tiered-price-add"
                 data-toggle="tooltip"
                 data-original-title="Add">
                <i class="fa fa-plus"></i>
              </a>
              <a class="btn btn-danger"
                 id="tiered-price-del"
                 data-toggle="tooltip"
                 data-original-title="Delete">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 0">
      <div class="panel panel-default">
        <div class="panel-body">
          <table id="tiered_price_table"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none" id="spot_price_list">
  <div>
    <input type="radio" id="spot1" name="spot_radio" value="1" checked/>
    Delete all price range templates for this product
  </div>
  <div>
    <input type="radio" id="spot2" name="spot_radio" value="2"/>
    Delete this price range template
  </div>
</div>
<script>
  layer.config({
    btnAlign: 'c',
  })
</script>

<script>
  let tiered_price_table = $('#tiered_price_table');
  let tiered_price_form = $('#tiered-price-form');
  let currency = '{{ currency }}';
  let post_url = 'index.php?route=customerpartner/spot_price/tiered_price/getList';
  let download_freight_template_url = '{{ freight_download_template_url }}';
  let price_title = 'Ref. Exclusive' +
    '<span data-toggle="tooltip" ' +
    'data-original-title="Current exclusive price including freight.">' +
    '<i class="giga icon-V10-wenhaotishi"></i>' +
    '</span></br>' +
    'Dropshipping Price(' + currency + '/Unit)';
  let home_pickup_price_title =
    'Spot Price(' + currency + '/Unit)' +
    '<span data-toggle="tooltip" ' +
    'data-original-title="The price excluding fulfillment offered by the seller when the quantity of products the buyer purchased has reached the required quantity is for reference only. The bid price shall prevail. ">' +
    '<i class="giga icon-V10-wenhaotishi"></i>' +
    '</span>';
  tiered_price_table.bootstrapTable({
    url: post_url,
    queryParams: function (params) {
      let data = {};
      let newParams = tiered_price_form.serializeArray();
      data['sort'] = params['sort'];
      data['order'] = params['order'];
      data['page'] = (params['offset'] / params['limit'] + 1);
      data['per_page'] = params['limit'];
      newParams.forEach(function (val, key) {
        data[val['name']] = val['value'];
      });
      return data;
    },
    sidePagination: "server",
    pagination: true,
    pageNumber: 1,
    pageSize: 15,
    pageList: [5, 15, 20, 50, 100],
    columns: [
      {
        checkbox: true
      },
      {
        field: 'template_id',
        title: 'Template ID',
        align: 'center'
      },
      {
        field: 'mpn',
        title: 'MPN',
        align: 'center',
        formatter: function (value, row, index) {
          return '<a target="_blank" href="index.php?route=product/product&product_id='
            + row['product_id'] + '">'
            + value
            + '</a>';
        }
      },
      {
        field: 'sku',
        title: 'Item Code',
        align: 'center'
      },
      // {
      //   field: 'freight_format',
      //   title: 'Curt.Freight<span data-toggle="tooltip" data-original-title="Current Giga Cloud freight for reference."><i class="giga icon-V10-wenhaotishi"></i></span>',
      //   align: 'center',
      //   formatter: function (value, row, index) {
      //     return "<a class='alert-link' href='" + download_freight_template_url + "'>" + value + "</a>";
      //   }
      // },
      {
        field: 'home_pick_up_price_format',
        title: home_pickup_price_title,
        align: 'center',
      },
      // {
      //   field: 'price_format',
      //   title: price_title,
      //   align: 'center'
      // },
      {
        title: 'Selling<br/>Quantity',
        align: 'center',
        formatter: function (value, row, index) {
          if (row['min_quantity'] === row['max_quantity']) {
            return row['min_quantity'];
          }
          return row['min_quantity'] + ' \~ ' + row['max_quantity'];
        }
      },
      {
        title: 'Action',
        align: 'center',
        formatter: function (value, row, index) {
          return '<a data-toggle="tooltip" data-original-title="Edit" href="index.php?route=customerpartner/spot_price/tiered_price/edit&product_id='
            + row['product_id']
            + '" target="_blank" class="btn btn-primary"><i class="fa fa-pencil"></i></a>'
            + '<a data-toggle="tooltip" data-original-title="Delete" class="btn btn-danger spot_price_del" data-middle="'
            + row['is_middle'] + '"'
            + ' data-count="' + row['product_detail_count']
            + '" data-id="' + row['id']
            + '" style="margin-left: 5px"><i class="fa fa-trash"></i></a>';
        }
      }
    ],
    formatNoMatches: function () {
      return 'No records.';
    },
    onLoadSuccess: function () {
      $('.spot_price_del').on('click', function () {
        let item = $(this);
        let count = parseInt(item.data('count'));
        let id = item.data('id');
        let middle = parseInt(item.data('middle'));

        if (count >= 2) {
          layer.confirm($('#spot_price_list').html(), {
            title: 'Confirm',
            skin: 'yzc_layer',
            btn: ['Confirm', 'Cancel'],
            scrollbar: false
          }, function () {
            let radio_val = parseInt($('input[name="spot_radio"]:checked').val());
            if (count >= 3 && radio_val === 2 && middle === 1) {
              layer.msg('Delete this price range template is not allowed！Please check if there are other price range templates.');
              return;
            }
            let url = radio_val === 1
              ? 'index.php?route=customerpartner/spot_price/tiered_price/delAll'
              : 'index.php?route=customerpartner/spot_price/tiered_price/delId';
            $.ajax({
              method: 'post',
              url: url,
              data: {ids: [id]},
              success: function (res) {
                layer.msg(res['msg']);
                tiered_price_table.bootstrapTable('refresh', {pageNumber: 1})
              }
            });
          })
        } else {
          layer.confirm('Are you sure you want to delete this price range template？', {
            title: 'Confirm',
            skin: 'yzc_layer',
            btn: ['Confirm', 'Cancel'],
            scrollbar: false
          }, function () {
            $.ajax({
              method: 'post',
              url: 'index.php?route=customerpartner/spot_price/tiered_price/delAll',
              data: {ids: [id]},
              success: function (res) {
                layer.msg(res['msg']);
                tiered_price_table.bootstrapTable('refresh', {pageNumber: 1})
              }
            });
          })
        }

      })
    }
  });
  $('#tiered-price-filter').on('click', function () {
    tiered_price_table.bootstrapTable('refresh', {pageNumber: 1})
  });
  $('#tiered-price-del').on('click', function () {
    let ids = [];
    tiered_price_table.bootstrapTable('getSelections').forEach(function (item) {
      ids.push(item['id']);
    });
    if (ids.length === 0) {
      layer.msg('please select at least one row first.');
      return;
    }
    var content = `<div>Are you sure you want to delete these price range templates?</div>
                   <div>All price range templates that involve these products are deleted.</div>`;
    layer.confirm(content, {
      icon: 3,
      title: 'Confirm',
      skin: 'yzc_layer',
      btn: ['Confirm', 'Cancel'],
      scrollbar: false
    }, function () {
      $.ajax({
        method: 'post',
        url: 'index.php?route=customerpartner/spot_price/tiered_price/delAll',
        data: {ids: ids},
        success: function (res) {
          layer.msg(res['msg']);
          tiered_price_table.bootstrapTable('refresh', {pageNumber: 1})
        }
      });
    })
  });

  function downloadSpotPrice() {
    let query = '';
    $.each(tiered_price_form.serializeArray(), function(i, field){
       query += '&' + field.name + '=' + field.value;
    });

    window.location.href = '{{ url('customerpartner/spot_price/tiered_price/downloadSpotPrice') }}' + query;
  }

</script>
