/*catalog/view/theme/yzcTheme/template/account/safeguard/index.twig
* buyer保障服务管理样式
*/
.service-link {
  float: right;
  line-height: 44px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.service-link i {
  color: #999999;
  padding-right: 6px;
  font-weight: 200;
}

.policy-des {
  float: right;
  line-height: 40px;
}

.policy-des span:hover {
  text-decoration: underline;
}

.status-title {
  font-weight: bold;
  padding-bottom: 4px;
}

.status-title>div.flex-layout {
  position: relative;
  left: -10px;
}

.status-content {
  color: #666666;
  padding-left: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.pop-dom .popover {
  display: table !important;
  left: 727px !important;
}

#bill_policy .popover {
  top: 369px !important;
}

#claim-info .popover {
  top: 200px !important;
}
/*保单状态说明弹框*/
.pop-describe {
  width: 474px;
  height: 430px;
}

.pop-describe .close-icon {
  font-size: 14px !important;
}

#bill_policy .pop-describe {
  height: 430px;
}

.pop-dom .popover.bottom>.arrow {
  margin-left: 204px;
}

.pop-dom .popover-content {
  padding: 0;
}

/*申请理赔*/
.claim-info .oris-tab-num {
  color: #FF6600 !important;
  background: #FFF0E6 !important;
}

.oris-row [class*=oris-col-]:not(:last-child) {
  padding-right: 24px !important;
}

.claim-info .oris-table tr:not(.no-records) td {
  vertical-align: top !important;
  padding-top: 16px;
}

.w224-i {
  width: 224px !important;
}

.search-large-col {
  width: 680px !important;
  padding-right: 16px !important;
}

.line-th {
  text-decoration: line-through;
}

.claim-info .image-td {
  position: relative;
  height: unset !important;
  min-height: 60px;
  align-items: flex-start;
  padding-bottom: 6px !important;
}
.claim-info .image-td:not(:last-child) {
  padding-bottom: 10px !important;
}
.claim-info .image-td .flex-layout .cp-img,
.claim-info .image-td .flex-layout .ltl-img {
  margin-left: 2px !important;
}
.more-sku {
  font-size: 13px;
  color: #7382A5;
  font-style: italic;
  padding-top: 2px;
  cursor: pointer;
}

.more-sku i {
  font-size: 12px;
}

.action-tips {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 13px;
  border-radius: 8px;
  padding: 0 8px;
  height: 16px;
}

.action-tips.new {
  background: #E1E8FF;
  color: #004BD8;
}

.action-tips.time {
  background: #FFE7E7;
  color: #E64545;
}

.bs3.bootstrap-select .dropdown-toggle .filter-option {
  padding-right: unset !important;
}

.time-range {
  width: 364px !important;
}

.claim-info .claim-search-icon {
  position: absolute;
  font-size: 18px;
  right: 40px;
  top: 8px;
  cursor: pointer;
}

.claim-info .search-large-col input {
  padding-right: 50px;
}

.hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 68px;
  height: 160px;
  width: 160px;
}

.claim-info .image-td .pro-image:hover~.hover-image {
  display: block;
  z-index: 1;
}

.bootstrap-select.dropdown .filter-option-inner-inner {
  overflow: hidden;
  text-overflow: ellipsis;
}

.auto-modal .modal-lg.oris-modal{
  width: 1050px;
}

.expiring-tip{
  background: #FFEDED;
  color: #E64545;
  width: 70px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  display:inline-block;
  border: 1px solid #FFEDED;
  font-size: 12px;
}

.automatic-purchase .purchase-msg{
  border-radius: 2px;
  background-color: #F2F5FC;
  padding: 16px;
}

.automatic-purchase .purchase-msg i{
  font-size: 22px;
  color: #496DE5;
}

.auto-modal .popover .popover-content,
.automatic-purchase .popover .popover-content {
  padding: 14px;
}

.auto-modal .popover.left .arrow,
.automatic-purchase .popover.left .arrow {
  border-left-color: #ccc !important;
}

.auto-modal .popover.top .arrow,
.automatic-purchase .popover.top .arrow {
  border-top-color: #ccc !important;
}

.auto-modal .popover.right .arrow,
.automatic-purchase .popover.right .arrow {
  border-right-color: #ccc !important;
}

.auto-modal .popover.top > .arrow:after,
.automatic-purchase .popover.top > .arrow:after{
  border-top-color: #fff !important;
}

.auto-modal .text-border{
  border: 1px solid #E64545;
}

.automatic-purchase .configuration-program{
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  padding: 20px;
}

.automatic-purchase .program-status{
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  font-size: 16px;
  font-weight:bold ;
  text-align: center;
}

.automatic-purchase .program-active{
  background: #E1ECFF;
  color: #004BD8;
}

.automatic-purchase .program-complete{
  background: #DDF7EC;
  color: #0AAD4F;
}

.automatic-purchase .program-terminated{
  background: #DCDCDC;
  color: #A9A9A9;
}

.automatic-purchase .configuration-program .table th,
.automatic-purchase .program-detail td{
  border: none !important;
}
.automatic-purchase .program-detail > div,
.auto-modal .program-detail > div{
  background: #F4F5F8;
  padding:10px 14px ;
  margin-bottom: 6px;
}
.automatic-purchase .program-detail > div:hover,
.auto-modal .program-detail > div:hover{
  background: #e8effb;
}
.automatic-purchase .w60,
.auto-modal .w60{
  width: 55%;
}
.automatic-purchase .w40,
.auto-modal .w40{
  width: 45%;
}
.automatic-purchase .program-detail .program-line .service-type,
.auto-modal .service-type{
  padding: 3px 16px 3px 0;
}
.automatic-purchase .oris-circle,
.auto-modal .oris-circle{
  width: 6px;
  height: 6px;
}
.automatic-purchase .program-list > .configuration-program:not(:first-child),
.auto-modal .program-list > .configuration-program:not(:first-child){
  display: none;
}
.automatic-purchase .service-list > div:not(:first-child),
.auto-modal .service-list > div:not(:first-child){
  margin-top: 10px;
}
.auto-modal .edit-protection.oris-table tfoot > tr > td{
  border: none;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  height: 80px;
}
.auto-modal button.delete-automatic{
  border: none;
  background: transparent;

}
.auto-modal button.delete-automatic:hover > span,
.auto-modal a.delete-automatic:hover > span,
.auto-modal a.add-automatic:hover > span{
  text-decoration: underline;
}
.auto-modal button.delete-automatic[disabled]{
  cursor: not-allowed;
}
.auto-modal .maxH-650{
  max-height: 650px;
  overflow: auto;
}
.auto-modal .maxH-560{
  max-height: 560px;
  overflow: auto;
}
.auto-modal .popover{
  max-width: 320px;
}

.auto-modal .datetimepicker input[readonly]{
  background: #fff;
}
.auto-modal .oris-clear-hide,
.auto-modal .oris-clear-show{
  position: absolute;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}
.auto-modal .datetimepicker:hover .oris-clear-show{
  display: block;
}
.auto-modal .modal-dialog.oris-modal{
  margin-top: 60px;
}
.confirm-layer .invalid-tip{
  background-color: #F2F2F2;
  color: #666;
  font-size: 14px;
  padding: 4px 10px;
  line-height: 22px;
  margin-top: 8px;
}
.automatic-purchase .none,
.auto-modal .none,
.noneI{
  display: none !important;
}
.auto-modal .m05-l{
  margin-left: 5px;
}
.auto-modal.log-protection .modal-lg.oris-modal{
  width: 800px;
}
.p05-l{
  padding-left: 5px;
}
.p05-r{
  padding-right: 5px;
}
.mr-octal1{
  margin-right: 8px !important;
}
/*特殊处理*/
#claim-info .oris-tabs {
  margin-top: 0;
}
.break-word-i {
  word-break: normal !important;
}