.page-seller-portal .btn.btn-default:hover {
  background-color: #fa6400;
  border-color: #fa6400;
}

div.tab-btn>a.tab-btn {
  padding: 9px 18px;
  font-size: 16px;
  margin-right: 5px;
}

.page-seller-portal a.tab-btn.btn-default {
  color: grey;
}

.status_approve {
  color: #008000;
}

.status_reject {
  color: #FF0000;
}

.status-hot-map {
  height: 70px;
  width: 13.9%;
  border-right: 1px solid #e1e1e1;
  display: inline-block;
  text-align: center;
}

.status-hot-map:last-child {
  border: 0;
}

.status-hot-map.active,
.status-hot-map:hover {
  background-color: #1834640c;
}

.status-hot-map:hover {
  cursor: pointer;
}

.status-hot-map:hover .hot-map-status {
  color: #183464;
}

.status-hot-map:hover .hot-map-num {
  color: #FA6400;
}

.hot-map-status {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 0;
  color: #677999;
  text-transform: uppercase;
}

.status-hot-map.active .hot-map-status {
  color: #183464;
}

.giga.icon-help-inactive {
  color: #b620e0;
}

.hot-map-num {
  font-size: 16px;
}

.status-hot-map.active .hot-map-num {
  font-weight: bold;
  color: #FA6400;
}

.item-more,
.text-user-number,
.text-update-hour {
  color: #999999d8;
}

.day-left {
  color: #da0000d8;
  text-transform: none;
}

.page-seller-portal table.table.main .action-group {
  text-align: left;
}

.table .btn-action-edit {
  background-color: #fa6400;
  color: #fff;
}

.table .btn-action-edit:hover {
  background-color: #fff;
  color: #fa6400;
}

.table .btn-action-return {
  background-color: #fa6400;
  color: #fff;
}

.table .btn-action-return:hover {
  background-color: #fff;
  color: #fa6400;
}

.pagination-info {
  float: right;
}

.page-list,
.page-info {
  top: 0;
}

.page-list {
  font-weight: bold;
}

.bos_pagination_record .page-list,
.bos_pagination_record .page-info {
  top: -14px;
}

.page-list>.btn-group>.dropdown-toggle {
  border: none;
  color: #333;
  font-weight: bold;
  background-color: #fff;
}

.page-list>.btn-group>.dropdown-toggle:hover {
  border: none;
  color: #333;
  font-weight: bold;
  background-color: #f3f5f7;
}

.page-list>.btn-group {
  float: right;
  margin-left: 5px;
  top: 5px;
}

.dropdown-menu>.active>a {
  background-color: white;
  color: #333;
}

.dropdown-menu>li>a:hover {
  background-color: #f3f5f7;
}

.dropdown-menu>li.active>a {
  background-color: #bbb;
  color: white;
}

.dropdown-menu>li.active>a:hover {
  background-color: #bbb;
  color: white;
}

.break-line {
  word-wrap: break-word;
  word-break: break-all;
}

.table-responsive.no-scroll {
  overflow-x: initial;
}

.table td .btn-action {
  padding: 0 !important;
  line-height: 30px;
}

.salesOeder-table .bootstrap-table .fixed-table-pagination>.pagination-detail .pagination-info {
  line-height: 40px;
}

.salesOeder-table .dropdown-menu {
  left: auto;
  right: 0;
}

.cloud-upload .form-wrapper {
  margin: 15px 10px 10px;
}

.cloud-upload .icon-V10-wenhaotishi {
  font-size: 14px;
}

.cloud-upload .radio-inline {
  cursor: not-allowed;
}

.cloud-upload input[type="radio"][disabled] {
  position: relative;
  top: -1px;
}

.cloud-upload input[type="radio"][disabled]:before {
  background: #999;
}

.cloud-upload .pop-down-new:focus .pop-down {
  display: block;
}

.cloud-upload .pop-down-new .pop-down {
  color: #666;
  font-size: 14px;
  width: 480px;
  left: calc(50% - 240px);
  top: 16px;
  padding: 24px !important;
  line-height: 18px;
  max-width: unset;
}

.cloud-upload .pop-content>div:not(:last-child) {
  margin-bottom: 20px;
}

.cloud-upload .process-tip-error-cloud {
  word-break: break-word;
  color: #FF414D;
}

.cloud-upload .process-tip-success-cloud {
  word-break: break-word;
  color: darkgreen;
}
/*    新增table最后一列样式*/
.last-td-fixed thead th:last-child,.page-seller-portal .last-td-fixed tbody td:last-child{
  position: sticky;
  right: 0;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  box-shadow: -3px 4px 9px rgb(0 0 0 / 10%);
}
.last-td-fixed thead th:last-child .th-inner{
  width: 105px;
}
.last-td-fixed {
  border-collapse: separate !important;
}
.tab-title {
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    border-radius: 4px;
  }

  .upload-icon-batch {
    color: #000;
    margin-right: 10px;
  }

  .sub-title {
    font-weight: bolder;
    color: #000;
    margin-right: 10px;
  }

  .sub-des {
    font-size: 12px;
    color: #888;
    font-weight: normal;
  }

  .page-seller-portal .btn.btn-primary.btn-load {
    background: #eee;
    color: #333;
    border-color: #eee;
  }

  .page-seller-portal .btn.btn-primary.btn-load:hover {
    color: #3A75DC;
  }

  .batch-con, .single-con {
    padding: 10px;
    min-height: 100px;
  }

  .single-con {
    width: 95%;
  }

  .mr20 {
    margin-right: 20px;
  }

  .btn-link {
    color: #3A75DC;
    text-decoration: underline;
    font-size: 13px;
    vertical-align: bottom;
  }

  .btn-link:hover,.btn-link.btn-link-active:focus:hover {
    color: #183464;
    text-decoration: underline;
  }
  .btn-link.btn-link-active:active,.btn-link.btn-link-active:focus{
    color: #3A75DC;
    text-decoration: underline;
  }
  .btns {
    text-align: center;
  }

  .mrb15 {
    margin-bottom: 15px;
  }

  .form-group label {
    font-weight: normal;
    color: #333;
  }

  .form-group .form-control {
    /*background: #f3f5f7;*/
    border-radius: 4px;
  }

  .required:before {
    content: '*';
    color: #FF414D;
    margin-right: 4px;
  }

  .upload-process {
    margin-top: 20px;
  }

  .process-tip-error {
    color: #FF414D;
  }

  .process-tip-success {
    color: darkgreen;
  }

  #page-sales-order-management .progress .progress-bar.error {
    background-color: #FF414D;
  }

  .progress {
    margin-bottom: 10px;
  }

  .error-input {
    border-color: #FF414D;
  }

  .error-text {
    color: #FF414D;
    font-size: 12px;
  }

  .add-remove-action {
    position: absolute;
    top: 8px;
  }

  .add-remove-action:hover {
    cursor: pointer;
    color: #3A75DC;
  }
  .panel-heading{
    padding: 0;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body{
    border-top: none;
  }
  #collapseSingle .form-group > label{
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }
  #myUploadPanel .panel{
    border: none;
    box-shadow: none;
  }

  #collapseSingle .panel-body.single-con .col-sm-3{
    padding-left: 4px;
    padding-right: 0;
  }
  #collapseSingle .panel-body.single-con .col-sm-3.control-label{
    padding-left: 0;
  }
  .form-wrapper label.radio-inline input[type="radio"]::before{
    font-size: 16px;
  }
  .form-wrapper label.radio-inline span{
    margin-left: 0;
  }
  .form-wrapper label.radio-inline input[type="radio"]{
    line-height: 32px;
  }
  .form-wrapper label.radio-inline span{
    line-height: 46px;
  }
  .form-wrapper .form-control{
    border: 1px solid #ccc;
  }
  .form-wrapper .datetimepicker-range .datetimepicker span.icon i{
    font-size: 18px;
    line-height: 31px;
  }
  .form-wrapper .form-group{
    margin-bottom: 15px;
  }
  .form-wrapper .form-group > label{
    font-size: 14px;
    text-transform: capitalize;
    color: #333;
    font-weight: initial;
  }
  .giga-show{
    display: block;
  }
  .giga-hide{
    display:none;
  }
  .process-tip-error-shopify {
    color: #FF414D;
  }

  .process-tip-success-shopify {
    color: darkgreen;
  }
  .disable-icon{
    position: absolute;
    right: 15px;
    bottom: 0;
    line-height:38px;
    color: #aaa;
    z-index: 99;
  }
  .mr0{
    margin: 0;
  }
  .pr0{
    padding-right: 0;
  }
  .form-group .dropdown-menu {
    width: calc(100% - 4px);
    margin: 0 0 0 4px;
    border-radius: 4px;
    box-shadow: none;
  }
  .country-remove{
    position: absolute;
    right: 6px;
    top: 8px;
    display: none;
  }
  .country-remove:hover{
    cursor: pointer;
    color: #3A75DC;
  }
  .pad-no-left{
    padding-left: 0;
  }
  .pad-no-right{
    padding-right: 0;
  }
  .bootstrap-select {
     position: relative;
  }

  .bootstrap-select .dropdown-menu {
      width: 100%;
  }
  .open > .dropdown-menu {
      display: block !important;
  }
  .form-group .form-control .bootstrap-select {
    /*background: #f3f5f7; */
    border-radius: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: #f3f5f7;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .form-group .bs-searchbox input {
    background: #fff !important;
    height: 32px !important;
  }
  .form-group .bs-searchbox input:focus {
    box-shadow: none !important;
  }
  .form-group .bootstrap-select button.dropdown-toggle{
    height: 40px !important;
    border-radius: 4px !important;
    background-color: #f3f5f7 !important;
    border: 1px solid #ccc !important;
    font-size: 12px !important;
  }
  .form-group .bootstrap-select button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(24 52 100 / 60%);
  }
  .form-group .bootstrap-select button.dropdown-toggle .filter-option-inner-inner{
    line-height: 26px !important;
    font-size: 12px;
    color: #333;
  }
  .form-group .bootstrap-select button.dropdown-toggle .bs-caret {
    color: #333;
  }
  .form-group .bootstrap-select ul.dropdown-menu {
    max-height: 280px !important;
    overflow-y: scroll;
  }
  .form-group .bootstrap-select .dropdown-menu > li.active > a {
    background-color: #183464 !important;
    color: #fff;

  }
  .form-group .bootstrap-select button.bs-placeholder .filter-option-inner-inner,
  .form-group .bootstrap-select button.bs-placeholder .bs-caret{
    color: #999 !important;
  }

/* 26062 */
  .row .form-group input:not([type=checkbox]):not([type=radio]):not([type=button]):focus{
    box-shadow: none;
    border-color: #3A75DC;
  }
  #collapseSingle .panel-body.single-con .control-label{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
  }
