/*创建和编辑现货合约样式*/
.oris-dropdown-menu .dropdown-menu{
  max-height: 380px !important;
}
.product-table tr th:first-child,
.product-table tr td:first-child{
  padding-left: 24px;
}
.contract-table tr th:last-child,
.contract-table tr td:last-child{
  padding-right: 38px !important;
}
.contract-table td{
  border-bottom: none !important;
}
.lineChart{
  width: 450px;
  height:310px;
}
.short-vline{
  display: inline-block;
  width: 3px;
  height: 12px;
  background: #375ACD;
  margin-right: 6px;
}
.dusty-blue{
  color: #7382A5;
}
.price-list{
  min-width: 400px;
  height: auto;
}
.price-module{
  padding: 20px 0;
}
.price-module:not(:last-child){
  overflow: hidden;
  border-bottom: 1px solid #D9DDE7;
}
.price-module  .productDetails-price{
 flex: 1;
  width: 33.333%;
}
.price-module  .productDetails-price:not(:last-child){
  padding-right: 10px;
}
.mpn-input {
  width: 400px;
}

.input-mpnSku-error{
margin-left: 117px;
}

.small-thumbnail {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.overflow {
  overflow: hidden;
}

.clear-col {
  margin: -10px -15px -10px -15px;
}

.create-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 6px;
  color: #193465;
  display: flex;
  align-items: center;
}
.create-title  .Y-axis {
  display: inline-block;
  width: 5px;
  height: 18px;
  background: #375ACD;
  margin-right: 6px;
}

.special-prompt {
  font-size: 14px;
  font-weight: initial;
  margin-left: 8px;
}

.oris-checkbox[type=checkbox],
.oris-checkbox[type=checkbox]::before,
.oris-checkbox[type="checkbox"]:checked::after {
  font-size: 13px;
}

.oris-checkbox[type="checkbox"]:checked::after {
  background-color: #375ACD;
}

.relative {
  position: relative;
}

.clear-input:after {
  font-family: 'giga';
  content: '\e687';
  color: #D2D2D2;
  font-size: 16px;
  position: absolute;
  right: 16px;
  line-height: 40px;
}

.clear-input:hover:after {
  color: #8C8C8C;
}

.data-list .product-sku,
.data-list .product-mpn{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.error-border {
  border-color: #E64545 !important;
}
/*.error-border:hover {*/
/*  border-color: #666666 !important;*/
/*}*/
.error-border:focus {
  border-color: #375ACD !important;
}
.none{
  display: none ;
}
.contract-list .margin-contract:last-child{
  margin-bottom: 0;
}
.contract-operate .oris-button-default i{
  color: #333;
}
