/* ----- 新建消息按钮部分 ---- start ------ */
.new-btn-container {
  padding: 0px 16px;
}

.msg-col-btn {
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.msg-col-btn i {
  margin-right: 8px;
}

.msg-col-btn:hover {
  cursor: pointer;
}

.msg-col-btn__new {
  background-color: #2861CE;
  color: #fff;
  margin-bottom: 12px;
}

.msg-col-btn__new i {
  font-size: 28px;
  margin-right: 0px !important;
}

.msg-col-btn__new:hover {
  background-color: #2057C0;
}

.msg-col-btn__genie {
  background-color: #FFF0E6;
  border: 1px solid #FF6A00;
  color: #FF6A00;
}

.msg-col-btn__genie i {
  font-size: 22px;
  margin-right: 4px;
}

.msg-col-btn__genie-outter {
  position: relative;
}

/* 平台客服按钮悬停交互 */
.msg-col-btn__genie-outter:hover .genie-msg-corner {
  background-color: #fff;
  color: #FF6A00;
}

.msg-col-btn__genie-outter:hover .genie-msg-corner::after {
  border-color: transparent transparent transparent #fff;
}

.msg-col-btn__genie-outter:hover .msg-col-btn__genie {
  background-color: #FF6A00;
  border: 1px solid #FF6A00;
  color: #fff;
}

.genie-msg-corner {
  font-size: 12px;
  color: #fff;
  background-color: #FF6A00;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 8px;
  padding: 0 5px;
  line-height: 16px;
  min-width: 20px;
  text-align: center;
}

.genie-msg-corner::after {
  content: '';
  width: 0;
  height: 0;
  border-width: 6px 8px;
  position: absolute;
  top: 8px;
  left: 0px;
  border-style: solid;
  border-color: transparent transparent transparent #FF6A00;
}

/* ----- 新建消息按钮部分 ---- end ------ */
/* ---- 菜单按钮部分 ---- start ------ */

/* 一级菜单选项 */
.msg-menu-container {
  margin-top: 12px;
  padding-left: 0px;
  list-style-type: none;
}

.msg-menu-container a:hover {
  color: #004BD8;
}

.msg-menu-container__item {
  font-size: 16px;
  color: #333;
}

.msg-menu-container__item__text {
  padding: 12px 18px 12px 24px;
  display: inline-block;
}

.msg-menu-container .msg-menu-container__child {
  list-style-type: none;
  padding-left: 0px;
  background-color: #fafafa;
}

.msg-menu-container .msg-menu-container__child-item {
  font-size: 14px;
  padding: 12px 16px 12px 40px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.msg-col-corner {
  display: flex;
  border-radius: 12px;
  background-color: #FFF0E6;
  color: #FF6A00;
  padding: 2px 6px;
  min-width: 24px;
  justify-content: center;
  align-items: center;
}

/* 菜单栏选中样式 */
.selectedIndex {
  background-color: rgba(40, 97, 206, 0.1);
  border-left: 4px solid #2F66CF;
  padding-left: 36px !important;
}

.parentSelected {
  padding-left: 24px !important;
  color: #004BD8 !important;
}

.parentSelected a,
.selectedIndex a{
  color: #004BD8 !important;
}

.parentSelected a span,
.selectedIndex a span {
  color: #004BD8 !important;
}

.msg-menu-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}