.msg-richtextarea .btn {
  border: 1px solid #999;
  color: #333;
}

.msg-richtextarea .btn:hover {
  background-color: #ccc
}

.btn-contracts {
  margin-top: 0px;
}

.btn-contracts.disabled .add-btn{
  color: #999;
}

#receiver-input-container.disabled:hover #receiver-container,
.btn-contracts.disabled:hover .add-btn {
  cursor: not-allowed;
}

#receiver-input-container.disabled #receiver-container{
  border: 1px solid #c1c1c1;
  background-color: #fafafa;
}