<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OrderTemplateInterpretation</title>
  <link rel="stylesheet" href="catalog/view/javascript/corderTemp/reset.css">
  <link rel="stylesheet" href="catalog/view/javascript/corderTemp/head.css">
  <link rel="stylesheet" href="catalog/view/javascript/corderTemp/content_reset.css">
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">
</head>
<style type="text/css">
  .number .circle {
    margin-top: 0px;
  }
  .main-temp {
    background-color: #229ac8;
    width: 1328px;
    padding: 16px 16px;
    margin: 30px auto;
  }
  .temp-content {
    background-color: #f5f5f5;
    width: 1294px;
    padding: 16px 16px;
    margin: 0 auto;
  }
</style>
<body>
  <div class="main-temp">
    <div class="temp-content">
      <div class="title-box">
        <h1 class="title">Order field name explanation</h1>
        <div class="reqFlag">
          <p>If the field is required?</p>
          <div class="reqTable">
            <table class="reqFlagTable">
              <tr>
                <td class="circle circle-red">
                  <div class="red"></div>
                </td>
                <td class="flag">YES</td>
              </tr>
            </table>
            <table class="reqFlagTable">
              <tr>
                <td class="circle circle-black">
                  <div class="black"></div>
                </td>
                <td class="flag">NO</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="content-box">
        <div class="content-title">
          <div class="title1">No.</div>
          <div class="title2">Field Name</div>
          <div class="title3">Entry requirements</div>
          <div class="title4">Explanation</div>
          <div class="title5">Remarks</div>
        </div>
        <div class="content content21">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="black">1</div>
            </div>
          </div>
          <div class="title2 fieldName">SalesPlatform</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 20 characters
          </div>
          <div class="title4 exp">
            Record the sales platform corresponding to the order. The value filled in this field is not required value.
          </div>
        </div>
        <div class="content content3">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="black">2</div>
            </div>
          </div>
          <div class="title2 fieldName">OrderDate</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 25 characters
          </div>
          <div class="title4 exp">
            Record the customer order date.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content" style="height: 220px;">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">3</div>
            </div>
          </div>
          <div class="title2 fieldName">B2BItemCode</div>
          <div class="title3 entry">
            Entry limit: <br />
            Within 30 characters
          </div>
          <div class="title4 exp">
            1) When customer's order needs to be purchased and shipped on the Giga Cloud, the platform needs to
            the product code corresponding to the product's SKU in the order, so that the platform can recommend
            the corresponding product for the customer according to the corresponding product code;<br />
            <br />
            2) After the customer orders are purchased on Giga Cloud, the subsequent shipment is to prepare
            according to ItemCode.<br />
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content" style="height: 55px;">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">4</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToQty</div>
          <div class="title3 entry">
            Entry limit:<br />
            Digital,1,2,3
          </div>
          <div class="title4 exp">
            Record the quantity of the products to be shipped.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content6">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">5</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToName</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 100 characters
          </div>
          <div class="title4 exp">
            If there is no recipient information,please fill in the name of shipper.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content17">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">6</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToEmail</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 30 characters
          </div>
          <div class="title4 exp">
            Record Receiver's Email.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content18">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">7</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToPhone</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 30 characters
          </div>
          <div class="title4 exp">
            Record Receiver's telephone.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content19">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">8</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToPostalCode</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 20 characters
          </div>
          <div class="title4 exp">
            Record Receiver's postal code.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content20">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">9</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToAddressDetail</div>
          <div class="title3 entry">
            Entry limit:<br />
            US Within 56 characters <br />
            Others Within 100 characters <br />
          </div>
          <div class="title4 exp">
            Record Receiver's address.
            Does not contain userShipToName, ShipToPostalCode, ShipToCity, ShipToState, or ShipToCountry.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content21">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">10</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToCity</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 50 characters
          </div>
          <div class="title4 exp">
            Record Receiver's city.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content21">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">11</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToState</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 30 characters<br />
          </div>
          <div class="title4 exp">
            Record Receiver's state.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content21">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">12</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToCountry</div>
          <div class="title3 entry">
            Entry limit:<br />
            US only<br />
          </div>
          <div class="title4 exp">
            Record Receiver's country.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content" style="height: 100px">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="red">13</div>
            </div>
          </div>
          <div class="title2 fieldName">LoadingDockProvided</div>
          <div class="title3 entry">
            Entry limit:<br />
            Yes/No only<br />
          </div>
          <div class="title4 exp">
            Record does receiving address have loading dock. A truck loading/unloading area. If address is a physical store location, please select the most applicable option. This category will only impact the vehicle sent, fulfillment and delivery time frames will remain unchanged.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content24">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="black">14</div>
            </div>
          </div>
          <div class="title2 fieldName">OrderComments</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 2000 characters
          </div>
          <div class="title4 exp">
            Record the order Comment.
          </div>
          <div class="title5 remark"></div>
        </div>
        <div class="content content21">
          <div class="title1 number">
            <div class="circle circle-red">
              <div class="black">15</div>
            </div>
          </div>
          <div class="title2 fieldName">ShipToAttachmentUrl</div>
          <div class="title3 entry">
            Entry limit:<br />
            Within 800 characters
          </div>
          <div class="title4 exp">
            Some platforms need to download some attachment to be delivery with the products. such as packing
            slip.
          </div>
          <div class="title5 remark"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>