<link href="/catalog/view/theme/yzcTheme/stylesheet/sales_order/tracking_detail_within_search.css" type="text/css" rel="stylesheet"/>
{#<link href="catalog/view/javascript/jquery/swiper/css/swiper.min.css?v={{ app_version }}" type="text/css"#}
{#      rel="stylesheet" media="screen">#}

<div class="detail-dialog tracking-detail-dialog">
  <div class="swiper-container" id="swiper-container">
    <div id="trackingdetail-prebtn" class="swiper-button-prev"><div class="lefticon detailicon giga icon-V10_zuocejiantou"></div></div>
    <!-- 阻止chrome左侧元素双击之后全选的问题 -->
    <p></p>
    <div class="swiper-wrapper" id="swiper-wrapper">

    </div>
    <div id="trackingdetail-nextbtn" class="swiper-button-next"><div class="righticon detailicon giga icon-V10_youjiantougengduo"></div></div>
  </div>

</div>
<script>
  function forbidBtn(dom) {
    // $(dom).css("opacity", ".5");
    // $(dom).hover(function() {
    //   $(this).css("cursor", "not-allowed")
    // });
    // $(dom).unbind("click");
    $(dom).hide();
  }

  function activeBtn(dom) {
    // $(dom).css("opacity", "1");
    // $(dom).hover(function() {
    //   $(this).css("cursor", "pointer")
    // });
    // if(dom == "#trackingdetail-prebtn") {
    //   $(dom).unbind("click");
    //   $(dom).bind("click", prePage);
    // }
    // else if (dom == "#trackingdetail-nextbtn") {
    //   $(dom).unbind("click");
    //   $(dom).bind("click", nextPage);
    // }
    $(dom).show();
  }

  function showCurrentDetail(index) {

    $(`#slide-item-${index} .logistics`).css("height", "auto");
    $(`#slide-item-${index} .logistics`).css("overflow-y", "hidden");

    //slideIndex 为tracelist的长度
    $(".swiper-slide").hide();
    $(`#slide-item-${index}`).show();


    activeBtn("#trackingdetail-nextbtn");
    activeBtn("#trackingdetail-prebtn");
    if (index <= 0)
      forbidBtn("#trackingdetail-prebtn");
    if (index >= slideIndex - 1)
      forbidBtn("#trackingdetail-nextbtn");

    var height = $(`#slide-item-${index} .logistics`).height();
    //debugger;

    if(height > 180) {
      $(`#slide-item-${index} .logistics`).height(180);
      $(`#slide-item-${index} .logistics`).css("overflow-y", "scroll");
    }
  }

  function prePage(e) {
    if(activeIndex > 0)
      activeIndex -= 1;
    showCurrentDetail(activeIndex);
    e.stopPropagation();
  }

  function nextPage(e) {
    $('.logistics').css("height", "auto");
    $('.logistics').css("overflow-y", "hidden");
    if(activeIndex < slideIndex - 1)
      activeIndex += 1;
    showCurrentDetail(activeIndex);
    e.stopPropagation();
  }

  $("#trackingdetail-prebtn").click(prePage);

  $("#trackingdetail-nextbtn").click(nextPage);
</script>