$color_dark_blue: #183464;
$color_grey_blue: #677999;
$color_btn_primary: #3A75DC;
$color_orange: #FA6400;
$color_neutral_black: rgba(0, 0, 0, 0.85);
$color_grey: rgba(0, 0, 0, 0.25);
$color_deep_green: #8594AD;
$color_link_hover: #1e91cf;
$color_white: #fff;
$color_p_hover_blue: rgb(0, 0, 191);
$color_p_grey: #AAAAAA;
$color_input_error: #ff0000;

$color_orange_hover: rgba(250, 100, 0, 0.05);