{% if products %}
    {% for product in products %}
        <li class="flex col-md-3 col-sm-6 col-xs-12">
            {% include 'giga/template/_parts/product_simple_grid_home.twig' %}
        </li>
    {% endfor %}
{% endif %}
