.category-select-input-container .category-input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
  padding: 0 5px;
  color: #C0C4CC;
  outline: 0;
  display: flex;
  min-height: 40px;
}

.category-select-input-container .category-input:hover {
  border-color: #666;
  cursor: text;
}

.category-select-input-container .category-input .no-data {
  padding-left: 10px;
}

.category-select-input-container .category-item-container > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.category-select-input-container .category-item-container .category-select-item {
  font-size: 14px;
  color: #333;
  border-radius: 2px;
  line-height: 1;
  background-color: #FFF0E5;
  padding: 4px 8px;
  margin: 6px 5px;
  word-break: break-word;
}

.category-select-input-container .category-item-container .category-select-item i:hover {
  cursor: pointer;
}

.category-select-input-container .remove-icon {
  color: #999;
  font-weight: bold;
}

.category-select-input-container .remove-icon:hover {
  color: #333;
}

.el-tree-node__content {
  min-height: 26px;
  height: initial;
}

.el-tree-node__content .el-tree-node__label {
  font-size: 14px;
  word-break: break-word;
  white-space: normal;
}