.modal-open .modal.verify-phone-modal{
  overflow: hidden !important;
}

.verify-phone-modal .verify-msg {
  background-color: #f3f5f7;
  padding: 10px;
  margin: 0 !important;
  height: 110px;
}

.verify-phone-modal .verify-msg>div {
  line-height: 26px;
}

.verify-phone-modal{
  z-index: 19999999 !important;
}

.verify-phone-modal .modal-dialog {
  font-family: Arial, "Roboto", Helvetica, serif !important;
  font-size: 14px;
  margin: 0 auto;
  height: 99%;
  display: flex;
  align-items: center;
  width: 600px !important;
  font-size: 14px;
  z-index: 19999999 !important;
}

.verify-phone-modal .modal-header {
  background: #EDEFF3 !important;
  border-bottom:1px solid #EDEFF3 !important;
  font-weight: bold;
  color: #333;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.oris-buyer .verify-phone-modal .modal-header {
  background: #fff !important;
  border-color: #E6E6E6 !important;
  font-weight: bold;
  color: #333;
}

.verify-phone-modal .modal-header,
.verify-phone-modal .modal-footer {
  padding: 12px 24px !important;
}

.verify-phone-modal .modal-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 !important;
}

.verify-phone-modal .modal-content {
  border-radius: 2px !important;
  height: 260px !important;
}

.verify-phone-modal .modal-body {
  padding: 24px !important;
}

.verify-phone-modal .modal-footer {
  border: none;
  padding-top: 0 !important;
  padding-bottom: 24px !important;
  text-align: right !important;
}

.oris-buyer .verify-phone-modal .modal-footer {
  text-align: center !important;
}

.verify-phone-modal .close {
  background: inherit !important;
  color: #999 !important;
  text-align: right !important;
  font-weight: normal !important;
  opacity: 1 !important;
}

.verify-phone-modal .close i {
  font-size: 16px !important;
}

.verify-phone-modal .oris-button {
  display: inline-block;
  line-height: 1;
  background: #375ACD !important;
  border: 1px solid #375ACD !important;
  color: #fff;
  outline: none;
  border-radius: 2px;
  min-width: 88px;
  padding: 12px 20px;
}

.oris-buyer .verify-phone-modal .oris-button {
  background: #2861CE !important;
}

 .verify-phone-modal .oris-button:hover,
 .verify-phone-modal .oris-button:focus{
   background: #1E42B8 !important;
   border-color: #1E42B8 !important;
   color: #fff;
   opacity: 1;
}


.oris-buyer .verify-phone-modal .oris-button:hover,
.oris-buyer .verify-phone-modal .oris-button:focus{
  background: #1D54BB !important;
  border-color: #1D54BB !important;
  color: #fff;
  opacity: 1;
}

.verify-phone-modal .no-shadow {
  box-shadow: none !important;
}