@charset "UTF-8";

//
// @copyright        2019 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2019-10-29 09:21:23
// @modified         2019-10-30 10:27:51
//

#menu-wrapper {
  background: $brand-secondary;

  .dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

    li {
      padding: 0 12px;
      &:last-of-type > a {
        border: none;
      }

      a {
        color: #222;
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .menu-top {
    > li > a {
      color: #fff;
      text-transform: uppercase;

      i {
        margin-left: 4px;
      }
    }
  }

  #menu {
    margin-bottom: 0;
    min-height: auto;
    border: none;

    li {
      position: relative;

      &:hover {
        background: #478bff;

        > a {
          border-color: #478bff;
        }

        > .dropdown-menu {
          display: block;
        }

        > a {
          color: #fff;
        }
      }
    }

    .dropdown-inner {
      display: table;
      width: 100%;

      a.has-children {
        &:after {
          position: absolute;
          right: 10px;
          content: '\e627';
          font-family: 'giga';
        }
      }

      ul {
        display: table-cell;

        li {
          position: inherit;
        }

        a {
          min-width: 160px;
        }
      }
    }

    .third-level {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      min-width: 600px;
      padding: 10px;

      ul {
        li {
          width: 50%;
          float: left;

          &:hover {
            border-radius: 4px;
          }

          a {
            border: none;
          }
        }
      }
    }
  }
}
