<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-simple">
        {% for breadcrumb in breadcrumbs %}
          <a href="{{ breadcrumb.href }}" {{ loop.last ? 'class="active"' }}>{{ breadcrumb.text }}</a>
          {% if not loop.last %}
            <i class="giga icon-arrow-right-copy"></i>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>