#page-corder_manifest_history_list .inner-container{
  padding: 10px;
  padding-bottom: 0;
}
#page-corder_manifest_history_list  .tip{
  padding: 10px;
  background-color: #fff5ef;
  color: #fa6400;
  border-radius: 4px;
  font-size:14px;
  margin-bottom: 10px;
}
#page-corder_manifest_history_list  .query-con{
  margin-bottom: 18px;
}

#page-corder_manifest_history_list .query-btn:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

#page-corder_manifest_history_list  .query-btn{
  padding: 8px 11px;
  border: 1px solid #E3E3E3;
}
#page-corder_manifest_history_list  .query-btn span{
  color: #3A75DC;
}
#page-corder_manifest_history_list  .query-input{
  background: #f3f5f7;
  padding-right: 34px;
  height: 38px;
  border-radius: 4px 0 0 4px !important;
}
#page-corder_manifest_history_list  .input-deleted{
  color: #bbb;
  position: absolute;
  top: 14px;
  right: 50px;
  z-index: 99;
}
#page-corder_manifest_history_list .input-deleted:hover{
  cursor: pointer;
  color: #3A75DC;
}
#page-corder_manifest_history_list .form-control:focus {
  border-color: #3a75dc;
  box-shadow: none;
}
#page-corder_manifest_history_list .think-con{
  width: 92.6%;
  position: absolute;
  z-index: 99;
  background: #fff;
}
#page-corder_manifest_history_list .think-con ul{
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 0px;
}
#page-corder_manifest_history_list .think-con ul li{
  padding-left: 12px;
  list-style: none;
  line-height: 30px;
  color: #333;
}
#page-corder_manifest_history_list .think-con ul li:hover{
  background: #eee;
  cursor: pointer;
}
#page-corder_manifest_history_list .table-header,.table-item,.table-item .mf{
  display: flex;
  align-items: center;
}
#page-corder_manifest_history_list .warehouse_code{
  width: 15%;
  padding: 8px 12px;
}
#page-corder_manifest_history_list .rpd{
  width: 15%;
  padding: 8px 12px;
}
#page-corder_manifest_history_list .cn{
  width: 20%;
  padding: 8px 12px;
}
#page-corder_manifest_history_list .mf{
  width: 50%;
  padding: 8px 12px;
}
#page-corder_manifest_history_list .table-label{
  font-weight: bolder;
}
#page-corder_manifest_history_list .panel-default>.panel-heading {
  color: #333;
    background-color: transparent;
    border-color: transparent;
}
#page-corder_manifest_history_list .panel-heading {
  padding: 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#page-corder_manifest_history_list .panel-default{
  border: none;
}
#page-corder_manifest_history_list .table-header{
  border-bottom: 2px solid #ddd;
}
#page-corder_manifest_history_list .inner-container .btn-primary{
  font-size: 12px;
  color: #fff;
  background-color: #3a75dc;
  border-color: #225cc1;
  padding: 6px 10px;
  font-size: 12px;
  box-shadow: 0px 2px 2px 0 #eee;
}
#page-corder_manifest_history_list .inner-container .btn-primary.my-disabled,.inner-container .btn-primary.my-disabled:hover{
  cursor:not-allowed;
  background: #bbb;
  color: #fff;
  border-color: #bbb;;
}
#page-corder_manifest_history_list .inner-container .btn-primary:hover {
  background-color: #225cc1;
}
#page-corder_manifest_history_list .upload-btn{
  width: 20%;
}
#page-corder_manifest_history_list .upload-file{
  width: 70%;
  word-wrap: break-word;
}
#page-corder_manifest_history_list .trans-btn{
  width: 10%;
}
#page-corder_manifest_history_list .coll-btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #000;
  background: #eee;
  font-size: 16px;
  border-radius: 4px;
}
#page-corder_manifest_history_list .coll-btn:hover,.coll-btn:active,.coll-btn:focus{
  text-decoration: none;
  background: #000;
  color: #fff;
}
#page-corder_manifest_history_list .file-deleted{
  color: #bbb;
}
#page-corder_manifest_history_list .file-deleted:hover{
  cursor: pointer;
  color: #3A75DC;
}
#page-corder_manifest_history_list .num,.status-newOrder{
  color: #FA6400;
}
#page-corder_manifest_history_list .status-beingProcessed{
  color: #67C23A;
}
#page-corder_manifest_history_list .status-common{
  color: grey;
}
#page-corder_manifest_history_list .status-checkLabel{
  color: #F56C6C;
}
#page-corder_manifest_history_list .table>tbody>tr>td{
  vertical-align: middle;
}
#page-corder_manifest_history_list .item-img{
  display: inline-block;
  width: 35px;
  height: 35px;
}
#page-corder_manifest_history_list .panel-group{
  height: 70%;
  overflow: auto;
  margin-bottom: 0;
}
#page-corder_manifest_history_list .tbody {
  max-height: 200px;
  overflow-y: scroll;
}
#page-corder_manifest_history_list .tbody::-webkit-scrollbar {
  display: none
}
#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(1),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(1) {
  width: 10%;
}

#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(2),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(2) {
  width: 20%;
}

#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(3),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(3) {
  width: 20%;
}

#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(4),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(4) {
  width: 10%;
}

#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(5),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(5) {
  width: 30%;
}
#page-corder_manifest_history_list .panel-body table tr th:nth-of-type(6),
#page-corder_manifest_history_list .panel-body table tr td:nth-of-type(6) {
  width: 10%;
}
#page-corder_manifest_history_list .table{
  margin-bottom: 0;
}
#page-corder_manifest_history_list .table>thead>tr>th{
  border-bottom: none;
}
#page-corder_manifest_history_list .btn-con{
  padding-top: 6px;
  text-align: center;
  box-shadow: 0 -6px 10px #eee;
  position: relative;
}
#page-corder_manifest_history_list .btn-primary.my-submit{
  font-size: 12px;
  background: #478BFF;
  border-color: #478BFF;
}
#page-corder_manifest_history_list .btn-default.my-cancel{
  font-size: 12px;
  color: #478BFF;
  background-color: #fff;
  border-color: #ececec;
  font-weight: 700;
}

.layer-full .layui-layer-content{
  padding: 0px !important;
}

#page-corder_manifest_history_list .manifest_pagination_container {
  margin-top: 24px;
  align-items: center;
}

#page-corder_manifest_history_list .manifest_pagination_container .page-list, .page-info{
  position: static;
}

