.inventory-match-modal .modal-dialog{
  width: 1080px;
  max-height: 800px;  
}

.inventory-match-modal .cp-img {
  width: 14px !important;
  height: 14px !important;
  margin-left: 2px;
}

.inventory-match-modal .ltl-img {
  width: 20px !important;
  height: 14px !important;
  margin-left: 2px;
}

.inventory-match-modal .modal-header {
  border: 1px solid #e5e5e5;
}

.inventory-match-modal .order-tip {
  color: #F96514;
}

/* 订单表格部分 */
.inventory-match-modal .order-table-container {
  margin-top: 12px;
}

.inventory-match-modal .order-table-container .location-icon {
  color: #7885A0;
  padding-right: 6px;
}

.inventory-match-modal .order-table-container .order-table-header {
  background-color: #D7DDEA;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 12px;
}

.inventory-match-modal .order-item-container:first-child {
  margin-top: 0;
  margin-bottom: 6px;
}

.inventory-match-modal .order-item-container:not(:first-child) {
  margin-top: 10px;
  margin-bottom: 6px;
}

.inventory-match-modal .order-table-container .order-table-content {
  max-height: calc(80vh - 160px);
  overflow-y: auto;
  margin: 10px -24px 0 -24px;
  padding: 0 24px;

  background: linear-gradient(#fff, #fff), linear-gradient(#fff, rgba(4, 0, 0, .05));
  background-size: 100% 30px, 100% 10px;
  background-repeat: no-repeat;
  background-attachment: local, scroll;
  background-position: bottom;
}

.inventory-match-modal .order-table-container .order-table-content.has-scroll {
  padding-right: 8px;
}

.inventory-match-modal .order-table-container .order-table-content .order-item-container .order-item-header{
  background-color: #EEEEEE;
  min-height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
}

.inventory-match-modal .order-table-container .order-table-content .order-item-container .order-item-header .order-id {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.inventory-match-modal .order-table-container .order-table-content .order-item-container .order-item-header .order-addr {
  color: #666;
  width: 712px;
  display: inline-flex;
  line-height: 16px;
  word-break: break-word;
}

.inventory-match-modal .order-item-product-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  min-height: 96px;
  border-bottom: 1px solid #e5e5e5;
}

.inventory-match-modal .order-item-product-row .cell:first-child {
  border-left: 1px solid #e5e5e5;
}

.inventory-match-modal .order-item-product-row .cell {
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-match-modal .countinput {
  width: 128px;
}

/* 订单列表内容表格内容样式 */
.inventory-match-modal .item-code-col__content {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  color: #333;
  padding-left: 16px;
  padding-right: 16px;
}

.inventory-match-modal .item-code-col__content img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.inventory-match-modal .item-code-col__content-code {
  color: #333;
  word-break: break-all;
}

/* 表格列宽设置 */
.inventory-match-modal .item-code-col {
  /* width: 200px; */
  padding-left: 16px;
  flex: 1;
}

.inventory-match-modal .qty-col {
  width: 104px;
}

.inventory-match-modal .account-col {
  width: 180px;
}

.inventory-match-modal .tobepaid-col {
  font-weight: bold;
  width: 104px;
}

.inventory-match-modal .store-col {
  width: 320px;
}

.inventory-match-modal .store-col.cell {
  padding: 10px 0;
}

.inventory-match-modal .amount-col {
  width: 120px;
  padding-right: 16px;
}

.inventory-match-modal .amount-col.cell {
  justify-content: flex-end !important;
  color: #004BD8;
  padding: 16px;
}

.inventory-match-modal .amount-col.cell .amount-text.zero {
  color: #333;
}

.inventory-match-modal .amount-col.cell .amount-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inventory-match-modal .amount-col.cell .amount-text.zero:hover {
  cursor: initial;
  text-decoration: initial;
}

.inventory-match-modal .reason-col {
  width: 544px;
}

/* 弹出框下拉框样式调整 */
.inventory-match-modal .inventory-select {
  width: 280px;
  height: 32px !important;
  margin: 10px 0px;
}

.inventory-match-modal .inventory-select .dropdown-toggle {
  border: 1px solid #c1c1c1;
  background-color: #fff;
}

.inventory-match-modal .inventory-select .dropdown-toggle.disabled {
  border: 1px solid #c1c1c1;
  background-color: #f2f2f2;
  color: #666 !important;
}

.inventory-match-modal .inventory-select .dropdown-toggle.disabled:hover, 
.inventory-match-modal .inventory-select .dropdown-toggle.disabled:active,
.inventory-match-modal .inventory-select .dropdown-toggle.disabled:focus{
  border: 1px solid #c1c1c1 !important;
}

.inventory-match-modal .inventory-select .dropdown-toggle:not(.disabled):hover, 
.inventory-match-modal .inventory-select .dropdown-toggle:not(.disabled):active,
.inventory-match-modal .inventory-select .dropdown-toggle:not(.disabled):focus{
  border: 1px solid #666 !important;
}

.inventory-match-modal .inventory-select .filter-option,
.inventory-match-modal .inventory-select .dropdown-toggle {
  height: 32px !important;
}

.inventory-match-modal .inventory-select .filter-option .filter-option-inner {
  height: 32px !important;
  line-height: 32px !important;
}

/* 数据行整行禁用样式 */
.inventory-match-modal .order-item-product-row.disabled,
.inventory-match-modal .order-item-product-row.disabled .item-code-col__content-code {
  background-color: #f2f2f2;
  color: #999;
}


/* 价格弹出内容样式 */
.inventory-match-modal .amount-calc-container {
  color: #333;
  padding: 16px 0 14px 0;
}

.inventory-match-modal .popover-content {
  padding: 0;
}

.inventory-match-modal .amount-col .popover {
  left: initial !important;
  right: 16px !important;
  width: 320px !important;
  border: 10px solid rgba(0,0,0,0) !important;
  margin-top: 0 !important;
  box-shadow: initial !important;
  z-index: 2000!important;
}

.inventory-match-modal .amount-col .popover .popover-content {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 8px 0px !important;
  border: 0px !important;
}

.inventory-match-modal .amount-col .popover .arrow {
  left: initial !important;
  right: 24px !important;
  top: -10px !important;
}

.inventory-match-modal .amount-calc-container .amount-calc-disc {
  font-size: 12px;
  color: #666;
  padding: 0 16px;
  font-weight: bold;
}

.inventory-match-modal .amount-calc-container .amount-calc-num {
  font-weight: bold;
}

.inventory-match-modal .amount-calc-container .amount-calc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.inventory-match-modal .amount-calc-container .amount-calc-first-row {
  margin-top: 10px;
  margin-bottom: 4px;
}

.inventory-match-modal .split-line {
  height: 1px;
  border-bottom: 1px solid #eee;
  margin: 12px 0;
}


/* 倒计时样式 */
.inventory-match-modal .store-col .countdown-item {
  display: inline-flex;
  color: #E64545;
  background-color: #FFE7E7;
  padding: 0px 16px;
  border-radius: 10px;
  margin-left: 16px;
  margin-top: -2px;
}

.inventory-match-modal .store-col .countdown-item .timecountdown {
  display: inline-flex;
  align-items: center;
}


.inventory-match-modal .store-col .error-info {
  margin-left: 16px;
  margin-top: 2px;
  color: #E64545;
}

.inventory-match-modal input[type='checkbox']:disabled:hover {
  cursor: not-allowed !important;
}

.inventory-match-modal input[type="checkbox"]:checked.oris-checkbox::before {
  border-radius: 2px !important;
}

/* 弹窗中下拉列表 */
body .bootstrap-select.open .dropdown-menu {
  padding: 4px 0 !important;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%) !important;
}

body .bootstrap-select.open .dropdown-menu .dropdown-item {
  height: 36px;
  line-height: 26px;
  outline: none;
  padding: 5px 20px;
}

body .bootstrap-select.open .dropdown-menu .dropdown-item.active,
body .bootstrap-select.open .dropdown-menu .dropdown-item.active:hover {
  background: #496DE5;
  opacity: 1;
}

body .bootstrap-select.open .dropdown-menu .dropdown-item.active,
body .bootstrap-select.open .dropdown-menu .dropdown-item.active:hover {
  background: #E7E8EA;
  color: #333;
}

body .bootstrap-select.open .dropdown-menu .dropdown-item:hover,
body .bootstrap-select.open .dropdown-menu .dropdown-item:focus,
body .bootstrap-select.open .dropdown-menu .dropdown-item:active {
  background: #ECECEC;
  opacity: 1;
}

body .bootstrap-select.open .dropdown-menu .dropdown-item:hover {
  background: #F5F6F7;
}

/* 弹窗错误信息显示 */
.inventory-match-modal .error-container .error-info {
  color: #E64545;
  padding-top: 12px;
}

.inventory-match-modal .modal-body {
  max-height: calc(80vh - 58px) !important;
}

.inventory-match-modal .modal-footer {
  padding-bottom: 16px !important;
}

.inventory-match-modal .oris-checkbox {
  margin-left: 0px !important;
  margin-right: 5px !important;
}