/* Message Center - My Message 样式优化 */
.msgcent-mymessage .oris-tab-pane a {
  color: #333;
}

.msgcent-mymessage .oris-pane-active a {
  color: #004BD8;
} 

.msgcent-mymessage .oris-tabs {
  z-index: 1;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.msgcent-mymessage .mymessage-content {
  background: #fff;
  padding: 24px;
  border: 1px solid #dcdcdc;
  min-height: 200px;
}

.msgcent-mymessage .mymessage-label {
  font-weight: normal;
}

.msgcent-mymessage .datetimepicker-range .oris-ingroup .oris-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.msgcent-mymessage .mymessage-col {
  margin-bottom: 10px;
}

/* 重写a标签的按钮样式 */
.mymessage-a-btn a{
  color: #fff; 
}

.msgcent-mymessage .mymessage-markas__row {
  margin-top: 10px;
}

.form-wrapper .disabled {
  border: initial !important;
  border-color: #CCC !important;
}

/* buyer 端样式覆盖 */
.oris-buyer .mymessage-col {
  padding-right: 20px !important;
}

.mymessage-col {
  padding-right: 24px !important;
}

