#page-words .suggested-content {
  height: 230px;
}

#page-words .type-checkbox-row {
  font-size: 16px;
  color: #666;
  line-height: 16px;
}

#page-words .type-checkbox-item {
  margin-right: 36px;
}

#page-words .type-checkbox-item .type-name {
  padding-left: 8px;
}

#page-words .btn-container {
  height: 83px;
  border-top: 1px solid #E5E5E5;
  justify-content: center;
  align-items: center;
  display: flex;
}

#page-words .btn-container .btn-item {
  margin: 0 5px;
}

#page-words .choose-type-label {
  margin-bottom: 10px;
}

#page-words .suggest-content-label {
  margin-bottom: 8px;
}